<template>
  <div
    id="lab_selector"
    class="modal fade widgetmodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="lab_selector"
    @click="closeMenu()">
    <div
      class="modal-dialog modal-lg"
      role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row">
            <div class="col-sm-6">
              <h4
                id="myModalLabel"
                class="modal-title text-center">{{ selectedItemTitle }}</h4>
              <hr>
              <div class="row form-group">
                <div class="col-sm-4">
                  <button
                    :class="{'btn-primary':selectedType==='portfolio','btn-outline-grey':selectedType!=='portfolio'}"
                    class="btn btn-block"
                    @click="selectType('portfolio')">Portfolios</button>
                </div>
                <div
                  class="col-sm-4">
                  <button
                    v-if="showExtraTools"
                    :class="{'btn-primary':selectedType==='strategy','btn-outline-grey':selectedType!=='strategy'}"
                    :disabled="!allowExtraTools"
                    class="btn btn-block"
                    @click="selectType('strategy')">Strategies</button>
                </div>
                <div
                  class="col-sm-4">
                  <button
                    v-if="showExtraTools"
                    :class="{'btn-primary':selectedType==='private','btn-outline-grey':selectedType!=='private'}"
                    :disabled="!allowExtraTools"
                    class="btn btn-block"
                    @click="selectType('private')">Private</button>
                </div>
              </div>
              <div
                class="form-group"
                style="position:relative">
                <input
                  :class="{ 'search-input': keyword.length === 0 }"
                  v-model="keyword"
                  type="text"
                  class="form-control"
                  placeholder="Keyword Search" >
                <div
                  v-if="keyword.length > 0"
                  class="remove-search-input"
                  @click="keyword=''"/>
              </div>
              <div
                v-if="selectItems.length > 0"
                class="row filters center-clear-all">
                <!-- <div v-if="currentShowLength > 0">Showing {{ currentShowLength }} results</div> -->
                <a
                  class="clear-all-style"
                  @click="clearSelection()">Clear selection</a>
              </div>
              <div class="clearfix tables">
                <div class="clearfix">
                  <div
                    :class="{'opened':editWidgetTableMenu==1}"
                    class="tableoption pull-right"
                    style="position: absolute;right: 0;z-index: 5;"
                    @click.stop="editWidgetTableMenu=editWidgetTableMenu">
                    <button
                      class="btn"
                      @click.stop="editWidgetTableMenu=editWidgetTableMenu*-1">
                      <span class="icon icon-cog"/>
                    </button>
                    <div
                      v-show="editWidgetTableMenu==1"
                      class="menu">
                      <p>Select time period</p>
                      <label
                        v-for="(v,k) in periodKeysForFilters"
                        :key="v"
                        class="radio-style">
                        <input
                          v-model="editWidgetPeriod"
                          :value="v"
                          type="radio"><i/>
                        {{ k }}
                      </label>
                      <p>Add performance metrics ({{ dataTableColsMax - dataTableCols_raw.length }} left)</p>
                      <label
                        v-for="(v,k) in labels"
                        :key="k"
                        class="checkbox-style">
                        <input
                          v-model="dataTableCols_raw"
                          :value="k"
                          :disabled="dataTableCols_raw.indexOf(k) < 0 && dataTableCols_raw.length >= dataTableColsMax"
                          type="checkbox"><i/>
                        {{ v }}
                      </label>
                    </div>
                  </div>
                </div>
                <div
                  class="datatable"
                  style="position: relative;">
                  <div
                    v-show="(!loadedStrategies&&selectedType!=='portfolio') || (!loadedPortfolios && selectedType==='portfolio')"
                    class="clearfix loader-overlay">
                    <div class="loader-inner ball-pulse">
                      <div/>
                      <div/>
                      <div/>
                    </div>
                  </div>
                  <div class="clearfix heading">
                    <div style="width:5%"/>
                    <div
                      style="width:50%"
                      class="namecol">
                      <button
                        class="btn"
                        @click="sortWidgetTable('name')">
                        Name
                      </button>
                    </div>
                    <div
                      v-for="(header, field) in labels"
                      v-show="dataTableCols_raw.indexOf(field)>=0"
                      :style="{width: (40/dataTableCols_raw.length)+'%'}"
                      :class="{'bg-gray':sortBy===field}"
                      :key="field">
                      <button
                        class="btn"
                        @click="sortWidgetTable(field)">
                        {{ editWidgetPeriod }} {{ header }}
                      </button>
                    </div>
                  </div>

                  <div
                    v-if="selectedType==='portfolio'"
                    class="scrolling bg-gray">
                    <p
                      v-if="filterdPortfolios.length === 0 && loadedPortfolios"
                      class="text-center"
                      style="margin-top: 1em;">No results.</p>
                    <div
                      v-for="index in filterdPortfolios"
                      v-else
                      :key="index.id"
                      class="data-row-parent">
                      <div class="data-row">
                        <div style="width:5%">
                          <div
                            class="checkbox-style"
                            @click="setIds(index, 'portfolio')">
                            <input
                              :value="`portfolio${index.id}`"
                              v-model="selectId"
                              type="checkbox"><i/>
                          </div>
                        </div>
                        <div style="width:50%">
                          <h5 class="list-group-item-heading"><a
                            :href="`/portfolios/${index.slug}?period=${editWidgetPeriod}`"
                            target="_blank"
                            rel="noopener noreferrer">{{ index.title }}</a></h5>
                          <span class="text-gray">{{ index.strategiesCount }} strategies</span>
                        </div>
                        <div
                          v-for="field in dataTableCols_raw"
                          :style="{width: (40/dataTableCols_raw.length)+'%'}"
                          :key="field"
                          class="text-center">
                          {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    v-if="selectedType === 'strategy'"
                    class="scrolling bg-gray">
                    <p
                      v-if="filterdStrategies.length === 0 && loadedStrategies"
                      class="text-center"
                      style="margin-top: 1em;">No results.</p>
                    <div
                      v-for="index in filterdStrategies"
                      v-else
                      :key="index.id"
                      class="data-row-parent">
                      <div class="data-row">
                        <div style="width:5%">
                          <div
                            class="checkbox-style"
                            @click="setIds(index, 'strategy')">
                            <input
                              :value="`strategy${index.id}`"
                              v-model="selectId"
                              type="checkbox"><i/>
                          </div>
                        </div>
                        <div style="width:50%">
                          <h5 class="list-group-item-heading"><a
                            :href="`/strategy/${index.code}?period=${editWidgetPeriod}`"
                            target="_blank"
                            rel="noopener noreferrer">{{ index.shortName }}</a></h5>
                          <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                        </div>
                        <div
                          v-for="field in dataTableCols_raw"
                          :style="{width: (40/dataTableCols_raw.length)+'%'}"
                          :key="field"
                          class="text-center">
                          {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    v-if="selectedType === 'private'"
                    class="scrolling bg-gray">
                    <p
                      v-if="filterdPrivate.length === 0 && loadedStrategies"
                      class="text-center"
                      style="margin-top: 1em;">No results.</p>
                    <div
                      v-for="index in filterdPrivate"
                      v-else
                      :key="index.id"
                      class="data-row-parent">
                      <div class="data-row">
                        <div style="width:5%">
                          <div
                            class="checkbox-style"
                            @click="setIds(index, 'strategy')">
                            <input
                              :value="`strategy${index.id}`"
                              v-model="selectId"
                              type="checkbox"><i/>
                          </div>
                        </div>
                        <div style="width:50%">
                          <h5 class="list-group-item-heading"><a
                            :href="`/strategy/${index.code}?period=${editWidgetPeriod}`"
                            target="_blank"
                            rel="noopener noreferrer">{{ index.shortName }}</a></h5>
                          <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                        </div>
                        <div
                          v-for="field in dataTableCols_raw"
                          :style="{width: (40/dataTableCols_raw.length)+'%'}"
                          :key="field"
                          class="text-center">
                          {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h4
                id="myModalLabel"
                class="modal-title text-center">Analysis Tool</h4>
              <hr>
              <div class="analysis-tools col-sm-12">
                <div
                  v-for="(tool, key) in tools"
                  :key="key"
                  class="form-group">
                  <button
                    v-if="key === 'backtesting' || allowExtraTools"
                    :class="{ 'btn-primary': selectedTool === key, 'btn-outline-blue': selectedTool !== key }"
                    :disabled="isToolDasabled(key)"
                    class="btn btn-block text-left"
                    @click="selectTool(key)">
                    <i
                      :class="{ [`ico-${key}`]: true, 'active': selectedTool === key }"
                      class="ico"/>
                    <b>{{ tool.name }}</b>
                    <p>{{ tool.desc }}</p>
                  </button>
                  <div
                    v-else-if="showExtraTools"
                    class="tooltip-container">
                    <button
                      :class="{ 'btn-primary': selectedTool === key, 'btn-outline-blue': selectedTool !== key }"
                      class="btn btn-block text-left"
                      style="opacity: 0.5;">
                      <i
                        :class="{ [`ico-${key}`]: true }"
                        class="ico"/>
                      <!-- <premium-svg
                        :color="(selectedTool === key) ? '#FFFFFF' : '#1A85A1'"
                        class="ico" /> -->
                      <b>{{ tool.name }}</b>
                      <p>{{ tool.desc }}</p>
                    </button>
                    <div class="tooltip-popover">
                      This function is for Premium User only. Please contact <a href="mailto:admin@engagingenterprises.co?subject=Upgrade%20to%20Premium%20Request">engagingenterprises</a> to upgrade your account.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-sm-offset-3">
                <button
                  :disabled="!validState"
                  class="btn btn-primary btn-lg btn-block"
                  @click="submit()">
                  <span v-if="!loading">Analyse Now</span>
                  <span v-if="loading">Loading Data...</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ _ swal */
const { checksInsensitiveFactory } = require('../../lib/lodash-helper');
const { metrics } = require('../../util/config');
const apiPortfolios = require('../../api/portfolios');

const setNoReactiveData = (that) => {
  that.periodKeysForFilters = {
    '10 Year': '10y',
    '5 Year': '5y',
    '3 Year': '3y',
    '1 Year': '1y',
    '6 Month': '6m',
  };
  that.labels = metrics;
};
export default {
  name: 'LabSelection',
  props: {
    user: {
      type: Object,
      default: () => {},
    },
    tools: {
      type: Object,
      default: () => {},
    },
    period: {
      type: String,
      default: '5y',
    },
    loadedStrategies: {
      type: Boolean,
      default: false,
    },
    loadedPortfolios: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectedType: 'portfolio',
      selectedTool: 'backtesting',
      keyword: '',
      loading: false,
      searchTimeout: null,
      sortBy: '',
      sortOrder: -1,
      editWidgetPeriod: '5y',
      editWidgetTableMenu: -1,
      dataTableCols_raw: ['return'],
      dataTableColsMax: 2,
      filterdPortfolios: [],
      filterdStrategies: [],
      filterdPrivate: [],
      selectItems: [],
      selectId: [],
    };
  },
  computed: {
    labChoice() {
      return this.$store.getters.labChoice;
    },
    validState() {
      if (this.selectedType && this.selectedTool && this.selectItems.length === 1) {
        const { type } = this.selectItems[0];
        if ((type === 'portfolio' && this.loadedPortfolios) || (type !== 'portfolio' && this.loadedStrategies)) return true;
      }
      return false;
    },
    portfolios() {
      return Object.values(this.$store.state.portfolios).filter(o => !o.draft_of);
    },
    selectedItemTitle() {
      if (this.selectItems.length === 0) return 'Select';
      const { name } = this.selectItems[0];
      return `Selected: ${name}`;
    },
    // benchmarks() {
    //   return Object.values(this.$store.state.stratagies).filter(o => o.type === 'Benchmark');
    // },
    strategies() {
      return Object.values(this.$store.state.strategies).filter(o => o.type === 'Strategy');
    },
    private() {
      return Object.values(this.$store.state.strategies).filter(o => o.type === 'Private Strategy');
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    allowExtraTools() {
      if (this.user.user_type === 'admin') return true;
      if (this.user.subscriptions.some(o => ['Standard', 'Premium', 'Premium + Custom Model'].includes(o.name))) return true;
      return false;
    },
    showExtraTools() {
      return this.user.user_type !== 'sponsor' || this.allowExtraTools;
    },
  },
  watch: {
    selectedType(val) {
      switch (val) {
        case 'strategy':
        case 'private':
          this.selectTool('regression');
          break;
        default:
          if (this.selectItems.length > 0 && this.selectItems[0].type !== 'portfolio') {
            this.clearSelection();
          }
          break;
      }
    },
    keyword() {
      this.filterData();
    },
    portfolios() {
      this.filterdPortfolios = this.portfolios.filter(this.checkPortfolioKeyword);
    },
    strategies() {
      this.filterdStrategies = this.strategies.filter(this.checkStrategyKeyword);
    },
    private() {
      this.filterdPrivate = this.private.filter(this.checkStrategyKeyword);
    },
  },
  created() {
    setNoReactiveData(this);
  },
  mounted() {
    window.eventBus.$on('showLabSelection', this.showLabSelectionHandler);
  },
  beforeDestroy() {
    window.eventBus.$off('showLabSelection');
  },
  methods: {
    closeMenu() {
      this.editWidgetTableMenu = -1;
    },
    clearSelection() {
      this.selectItems = [];
      this.selectId = [];
    },
    isToolDasabled(tool) {
      if (tool !== 'regression' && this.selectedType !== 'portfolio') {
        return true;
      }
      return false;
    },
    setIds(index, type) {
      if (this.selectItems.length === 0) {
        this.selectItems.push({
          type,
          id: index.id,
          code: index.code,
          slug: index.slug,
          name: index.title || index.shortName,
        });
        this.selectId = [`${type}${index.id}`];
      } else if (this.selectItems.length === 1) {
        if (type === this.selectItems[0].type
        && index.id === this.selectItems[0].id) {
          this.clearSelection();
        } else {
          this.selectItems = [{
            type,
            id: index.id,
            code: index.code,
            slug: index.slug,
            name: index.title || index.shortName,
          }];
          this.selectId = [`${type}${index.id}`];
        }
      }
    },
    showLabSelectionHandler() {
      this.loading = false;
      this.selectedTool = this.$store.state.lab.tool;
      this.selectedType = this.analyseItem.type || 'portfolio';
      this.selectId = [`${this.selectedType}${this.analyseItem.id}`];
      this.selectItems = [this.analyseItem];
      $('#lab_selector').modal('show');
    },
    async submit() {
      const { invalid = false, errorMessage } = await this.checkInvalidItems();
      if (invalid) {
        swal('Whoops!', errorMessage || 'Something went wrong!', 'error');
      } else {
        this.$emit('changeLabSelection', {
          selectItems: this.selectItems[0],
          selectedTool: this.selectedTool,
        });
        $('#lab_selector').modal('hide');
      }
    },
    async checkInvalidItems() {
      const { type, id } = this.selectItems[0];
      if (type !== 'portfolio' || this.selectedTool === 'backtesting') return {};
      this.loading = true;
      try {
        const { data } = await apiPortfolios.loadPortfolioIndices(id, {});
        let notUpdate = false;
        let suspendedCount = 0;
        if (data.length === 0) return { invalid: true, errorMessage: `Sorry, the portfolio is empty, please add at least one strategy to use ${this.tools[this.selectedTool].name} tool` };
        data.forEach((item) => {
          if (item.suspended === 1) suspendedCount++;
          if (item.indexinfo.is_suspended === 1) notUpdate = false;
        });
        if (notUpdate) return { invalid: true, errorMessage: `Sorry, the portfolio contains not updated strategies, please remove or suspend them to use ${this.tools[this.selectedTool].name} tool` };
        if (suspendedCount === data.length) return { invalid: true, errorMessage: `Sorry, all strategies are suspended in the portfolio, please unsuspend at least one to use ${this.tools[this.selectedTool].name} tool` };
        return {};
      } catch (error) {
        console.error(error);
      } finally {
        this.loading = false;
      }
    },
    filterData() {
      const that = this;
      if (this.searchTimeout !== null) {
        clearTimeout(this.searchTimeout);
      }
      this.searchTimeout = setTimeout(() => {
        that.searchCase();
      }, 2);
    },
    searchCase() {
      // switch (this.selectedType) {
      //   case 'portfolio':
      //     this.filterdPortfolios = this.portfolios.filter(this.checkPortfolioKeyword);
      //     break;
      // }
      this.filterdPortfolios = this.portfolios.filter(this.checkPortfolioKeyword);
      this.filterdStrategies = this.strategies.filter(this.checkStrategyKeyword);
      this.filterdPrivate = this.private.filter(this.checkStrategyKeyword);
      this.sortWidgetTable(this.sortBy, true);
    },
    checkPortfolioKeyword(obj) {
      if (this.keyword === '') return true;
      return obj.title.toLowerCase().includes(this.keyword.toLowerCase());
    },
    checkStrategyKeyword(obj) {
      if (this.keyword === '') return true;
      const includesKeyword = checksInsensitiveFactory(_.includes, this.keyword);
      return [
        obj.code,
        obj.shortName,
        obj.longName,
      ].some(includesKeyword);
    },
    selectType(type) {
      if (this.allowExtraTools) {
        this.selectedType = type;
      }
    },
    selectTool(tool) {
      if (this.allowExtraTools && !this.isToolDasabled(tool)) {
        this.selectedTool = tool;
      }
    },
    sortWidgetTable(field, notFromUser) {
      if (this.sortBy === field || !notFromUser) {
        this.sortOrder = this.sortOrder * -1; //asc/desc
      }
      this.sortBy = field;
      const key = field === 'name' ? '' : `${this.editWidgetPeriod}_${field}`;
      const order = this.sortOrder === 1 ? 'asc' : 'desc';
      if (key === '') {
        this.filterdPortfolios = _.orderBy(this.filterdPortfolios, 'title', order);
        this.filterdStrategies = _.orderBy(this.filterdStrategies, 'shortName', order);
        this.filterdPrivate = _.orderBy(this.filterdPrivate, 'shortName', order);
      } else {
        this.filterdPortfolios = _.orderBy(this.filterdPortfolios, key, order);
        this.filterdStrategies = _.orderBy(this.filterdStrategies, key, order);
        this.filterdPrivate = _.orderBy(this.filterdPrivate, key, order);
      }
    },
  },
};
</script>
<style>
#lab_selector h3
{
  margin-top: 10px;
  margin-bottom: 10px;
}

#lab_selector .close
{
  position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    z-index: 3;
}

#lab_selector hr
{
  margin-top: 15px;
}

#lab_selector .btn-primary[disabled="disabled"]
{
  background: #ccc;
}

#lab_selector .strategy-list
{
  padding-left: 0;
  padding-right: 0;
}

#lab_selector .search-input + div a
{
    color: #a7a7a7;
    margin-top: 1em;
    display: inline-block;
}


.btn.btn-outline-grey {
    background: transparent;
    color: #a7a7a7;
    border: 1px solid #a7a7a7;
}

.analysis-tools button {
    white-space: normal;
    text-align: left;
    padding-left: 10px;
}

#lab_selector .modal-body > .row > .col-sm-6:last-child
{
  margin-bottom: 40px;
}

#lab_selector .ico
{
    display: block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    background-size: contain;
    margin-right: 15px;
    margin-top: 10px;
}

#lab_selector .ico-backtesting
{
  background-image: url(/css/images/lab/backtesting.png);
}

#lab_selector .active.ico-backtesting
{
  background-image: url(/css/images/lab/backtesting_w.png);
}


#lab_selector .ico-pca
{
  background-image: url(/css/images/lab/pca.png);
}

#lab_selector .active.ico-pca
{
  background-image: url(/css/images/lab/pca_w.png);
}


#lab_selector .ico-regression
{
  background-image: url(/css/images/lab/regression.png);
}

#lab_selector .active.ico-regression
{
  background-image: url(/css/images/lab/regression_w.png);
}
</style>
