<template>
  <div
    class="periodmenu-dropdown periodmenu-dropdown-custdates"
    style="margin-top:-7px;margin-left:0px;">
    <div class="row">
      <div class="col-sm-7">
        <div class="periodmenu-label upper">
          Time Period
        </div>
      </div>
      <div class="col-sm-5">
        <div class="dropdown">
          <button
            id="dropdownMenu1"
            class="btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
            {{ periodKeysForFilters[period] }}
            <span class="caret"/>
          </button>
          <ul
            class="dropdown-menu"
            aria-labelledby="dropdownMenu1">
            <li
              v-for="(v,k) in periodKeysForFilters"
              :key="k">
              <a
                :class="{'disabled': checkDisabled(v)}"
                @click="setPeriod(k)">{{ v }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-sm-12">
        <date-picker
          v-model="datePickerDates"
          :lang="'en'"
          :shortcuts="false"
          :not-before="periods.min"
          :not-after="maxDate"
          :range-separator="'to'"
          :input-class="'mx-input hidden'"
          :confirm="true"
          :confirm-text="'Update'"
          :cancel="true"
          :show-current="true"
          :editable="true"
          date-picker-type="slider"
          range
          @confirm="applyCustomDates"
        />
        <div
          class="row display-dates no-gutter cursor-pointer unselectable"
          @click="showDatePicker">
          <div class="col-xs-5">
            {{ periodDates.from }}
          </div>
          <div class="col-xs-2 to-date-separator">
            to
          </div>
          <div class="pull-right">
            {{ periodDates.to }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ moment */
import DatePicker from '../vue2-datepicker/datepicker/index.vue';

const { PERIOD, getPeriodKeys } = require('../../util/period');
const { LAB_ACTION } = require('../../store/module/lab');

const getDynamicData = (payload) => {
  const {
    period = '5 Year',
    periods = payload.initPeriods,
    maxDate = payload.initMaxDate,
    custMaxDate = payload.initMaxDate,
  } = payload;
  const ascPeriodKeys = getPeriodKeys(periods);
  const ascPeriodKeysWithCust = Object.assign({ Cust: PERIOD.CUST }, ascPeriodKeys);

  return {
    period,
    periods,
    maxDate,
    custMaxDate,
    datePickerDates: [],
    periodKeysForFilters: ascPeriodKeysWithCust,
    periodDates: {
      from: periods[ascPeriodKeys[period]],
      to: maxDate,
    },
  };
};

const getDefaultData = payload => ({
  ...getDynamicData(payload),
});

export default {
  name: 'LabPeriod',
  components: {
    'date-picker': DatePicker,
  },
  props: {
    initPeriods: {
      type: Object,
      default: null,
    },
    initMaxDate: {
      type: String,
      default: null,
    },
  },
  data() {
    return getDefaultData(this);
  },
  computed: {
    currentTool() {
      return this.$store.state.lab.tool;
    },
  },
  watch: {
    period() {
      if (this.period === 'Cust') {
        if (this.periods[PERIOD.CUST]) {
          this.periodDates.from = this.periods[PERIOD.CUST];
          this.periodDates.to = this.custMaxDate;
          this.updatedVuex();
        } else this.showDatePicker();
      } else {
        this.periodDates.from = this.periods[this.periodKeysForFilters[this.period]];
        this.periodDates.to = this.maxDate;
        this.updatedVuex();
      }
    },
  },
  created() {
    this.updatedVuex();
  },
  mounted() {
    window.eventBus.$on('updatePeriods', this.updatePeriodsHandler);
  },
  beforeDestroy() {
    window.eventBus.$off('updatePeriods', this.updatePeriodsHandler);
  },
  methods: {
    applyCustomDates() {
      if (this.datePickerDates.length > 1) {
        if (this.period !== 'Cust') this.period = 'Cust';
        this.periodDates.from = moment(this.datePickerDates[0]).format('YYYY-MM-DD');
        this.periodDates.to = moment(this.datePickerDates[1]).format('YYYY-MM-DD');
        this.periods[PERIOD.CUST] = this.periodDates.from;
        this.custMaxDate = this.periodDates.to;
        this.updatedVuex();
      }
    },
    checkDisabled(v) {
      if (v !== PERIOD.CUST && this.periods[v] < this.periods.min) {
        return true;
      } else if (v === PERIOD.CUST && this.periods[v] && this.periods[v] < this.periods.min) {
        return true;
      }
      return false;
    },
    updatePeriodsHandler({ periods, maxDate, period = null }) {
      let periodChange = false;
      if (maxDate !== this.maxDate) periodChange = true;
      Object.keys(periods).forEach((key) => {
        if (periods[key] !== this.periods[key]) periodChange = true;
      });
      if (periodChange) {
        if (this.periods[PERIOD.CUST]) {
          if (this.periods[PERIOD.CUST] < periods.min) this.periods[PERIOD.CUST] = periods.min;
          if (this.custMaxDate > maxDate || this.custMaxDate < periods.min) this.custMaxDate = maxDate;
        }
        this.periods = Object.assign({}, this.periods, periods);
        this.maxDate = maxDate;
        this.periodDates = {
          from: this.periods[this.periodKeysForFilters[this.period]],
          to: this.period !== 'Cust' ? this.maxDate : this.custMaxDate,
        };
      }
      if (period) {
        for (const key in this.periodKeysForFilters) {
          if (this.periodKeysForFilters[key] === period) this.period = key;
        }
      }
      if (periodChange || period) this.updatedVuex();
      this.periodKeysForFilters = Object.assign({ Cust: PERIOD.CUST }, getPeriodKeys(this.periods));
    },
    updatedVuex() {
      const payload = {
        period: this.period,
        custMaxDate: this.custMaxDate,
        maxDate: this.maxDate,
        periods: this.periods,
        dataPeriod: this.periodKeysForFilters[this.period],
      };
      this.$store.commit(LAB_ACTION.SET_PERIOD, _.cloneDeep(payload));
    },
    showDatePicker() {
      const $datePicker = $('.periodmenu-dropdown .mx-datepicker-popup');
      if ($datePicker.length && !$datePicker.is(':visible')) {
        const toDate = string => moment(string).toDate();
        // const isCust = this.period === 'Cust';
        this.datePickerDates = [
          toDate(this.periodDates.from),
          toDate(this.periodDates.to),
        ];
        $('.periodmenu-dropdown .mx-input').click();
      }
    },
    setPeriod(currentPeriod) {
      const dataPeriod = this.periodKeysForFilters[currentPeriod];
      if (this.currentTool !== 'backtesting' && this.periods[dataPeriod] && this.periods[dataPeriod] < this.periods.min) {
        return null;
      }
      this.period = currentPeriod;
    },
  },
};
</script>
