<template>
  <div class="thelab">
    <div class="filter-control">
      <div
        :class="viewClass"
        class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div
                class="title-text upper">Analysing</div>
              <div
                class="chosen-text"
                @click="showModal()">
                {{ currentName }}
                <span class="caret"/>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div
                class="title-text upper">Current Tool</div>
              <div
                class="chosen-text"
                @click="showModal()">
                {{ tools[currentTool].name }}
                <span class="caret"/>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group periodmenu-dropdown-wrapper">
                  <lab-period
                    :init-periods="initPeriods"
                    :init-max-date="initMaxDate"/>
                </div>
              </div>
              <div
                v-if="showExtraTools"
                class="col-sm-5"
                style="border: unset;">
                <div
                  class="dropdown pull-right"
                  style="margin-top: 27px;">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-expanded="false">
                    <button
                      class="btn btn-outline-blue lg"
                      style="border:none;">
                      <i class="fa fa-download fa-sm" />&nbsp;&nbsp;Export&nbsp;
                      <span
                        :class="{ 'caret caret-hidden': !exporting }"
                        class="fa fa-spinner fa-spin"
                        style="margin-left:0"/>
                    </button>
                  </a>
                  <ul
                    class="dropdown-menu"
                    role="menu">
                    <li class="tooltip-container">
                      <button
                        :disabled="disableExcel"
                        class="btn btn-dropdown-menu lg"
                        @click="checkAndDownload()">
                        <img
                          src="/img/icons/excel.png"
                          class="icon icon-md">&nbsp;&nbsp;Excel
                      </button>
                      <div
                        v-if="disableExcel"
                        class="tooltip-popover">
                        This function is for Premium User only. Please contact <a href="mailto:admin@engagingenterprises.co?subject=Upgrade%20to%20Premium%20Request">engagingenterprises</a> to upgrade your account.
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="currentTool==='backtesting'"
      class="container">
      <div class="row top-portfolio">
        <div class="sidebar-analyse sidebar-filters col-md-4 dropdown-overflow">
          <bt-bar-options
            :user="user"
            :show-strategies="showStrategies"
            :update-one-portfolio="updateOnePortfolio"/>
        </div>
        <div class="main col-md-8">
          <bt-graph-panel/>
        </div>
      </div>
      <div class="row bottom-portfolio">
        <bt-bar-list/>
        <bt-graph-list
          :user="user"
          :loaded-benchmarks="loadedBenchmarks"/>
      </div>
    </div>
    <div
      v-if="currentTool==='pca'"
      class="container">
      <pca-panel/>
      <div class="row bottom-portfolio">
        <pca-slider-bar
          :ie-browser="isIe"/>
        <pca-footer-graph/>
      </div>
    </div>
    <div
      v-if="currentTool==='regression'"
      class="container">
      <rg-panel />
      <div class="row bottom-portfolio">
        <rg-slider-bar
          :init-factors="initFactors"
          :ie-browser="isIe"
          :loaded-factors="loadedFactors"/>
        <rg-graph/>
        <rg-footer-graph/>
      </div>
    </div>
    <bt-allocation v-if="currentTool==='backtesting'"/>
    <bt-rebalancing
      v-if="currentTool==='backtesting'"
      :is-ie="isIe"/>
    <lab-selection
      :user="user"
      :tools="tools"
      :loaded-portfolios="loadedPortfolios"
      :loaded-strategies="loadedStrategies"
      @changeLabSelection="changeLabSelectionHandler"/>
    <add-strategies-all
      v-if="currentTool==='backtesting'"
      :strategies-loaded="loadedStrategies"
      :filter-loaded="loadedFilters"
      :load-function="initStrategies" />
    <add-strategy-portfolio
      v-if="currentTool==='backtesting'"
      :load-function="initPortfolios"
      :loaded-portfolios="loadedPortfolios"
      :update-one-portfolio="updateOnePortfolio"/>
    <pca-options
      v-if="currentTool==='pca' && loadedBenchmarks"/>
    <rg-regression-options
      v-if="currentTool==='regression' && loadedFactors"/>
    <rg-add-factor
      v-if="currentTool==='regression' && loadedFactors"/>
  </div>
</template>
<script>
/* global swal */
import btBarOptions from './backtesting/bar-options.vue';
import btBarList from './backtesting/bar-list.vue';
import btGraphPannel from './backtesting/graph-panel.vue';
import btPraphList from './backtesting/graph-list.vue';
import btAllocation from './backtesting/allocation-configuration.vue';
import btRebalancing from './backtesting/rebalancing-dates.vue';
import labPeriod from './lab-period.vue';
import labSelection from './lab-selection.vue';
import addStrategiesAll from '../modal/add-strategies-all.vue';
import addstrategiePortfolio from '../modal/add-strategies-portfolios.vue';
import pcaPanel from './pca/panel.vue';
import pcaOptions from './pca/pca-options.vue';
import pcaSliderBar from './pca/slider-bar.vue';
import pcaFooterGraph from './pca/foot-graph.vue';
import rgSliderBar from './regression/slider-bar.vue';
import rgGraph from './regression/graph.vue';
import rgPanel from './regression/panel.vue';
import rgFooterGraph from './regression/foot-graph.vue';
import rgRegressionOptions from './regression/regression-options.vue';
import rgAddFactor from '../modal/add-factor.vue';

const bowser = require('bowser');
const ACTION = require('../../store/mutation-type');
const { LAB_ACTION } = require('../../store/module/lab');
const apiDownloads = require('../../api/downloads');
const { PERIOD } = require('../../util/period');

export default {
  name: 'LabContainer',
  components: {
    'lab-selection': labSelection,
    'lab-period': labPeriod,
    'bt-bar-options': btBarOptions,
    'bt-bar-list': btBarList,
    'bt-graph-panel': btGraphPannel,
    'bt-graph-list': btPraphList,
    'bt-allocation': btAllocation,
    'bt-rebalancing': btRebalancing,
    'add-strategies-all': addStrategiesAll,
    'add-strategy-portfolio': addstrategiePortfolio,
    'pca-panel': pcaPanel,
    'pca-options': pcaOptions,
    'pca-slider-bar': pcaSliderBar,
    'pca-footer-graph': pcaFooterGraph,
    'rg-graph': rgGraph,
    'rg-slider-bar': rgSliderBar,
    'rg-panel': rgPanel,
    'rg-footer-graph': rgFooterGraph,
    'rg-regression-options': rgRegressionOptions,
    'rg-add-factor': rgAddFactor,
  },
  props: {
    user: {
      type: Object,
      default: () => {},
    },
    initPeriods: {
      type: Object,
      default: () => {},
    },
    initMaxDate: {
      type: String,
      default: '',
    },
    initSelected: {
      type: String,
      default: '',
    },
    initAnalysing: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      loadedStrategies: false,
      loadedPortfolios: false,
      loadedFirstPortfolios: false,
      loadedFilters: false,
      loadedBenchmarks: false,
      loadedFactors: false,
      currentName: '',
      exporting: false,
      isIe: true,
      analysing: {},
      selected: 'portfolio',
      dotColors: {
        strategy: '#123B69',
        benchmark: '#F7B918',
        'private strategy': '#29B999',
      },
      tools: {
        backtesting: {
          name: 'Portfolio Analysis',
          desc: 'Advanced computation engine for portfolio construction and simulations',
        },
        pca: {
          name: 'Principal Component Analysis',
          desc: 'Gain insights into portfolio diversification and strategy variance structures',
        },
        regression: {
          name: 'Factor Regression',
          desc: 'Analyse portfolio factor exposure and intensity with the Pure Factor Toolbox',
        },
      },
      maxPcaColorNumber: 6,
    };
  },
  computed: {
    currentTool() {
      return this.$store.state.lab.tool;
    },
    common() {
      return this.$store.state.lab.common;
    },
    strategies() {
      return this.$store.state.strategies;
    },
    portfolios() {
      return this.$store.state.portfolios;
    },
    viewClass() {
      const { view } = this.$store.state.lab;
      return `view-${view}`;
    },
    labChoice() {
      return this.$store.getters.labChoice;
    },
    saveButton() {
      return this.labChoice.saveButton || 0;
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    allowExtraTools() {
      if (this.user.user_type === 'admin') return true;
      if (this.user.subscriptions.some(o => ['Standard', 'Premium', 'Premium + Custom Model'].includes(o.name))) return true;
      return false;
    },
    showExtraTools() {
      return this.user.user_type !== 'sponsor' && this.allowExtraTools;
    },
    disableExcel() {
      if (this.user.user_type === 'admin') return false;
      if (this.user.subscriptions.some(o => ['Premium', 'Premium + Custom Model'].includes(o.name))) return false;
      return true;
    },
  },
  watch: {
    saveButton() {
      if (this.saveButton === 1) {
        window.onbeforeunload = () => 'Unsaved changes will be lost.';
      } else {
        window.onbeforeunload = undefined;
      }
    },
  },
  created() {
    window.test = bowser;
    this.isIe = bowser.msie || bowser.msedge;
    this.initChoice();
    this.getColors();
    if (this.currentTool !== 'regression') {
      this.initBenchmarks();
    }
  },
  mounted() {
    this.createCssColorRules();
  },
  beforeDestroy() {
    window.onbeforeunload = undefined;
    this.$off();
  },
  methods: {
    showModal() {
      const that = this;
      if (this.labChoice.saveButton && this.labChoice.saveButton === 1) {
        swal(
          {
            title: 'Are you sure to leave?',
            text: 'Unsaved changes will be lost.',
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Leave',
          },
          (isConfirm) => {
            console.log('isConfirm', isConfirm);
            if (isConfirm) {
              that.initStrategies();
              that.initPortfolios({});
              window.eventBus.$emit('showLabSelection');
            }
          },
        );
      } else {
        this.initStrategies();
        this.initPortfolios({});
        window.eventBus.$emit('showLabSelection');
      }
    },
    createCssColorRules() {
      //highlight-benchmark
      const style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = `.highlight-benchmark { color: ${this.dotColors.benchmark}; }`;
      style.innerHTML += '\n\r';
      style.innerHTML += `.highlight-private_track { color: ${this.dotColors['private strategy']}; }`;
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    async getColors() {
      await this.$store.dispatch(ACTION.API_FETCH_COLORS, {
        pca: this.maxPcaColorNumber,
      });
    },
    async changeLabSelectionHandler({ selectItems = {}, selectedTool }) {
      const { id, type } = selectItems;
      this.currentName = type === 'portfolio' ? this.portfolios[id].title : this.strategies[id].shortName;
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.$store.commit(LAB_ACTION.SET_TOOL, selectedTool);
      this.$store.commit(LAB_ACTION.SET_ITEM, _.cloneDeep(selectItems));
    },
    initChoice() {
      this.analysing = this.initAnalysing;
      this.currentName = this.analysing.title || this.analysing.shortName;
      this.selected = this.initSelected;
      const updatedData = {
        ...this.analysing,
        saveButton: 0,
      };
      let analyseId;
      switch (this.analysing.tool) {
        case 'pca':
        case 'backtesting':
          analyseId = this.analysing.draft_of || this.analysing.portfolio_id;
          break;
        case 'regression':
          analyseId = (this.analysing.type === 'portfolio') ? this.analysing.portfolio_id : this.analysing.indexinfo_id;
          break;
      }
      this.$store.commit(LAB_ACTION.SET_TOOL, this.analysing.tool);
      this.$store.commit(LAB_ACTION.SET_ITEM, {
        id: analyseId,
        type: this.analysing.type,
        code: this.analysing.code,
        slug: this.analysing.slug,
        name: this.currentName,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        choice: _.cloneDeep(updatedData),
      });
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
    },
    checkAndDownload() {
      if (this.disableExcel) return;
      const that = this;
      if (this.labChoice.saveButton && this.labChoice.saveButton === 1) {
        swal(
          {
            title: 'Are you sure to export?',
            text: 'Current export will not reflect unsaved options. Please save the current settings to export the current result',
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Export',
          },
          (isConfirm) => {
            console.log('isConfirm', isConfirm);
            if (isConfirm) {
              that.downloadExcel();
            }
          },
        );
      } else {
        this.downloadExcel();
      }
    },
    async downloadExcel() {
      this.exporting = true;
      const payload = {
        maxDate: this.common.maxDate,
        period: this.common.dataPeriod,
        periods: this.common.periods,
      };
      if (this.common.dataPeriod === PERIOD.CUST) {
        payload.maxDate = this.common.custMaxDate;
        payload.periods = {
          [PERIOD.CUST]: this.common.periods[PERIOD.CUST],
          [PERIOD.MIN]: this.common.periods[PERIOD.MIN],
        };
      }
      const exportId = (this.currentTool === 'backtesting') ? this.analyseItem.slug : this.analyseItem.id;
      try {
        const { headers, data } = await apiDownloads.downloadExcel({
          id: exportId,
          type: this.analyseItem.type,
          tool: this.currentTool,
          payload,
        });
        const blob = new Blob([data], {
          type: headers.get('content-type'),
        });
        const headerName = 'attachment; filename="download.xlsx"';
        const contentDispositionHeader = headers.get('content-disposition') || headerName;
        const fileName = contentDispositionHeader.split(';')[1].trim().split('=')[1].replace(/"/g, '');
        const link = window.document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = fileName;
        link.click();
      } catch (e) {
        console.error(e);
        swal('Whoops!', 'Something is wrong for Excel', 'error');
      }
      this.exporting = false;
    },
    async loadFilters() {
      await this.$store.dispatch(ACTION.API_FETCH_FILTER);
      this.loadedFilters = true;
    },
    showStrategies(results) {
      if (!this.loadedFilters) {
        this.loadFilters();
      }
      window.eventBus.$emit('addStrategyAll', results);
    },
    async initFactors() {
      if (!this.loadedFactors) {
        const payload = {
          ignore: ['VIX'],
        };
        await this.$store.dispatch(ACTION.API_FETCH_STRATEGY, {
          payload,
          freeze: true,
        });
        this.loadedFactors = true;
        //benchmarks belong to factor
        this.loadedBenchmarks = true;
      }
    },
    async initBenchmarks() {
      this.loadedBenchmarks = false;
      const payload = {
        types: ['Benchmark'],
      };
      await this.$store.dispatch(ACTION.API_FETCH_STRATEGY, {
        payload,
        freeze: true,
      });
      this.loadedBenchmarks = true;
    },
    async initPortfolios({ metrics = true }) {
      if (!this.loadedPortfolios || !this.loadedFirstPortfolios) {
        this.loadedPortfolios = false;
        const payload = {
          metrics,
        };
        await this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO, {
          payload,
          freeze: true,
        });
        this.loadedFirstPortfolios = true;
        this.loadedPortfolios = true;
      }
    },
    async updateOnePortfolio(id) {
      this.loadedPortfolios = false;
      await this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO_DETAILS_V2, {
        ids: [id],
        payload: [undefined],
        freeze: true,
        reset: true,
      });
      this.loadedPortfolios = true;
    },
    async initStrategies() {
      if (!this.loadedStrategies) {
        const payload = {
          ignore: ['VIX'],
          metrics: true,
        };
        await this.$store.dispatch(ACTION.API_FETCH_STRATEGY, {
          payload,
          freeze: true,
        });
        this.loadedStrategies = true;
      }
    },
  },
};
</script>
<style>

.filter-control .dates
{
  line-height: 40px;
}

.filter-control .chosen-text {
  font-weight: bold;
  line-height: 25px;
  color: #1A85A1;
  cursor: pointer;
}

.filter-control .chosen-text span {
  color: #4B4B4B;
}

.filter-control .form-group {
  margin-top: 10px;
}

.filter-control .title-text {
  /* font-size: 16px; */
  font-weight: bold;
}
.filter-control {
    background: #F0F0F4;
    box-shadow: 1px 1px 1px #ccc;
    margin-bottom: 10px;
}

.filter-control .col-sm-4
{
  border-left: 1px #ccc solid;
}

.filter-control .col-sm-4:last-child
{
  border-right: 1px #ccc solid;
}

</style>
