<template>
  <div class="marketmonitor">
    <div
      class="dropdown">
      <a
        :class="{'btn-primary': isPrimary}"
        class="btn select-button"
        type="button"
        style="font-weight:400"
        @click="clickMenu()">
        {{ shownSelection }}
        <span class="caret select-caret"/>
      </a>
    </div>
    <div
      v-show="menu===1"
      class="table sidebar-filters-monitor clearfix hidden-xs"
      style="top:38px;min-width:300px;border: 1px solid #d3e0e9;border-radius: 4px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);"
      @click.stop="stopMenu()">
      <div
        style="background-color:#fff;"
        class="col-sm-12 sidebar-filters panel">
        <form>
          <div
            v-for="(options, title) in groups"
            :key="title"
            class="form-group"
            style="margin-bottom:15px;margin-left:0;margin-right:0">
            <label
              class="top">
              {{ title }}
            </label>
            <div class="filter-container">
              <div
                v-for="(v,k,idx) in options"
                :key="k"
                :style="`margin-top:${idx === 0 ? '10px' : '-5px'};margin-bottom:${idx === (options.length - 1) ? '0px' : '10px'}` "
                class="checkbox"
                style="margin-left:19px;padding:0;min-height:22px;">
                <div
                  class="checkbox-style"
                  @click="setListItem(k)">
                  <input
                    v-model="selection"
                    :value="k"
                    type="checkbox">
                  <i/>{{ v }}
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ */
export default {
  name: 'GroupSelection',
  props: {
    selection: {
      type: Array,
      default: () => [],
    },
    setListItem: {
      type: Function,
      default: null,
    },
    groups: {
      type: Object,
      default: () => {},
    },
    shownSelection: {
      type: String,
      default: '',
    },
    isPrimary: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      menu: -1,
    };
  },
  computed: {
    uniqueId() {
      return `selection${this.idname}`;
    },
  },
  mounted() {
    const that = this;
    $('body').click(that.groupMenuEvent);
  },
  beforeDestroy() {
    const that = this;
    this.$off();
    $('body').off('click', that.groupMenuEvent);
  },
  methods: {
    chooseItem(key, value) {
      this.$emit('selectitem', {
        key,
        value,
        keyField: this.keyField,
      });
    },
    clickMenu() {
      this.menu = this.menu * -1;
      this.comeFromButton = true;
    },
    stopMenu() {
    },
    groupMenuEvent() {
      if (!this.comeFromButton) {
        this.menu = -1;
      }
      this.comeFromButton = false;
    },
  },
};
</script>


