<template>
  <span>
    <input
      v-if="!isIE"
      :disabled="disabled"
      :value="currentData"
      :class="extraclass"
      :min="min"
      :placeholder="placeholder"
      type="number"
      class="form-control"
      step="0.01"
      @input="filterInput">
    <input
      v-if="isIE"
      :disabled="disabled"
      :value="currentData"
      :class="extraclass"
      :placeholder="placeholder"
      type="text"
      class="form-control"
      @input="filterIEInput">
  </span>
</template>
<script>
const bowser = require('bowser');

export default {
  name: 'InputValidate',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    extraclass: {
      type: String,
      default: '',
    },
    min: {
      type: String,
      default: '0',
    },
    option: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    field: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      error: false,
      currentData: '',
      isIE: false,
    };
  },
  watch: {
    option(value) {
      if (value !== this.currentData) {
        this.currentData = value;
      }
    },
    min() {
      if (+this.currentData < +this.min) {
        this.currentData = this.min;
        this.setValue(this.min);
      }
    },
  },
  created() {
    this.isIE = bowser.msie || bowser.msedge;
    this.currentData = this.option;
    if (this.currentData && +this.currentData < +this.min) {
      this.$emit('setevent', {
        field: this.field,
        mode: 'error',
        value: `Value can't smaller than ${this.min}`,
      });
    }
  },
  beforeDestroy() {
    this.clearError();
    this.$off();
  },
  methods: {
    filterInput(e) {
      // console.log('input Event', e);
      if (e.target.validity.valid) {
        this.checkAndSetValue(e.target.value);
      } else if (e.target.validity.rangeUnderflow) {
        this.error = true;
        this.$emit('setevent', {
          field: this.field,
          mode: 'error',
          value: `Value can't smaller than ${this.min}`,
        });
      } else {
        this.error = true;
        this.$emit('setevent', {
          field: this.field,
          mode: 'error',
          value: 'Please set right number',
        });
      }
    },
    filterIEInput(e) {
      // console.log('input Event', e);
      const text = e.target.value;
      if (text === '') {
        this.checkAndSetValue(text);
        return null;
      }
      const valid = /^\d+(\.\d{1,2})?$/;
      const isValid = valid.test(text);
      if (isValid) {
        const num = parseFloat(text);
        if (num < +this.min) {
          this.error = true;
          this.$emit('setevent', {
            field: this.field,
            mode: 'error',
            value: `Value can't smaller than ${this.min}`,
          });
        } else {
          this.checkAndSetValue(text);
        }
      } else {
        this.error = true;
        this.$emit('setevent', {
          field: this.field,
          mode: 'error',
          value: 'Please set right number',
        });
      }
    },
    checkAndSetValue(value) {
      if (this.currentData !== value) {
        // console.log('uploaddata', value);
        this.currentData = value;
        this.setValue(value);
      }
      if (this.error) {
        this.clearError();
      }
      this.error = false;
    },
    setValue(value) {
      this.$emit('setevent', {
        field: this.field,
        mode: 'value',
        value: value,
      });
    },
    clearError() {
      this.$emit('setevent', {
        field: this.field,
        mode: 'clearError',
      });
    },
  },
};
</script>
