<template>
  <div class="dropdown">
    <a
      :id="uniqueId"
      :class="{'disabled': disabled}"
      :style="`text-align:${textCenter ? 'center' : 'left'}`"
      class="btn dropdown-toggle select-button"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      @click="focusItem()">
      {{ currentOption || '&nbsp;' }}
      <span
        v-if="!hiddenIcon"
        :style="`right:${rightPosition}px;`"
        class="caret select-caret"/>
    </a>
    <ul
      :aria-labelledby="uniqueId"
      :style="scrollingStyle"
      class="dropdown-menu select-option">
      <li
        v-for="(option, key) in options"
        :key="key">
        <a
          class="dropdown-item"
          @click="chooseItem(option)">
          {{ option }}
        </a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'SinglelSelection',
  props: {
    idname: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    keyField: {
      type: String,
      default: '',
    },
    currentOption: {
      type: String,
      default: '',
    },
    rightPosition: {
      type: Number,
      default: 10,
    },
    textCenter: {
      type: Boolean,
      default: false,
    },
    scrollable: {
      type: Number,
      default: 0,
    },
    hiddenIcon: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
    };
  },
  computed: {
    uniqueId() {
      return `selection${this.idname}`;
    },
    scrollingStyle() {
      if (!this.scrollable) return '';
      return `max-height: ${this.scrollable}px;overflow-y: scroll;`;
    },
  },
  watch: {
    currentOption(newOpt, oldOpt) { // TODO workaround, improve design later
      if (newOpt !== oldOpt) {
        this.$emit('selectitem', {
          option: newOpt,
          key: this.keyField,
        });
      }
    },
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    chooseItem(option) {
      if (option !== this.currentOption) {
        this.$emit('selectitem', {
          option,
          key: this.keyField,
        });
      }
    },
    focusItem() {
      this.$emit('focusitem', {
        key: this.keyField,
      });
    },
  },
};
</script>
