<template>
  <div
    id="allocationConfiguration"
    class="modal fade"
    tabindex="-1"
    role="dialog">
    <div
      :class="{ 'modal-lg': showThreeColumn }"
      :style="!showThreeColumn ? 'width: 725px;' : ''"
      class="modal-dialog"
      role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <form
              role="form"
              class="allocation-form form-horizontal">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div
                      :class="'col-sm-' + (showThreeColumn ? 4 : 6) "
                      class="border-right">
                      <h4
                        v-if="isCustomWeighting"
                        class="text-center">
                        Default Allocation
                      </h4>
                      <h4
                        v-else
                        class="text-center">
                        {{ optiontype }} Options
                      </h4>
                      <hr>
                      <div
                        v-if="isCustomWeighting"
                        class="col-sm-12">
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Weighting Type</label>
                          <div class="col-sm-7">
                            <div>
                              <selection
                                :options="Object.keys(customOptions)"
                                :current-option="customWeightingType"
                                key-field="custom_weighting"
                                @selectitem="setWeightingItems"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        v-for="(option,key) in column(weightingOptions_Options[weighting], 1)"
                        v-show="showField(option)"
                        :key="key"
                        class="col-sm-12">
                        <div
                          :class="{'disabled': !showField(option) }"
                          class="form-group">
                          <label class="col-sm-5 control-label">{{ getTitle(option, weighting) }}</label>
                          <div class="col-sm-7">
                            <div :class="{'input-group': hasAddon(option).length }">
                              <input-validate
                                v-if="optionFields[option].type === 'number'"
                                :option="allocation[option].toString()"
                                :field="`allocation-${option}`"
                                :disabled="!showField(option)"
                                :min="getMin(option)"
                                extraclass="dark"
                                @setevent="handlerSetEvent"
                              />
                              <div
                                v-if="hasAddon(option).length"
                                class="input-group-addon">{{ hasAddon(option) }}</div>
                              <selection
                                v-if="optionFields[option].type === 'select' && !optionFields[option].dependsOn"
                                :key-field="option"
                                :options="optionFields[option].options"
                                :current-option="allocation[option]"
                                :disabled="!showField(option)"
                                :scrollable="checkDropdownH(option)"
                                @selectitem="setItems"/>
                              <selection
                                v-if="optionFields[option].type === 'select' && optionFields[option].dependsOn"
                                :key-field="option"
                                :options="optionFields[option][allocation[optionFields[option].dependsOn]].options"
                                :current-option="optionFields[option][allocation[optionFields[option].dependsOn]].options.includes(allocation[option]) ? allocation[option] : optionFields[option][allocation[optionFields[option].dependsOn]].default"
                                :disabled="!showField(option)"
                                @selectitem="setItems"/>
                            </div>
                            <div
                              v-if="optionFields[option].type === 'number' && errors[option]"
                              class="text-red">
                              {{ errors[option] }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      v-if="showThreeColumn && !isCustomWeighting"
                      class="col-sm-4 border-right">
                      <h4 class="text-center">Allocation Constraints</h4>
                      <hr>
                      <div
                        v-for="(option,key) in column(weightingOptions_Options[weighting], 2)"
                        :key="key"
                        class="col-sm-12 col-sm-pull-1">
                        <div
                          :class="{'disabled': !showField(option) }"
                          class="form-group">
                          <label class="col-sm-5 control-label">{{ getTitle(option) }}</label>
                          <div class="col-sm-7">
                            <selection
                              :key-field="option"
                              :options="optionFields[option].options"
                              :current-option="allocation[option]"
                              :disabled="!showField(option)"
                              @selectitem="setItems"/>
                          </div>
                          <div
                            v-if="allocation[option] && allocation[option] !== 'None'"
                            class="row">
                            <div
                              class="col-sm-10 col-sm-offset-2"
                              style="padding-right: 25px;">

                              <table class="table table-condensed">
                                <thead>
                                  <tr>
                                    <th class="text-right">{{ allocation[option] }}</th>
                                    <th class="text-center">Min</th>
                                    <th class="text-center">Max</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    v-for="assetClass in assetClassesAndFactors[allocation[option]]"
                                    :key="assetClass">
                                    <td class="text-right">
                                      <span class="td-label">{{ assetClass }}</span>
                                    </td>
                                    <td style="width: 80px;">
                                      <input-validate
                                        :disabled="isDisabledOption(assetClass, allocation[option])"
                                        :field="`allocationsMin-${option}-${assetClass}`"
                                        :option="allocationsMin[option][assetClass]"
                                        placeholder="0.00"
                                        min="0"
                                        extraclass="input-sm"
                                        @setevent="handlerSumEvent"
                                      />
                                      <div
                                        v-if="errors[`allocationsMin-${option}-${assetClass}`]"
                                        class="text-red">
                                        {{ errors[`allocationsMin-${option}-${assetClass}`] }}
                                      </div>
                                    </td>
                                    <td style="width: 80px;">
                                      <input-validate
                                        :disabled="isDisabledOption(assetClass, allocation[option])"
                                        :field="`allocationsMax-${option}-${assetClass}`"
                                        :option="allocationsMax[option][assetClass]"
                                        :min="allocationsMin[option][assetClass] || '0'"
                                        placeholder="0.00"
                                        extraclass="input-sm"
                                        @setevent="handlerSumEvent"
                                      />
                                      <div
                                        v-if="errors[`allocationsMax-${option}-${assetClass}`]"
                                        class="text-red">
                                        {{ errors[`allocationsMax-${option}-${assetClass}`] }}
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <th class="text-right"/>
                                    <th
                                      :class="{'text-red': constraints.min[option] > 100, 'text-green': constraints.min[option] <= 100, }"
                                      class="text-center">{{ constraints.min[option] }}%</th>
                                    <th
                                      :class="{'text-red': constraints.max[option] < 100, 'text-green': constraints.max[option] >= 100, }"
                                      class="text-center">{{ constraints.max[option] }}%</th>
                                  </tr>
                                </tfoot>
                              </table>
                              <div
                                v-for="(error, index) in constraints.errors[option]"
                                :key="index"
                                class="alert alert-danger">
                                {{ error }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      v-if="isCustomWeighting"
                      class="col-sm-4 border-right">
                      <h4
                        class="text-center">
                        Default Funding
                      </h4>
                      <hr>
                      <div
                        v-for="(option,key) in column(weightingOptions_Options[weighting], 2)"
                        :key="key"
                        class="col-sm-12 col-sm-pull-1">
                        <div class="form-group">
                          <label class="col-sm-5 control-label">{{ getTitle(option) }}</label>
                          <div class="col-sm-7">
                            <div :class="{'input-group': hasAddon(option).length }">
                              <input-validate
                                v-if="optionFields[option].type === 'number'"
                                :option="allocation[option].toString()"
                                :field="`allocation-${option}`"
                                :disabled="!showField(option)"
                                :min="getMin(option)"
                                extraclass="dark"
                                @setevent="handlerSetEvent"
                              />
                              <div
                                v-if="hasAddon(option).length"
                                class="input-group-addon">{{ hasAddon(option) }}</div>
                              <selection
                                v-if="optionFields[option].type === 'select'"
                                :key-field="option"
                                :options="optionFields[option].options"
                                :current-option="allocation[option]"
                                :disabled="!showField(option)"
                                @selectitem="setItems"/>
                            </div>
                            <div
                              v-if="optionFields[option].type === 'number' && errors[option]"
                              class="text-red">
                              {{ errors[option] }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      :class="'col-sm-' + (showThreeColumn ? 4 : 6) "
                      class="border-right">
                      <h4
                        v-if="isCustomWeighting"
                        class="text-center">
                        Default Leverage
                      </h4>
                      <h4
                        v-else
                        class="text-center">
                        Leverage Parameters
                      </h4>
                      <hr >
                      <div class="col-sm-12 col-sm-pull-2">
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Type</label>
                          <div class="col-sm-7">
                            <div>
                              <selection
                                :key-field="'leverage_type'"
                                :options="optionFields['leverage_type'].options"
                                :current-option="allocation['leverage_type']"
                                @selectitem="setItems"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-if="allocation['leverage_type'] && (allocation['leverage_type'] === 'Target Volatility' || allocation['leverage_type'] === 'Fixed Leverage')">
                        <div
                          v-for="(option,key) in column(weightingOptions_Options[weighting], 3)"
                          v-show="showField(option)"
                          :key="key"
                          class="col-sm-12">
                          <div
                            v-if="option.indexOf('leverage_m') < 0"
                            class="form-group">
                            <label class="col-sm-5 col-sm-pull-2 control-label">{{ getTitle(option) }}</label>
                            <div class="col-sm-7 col-sm-pull-2">
                              <div :class="{'input-group': hasAddon(option).length }">
                                <input-validate
                                  v-if="optionFields[option].type === 'number'"
                                  :option="allocation[option].toString()"
                                  :field="`allocation-${option}`"
                                  :disabled="!showField(option)"
                                  :min="getMin(option)"
                                  extraclass="dark"
                                  @setevent="handlerSetEvent"
                                />
                                <div
                                  v-if="hasAddon(option).length"
                                  class="input-group-addon">{{ hasAddon(option) }}</div>

                                <selection
                                  v-if="optionFields[option].type === 'select'"
                                  :key-field="option"
                                  :options="optionFields[option].options"
                                  :current-option="allocation[option]"
                                  :disabled="!showField(option)"
                                  @selectitem="setItems"/>
                              </div>
                              <div
                                v-if="optionFields[option].type === 'number' && errors[option]"
                                class="text-red">
                                {{ errors[option] }}
                              </div>
                            </div>
                          </div>
                          <div
                            v-if="option.indexOf('leverage_m') >= 0 && allocation['leverage_type'] === 'Target Volatility'"
                            class="form-group">
                            <div class="col-sm-12 col-sm-pull-2">
                              <table
                                class="table table-condensed"
                                style="margin-bottom: 0;">
                                <tbody>
                                  <tr>
                                    <td
                                      class="text-right"
                                      style="border: 0; padding: 0;"/>
                                    <td
                                      class="text-center"
                                      style="border: 0; padding: 0;">Min</td>
                                    <td
                                      class="text-center"
                                      style="border: 0; padding: 0;">Max</td>
                                  </tr>
                                  <tr>
                                    <td
                                      class="text-right"
                                      style="border-top: 0; padding-top: 0; padding-right: 15px;">
                                      <span class="td-label">Leverage</span>
                                    </td>
                                    <td style="width: 85px; border-top: 0; padding-top: 0; padding-left: 0;">
                                      <input-validate
                                        :option="allocation.leverage_min.toString()"
                                        min="0"
                                        field="allocation-leverage_min"
                                        extraclass="input-sm"
                                        @setevent="handlerSetEvent"
                                      />
                                      <div
                                        v-if="errors.leverage_min"
                                        class="text-red">
                                        {{ errors.leverage_min }}
                                      </div>
                                    </td>
                                    <td style="width: 85px; border-top: 0; padding-top: 0; padding-right: 0;">
                                      <input-validate
                                        :option="allocation.leverage_max.toString()"
                                        :min="allocation.leverage_min || '0'"
                                        field="allocation-leverage_max"
                                        extraclass="input-sm"
                                        @setevent="handlerSetEvent"
                                      />
                                      <div
                                        v-if="errors.leverage_max"
                                        class="text-red">
                                        {{ errors.leverage_max }}
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            :disabled="disableCloseModal"
            type="button"
            class="btn btn-default pull-left"
            data-dismiss="modal"
            @click="rollbackAllocation()">Close</button>
          <button
            v-if="!isCustomWeighting"
            :disabled="updateDisabled || loading"
            type="button"
            class="btn btn-primary"
            @click="adjustAllocation(allocation)">
            <span v-if="!loading">Update</span>
            <span v-if="loading">Updating...</span>
          </button>
          <button
            v-else
            type="button"
            class="btn btn-primary"
            @click="customRebalancingList()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ _ swal */
import selection from '../../vue-select/selection.vue';
import inputValidate from '../../vue-select/input-validate.vue';

const apiPortfolios = require('../../../api/portfolios');
const { LAB_ACTION } = require('../../../store/module/lab');
const ACTION = require('../../../store/mutation-type');
const { assetClasses, factors, models } = require('../../../util/config');

const defaultAllocation = {
  rebalancing: 'Monthly',
  rebalancing_month: 'Every Month',
  rebalancing_date: 'Last Day',
  rebalancing_cost: '0',
  replication_cost: '0',
  leverage_type: 'None',
  target_volatility: '5',
  target_interval: '30d',
  fixed_leverage: '100',
  leverage_min: '0',
  leverage_max: '200',
  funding_currency: 'None',
  borrowing_spread: '0',
  lending_spread: '0',
  funding_weight: '100',
  volatility_interval: '30d',
  primary_allocation_constraint: 'None',
  secondary_allocation_constraint: 'None',
  custom_weighting: 'equal',
};
export default {
  name: 'BtAllocation',
  components: {
    selection,
    'input-validate': inputValidate,
  },
  data() {
    return {
      customOptions: {
        'Equal Weighting': 'equal',
        'Vol Risk Parity': 'risk',
        'ERC Weighting': 'erc',
      },
      customWeightingType: 'Equal Weighting',
      weightingOptions_Options: {
        equal: ['rebalancing', 'rebalancing_month', 'rebalancing_date', 'primary_allocation_constraint',
          'secondary_allocation_constraint', 'rebalancing_cost', 'replication_cost', 'target_volatility',
          'target_interval', 'leverage_min', 'fixed_leverage',
        ],
        manual: ['rebalancing', 'rebalancing_month', 'rebalancing_date', 'primary_allocation_constraint',
          'secondary_allocation_constraint', 'rebalancing_cost', 'replication_cost', 'target_volatility',
          'target_interval', 'leverage_min', 'fixed_leverage',
        ],
        risk: ['volatility_interval', 'rebalancing', 'rebalancing_month', 'rebalancing_date', 'primary_allocation_constraint',
          'secondary_allocation_constraint', 'rebalancing_cost', 'replication_cost', 'target_volatility',
          'target_interval', 'leverage_min', 'fixed_leverage',
        ],
        erc: ['volatility_interval', 'rebalancing', 'rebalancing_month', 'rebalancing_date', 'primary_allocation_constraint',
          'secondary_allocation_constraint', 'rebalancing_cost', 'replication_cost', 'target_volatility',
          'target_interval', 'leverage_min', 'fixed_leverage',
        ],
      },
      allocation: defaultAllocation,
      secondColumnOptions: ['primary_allocation_constraint', 'secondary_allocation_constraint'],
      thirdColumnOptions: ['target_volatility', 'target_interval', 'leverage_min', 'fixed_leverage'],
      assetClassesAndFactors: {
        'Asset Class': [],
        Factor: [],
        Strategy: [
          'Strategy',
        ],
      },
      errors: {},
      optionFields: {
        rebalancing: {
          type: 'select',
          options: ['Monthly', 'Quarterly', 'Semi-annual', 'Annual'],
        },
        rebalancing_month: {
          type: 'select',
          dependsOn: 'rebalancing',
          Monthly: {
            default: 'Every Month',
            options: ['Every Month'],
          },
          Quarterly: {
            default: 'Mar - Jun - Sep - Dec',
            options: ['Jan - Apr - Jul - Oct', 'Feb - May - Aug - Nov', 'Mar - Jun - Sep - Dec'],
          },
          'Semi-annual': {
            default: 'Jun - Dec',
            options: ['Jan - Jul', 'Feb - Aug', 'Mar - Sep', 'Apr - Oct', 'May - Nov', 'Jun - Dec'],
          },
          Annual: {
            default: 'Dec',
            options: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
        },
        rebalancing_date: {
          type: 'select',
          options: [
            'Last Day', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',
            '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
          ],
        },
        primary_allocation_constraint: {
          type: 'select',
          options: ['None', 'Strategy'],
          title: 'Primary',
        },
        secondary_allocation_constraint: {
          type: 'select',
          options: ['None', 'Asset Class', 'Factor'],
          title: 'Secondary',
        },
        rebalancing_cost: {
          type: 'number',
        },
        replication_cost: {
          type: 'number',
        },
        funding_weight: {
          type: 'number',
          title: 'Funding',
        },
        volatility_interval: {
          type: 'select',
          options: ['30d', '60d', '120d', '250d', '500d', '750d', '1250d'],
          erc: {
            title: 'ERC Interval',
          },
        },
        target_volatility: {
          type: 'number',
        },
        target_interval: {
          type: 'select',
          options: ['30d', '60d', '120d', '250d', '500d', '750d', '1250d'],
        },
        fixed_leverage: {
          type: 'number',
        },
        funding_currency: {
          type: 'select',
          options: ['None', 'USD', 'EUR'],
          title: 'Funding Curve',
        },
        borrowing_spread: {
          type: 'number',
        },
        lending_spread: {
          type: 'number',
        },
        leverage_min: {
          type: 'number',
        },
        leverage_max: {
          type: 'number',
        },
        leverage_type: {
          type: 'select',
          options: ['None', 'Target Volatility', 'Fixed Leverage'],
        },
      },
      allocationsMin: {
        primary_allocation_constraint: {},
        secondary_allocation_constraint: {},
      },
      allocationsMax: {
        primary_allocation_constraint: {},
        secondary_allocation_constraint: {},
      },
      activeLength: 1,
      indicesFactors: [],
      indicesAssetClasses: [],
      loading: false,
    };
  },
  computed: {
    saveId() {
      return this.$store.state.lab.backtesting.portfolio_id;
    },
    common() {
      return this.$store.state.lab.common;
    },
    allocationOptions() {
      return this.$store.state.lab.backtesting.allocationOptions || {};
    },
    weighting() {
      const { weighting = '' } = this.$store.state.lab.backtesting;
      if (weighting === 'custom') return this.allocation.custom_weighting || 'equal';
      return weighting;
    },
    customBaseOptions() {
      return this.$store.state.lab.backtesting.customBaseOptions || {};
    },
    isCustomWeighting() {
      const { weighting = '' } = this.$store.state.lab.backtesting;
      return weighting === 'custom';
    },
    rebalancingList() {
      return this.$store.state.lab.backtesting.rebalancingList || {};
    },
    disableCloseModal() {
      return this.isCustomWeighting && Object.keys(this.rebalancingList).length === 0;
    },
    showThreeColumn() {
      return !['equal', 'manual'].includes(this.weighting) || this.isCustomWeighting;
    },
    optiontype() {
      return models[this.weighting];
    },
    indices() {
      const portfolio = this.$store.state.portfolioIndices[this.saveId];
      return portfolio || [];
    },
    constraints() {
      const keys = [
        'primary_allocation_constraint',
        'secondary_allocation_constraint',
      ];
      const total = {
        max: {},
        min: {},
        errors: {},
      };
      keys.forEach((key) => {
        if (this.allocation[key] && this.allocation[key] !== 'None') {
          total.max[key] = this.maxCumulative(key);
          total.min[key] = this.minCumulative(key);
          total.errors[key] = this.getErrors(total.max[key], total.min[key]);
        }
      });
      return total;
    },
    updateDisabled() {
      let errors = Object.keys(this.errors).length > 0;
      if (['equal', 'manual'].includes(this.weighting)) {
        return errors;
      }
      for (const key in this.constraints.errors) {
        errors = errors || Object.keys(this.constraints.errors[key]).length > 0;
      }
      return errors;
    },
  },
  created() {
    this.getFilters();
  },
  mounted() {
    window.eventBus.$on('allocationConfiguration', this.startAllocation);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('allocationConfiguration', this.startAllocation);
  },
  methods: {
    startAllocation() {
      if (!this.isCustomWeighting) {
        this.checkIndices();
        this.initAllocation();
      } else {
        this.initCustomAllocation();
      }
      $('#allocationConfiguration').data('bs.modal', null); // this clears the BS modal data (https://stackoverflow.com/questions/34440464/bootstrap-modal-backdrop-static-not-working)
      $('#allocationConfiguration').modal({
        backdrop: this.disableCloseModal ? 'static' : true,
        keyboard: !this.disableCloseModal,
        show: true,
      });
    },
    initAllocation() {
      if (this.allocationOptions) {
        const changeData = _.cloneDeep(this.allocationOptions);
        this.allocation = Object.assign({}, defaultAllocation, changeData);
        if (changeData.allocationConstraints && changeData.allocationConstraints.primary) {
          if (changeData.allocationConstraints.primary.allocationsMin) {
            for (const x in changeData.allocationConstraints.primary.allocationsMin) {
              // console.log(x);
              this.$set(this.allocationsMin.primary_allocation_constraint, x, changeData.allocationConstraints.primary.allocationsMin[x].toString());
            }
          }
          if (changeData.allocationConstraints.primary.allocationsMax) {
            for (const x in changeData.allocationConstraints.primary.allocationsMax) {
              this.$set(this.allocationsMax.primary_allocation_constraint, x, changeData.allocationConstraints.primary.allocationsMax[x].toString());
            }
          }
        }
        if (changeData.allocationConstraints && changeData.allocationConstraints.secondary) {
          if (changeData.allocationConstraints.secondary.allocationsMin) {
            for (const x in changeData.allocationConstraints.secondary.allocationsMin) {
              this.$set(this.allocationsMin.secondary_allocation_constraint, x, changeData.allocationConstraints.secondary.allocationsMin[x].toString());
            }
          }
          if (changeData.allocationConstraints.secondary.allocationsMax) {
            for (const x in changeData.allocationConstraints.secondary.allocationsMax) {
              this.$set(this.allocationsMax.secondary_allocation_constraint, x, changeData.allocationConstraints.secondary.allocationsMax[x].toString());
            }
          }
        }
      }
    },
    initCustomAllocation() {
      const changeData = _.cloneDeep(this.customBaseOptions);
      this.allocation = Object.assign({}, defaultAllocation, changeData);
      for (const type in this.customOptions) {
        if (this.customOptions[type] === this.allocation.custom_weighting) {
          this.customWeightingType = type;
        }
      }
    },
    customRebalancingList() {
      this.checkAllocationValue();
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'customBaseOptions',
        choice: Object.freeze(_.cloneDeep(this.allocation)),
      });
      window.eventBus.$emit('customRebalancingList', { init: true });
      $('#allocationConfiguration').modal('hide');
    },
    checkAllocationValue() {
      for (const key in this.allocation) {
        if (this.allocation[key] === null || this.allocation[key] === '') {
          this.allocation[key] = defaultAllocation[key];
        }
        const number = Number(this.allocation[key]);
        if (!Number.isNaN(number)) this.allocation[key] = number;
      }
    },
    checkDropdownH(option) {
      switch (option) {
        case 'rebalancing_date':
          return 215;
        default:
          return 0;
      }
    },
    getMin(option) {
      switch (option) {
        case 'fixed_leverage':
        case 'target_volatility':
          return '0.01';
        default:
          return '0';
      }
    },
    handlerSetEvent({ field = '', mode = 'value', value = '' }) {
      const fields = field.split('-');
      if (fields.length !== 2) return null;
      switch (mode) {
        case 'value':
          this.$set(this[fields[0]], fields[1], value);
          break;
        case 'error':
          this.$set(this.errors, fields[1], value);
          break;
        case 'clearError':
          this.$delete(this.errors, fields[1]);
      }
    },
    handlerSumEvent({ field = '', mode = 'value', value = '' }) {
      const fields = field.split('-');
      if (fields.length !== 3) return null;
      switch (mode) {
        case 'value':
          this.$set(this[fields[0]][fields[1]], fields[2], value);
          break;
        case 'error':
          this.$set(this.errors, field, value);
          break;
        case 'clearError':
          this.$delete(this.errors, field);
      }
    },
    minCumulative(option) {
      let cumulative = 0;
      const optionValue = this.allocation[option];
      if (optionValue === 'Asset Class' || optionValue === 'Factor') {
        for (let x = 0; x < this.assetClassesAndFactors[optionValue].length; x++) {
          const opt = this.assetClassesAndFactors[optionValue][x];
          if (this.allocationsMin[option][opt]) {
            cumulative += parseFloat(this.allocationsMin[option][opt]);
          }
        }
      } else {
        const min = parseFloat(this.allocationsMin.primary_allocation_constraint.Strategy);
        if (!Number.isNaN(min)) {
          cumulative = this.activeLength * min;
        }
      }
      cumulative = cumulative.toFixed(2);
      return cumulative;
    },
    maxCumulative(option) {
      let cumulative = 0;
      const optionValue = this.allocation[option];
      if (optionValue === 'Asset Class' || optionValue === 'Factor') {
        for (let x = 0; x < this.assetClassesAndFactors[optionValue].length; x++) {
          const opt = this.assetClassesAndFactors[optionValue][x];
          if (this.allocationsMax[option][opt]) {
            cumulative += parseFloat(this.allocationsMax[option][opt]);
          }
        }
      } else {
        const max = parseFloat(this.allocationsMax.primary_allocation_constraint.Strategy);
        if (!Number.isNaN(max)) {
          cumulative = this.activeLength * max;
        }
      }
      cumulative = cumulative.toFixed(2);
      return cumulative;
    },
    getErrors(max, min) {
      const error = [];
      if (min > 100) {
        error.push('Invalid - sum of min must not be greater than 100.');
      }
      if (max < 100) {
        error.push('Invalid - sum of max must not be less than 100.');
      }
      return error;
    },
    getFilters() {
      this.assetClassesAndFactors['Asset Class'] = assetClasses;
      this.assetClassesAndFactors.Factor = factors;
    },
    checkIndices() {
      const indices = this.indices.filter(o => o.suspended === 0 && o.indexinfo.is_suspended === 0);
      this.activeLength = indices.length;
      this.indicesFactors = _.uniq(indices.map(o => o.indexinfo.factor));
      this.indicesAssetClasses = _.uniq(indices.map(o => o.indexinfo.assetClass));
      this.allocationsMin = {
        primary_allocation_constraint: {},
        secondary_allocation_constraint: {},
      };

      this.allocationsMax = {
        primary_allocation_constraint: {},
        secondary_allocation_constraint: {},
      };

      if (this.allocationOptions && this.allocationOptions.allocationConstraints) {
        Object.keys(this.allocationOptions.allocationConstraints.secondary.allocationsMin).forEach((key) => {
          if (this.indicesAssetClasses.indexOf(key) < 0 && this.indicesFactors.indexOf(key) < 0) {
            delete this.allocationOptions.allocationConstraints.secondary.allocationsMin[key];
          }
        });
        Object.keys(this.allocationOptions.allocationConstraints.secondary.allocationsMax).forEach((key) => {
          if (this.indicesAssetClasses.indexOf(key) < 0 && this.indicesFactors.indexOf(key) < 0) {
            delete this.allocationOptions.allocationConstraints.secondary.allocationsMax[key];
          }
        });
      }
    },
    hasAddon(option) {
      switch (option) {
        case 'rebalancing_cost':
        case 'target_volatility':
        case 'borrowing_spread':
        case 'lending_spread':
        case 'fixed_leverage':
        case 'funding_weight':
          return '%';
        case 'replication_cost':
          return '% p.a.';
      }
      return '';
    },
    setItems({ option, key }) {
      this.$set(this.allocation, key, option);
    },
    setWeightingItems({ option, key }) {
      this.customWeightingType = option;
      this.$set(this.allocation, key, this.customOptions[option]);
    },
    column(arr, idx) {
      if (!arr) return [];
      const newArr = [];
      if (idx === 1) {
        for (let i = 0; i < arr.length; i++) {
          if (this.secondColumnOptions.indexOf(arr[i]) < 0 && this.thirdColumnOptions.indexOf(arr[i]) < 0) {
            newArr.push(arr[i]);
          }
        }
      } else if (idx === 2) {
        if (this.isCustomWeighting) return ['funding_weight', 'funding_currency', 'borrowing_spread', 'lending_spread']
        for (let i = 0; i < arr.length; i++) {
          if (this.secondColumnOptions.indexOf(arr[i]) >= 0) {
            newArr.push(arr[i]);
          }
        }
      } else if (idx === 3) {
        if (this.isCustomWeighting) return ['target_volatility', 'target_interval', 'leverage_min', 'fixed_leverage'];
        for (let i = 0; i < arr.length; i++) {
          if (this.thirdColumnOptions.indexOf(arr[i]) >= 0) {
            newArr.push(arr[i]);
          }
        }
      }
      return newArr;
    },
    isDisabledOption(optionValue, optionKey) {
      switch (optionKey) {
        case 'primary_allocation_constraint':
          if (optionValue !== 'None' && ['equal', 'manual'].indexOf(this.weighting) !== -1) {
            this.allocation.primary_allocation_constraint = 'None';
            return true;
          }
          break;
        case 'secondary_allocation_constraint':
          if (optionValue !== 'None' && ['equal', 'manual'].indexOf(this.weighting) !== -1) {
            this.allocation.secondary_allocation_constraint = 'None';
            return true;
          }
          break;
        case 'Asset Class':
          if (this.indicesAssetClasses.indexOf(optionValue) === -1) {
            return true;
          }
          break;
        case 'Factor':
          if (this.indicesFactors.indexOf(optionValue) === -1) {
            return true;
          }
          break;
      }
      return false;
    },
    sentenceCase(str) {
      return str.split('_').map(s => s.slice(0, 1).toUpperCase() + s.slice(1).toLowerCase()).join(' ');
    },
    getTitle(option, model) {
      const optionField = Object.assign({}, this.optionFields[option], this.optionFields[option][model]);
      if (optionField.title) {
        return optionField.title;
      }
      return this.sentenceCase(option);
    },
    rollbackAllocation() {
      this.allocation = Object.assign({}, defaultAllocation, this.allocationOptions);
    },
    async adjustAllocation(allocation) {
      if (this.updateDisabled || this.loading) return null;
      const originalAllocation = _.cloneDeep(this.allocationOptions);
      const toSave = _.cloneDeep(allocation);
      const { allocationsMin } = this;
      const { allocationsMax } = this;
      toSave.allocationConstraints = {
        primary: {
          type: allocation.primary_allocation_constraint,
          allocationsMin: allocationsMin.primary_allocation_constraint,
          allocationsMax: allocationsMax.primary_allocation_constraint,
        },
        secondary: {
          type: allocation.secondary_allocation_constraint,
          allocationsMin: allocationsMin.secondary_allocation_constraint,
          allocationsMax: allocationsMax.secondary_allocation_constraint,
        },
      };
      this.loading = true;
      try {
        const { data } = await apiPortfolios.putPortfolio(this.saveId, {
          allocation: toSave,
          mode: 'changeallocation',
          weighting: 'custom',
        });
        await this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO_DETAILS_V2, {
          ids: [this.saveId],
          payloads: this.getPortfolioPayload(),
          freeze: true,
          reset: true,
          throwError: true,
        });
        const { allocationOptions } = data.portfolio || {};
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'allocationOptions',
          choice: JSON.parse(allocationOptions),
        });
        window.eventBus.$emit('changeallocation', { mode: 'allocation' });
        $('#allocationConfiguration').modal('hide');
      } catch (e) {
        console.error(e);
        apiPortfolios.putPortfolio(this.saveId, {
          allocation: originalAllocation,
          mode: 'changeallocation',
        }).catch(console.error);
        swal('Whoops!', 'Unable to update the rebalancing options. The options are not correct.', 'error');
      }
      this.loading = false;
    },
    getPortfolioPayload() {
      const customPeriod = {
        volMeasure: '30d',
        maxDate: this.common.custMaxDate,
        periods: {
          min: this.common.periods.min,
          custom: this.common.periods.custom,
        },
      };
      if (this.common.periods.custom !== undefined) {
        return [undefined, customPeriod];
      }
      return [undefined];
    },
    showField(option) {
      switch (option) {
        // 08/06/2017 requested to allow independent setting.
        case 'fixed_leverage':
          if (typeof this.allocation.leverage_type === 'undefined') {
            return false;
          }
          if (this.allocation.leverage_type === 'Fixed Leverage') {
            return true;
          }
          return false;
        case 'target_volatility':
          if (typeof this.allocation.leverage_type === 'undefined') {
            return false;
          }
          if (this.allocation.leverage_type === 'Target Volatility') {
            return true;
          }
          return false;
        case 'target_interval':
          if (typeof this.allocation.leverage_type === 'undefined') {
            return false;
          }
          if (this.allocation.leverage_type === 'Target Volatility') {
            return true;
          }
          return false;
        case 'borrowing_spread':
        case 'lending_spread':
          if (this.allocation.funding_currency === 'None') {
            return false;
          }
          return true;
      }
      return true;
    },
  },
};
</script>
