<template>
  <div
    :class="{ 'col-md-4 col-small': (view!=='datatable'), 'col-md-12 table-view': (view==='datatable') }"
    class="sidebar-analyse sidebar-analyse-main sidebar-filters panel">
    <div
      v-if="initData"
      class="panel-group">
      <div
        v-if="invalidGroup.length > 0"
        class="panel panel-default">
        <div
          :class="{'highlight':groupSelected === 'invalid', 'topLayer':showGroupMenu==='invalid'}"
          class="panel-heading toggle">
          <i
            :class="{'opened':showGroupMenu==='invalid'}"
            class="fa fa-cog menu-icon group-menu-icon"
            @click="toggleGroupMenu('invalid')"/>
          <button
            class="btn btn-link"
            @click="toggleSelectGroup('invalid')">
            INVALID ({{ activeCount.invalid }})
            <span v-if="['equal', 'manual'].includes(weighting)">{{ Math.round(weightings['invalid'] || 0) | percentage }}</span>
            <i
              :class="{'fa-angle-down':groupSelected === 'invalid','fa-angle-right':groupSelected !== 'invalid'}"
              class="fa"/>
          </button>
          <div
            v-show="showGroupMenu==='invalid'"
            class="menu group-menu">
            <a
              style="margin-bottom: 6px;"
              @click="suspendAll('invalid', 'invalid')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Suspend all strategies
            </a>
            <a @click="unsuspendAll('invalid', 'invalid')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Unsuspend all strategies
            </a>
            <hr class="dotted white">
            <a @click="removeAll('invalid', 'invalid')">
              <img
                src="/img/design/icon-remove-white.png"
                alt> Remove all strategies
            </a>
          </div>
        </div>
        <div
          v-show="groupSelected == 'invalid'"
          class="panel-contents">
          <div
            :class="{'strategy-list': view!=='datatable', 'analyse': view==='datatable'}"
            class="datatable">
            <div
              v-if="view==='datatable'"
              class="clearfix heading">
              <div style="width:34%"/>
              <div
                v-for="field in dataTableCols"
                :style="{width: (66/dataTableColsCount)+'%'}"
                :key="field"
                class="text-center">
                <button
                  class="btn"
                  @click="changeSortby(`${period}_${field}`)">
                  <span v-if="sortby === `${period}_${field}`">
                    <i
                      :class="{'fa-sort-up':(sortorder>0),'fa-sort-down':(sortorder<0)}"
                      class="fa"/>
                  </span>
                  <span v-else>
                    <i class="fa fa-sort"/>
                  </span>
                </button>
              </div>
            </div>
            <div class="scrolling">
              <bar-list-item
                v-for="item in invalidGroup"
                :key="item.indexinfo_id"
                :item="item"
                :period="period"
                :weighting="weighting"
                :set-menu="setMenu"
                :active-key="activeKey"
                :lock-list="uiLocked"
                :set-action="setAction"
                :weighting-list="uiWeighting"
                :show-strategy-menu="showStrategyMenu"
                :suspend-list="uiSuspend"
                :is-invalid="isInvalid"
                :highlight-index="highlightIndex"
                :unhighlight-index="unhighlightIndex"
                :lock-strategy="lockStrategy"
                :manual-weighting="manualWeighting"
                :pin-index="pinIndex"
                :remove-strategy="removeStrategy"
                :suspend-strategy="suspendStrategy"
                :unsuspend-strategy="unsuspendStrategy"/>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="groupBy === 'all'"
        class="panel panel-default">
        <div
          :class="{'highlight':groupSelected === 'all', 'topLayer':showGroupMenu==='all'}"
          class="panel-heading toggle">
          <i
            :class="{'opened':showGroupMenu==='all'}"
            class="fa fa-cog menu-icon group-menu-icon"
            @click="toggleGroupMenu('all')"/>
          <button
            class="btn btn-link"
            @click="toggleSelectGroup('all')">
            ALL ({{ activeCount.all }})
            <span v-if="['equal', 'manual'].includes(weighting)">{{ Math.round(weightings['all'] || 100) | percentage }}</span>
            <i
              :class="{'fa-angle-down':groupSelected === 'all','fa-angle-right':groupSelected !== 'all'}"
              class="fa"/>
          </button>
          <div
            v-show="showGroupMenu==='all'"
            class="menu group-menu">
            <a
              style="margin-bottom: 6px;"
              @click="suspendAll('all', 'all')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Suspend all strategies
            </a>
            <a @click="unsuspendAll('all', 'all')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Unsuspend all strategies
            </a>
            <hr class="dotted white">
            <a @click="removeAll('all', 'all')">
              <img
                src="/img/design/icon-remove-white.png"
                alt> Remove all strategies
            </a>
          </div>
        </div>
        <div
          v-show="groupSelected === 'all'"
          class="panel-contents">
          <div
            :class="{'strategy-list': view!=='datatable', 'analyse': view==='datatable'}"
            class="datatable">
            <div
              v-if="view==='datatable'"
              class="clearfix heading">
              <div style="width:34%"/>
              <div
                v-for="field in dataTableCols"
                :style="{width: (66/dataTableColsCount)+'%'}"
                :key="field"
                class="text-center">
                <button
                  class="btn"
                  @click="changeSortby(`${period}_${field}`)">
                  <span v-if="sortby === `${period}_${field}`">
                    <i
                      :class="{'fa-sort-up':(sortorder>0),'fa-sort-down':(sortorder<0)}"
                      class="fa"/>
                  </span>
                  <span v-else>
                    <i class="fa fa-sort"/>
                  </span>
                </button>
              </div>
            </div>
            <div class="scrolling">
              <bar-list-item
                v-for="item in allGroup"
                :key="item.indexinfo_id"
                :item="item"
                :period="period"
                :weighting="weighting"
                :weighting-list="uiWeighting"
                :set-menu="setMenu"
                :active-key="activeKey"
                :lock-list="uiLocked"
                :set-action="setAction"
                :show-strategy-menu="showStrategyMenu"
                :lock-strategy="lockStrategy"
                :manual-weighting="manualWeighting"
                :suspend-list="uiSuspend"
                :is-invalid="isInvalid"
                :highlight-index="highlightIndex"
                :unhighlight-index="unhighlightIndex"
                :pin-index="pinIndex"
                :remove-strategy="removeStrategy"
                :suspend-strategy="suspendStrategy"
                :unsuspend-strategy="unsuspendStrategy"/>
            </div>
          </div>
        </div>
      </div>
      <div
        v-for="(data, group) in assetClassGroup"
        v-if="groupBy === 'assetClass'"
        :key="group"
        class="panel panel-default">
        <div
          :class="{'highlight':groupSelected === group, 'topLayer':showGroupMenu===group}"
          class="panel-heading toggle">
          <i
            :class="{'opened':showGroupMenu===group}"
            class="fa fa-cog menu-icon group-menu-icon"
            @click="toggleGroupMenu(group)"/>
          <button
            class="btn btn-link"
            @click="toggleSelectGroup(group)">
            {{ group }} ({{ activeCount[group] }})
            <span v-if="['equal', 'manual'].includes(weighting)">{{ Math.round(weightings[group] || 100) | percentage }}</span>
            <i
              :class="{'fa-angle-down':groupSelected === group,'fa-angle-right':groupSelected !== group}"
              class="fa"/>
          </button>
          <div
            v-show="showGroupMenu===group"
            class="menu group-menu">
            <a
              style="margin-bottom: 6px;"
              @click="suspendAll(group, 'assetClass')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Suspend all strategies
            </a>
            <a @click="unsuspendAll(group, 'assetClass')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Unsuspend all strategies
            </a>
            <hr class="dotted white">
            <a @click="removeAll(group, 'assetClass')">
              <img
                src="/img/design/icon-remove-white.png"
                alt> Remove all strategies
            </a>
          </div>
        </div>
        <div
          v-show="groupSelected === group"
          class="panel-contents">
          <div
            :class="{'strategy-list': view!=='datatable', 'analyse': view==='datatable'}"
            class="datatable">
            <div
              v-if="view==='datatable'"
              class="clearfix heading">
              <div style="width:34%"/>
              <div
                v-for="field in dataTableCols"
                :style="{width: (66/dataTableColsCount)+'%'}"
                :key="field"
                class="text-center">
                <button
                  class="btn"
                  @click="changeSortby(`${period}_${field}`)">
                  <span v-if="sortby === `${period}_${field}`">
                    <i
                      :class="{'fa-sort-up':(sortorder>0),'fa-sort-down':(sortorder<0)}"
                      class="fa"/>
                  </span>
                  <span v-else>
                    <i class="fa fa-sort"/>
                  </span>
                </button>
              </div>
            </div>
            <div class="scrolling">
              <bar-list-item
                v-for="item in data"
                :key="item.indexinfo_id"
                :item="item"
                :period="period"
                :weighting="weighting"
                :set-menu="setMenu"
                :active-key="activeKey"
                :lock-list="uiLocked"
                :set-action="setAction"
                :weighting-list="uiWeighting"
                :show-strategy-menu="showStrategyMenu"
                :suspend-list="uiSuspend"
                :is-invalid="isInvalid"
                :highlight-index="highlightIndex"
                :unhighlight-index="unhighlightIndex"
                :lock-strategy="lockStrategy"
                :manual-weighting="manualWeighting"
                :pin-index="pinIndex"
                :remove-strategy="removeStrategy"
                :suspend-strategy="suspendStrategy"
                :unsuspend-strategy="unsuspendStrategy"/>
            </div>
          </div>
        </div>
      </div>
      <div
        v-for="(data, group) in factorGroup"
        v-if="groupBy === 'factor'"
        :key="group"
        class="panel panel-default">
        <div
          :class="{'highlight':groupSelected === group, 'topLayer':showGroupMenu===group}"
          class="panel-heading toggle">
          <i
            :class="{'opened':showGroupMenu===group}"
            class="fa fa-cog menu-icon group-menu-icon"
            @click="toggleGroupMenu(group)"/>
          <button
            class="btn btn-link"
            @click="toggleSelectGroup(group)">
            {{ group }} ({{ activeCount[group] }})
            <span v-if="['equal', 'manual'].includes(weighting)">{{ Math.round(weightings[group] || 100) | percentage }}</span>
            <i
              :class="{'fa-angle-down':groupSelected === group,'fa-angle-right':groupSelected !== group}"
              class="fa"/>
          </button>
          <div
            v-show="showGroupMenu===group"
            class="menu group-menu">
            <a
              style="margin-bottom: 6px;"
              @click="suspendAll(group, 'factor')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Suspend all strategies
            </a>
            <a @click="unsuspendAll(group, 'factor')">
              <img
                src="/img/design/icon-pause-white.png"
                alt> Unsuspend all strategies
            </a>
            <hr class="dotted white">
            <a @click="removeAll(group, 'factor')">
              <img
                src="/img/design/icon-remove-white.png"
                alt> Remove all strategies
            </a>
          </div>
        </div>
        <div
          v-show="groupSelected === group"
          class="panel-contents">
          <div
            :class="{'strategy-list': view!=='datatable', 'analyse': view==='datatable'}"
            class="datatable">
            <div
              v-if="view==='datatable'"
              class="clearfix heading">
              <div style="width:34%"/>
              <div
                v-for="field in dataTableCols"
                :style="{width: (66/dataTableColsCount)+'%'}"
                :key="field"
                class="text-center">
                <button
                  class="btn"
                  @click="changeSortby(`${period}_${field}`)">
                  <span v-if="sortby === `${period}_${field}`">
                    <i
                      :class="{'fa-sort-up':(sortorder>0),'fa-sort-down':(sortorder<0)}"
                      class="fa"/>
                  </span>
                  <span v-else>
                    <i class="fa fa-sort"/>
                  </span>
                </button>
              </div>
            </div>
            <div class="scrolling">
              <bar-list-item
                v-for="item in data"
                :key="item.indexinfo_id"
                :item="item"
                :period="period"
                :weighting="weighting"
                :set-menu="setMenu"
                :active-key="activeKey"
                :lock-list="uiLocked"
                :set-action="setAction"
                :weighting-list="uiWeighting"
                :show-strategy-menu="showStrategyMenu"
                :suspend-list="uiSuspend"
                :is-invalid="isInvalid"
                :highlight-index="highlightIndex"
                :unhighlight-index="unhighlightIndex"
                :lock-strategy="lockStrategy"
                :manual-weighting="manualWeighting"
                :pin-index="pinIndex"
                :remove-strategy="removeStrategy"
                :suspend-strategy="suspendStrategy"
                :unsuspend-strategy="unsuspendStrategy"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ _ alert analytics */
const { getStrategiesAnalytics } = require('../../../util/strategy');
const {
  models,
} = require('../../../util/config');

import barListItem from './bar-list-item.vue';

const apiPortfolios = require('../../../api/portfolios');
const { LAB_ACTION } = require('../../../store/module/lab');
const { COR_ACTION } = require('../../../store/module/correlation');
const { VOL_ACTION } = require('../../../store/module/volatility');
const ACTION = require('../../../store/mutation-type');
const { checksInsensitive } = require('../../../lib/lodash-helper');
const { PERIOD } = require('../../../util/period');
const map = require('lodash/fp/map');
const curry = require('lodash/fp/curry');

const omitInfo = curry(x => _.isObject(x) ? _.omit(x, 'indexinfo') : x);
const createNoReactiveData = (prop) => {
  prop.compareDate = {
    maxDate: prop.common.maxDate,
    custMaxDate: prop.common.custMaxDate,
    livePeriod: prop.common.periods.live,
    minPeriod: prop.common.periods.min,
    customPeriod: prop.common.periods.custom,
  };
  prop.basePayload = {
    custMaxDate: prop.common.maxDate,
    maxDate: prop.common.maxDate,
    periods: prop.common.periods,
  };
  prop.colors = [
    'color1',
    'color2',
    'color3',
    'color4',
    'color5',
    'color6',
  ];
  prop.pinMax = 6;
};
export default {
  name: 'BarList',
  components: {
    'bar-list-item': barListItem,
  },
  data() {
    return {
      isInvalid: false,
      initData: false,
      period: '5y',
      activeKey: '5y_active',
      weightings: {},
      showGroupMenu: '',
      factorGroup: {},
      activeCount: {},
      allGroup: [],
      assetClassGroup: {},
      invalidGroup: [],
      sortorder: -1,
      uiLocked: {},
      uiSuspend: {},
      uiWeighting: {},
      showStrategyMenu: 0,
      liveChange: false,
      lastActiveSelect: null,
      highlightId: null,
    };
  },
  computed: {
    sortby() {
      return this.$store.state.lab.backtesting.sortby || '';
    },
    portfolioId() {
      return this.$store.state.lab.backtesting.portfolio_id || 0;
    },
    groupBy() {
      return this.$store.state.lab.backtesting.groupBy || 'all';
    },
    weighting() {
      return this.$store.state.lab.backtesting.weighting || 'equal';
    },
    strategyIds() {
      return this.$store.state.lab.backtesting.strategyIds || [];
    },
    dataTableCols() {
      return this.$store.state.lab.backtesting.dataTableCols || [];
    },
    allocationOptions() {
      return this.$store.state.lab.backtesting.allocationOptions || {};
    },
    customBaseOptions() {
      return this.$store.state.lab.backtesting.customBaseOptions || {};
    },
    baseRebalancingList() {
      return this.$store.state.lab.backtesting.rebalancingList || {};
    },
    dataTableColsCount() {
      return this.dataTableCols.length || 1;
    },
    groupSelected() {
      return this.$store.state.lab.backtesting.groupSelected || null;
    },
    pinned() {
      return this.$store.state.lab.backtesting.pinned || {};
    },
    view() {
      return this.$store.state.lab.view || 'trackrecord';
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    common() {
      return this.$store.state.lab.common;
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    volality() {
      return this.$store.state.vol.portfolios[this.portfolioId] || {};
    },
    strategies() {
      return this.$store.state.strategies;
    },
    portfolio() {
      return this.$store.state.portfolios[this.portfolioId] || {};
    },
    indices() {
      return this.$store.state.portfolioIndices[this.portfolioId] || [];
    },
  },
  watch: {
    common() {
      this.period = this.common.dataPeriod || '5y';
      this.basePayload = _.cloneDeep(this.common);
      this.activeKey = `${this.period}_active`;
      if (this.initData) {
        if (this.period === PERIOD.CUST && (this.compareDate.custMaxDate !== this.common.custMaxDate ||
          this.compareDate.customPeriod !== this.common.periods.custom)) {
          this.$store.commit(VOL_ACTION.CLEAR, {
            type: 'portfolios',
            period: PERIOD.CUST,
            id: this.portfolioId,
          });
          this.$store.commit(COR_ACTION.CLEAR, {
            field: 'strategies',
            key: PERIOD.CUST,
          });
          this.loadData({ portfolioChange: false, livePeriodChange: false });
        } else if (!this.loading) {
          this.startAnalysis();
          const group = this.groupSelected === null ? this.lastActiveSelect : this.groupSelected;
          window.eventBus.$emit('render_lab_graph', {
            mode: 'changePeriod',
            loadData: false,
            groups: this.getGroup(group, this.groupBy),
          });
        }
      }
      this.compareDate = {
        maxDate: this.common.maxDate,
        custMaxDate: this.common.custMaxDate,
        livePeriod: this.common.periods.live,
        minPeriod: this.common.periods.min,
        customPeriod: this.common.periods.custom,
      };
    },
    weighting(newValue, oldValue) {
      if (this.initData) {
        if (oldValue) {
          if (newValue !== 'custom' || Object.keys(this.baseRebalancingList).length > 0) {
            this.weightAdjust();
          } else {
            window.eventBus.$emit('allocationConfiguration');
          }
        }
      }
    },
    groupBy() {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'groupSelected',
        choice: null,
      });
      window.eventBus.$emit('render_lab_graph', {
        mode: 'hidden',
      });
    },
    analyseItem(newItem) {
      if (newItem.id && this.$store.state.lab.tool === 'backtesting') {
        this.initAllData();
      }
    },
  },
  async created() {
    createNoReactiveData(this);
    await this.initAllData();
  },
  mounted() {
    const that = this;
    $('body').click(that.menuEvent);
    $(window).resize(that.setScrollPanels);
    window.eventBus.$on('addStrategyForAnalysis', this.addStrategy);
    window.eventBus.$on('changeallocation', this.changeAllocationHandler);
    window.eventBus.$on('highlightIndex', this.highlightIndex);
    window.eventBus.$on('unhighlightIndex', this.unhighlightIndex);
  },
  beforeDestroy() {
    const that = this;
    this.$off();
    window.eventBus.$off('addStrategyForAnalysis', that.addStrategy);
    window.eventBus.$off('highlightIndex');
    window.eventBus.$off('unhighlightIndex');
    window.eventBus.$off('changeallocation');
    $('body').off('click', that.menuEvent);
    $(window).off('resize', that.setScrollPanels);
  },
  methods: {
    async changeAllocationHandler({ mode = 'changeallocation' }) {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      await this.loadData({ livePeriodChange: false, skipLoadPortfolio: true });
    },
    async loadData({ portfolioChange = true, livePeriodChange = true, skipLoadPortfolio = false }) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      const { emptyStrategyIds, otherStrategyIds } = this.checkPortfolioCall({ portfolioChange, livePeriodChange });
      await this.loadPortfolioData({
        emptyStrategyIds,
        otherStrategyIds,
        portfolioChange,
        livePeriodChange,
        skipLoadPortfolio,
      });
      this.startAnalysis();
      const group = this.groupSelected === null ? this.lastActiveSelect : this.groupSelected;
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
      window.eventBus.$emit('render_lab_graph', {
        groups: this.getGroup(group, this.groupBy),
        mode: !portfolioChange ? 'changePeriod' : '',
        loadData: true,
      });
    },
    async loadPortfolioData({
      emptyStrategyIds = [],
      otherStrategyIds = [],
      portfolioChange = true,
      livePeriodChange = true,
      skipLoadPortfolio = false,
    }) {
      const payload = {
        volMeasure: '30d',
      };
      const vuexActions = [
        this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO_INDICES, {
          id: this.portfolioId,
          freeze: true,
        }),
      ];
      if (!skipLoadPortfolio) {
        vuexActions.push(this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO_DETAILS_V2, {
          ids: [this.portfolioId],
          payloads: this.getPortfolioPayload({ payload, portfolioChange }),
          freeze: true,
          reset: portfolioChange,
          showError: true,
        }));
      }
      if (emptyStrategyIds.length > 0) {
        vuexActions.push(this.$store.dispatch(ACTION.API_FETCH_STRATEGY_DETAILS_v2, {
          ids: emptyStrategyIds,
          payloads: this.getStrategyPayload({ livePeriodChange: true }),
          freeze: true,
        }));
      }
      if (otherStrategyIds.length > 0) {
        vuexActions.push(this.$store.dispatch(ACTION.API_FETCH_STRATEGY_DETAILS_v2, {
          ids: otherStrategyIds,
          payloads: this.getStrategyPayload({ livePeriodChange, isEmpty: false }),
          freeze: true,
        }));
      }
      await Promise.settleAll(vuexActions);
      this.trackComputation();
    },
    getPortfolioPayload({ payload, portfolioChange = true }) {
      const customPeriod = {
        ...payload,
        maxDate: this.basePayload.custMaxDate,
        periods: {
          min: this.basePayload.periods.min,
          custom: this.basePayload.periods.custom,
        },
      };
      if (portfolioChange) {
        if (this.basePayload.periods.custom !== undefined) {
          return [undefined, customPeriod];
        }
        return [undefined];
      }
      return [customPeriod];
    },
    getStrategyPayload({ livePeriodChange = true, isEmpty = true }) {
      const customPeriod = {
        maxDate: this.basePayload.custMaxDate,
        periods: {
          min: this.basePayload.periods.min,
          custom: this.basePayload.periods.custom,
        },
      };
      const { custom, ...periods } = this.basePayload.periods;
      const normalPeriod = {
        maxDate: this.basePayload.maxDate,
        periods: {
          live: this.basePayload.periods.live,
          min: this.basePayload.periods.min,
        },
      };
      if (isEmpty) {
        normalPeriod.periods = periods;
      }
      if (livePeriodChange) {
        if (this.basePayload.periods.custom !== undefined) {
          return [normalPeriod, customPeriod];
        }
        return [normalPeriod];
      }
      return [customPeriod];
    },
    checkPortfolioCall({ portfolioChange = true, livePeriodChange = true }) {
      const emptyStrategyIds = this.strategyIds.filter(id => !(this.strategies[id] !== undefined
        && this.strategies[id].live_track !== undefined));
      const otherStrategyIds = this.strategyIds.filter(id => !emptyStrategyIds.includes(id)
        && (!portfolioChange || livePeriodChange));
      return { emptyStrategyIds, otherStrategyIds };
    },
    startAnalysis() {
      console.log('setting up groups');
      // set up the groups
      this.setUIList(); //for children
      this.isPortfolioInvalid();
      if (this.isInvalid) {
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'groupSelected',
          choice: null,
        });
      }
      this.setAllGroups();
      this.setPins();
      this.countActive();
      this.calWeighting();
    },
    isStrategyInvalid(strategy) {
      // 3 invalid cases.
      return strategy[`${this.period}_active`] === 0 || strategy.is_suspended === 1;
    },
    isPortfolioInvalid() {
      if (this.portfolio[`${this.period}_active`] === 0) this.isInvalid = true;
      else this.isInvalid = false;
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'isInvalid',
        choice: this.isInvalid,
      });
    },
    setAllGroups() {
      const factorGroup = {};
      const assetClassGroup = {};
      const allGroup = [];
      const invalidGroup = [];
      this.indices.forEach((o) => {
        const strategy = this.strategies[o.indexinfo_id];
        if (this.isStrategyInvalid(strategy)) {
          invalidGroup.push(o);
        } else {
          allGroup.push(o);
          if (!assetClassGroup[strategy.assetClass]) assetClassGroup[strategy.assetClass] = [];
          assetClassGroup[strategy.assetClass].push(o);
          if (!factorGroup[strategy.factor]) factorGroup[strategy.factor] = [];
          factorGroup[strategy.factor].push(o);
        }
      });
      this.sortAllGroups(factorGroup, assetClassGroup, allGroup, invalidGroup);
    },
    setPins() {
      const pinned = {};
      const removeIndices = Object.keys(this.pinned).filter(x => !this.strategyIds.includes(+x));
      removeIndices.forEach(id => this.colors.push(this.pinned[id]));
      this.indices.forEach((o) => {
        if (!this.pinned[o.indexinfo_id]) {
          return null;
        }
        const strategy = this.strategies[o.indexinfo_id];
        if (this.isStrategyInvalid(strategy) && o.suspended === 1) {
          this.colors.push(this.pinned[o.indexinfo_id]);
        } else {
          pinned[o.indexinfo_id] = this.pinned[o.indexinfo_id];
        }
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'pinned',
        choice: pinned,
      });
      this.colors.sort();
    },
    countActive() {
      const count = {};
      count.invalid = this.invalidGroup.length;
      count.all = this.allGroup.filter(o => o.suspended === 0).length;
      Object.keys(this.assetClassGroup).forEach((key) => {
        count[key] = this.assetClassGroup[key].filter(o => o.suspended === 0).length;
      });
      Object.keys(this.factorGroup).forEach((key) => {
        count[key] = this.factorGroup[key].filter(o => o.suspended === 0).length;
      });
      this.activeCount = count;
      this.$store.dispatch(LAB_ACTION.SET_CHOICE, {
        field: 'activeStrategies',
        choice: count.all,
      });
    },
    calWeighting() {
      const calweight = (total, index) => {
        if (index.suspended === 1) return total;
        const weight = this.weighting === 'equal' ? index.equal_weighting : index.weighting;
        return total + parseFloat(weight);
      };
      const weightings = {};
      if (['equal', 'manual'].includes(this.weighting)) {
        weightings.invalid = this.invalidGroup.reduce(calweight, 0);
        weightings.all = this.allGroup.reduce(calweight, 0);
        Object.keys(this.assetClassGroup).forEach((key) => {
          weightings[key] = this.assetClassGroup[key].reduce(calweight, 0);
        });
        Object.keys(this.factorGroup).forEach((key) => {
          weightings[key] = this.factorGroup[key].reduce(calweight, 0);
        });
      }
      this.weightings = weightings;
    },
    sortIndices(first, second) {
      const a = this.strategies[first.indexinfo_id];
      const b = this.strategies[second.indexinfo_id];
      if (this.sortby === '') {
        if (checksInsensitive(_.lt, a.shortName, b.shortName)) { return -1; }
        if (checksInsensitive(_.gt, a.shortName, b.shortName)) { return 1; }
        return 0;
      }
      return this.sortorder * (parseFloat(a[this.sortby]) - parseFloat(b[this.sortby]));
    },
    changeSortby(sortby) {
      if (this.sortby === sortby) {
        this.sortorder = this.sortorder * -1;
      } else {
        this.sortorder = -1;
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'sortby',
        choice: sortby,
      });
      this.sortAllGroups(this.factorGroup, this.assetClassGroup, this.allGroup, this.invalidGroup);
    },
    sortAllGroups(factorGroup, assetClassGroup, allGroup, invalidGroup) {
      const factor = {};
      const asset = {};
      Object.keys(factorGroup).forEach((key) => {
        const sortItem = factorGroup[key];
        sortItem.sort(this.sortIndices);
        factor[key] = sortItem;
      });
      Object.keys(assetClassGroup).forEach((key) => {
        const sortItem = assetClassGroup[key];
        sortItem.sort(this.sortIndices);
        asset[key] = sortItem;
      });
      allGroup.sort(this.sortIndices);
      invalidGroup.sort(this.sortIndices);
      this.factorGroup = factor;
      this.assetClassGroup = asset;
      this.allGroup = allGroup;
      this.invalidGroup = invalidGroup;
    },
    toggleGroupMenu(group) {
      if (this.showGroupMenu === group) {
        this.showGroupMenu = '';
      } else {
        this.showGroupMenu = group;
      }
    },
    toggleSelectGroup(group) {
      if (this.groupSelected === group) {
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'groupSelected',
          choice: null,
        });
        window.eventBus.$emit('render_lab_graph', {
          mode: 'hidden',
        });
      } else {
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'groupSelected',
          choice: group,
        });
        window.eventBus.$emit('render_lab_graph', {
          mode: this.lastActiveSelect === group ? 'selectNoChange' : 'selectChange',
          groups: this.getGroup(group, this.groupBy),
        });
      }
      this.lastActiveSelect = group;
    },
    getGroup(group, groupClass) {
      switch (groupClass) {
        case 'all':
          return this.allGroup;
        case 'invalid':
          return this.invalidGroup;
        case 'assetClass':
          return this.assetClassGroup[group];
        case 'factor':
          return this.factorGroup[group];
        default:
          return [];
      }
    },
    setBasePayload(data) {
      this.basePayload = _.cloneDeep(this.common);
      this.basePayload.periods.min = data.periods.min;
      this.basePayload.periods.live = data.periods.live;
      if (this.common.periods[PERIOD.CUST]) {
        if (this.basePayload.periods[PERIOD.CUST] < data.periods.min) this.basePayload.periods[PERIOD.CUST] = data.periods.min;
        if (this.basePayload.custMaxDate > data.maxDate || this.basePayload.custMaxDate < data.periods.min) this.basePayload.custMaxDate = data.maxDate;
      }
    },
    async initAllData() {
      this.initData = false;
      this.colors = [
        'color1',
        'color2',
        'color3',
        'color4',
        'color5',
        'color6',
      ];
      if (this.loading) { // means need to load analysing.
        const { slug } = this.analyseItem;
        const { data } = await apiPortfolios.loadOneDraft(slug);
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          choice: data.analysing,
        });
        this.setBasePayload(data);
        this.$store.commit(COR_ACTION.CLEAR, {
          key: 'all',
          field: 'portfolios',
        });
        this.$store.commit(COR_ACTION.CLEAR, {
          field: 'strategies',
          key: PERIOD.CUST,
        });
        this.$store.commit(COR_ACTION.CLEAR, {
          field: 'strategies',
          key: 'live',
        });
        window.eventBus.$emit('updatePeriods', {
          periods: data.periods,
          maxDate: data.maxDate,
        });
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'sortby',
        choice: '',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'pinned',
        choice: {},
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'groupSelected',
        choice: null,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 0,
      });
      window.eventBus.$emit('render_lab_graph', {
        mode: 'hidden',
      });
      this.checkRightPeriod();
      await this.loadData({});
      this.initData = true;
    },
    async updatePortfolio(id, payload) {
      const { data } = await apiPortfolios.putPortfolio(id, payload);
      if (payload.mode !== 'reallocateindices') {
        const { rebalancingList = {} } = data;
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'rebalancingList',
          choice: rebalancingList,
        });
      }
      const livePeriodchange = data.periods.live !== this.common.periods.live;
      this.setBasePayload(data);
      const { strategyIds } = data.portfolio;
      const { allocationOptions } = data.portfolio;
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'strategyIds',
        choice: strategyIds,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'allocationOptions',
        choice: JSON.parse(allocationOptions),
      });
      this.$store.commit(COR_ACTION.CLEAR, {
        key: 'all',
        field: 'portfolios',
      });
      if (livePeriodchange) {
        this.$store.commit(COR_ACTION.CLEAR, {
          field: 'strategies',
          key: 'live',
        });
      }
      window.eventBus.$emit('updatePeriods', {
        periods: data.periods,
        maxDate: data.maxDate,
      });
      return livePeriodchange;
    },
    async weightAdjust() {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      await this.updatePortfolio(this.portfolioId, {
        weighting: this.weighting,
        mode: 'changeweighting',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange: false });
    },
    async lockStrategy(index, locked) {
      if (locked === 0) {
        this.$store.commit(LAB_ACTION.SET_LOADING, true);
      }
      const lockedStragegy = Object.assign({}, index, { locked });
      await this.updatePortfolio(this.portfolioId, {
        indices: [omitInfo(lockedStragegy)],
        mode: 'reallocateindices',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      if (locked === 0) {
        this.loadData({ livePeriodChange: false });
      }
    },
    async manualWeighting(index, weighting) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      const changedStragegy = Object.assign({}, index, { weighting, locked: 1 });
      await this.updatePortfolio(this.portfolioId, {
        indices: [omitInfo(changedStragegy)],
        mode: 'reallocateindices',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange: false });
    },
    async suspendAll(group, groupClass) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.showGroupMenu = '';
      const groups = this.getGroup(group, groupClass);
      groups.forEach((o) => {
        this.$set(this.uiSuspend, o.indexinfo_id, 1);
      });
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        indices: map(omitInfo(), groups),
        mode: 'batchSuspend',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    async unsuspendAll(group, groupClass) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.showGroupMenu = '';
      const groups = this.getGroup(group, groupClass);
      groups.forEach((o) => {
        this.$set(this.uiSuspend, o.indexinfo_id, 0);
      });
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        indices: map(omitInfo(), groups),
        mode: 'batchUnsuspend',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    async removeAll(group, groupClass) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.showGroupMenu = '';
      const groups = this.getGroup(group, groupClass);
      if (group === 'all') {
        this.allGroup = [];
      } else if (group === 'invalid') {
        this.invalidGroup = [];
      } else {
        this.$delete(this[`${groupClass}Group`], group);
      }
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        indices: map(omitInfo(), groups),
        mode: 'removeIndices',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    async removeStrategy(item) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      const strategy = this.strategies[item.indexinfo_id];
      if (this.isStrategyInvalid(strategy)) {
        const idx = this.invalidGroup.findIndex(o => o.indexinfo_id === item.indexinfo_id);
        if (idx >= 0) {
          this.invalidGroup.splice(idx, 1);
        }
      } else if (this.groupBy === 'all') {
        const idx = this.allGroup.findIndex(o => o.indexinfo_id === item.indexinfo_id);
        if (idx >= 0) {
          this.allGroup.splice(idx, 1);
        }
      } else {
        const idx = this[`${this.groupBy}Group`][this.groupSelected].findIndex(o => o.indexinfo_id === item.indexinfo_id);
        if (idx >= 0) {
          this[`${this.groupBy}Group`][this.groupSelected].splice(idx, 1);
        }
      }
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        indices: [omitInfo(item)],
        mode: 'removeIndices',
        period: this.period,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    async addStrategy({ strategies = [] }) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      const addIndices = strategies.map((x) => {
        const data = { id: x };
        return data;
      });
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        mode: 'attachindices',
        indices: addIndices,
        period: this.period,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    async suspendStrategy(item) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.$set(this.uiSuspend, item.indexinfo_id, 1);
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        indices: [omitInfo(item)],
        mode: 'batchSuspend',
        period: this.period,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    async unsuspendStrategy(item) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.$set(this.uiSuspend, item.indexinfo_id, 0);
      const livePeriodChange = await this.updatePortfolio(this.portfolioId, {
        indices: [omitInfo(item)],
        mode: 'batchUnsuspend',
        period: this.period,
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      this.loadData({ livePeriodChange });
    },
    checkRightPeriod() {
      const currentPeriod = this.basePayload.dataPeriod;
      let changePeriod = null;
      if (currentPeriod && this.basePayload.periods[currentPeriod] < this.basePayload.periods.min) {
        for (const key in this.basePayload.periods) {
          if ((this.basePayload.periods[key] >= this.basePayload.periods.min) && key !== 'min') {
            if (!changePeriod || this.basePayload.periods[key] < this.basePayload.periods[changePeriod]) {
              changePeriod = key;
              this.basePayload.dataPeriod = key;
            }
          }
        }
        if (!changePeriod) {
          changePeriod = PERIOD.CUST;
          this.basePayload.periods[PERIOD.CUST] = this.basePayload.periods.min;
          this.basePayload.custMaxDate = this.basePayload.maxDate;
        }
      }
      window.eventBus.$emit('updatePeriods', _.cloneDeep({
        period: changePeriod || null,
        periods: this.basePayload.periods,
        maxDate: this.basePayload.maxDate,
      }));
    },
    // for children
    highlightIndex(index, fromDom) {
      if (this.highlightId !== null) {
        this.unhighlightIndex({
          indexinfo: {
            id: this.highlightId,
          },
        });
      }
      this.highlightId = index.indexinfo.id;
      $('#hover-correlation').text('');
      $(`#row-${index.indexinfo.id}`).addClass('pinned-row');
      if (!fromDom) {
        try {
          const data = $(`#row-${index.indexinfo.id}`).length;
          if (data > 0) {
            const top = $(`#row-${index.indexinfo.id}`).parent()[0].offsetTop;
            $('.bottom-portfolio .sidebar-filters').scrollTop(top);
          }
        } catch (e) {
          console.error(e);
        }
      }
      if (index.suspended === 1) {
        $('#hover-correlation').text(`${index.indexinfo.shortName} is suspended.`);
      }
      const idTarget = `g${index.indexinfo.id}`;

      $('.correlation-highlight-row').removeClass('correlation-highlight-row');
      if (this.view === 'trackrecord') {
        $(`.amcharts-graph-${idTarget} .amcharts-graph-stroke`).addClass('highlight-chart');
      }
      if (this.view === 'xy') {
        $(`.amcharts-graph-line.amcharts-graph-${idTarget} .amcharts-graph-bullet`).addClass('highlight-dot');
      }
      //subgraph highlight
      if (this.view === 'trackrecord' || this.view === 'xy') {
        $(`.amcharts-graph-allocation-${index.indexinfo.id} .amcharts-graph-stroke`).addClass('highlight-chart');
        $(`.amcharts-graph-allocation-${index.indexinfo.id} .amcharts-graph-fill`).addClass('highlight-fill');
        $(`.contribution-${index.indexinfo.id} .amcharts-graph-column-element`).addClass('highlight-column');
      }
      if (this.view === 'correlation_matrix') {
        const id = `correlationscatter-${index.indexinfo.id}`;
        $(`.amcharts-graph-${id} .amcharts-graph-bullet`).addClass('highlight-dot');
        $(`#correlation-matrix-${index.indexinfo.id}`).addClass('correlation-highlight-row');
      }
    },
    unhighlightIndex(index) {
      if (this.highlightId !== index.indexinfo.id && this.highlightId !== null) {
        this.unhighlightIndex({
          indexinfo: {
            id: this.highlightId,
          },
        });
      }
      this.highlightId = null;
      $('.correlation-highlight-row').removeClass('correlation-highlight-row');
      $(`#row-${index.indexinfo.id}`).removeClass('pinned-row');
      const idTarget = `g${index.indexinfo.id}`;

      if (this.view === 'trackrecord') {
        $(`.amcharts-graph-${idTarget} .amcharts-graph-stroke`).removeClass('highlight-chart');
      }

      if (this.view === 'xy') {
        $(`.amcharts-graph-line.amcharts-graph-${idTarget} .amcharts-graph-bullet`).removeClass('highlight-dot');
      }
      if (this.view === 'trackrecord' || this.view === 'xy') {
        $(`.amcharts-graph-allocation-${index.indexinfo.id} .amcharts-graph-stroke`).removeClass('highlight-chart');
        $(`.amcharts-graph-allocation-${index.indexinfo.id} .amcharts-graph-fill`).removeClass('highlight-fill');
        $(`.contribution-${index.indexinfo.id} .amcharts-graph-column-element`).removeClass('highlight-column');
      }
      if (this.view === 'correlation_matrix') {
        const id = `correlationscatter-${index.indexinfo.id}`;
        $(`.amcharts-graph-${id} .amcharts-graph-bullet`).removeClass('highlight-dot');
        $(`#correlation-matrix-${index.indexinfo.id}`).removeClass('correlation-highlight-row');
      }
    },
    setUIList() {
      const locked = {};
      const suspend = {};
      const weighting = {};
      this.indices.forEach((o) => {
        locked[o.indexinfo_id] = o.locked;
        suspend[o.indexinfo_id] = o.suspended;
        weighting[o.indexinfo_id] = parseFloat(o.weighting);
      });
      this.uiLocked = locked;
      this.uiSuspend = suspend;
      this.uiWeighting = weighting;
    },
    setAction(name, field, value) {
      this.$set(this[name], field, value);
    },
    setMenu(id) {
      this.showStrategyMenu = id;
    },
    menuEvent() {
      if (this.showStrategyMenu !== 0) {
        this.showStrategyMenu = 0;
      }
    },
    pinIndex(index) {
      if (!this.pinned[index.indexinfo_id]) {
        if (Object.keys(this.pinned).length < 6) {
          const pin = {
            [index.indexinfo_id]: this.colors.shift(),
          };
          const pinned = Object.assign({}, this.pinned, pin);
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'pinned',
            choice: pinned,
          });
          window.eventBus.$emit('render_lab_graph', {
            groups: this.getGroup(this.groupSelected, this.groupBy),
            mode: 'changePins',
          });
        } else {
          swal('Whoops!', 'Max pins reached.', 'error');
        }
      } else {
        this.unpinIndex(index);
      }
    },
    unpinIndex(index) {
      if (this.pinned[index.indexinfo_id]) {
        this.colors.push(this.pinned[index.indexinfo_id]);
        this.colors.sort();
        const pinned = Object.assign({}, this.pinned);
        delete pinned[index.indexinfo_id];
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'pinned',
          choice: pinned,
        });
        window.eventBus.$emit('render_lab_graph', {
          groups: this.getGroup(this.groupSelected, this.groupBy),
          mode: 'changePins',
        });
      }
    },
    setScrollPanels() {
      const that = this;
      if ($('.bottom-portfolio').length) {
        const heightLeft = $(window).height() - $('.bottom-portfolio').position().top;
        $('.bottom-portfolio .sidebar-filters').height(heightLeft);
      } else {
        setTimeout(() => {
          that.setScrollPanels();
        }, 100);
      }
    },
    trackComputation() {
      try {
        // Period and Model
        const computation = {
          'Computed Period': this.common.period,
          'Computed Model': models[this.weighting],
        };
        // Options
        _.assign(computation, _.mapKeys(_.pick(this.allocationOptions, [
          // Equal/Manual Weighting Options / Vol Risk Parity Options
          'volatility_interval', 'rebalancing', 'rebalancing_date', 'rebalancing_cost', 'replication_cost',
          // Leverage Paramaters
          'leverage_type', 'target_volatility', 'target_interval', 'leverage_min', 'leverage_max',
          'fixed_leverage'
        ]), (value, key) => `Computed ${_.startCase(key)}`));
        // Allocation Constraints
        const isRiskOrErc = ['erc', 'risk'].includes(this.weighting);
        const primary = this.allocationOptions.primary_allocation_constraint;
        if (primary !== 'None' && isRiskOrErc) {
          computation['Computed Primary Allocation Constraint'] = primary;
        }
        const secondary = this.allocationOptions.secondary_allocation_constraint;
        if (secondary !== 'None' && isRiskOrErc) {
          computation['Computed Secondary Allocation Constraint'] = secondary;
        }
        // Strategies
        const strategies = getStrategiesAnalytics(this.indices.map(o => o.indexinfo));
        Object.assign(computation, strategies);
        analytics.track('Computed Portfolio', computation);
      } catch (e) {
        console.error(e);
      }
    },
  },
};
</script>
