<template>
  <div
    class="panel-heading"
    style="padding-top: 0px;">
    <button
      :disabled="loading"
      class="btn btn-primary col-sm-12"
      style="height:36px;"
      @click="showAllocationConfiguration()">
      <i
        class="icon icon-cog-white"
        style="position:absolute;right:75%"/>Rebalancing Options
    </button>
    <div
      class="row"
      style="padding-top:62px;">
      <div class="col-sm-7 col-xs-8">
        <button
          :disabled="loading"
          class="btn btn-outline form-control"
          @click="showStrategiesFunction()">
          <i class="fa fa-plus"/> Add Strategies
        </button>
      </div>
      <div class="col-sm-5 col-xs-4">
        <button
          :class="{'btn-outline':saveButtonActive===0,'btn-blue':saveButtonActive===1,'btn-red':saveButtonActive===2}"
          :disabled="saveButtonActive===0"
          class="btn form-control"
          @click="savePortfolio()">
          <span v-show="saveButtonActive!==2">Save</span>
          <span v-show="saveButtonActive===2">Saving...</span>
        </button>
      </div>
    </div>
    <div
      class="row"
      style="padding-top:28px">
      <div
        class="col-sm-7 col-xs-8">
        <div class="dropdown">
          <button
            id="dropdownWeighting"
            :disabled="loading"
            class="btn btn-default dropdown-toggle select-small-button"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{ weightingOptions[weighting] }}
            <span class="caret select-caret"/>
          </button>
          <ul
            class="dropdown-menu select-option"
            aria-labelledby="dropdownWeighting">
            <li
              v-for="(label,val) in weightingOptions"
              v-if="isPremiumCustomModelPlan || !['custom'].includes(val)"
              :key="label"
              :class="{ 'disable-links': !isPremiumCustomModelPlan && ['custom'].includes(val) }"
              class="tooltip-container">
              <a
                :class="{ active: weighting === val }"
                class="dropdown-item"
                @click="setWeight(val)">{{ label }}</a>
              <div
                v-if="!isPremiumCustomModelPlan && ['custom'].includes(val)"
                class="tooltip-popover">
                This function is for Premium + Custom Model User only. Please contact <a href="mailto:admin@engagingenterprises.co?subject=Upgrade%20to%20Premium%20Request">engagingenterprises</a> to upgrade your account.
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 col-xs-4">
        <div class="dropdown">
          <button
            id="dropdownGroupBy"
            :disabled="loading"
            class="btn btn-default dropdown-toggle select-small-button"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{ groupByOptions[groupBy] }}
            <span class="caret select-caret"/>
          </button>
          <ul
            class="dropdown-menu select-option"
            aria-labelledby="dropdownGroupBy">
            <li
              v-for="(label,val) in groupByOptions"
              :key="label">
              <a
                :class="{'active': groupBy === val}"
                class="dropdown-item"
                @click="setGroupBy(val)">{{ label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global swal */
const { LAB_ACTION } = require('../../../store/module/lab');
const apiPortfolios = require('../../../api/portfolios');
const { models } = require('../../../util/config');

export default {
  name: 'BtBarOptions',
  props: {
    user: {
      type: Object,
      default: () => {},
    },
    showStrategies: {
      type: Function,
      default: null,
    },
    updateOnePortfolio: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      weightingOptions: models,
      groupByOptions: {
        assetClass: 'Sort by Asset',
        factor: 'Sort by Factor',
        all: 'Show All',
      },
    };
  },
  computed: {
    isPremiumCustomModelPlan() {
      return this.user.user_type === 'admin' || this.user.subscriptions.some(o => ['Premium + Custom Model'].includes(o.name));
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    portfolioId() {
      return this.$store.state.lab.backtesting.portfolio_id || 0;
    },
    customBaseOptions() {
      return this.$store.state.lab.backtesting.customBaseOptions || {};
    },
    weighting() {
      return this.$store.state.lab.backtesting.weighting || '';
    },
    groupBy() {
      return this.$store.state.lab.backtesting.groupBy || '';
    },
    saveButtonActive() {
      return this.$store.state.lab.backtesting.saveButton || 0;
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    strategyIds() {
      return this.$store.state.lab.backtesting.strategyIds || [];
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    dynamicPadding() {
      return 'padding-top:13px';
    },
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    setWeight(weight) {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'weighting',
        choice: weight,
      });
    },
    showStrategiesFunction() {
      if (this.loading) {
        return null;
      }
      const results = {
        ids: this.strategyIds,
        period: this.period,
      };
      this.showStrategies(results);
    },
    setGroupBy(groupBy) {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'groupBy',
        choice: groupBy,
      });
    },
    async savePortfolio() {
      if (this.saveButtonActive !== 1) {
        return null;
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 2,
      });
      try {
        await apiPortfolios.putPortfolio(this.$store.state.lab.backtesting.portfolio_id, {
          mode: 'saveOriginal',
          title: null,
          indices: [],
        });
        this.updateOnePortfolio(this.analyseItem.id);
      } catch (error) {
        swal('Whoops!', 'Unable to compute the portfolio using given rebalancing options.', 'error');
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 0,
      });
    },
    showAllocationConfiguration() {
      if (this.weighting === 'custom' && Object.keys(this.customBaseOptions).length !== 0) {
        window.eventBus.$emit('customRebalancingList', { init: false });
      } else {
        window.eventBus.$emit('allocationConfiguration');
      }
    },
  },
};
</script>
