<template>
  <div class="data-row-parent">
    <div
      :id="`row-${item.indexinfo_id}`"
      :class="itemClass"
      class="data-row"
      @mouseenter="checkHighlight"
      @mouseleave="checkUnhighlight">
      <a
        v-if="suspended"
        class="suspend_overlay"
        @click="unsuspendStrategy(item)"/>
      <div
        v-show="!edit && !suspended && !isInvalid"
        class="pinColumn">
        <button
          :class="{'pinned': !!color}"
          class="btn"
          @click="pinIndex(item)">
          <img
            v-if="!color"
            src="img/pin.svg" >
          <svg
            v-else
            id="Layer_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 42.4 42.4"
            style="enable-background:new 0 0 42.4 42.4;"
            xml:space="preserve">
            <path
              :fill="color"
              d="M42.3,17c-0.1-0.3-0.2-0.5-0.5-0.6c-2.2-0.9-4.5-1.3-6.9-1.3c-3.7,0-6.6,1.1-7.7,1.6L15.3,6.6
            c0.4-3.7-1.6-6.2-1.6-6.3C13.5,0.1,13.3,0,13,0c-0.2,0-0.4,0.1-0.6,0.2L0.2,12.4C0.1,12.6,0,12.8,0,13.1c0,0.2,0.1,0.4,0.3,0.6
            C2,15,4.2,15.3,5.7,15.3c0.3,0,0.6,0,0.8,0l10.2,12c-0.7,1.8-2.8,8.2-0.2,14.7c0.1,0.2,0.3,0.4,0.6,0.5c0.1,0,0.1,0,0.2,0
            c0.2,0,0.4-0.1,0.6-0.2l11.7-11.7l10.9,10.9c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.1L30.5,29.4
            l11.6-11.6C42.3,17.6,42.4,17.3,42.3,17L42.3,17z M42.3,17" />
          </svg>
        </button>
      </div>
      <div
        :class="{'fake-panel': view === 'datatable'}"
        :style="`${view !== 'datatable' ? 'width:100%' : ''}`">
        <div style="width:60%;float:left;">
          <a
            :href="`/strategy/${item.indexinfo.code}`"
            class="list-group-item-heading"
            target="_blank"
            rel="noopener noreferrer">{{ item.indexinfo.shortName }}</a>
          <p class="list-group-item-text">
            {{ item.indexinfo.assetClass }} | {{ item.indexinfo.currency }} {{ item.indexinfo.returnCategory }}{{ item.indexinfo.returnType }} {{ item.indexinfo.volTarget }}
            <span v-if="item.indexinfo.type !== 'Strategy'">| <span :class="`highlight-${getStrategyTypeForCss(item.indexinfo).toLowerCase()}`">{{ getStrategyType(item.indexinfo) }}</span></span>
          </p>
        </div>
        <div style="width:5%; padding: 0;float:left;">
          <div v-show="locked && weighting==='manual'">
            <button
              class="btn"
              @click="lockitem()">
              <img
                src="/img/design/icon-lock.png"
                alt>
            </button>
          </div>
          <span>&nbsp;</span>
        </div>
        <div
          v-show="edit && weighting==='manual'"
          style="width:20%;float:left;"
          class="editing">
          <input
            v-model="editWeighting"
            step="0.01"
            min="0"
            max="100"
            class="form-control"
            type="number" >
        </div>
        <div
          v-show="!edit&&stat!=='unUpdated'&&stat!=='unActive'"
          style="width:20%;float:left;">
          <span
            v-if="weighting === 'equal'"
            style="white-space: nowrap;">{{ item.equal_weighting | percentage }}</span>
          <span
            v-else-if="weighting === 'manual'"
            style="white-space: nowrap;">{{ editWeighting | percentage }}</span>
          <span
            v-else
            style="white-space: nowrap;">&nbsp;</span>
        </div>
        <div
          v-show="edit && weighting==='manual'"
          style="width:15%;float:left;"
          class="editing">
          <button
            class="btn"
            @click="saveWeighting()">
            <i class="fa fa-check"/>
          </button>
          <button
            class="btn"
            @click="resetWeighting()">
            <i class="fa fa-remove"/>
          </button>
        </div>
        <div
          v-show="!edit"
          :style="menucColumn"
          style="float:left;"
          class="menu-button-column">
          <span
            v-if="stat==='unActive'"
            class="list-group-item-text data-row-index-invalid-text">Insufficient data for this time period</span>
          <span
            v-if="stat==='unUpdated'"
            class="list-group-item-text data-row-index-suspended-text">Not Updated</span>
          <div
            :class="{'opened':showStrategyMenu===item.indexinfo_id}"
            class="tableoption pull-right">
            <button
              class="btn text-blue"
              @click.stop="toggleStrategyMenu()">
              <i class="fa fa-list"/>
            </button>
            <div
              v-show="showStrategyMenu==item.indexinfo_id"
              class="menu"
              @click.stop="toggleStrategyMenu()">
              <template v-if="stat!=='unUpdated'">
                <a
                  v-if="weighting=='manual' && stat!=='unActive'"
                  @click="edit=true">
                  <img
                    src="/img/design/icon-edit-white.png"
                    alt> Edit allocation
                </a>
                <a
                  v-if="weighting=='manual' && stat!=='unActive'"
                  class="lock"
                  @click="lockitem()">
                  <img
                    src="/img/design/icon-lock-white.png"
                    alt> Toggle Lock
                </a>
                <a @click="suspendCheckStrategy(item)">
                  <img
                    src="/img/design/icon-pause-white.png"
                    alt> Suspend
                </a>
                <a
                  v-if="stat!=='unActive'"
                  @click="addToPortfolio(item)">
                  <img
                    src="/img/design/icon-add-white.png"
                    alt> Add to a Portfolio
                </a>
                <hr
                  v-if="stat!=='unActive'"
                  class="dotted white">
              </template>
              <a @click="removeCheckStrategy(item)">
                <img
                  src="/img/design/icon-remove-white.png"
                  alt> Remove strategy
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        v-show="view === 'datatable'"
        style="width: 4%"
        class="bumper"/>
      <div
        v-for="(field, index) in dataTableCols"
        v-show="view === 'datatable' && !hiddenPeriods[period]"
        :style="{width: (66/dataTableColsCount)+'%'}"
        :key="field"
        :class="{'highlight':(sortby===`${period}_${field}`),'bg-gray':(index%2==0)}"
        class="text-center">
        {{ strategy[`${period}_${field}`] | round_4dp | unit(strategy[`um_${field}`]) }}
      </div>
    </div>

  </div>
</template>
<script>
/* global $ swal */
const stats = [
  'unUpdated',
  'unActive',
  'suspended',
  'active',
];
export default {
  name: 'BarListItem',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    period: {
      type: String,
      default: '5y',
    },
    activeKey: {
      type: String,
      default: '5y_active',
    },
    weighting: {
      type: String,
      default: 'equal',
    },
    setAction: {
      type: Function,
      default: null,
    },
    lockList: {
      type: Object,
      default: () => {},
    },
    weightingList: {
      type: Object,
      default: () => {},
    },
    suspendList: {
      type: Object,
      default: () => {},
    },
    showStrategyMenu: {
      type: Number,
      default: 0,
    },
    isInvalid: {
      type: Boolean,
      default: false,
    },
    setMenu: {
      type: Function,
      default: null,
    },
    highlightIndex: {
      type: Function,
      default: null,
    },
    unhighlightIndex: {
      type: Function,
      default: null,
    },
    pinIndex: {
      type: Function,
      default: null,
    },
    removeStrategy: {
      type: Function,
      default: null,
    },
    unsuspendStrategy: {
      type: Function,
      default: null,
    },
    suspendStrategy: {
      type: Function,
      default: null,
    },
    lockStrategy: {
      type: Function,
      default: null,
    },
    manualWeighting: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      edit: false,
      editWeighting: 0,
    };
  },
  computed: {
    stat() {
      if (this.item.indexinfo.is_suspended === 1) {
        return stats[0];
      }
      if (this.strategy[this.activeKey] === 0) {
        return stats[1];
      }
      if (this.item.suspended === 0) {
        return stats[2];
      }
      return stats[3];
    },
    dataTableCols() {
      return this.$store.state.lab.backtesting.dataTableCols || [];
    },
    dataTableColsCount() {
      return this.dataTableCols.length || 1;
    },
    sortby() {
      return this.$store.state.lab.backtesting.sortby || '';
    },
    pinned() {
      return this.$store.state.lab.backtesting.pinned || {};
    },
    strategy() {
      return this.$store.state.strategies[this.item.indexinfo_id] || {};
    },
    menucColumn() {
      if (this.stat === stats[0] || this.stat === stats[1]) {
        return 'width:30%;';
      }
      return 'width:10%';
    },
    view() {
      return this.$store.state.lab.view;
    },
    locked() {
      return this.lockList[this.item.indexinfo_id] === 1;
    },
    uiweighting() {
      const weight = this.weightingList[this.item.indexinfo_id];
      return weight;
    },
    suspended() {
      return this.suspendList[this.item.indexinfo_id] === 1;
    },
    color() {
      const colors = this.$store.state.colorsAll.benchmarks || {};
      if (!this.pinned[this.item.indexinfo_id]) return null;
      return colors[this.pinned[this.item.indexinfo_id]];
    },
    itemClass() {
      switch (this.stat) {
        case stats[0]:
          return 'suspended data-row-index-suspended';
        case stats[1]:
          return 'suspended data-row-index-invalid';
        case stats[2]:
          if (this.locked && this.weighting === 'manual') return 'suspended locked';
          return 'suspended';
        default:
          if (this.locked && this.weighting === 'manual') return 'locked';
          return '';
      }
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  watch: {
    uiweighting() {
      this.editWeighting = this.uiweighting;
    },
  },
  created() {
    this.editWeighting = this.uiweighting;
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    lockitem() {
      if (this.locked === 0 && this.checkLastLockStrategy('Lock Strategy')) {
        return null;
      }
      const locked = !this.locked ? 1 : 0;
      this.setAction('uiLocked', this.item.indexinfo_id, locked);
      this.lockStrategy(this.item, locked);
    },
    suspendCheckStrategy(item) {
      if (!this.checkLastLockStrategy('Suspend Strategy')) {
        this.suspendStrategy(item);
      }
    },
    removeCheckStrategy(item) {
      if (!this.checkLastLockStrategy('Suspend Strategy')) {
        this.removeStrategy(item);
      }
    },
    checkLastLockStrategy(action) {
      if (this.weighting === 'manual') {
        let lockedItemsNumber = 0;
        for (const id in this.lockList) {
          if (this.lockList[id] === 1 && id !== this.item.indexinfo_id.toString()) lockedItemsNumber++;
        }
        const activeNumber = this.$store.state.lab.backtesting.activeStrategies || 0;
        if ((lockedItemsNumber + 1) >= activeNumber) {
          swal('Whoops!', `${action} cannot be applied to the last active strategy.`, 'error');
          return true;
        }
      }
      return false;
    },

    addToPortfolio(index) {
      window.eventBus.$emit('addToPortfolio', { index });
    },
    getStrategyType(index) {
      if (index.type === 'Private Strategy') return 'Private Track';
      return $.trim(index.type) || 'Strategy';
    },
    getStrategyTypeForCss(index) {
      let type = this.getStrategyType(index);
      type = type.replace(' ', '_');
      return type;
    },
    saveWeighting() {
      const editWeighting = +this.editWeighting;
      if (this.checkLastLockStrategy('Manual allocation')) {
        return null;
      } else if (editWeighting <= 0) {
        swal('Whoops!', 'Manual allocation must be greater than 0.', 'error');
      } else if (editWeighting > 100) {
        swal('Whoops!', 'Manual allocation must not be greater than 100.', 'error');
      } else if (editWeighting + this.getLockedWeighting() > 100) {
        swal('Whoops!', 'Total manual allocations must not be greater than 100.', 'error');
      } else {
        this.setAction('uiWeighting', this.item.indexinfo_id, parseFloat(this.editWeighting));
        this.setAction('uiLocked', this.item.indexinfo_id, 1);
        this.edit = false;
        this.manualWeighting(this.item, this.editWeighting);
      }
    },
    getLockedWeighting() {
      let lockedWeighting = 0;
      for (const id in this.lockList) {
        if (this.lockList[id] === 1 && this.item.indexinfo_id !== +id) {
          lockedWeighting += this.weightingList[id];
        }
      }
      return lockedWeighting;
    },
    resetWeighting() {
      this.editWeighting = this.uiweighting;
      this.edit = false;
    },
    checkHighlight() {
      if (this.stat !== stats[0] && this.stat !== stats[1] && this.view !== 'datatable') {
        this.highlightIndex(this.item, true);
      }
    },
    checkUnhighlight() {
      if (this.stat !== stats[0] && this.stat !== stats[1] && this.view !== 'datatable') {
        this.unhighlightIndex(this.item);
      }
    },
    toggleStrategyMenu() {
      this.setMenu(this.showStrategyMenu === this.item.indexinfo_id ? 0 : this.item.indexinfo_id);
    },
  },
};
</script>
