<template>
  <div
    id="correlationInput"
    :style="correlationInputStyle"
    class="sub-modal"
    style="margin: 40px auto;">
    <div
      v-show="loading"
      class="loading-layer">
      <div class="abs-loader">
        <div class="loader-inner ball-pulse">
          <div/>
          <div/>
          <div/>
        </div>
      </div>
    </div>
    <div
      v-if="showModal !== 'custom_weighting'"
      class="modal-header text-center modal-title">
      <h4
        v-if="showModal === 'leverage_option'"> Leverage </h4>
      <h4
        v-if="showModal === 'period'"> Add Period </h4>
    </div>
    <div
      v-if="showModal === 'leverage_option'"
      class="modal-body allocation-form"
      style="height:240px;"
      @change="checkLeverage($event)">
      <div
        class="col-sm-12 form-group">
        <label class="col-sm-5 control-label">Type</label>
        <div class="col-sm-7">
          <div>
            <selection
              :key-field="'leverage_type'"
              :options="leverage_type"
              :current-option="currentRow.leverage_type"
              @selectitem="setItems"/>
          </div>
        </div>
      </div>
      <div
        v-if="currentRow.leverage_type === 'Fixed Leverage'"
        class="col-sm-12 form-group">
        <label class="col-sm-5 control-label">Fixed Leverage</label>
        <div class="col-sm-7">
          <div class="input-group">
            <span>
              <input
                id="fixed_leverage"
                :value="currentRow.fixed_leverage"
                type="text"
                class="form-control dark">
            </span>
            <div class="input-group-addon">
              %
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="currentRow.leverage_type === 'Target Volatility'"
        class="col-sm-12 form-group">
        <label class="col-sm-5 control-label">Target Volatility</label>
        <div class="col-sm-7">
          <div class="input-group">
            <span>
              <input
                v-model="currentRow.target_volatility"
                min="0.01"
                type="number"
                step="0.01"
                class="form-control dark">
            </span>
            <div class="input-group-addon">
              %
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="currentRow.leverage_type === 'Target Volatility'"
        class="col-sm-12 form-group">
        <label class="col-sm-5 control-label">Target Interval</label>
        <div class="col-sm-7">
          <div>
            <selection
              :key-field="'target_interval'"
              :options="target_interval"
              :current-option="currentRow.target_interval"
              @selectitem="setItems"/>
          </div>
        </div>
      </div>
      <div
        v-if="currentRow.leverage_type === 'Target Volatility'"
        class="col-sm-12">
        <table
          class="table table-condensed"
          style="margin-bottom: 0;">
          <tbody>
            <tr>
              <td
                class="text-right"
                style="border: 0; padding: 0;"/>
              <td
                class="text-center"
                style="border: 0; padding: 0;">Min</td>
              <td
                class="text-center"
                style="border: 0; padding: 0;">Max</td>
            </tr>
            <tr>
              <td
                class="text-right"
                style="border-top: 0; padding-top: 0; padding-right: 8px;">
                <span class="td-label">Leverage</span>
              </td>
              <td style="width: 85px; border-top: 0; padding-top: 0;">
                <span>
                  <input
                    id="leverage_min"
                    :value="currentRow.leverage_min"
                    type="text"
                    class="form-control input-sm">
                </span>
              </td>
              <td style="width: 85px; border-top: 0; padding-top: 0;">
                <span>
                  <input
                    id="leverage_max"
                    :value="currentRow.leverage_max"
                    type="text"
                    class="form-control input-sm">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="showModal === 'custom_weighting'"
      :style="heightStyle"
      class="modal-body allocation-form">
      <div
        class="col-sm-4 text-center">
        <h4> Allocation Model </h4>
      </div>
      <div
        class="col-sm-4 form-group">
        <label class="col-sm-5 control-label">Weighting Type</label>
        <div class="col-sm-7">
          <div>
            <selection
              :options="Object.keys(customOptions)"
              :current-option="customWeightingType"
              key-field="custom_weighting"
              @selectitem="setWeightingItems"/>
          </div>
        </div>
      </div>
      <div
        v-if="isERC || isVRP"
        class="col-sm-4 form-group">
        <label class="col-sm-5 control-label">Window</label>
        <div class="col-sm-7">
          <div>
            <selection
              :options="optionField.volatility_interval"
              :current-option="currentRow.volatility_interval"
              key-field="volatility_interval"
              @selectitem="setItems"/>
          </div>
        </div>
      </div>
      <template v-if="isVRP">
        <div
          class="col-xs-12 row-list row-title"
          style="padding:0;">
          <div
            class="row-title-cell"
            style="float:left;width:25%;"/>
          <div
            style="float:left;width:20%;border-left-width:1px;border-top-width:1px"
            class="row-title-cell risk-table-border">
            Risk<br>Matrix
          </div>
          <div
            v-for="(field, key, index) in extraField"
            :key="key"
            :class="{'bg-gray':(index%2 === 0)}"
            style="float:left;width:10%;border-top-width:1px"
            class="row-title-cell risk-table-border">
            {{ field }}
          </div>
        </div>
        <div
          :style="scrollStyle"
          class="col-xs-12 scrolling"
          style="padding:0;"
          @change="checkEdit($event)"
          @keyup.enter="checkEdit($event)">
          <div
            class="row-title-cell"
            style="float:left;width:25%;"/>
          <div
            style="float:left;width:20%;"
            class="text-center">
            <div
              v-for="(strategy, index) in activeIndices"
              :key="strategy.indexinfo.code"
              :class="{ 'bg-gray': index%2 === 0 }"
              style="width: 100%;border-left-width:1px;"
              class="row-list risk-table-border">
              <div class="row-cell">
                {{ strategy.indexinfo.shortName }}
              </div>
            </div>
          </div>
          <div
            style="float:left;width:10%;"
            class="text-center">
            <div
              v-for="(strategy) in activeIndices"
              :key="strategy.indexinfo.code"
              class="row-list bg-gray risk-table-border">
              <div class="row-cell funding-input">
                <input
                  :value="currentRow[strategy.indexinfo.code].risk"
                  :id="`ris-${strategy.indexinfo.code}`"
                  class="rebalance-input"
                  type="text">
              </div>
              <span
                v-if="currentRow[strategy.indexinfo.code].riskLocked === 1"
                class="icon-pull-right">
                <button
                  class="btn"
                  @click.stop="unlockRisk(strategy.indexinfo.code)">
                  <img
                    src="/img/design/icon-lock.png"
                    alt>
                </button>
              </span>
            </div>
          </div>
          <div
            style="float:left;width:10%;"
            class="text-center">
            <div
              v-for="(strategy) in activeIndices"
              :key="strategy.indexinfo.code"
              class="row-list bg-gray risk-table-border">
              <div class="row-cell funding-input">
                <input
                  :value="currentRow[strategy.indexinfo.code].vol"
                  :id="`vol-${strategy.indexinfo.code}`"
                  class="rebalance-input"
                  type="text">
              </div>
              <span
                v-if="currentRow[strategy.indexinfo.code].volLocked === 1"
                class="icon-pull-right">
                <button
                  class="btn"
                  @click.stop="unlockVol(strategy.indexinfo.code)">
                  <img
                    src="/img/design/icon-lock.png"
                    alt>
                </button>
              </span>
            </div>
          </div>
          <div
            style="float:left;width:10%;"
            class="text-center">
            <div
              v-for="(strategy) in activeIndices"
              :key="strategy.indexinfo.code"
              class="row-list risk-table-border">
              <div class="row-cell">
                <span class="funding-input">
                  {{ currentRow[strategy.indexinfo.code].maxDD }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="isERC">
        <div
          class="col-xs-12 row-list row-title top-border"
          style="padding:0;border-right:none;">
          <div
            style="float:left;width:20%;border-top:none;"
            class="row-title-cell table-border">
            Correlation<br>Matrix
          </div>
          <div
            ref="tableHeader"
            style="overflow:hidden;float:left;width:60%">
            <div
              :style="`width:${custmWidth.totalWidth}%;height:80px;`">
              <div
                v-for="(strategy, index) in activeIndices"
                :key="strategy.indexinfo.code"
                :class="{'bg-gray':(index%2 === 0)}"
                :style="`width:${custmWidth.cellWidth}%`"
                class="row-title-cell strategy-cell table-border"
                style="border-top:none;">
                {{ strategy.indexinfo.shortName }}
              </div>
            </div>
          </div>
          <div
            v-for="(field, key, index) in extraField"
            v-if="key !== 'risk'"
            :key="key"
            :class="{'bg-gray':(index%2 === 0)}"
            :style="`border-left-width:${index === 1 ? 1 : 0}px`"
            style="float:left;width:10%;border-top:none;"
            class="row-title-cell table-border">
            {{ field }}
          </div>
        </div>
        <div
          :style="scrollStyle"
          class="col-xs-12 scrolling bottom-border"
          style="padding:0;border-right:none;"
          @change="checkEdit($event)"
          @keyup.enter="checkEdit($event)">
          <div
            style="float:left;width:20%;"
            class="text-center">
            <div
              v-for="(strategy, index) in activeIndices"
              :key="strategy.indexinfo.code"
              :class="{ 'bg-gray': index%2 === 0 }"
              style="width: 100%;"
              class="row-list table-border">
              <div class="row-cell">
                {{ strategy.indexinfo.shortName }}
              </div>
            </div>
          </div>
          <div
            ref="tableBody"
            style="width:60%;overflow-y:hidden;"
            class="hidden-scroll"
            @scroll="tableScrollHandler('tableBody')">
            <div
              v-for="strategy in activeIndices"
              :key="strategy.indexinfo.code"
              :style="`width:${custmWidth.totalWidth}%`"
              class="row-list">
              <div
                v-for="subStrategy in activeIndices"
                :key="subStrategy.indexinfo.code"
                :style="{'background-color': getColor(strategy.indexinfo.code, subStrategy.indexinfo.code), 'width': `${custmWidth.cellWidth}%`}"
                class="row-cell table-border">
                <input
                  v-if="strategy.indexinfo.code !== subStrategy.indexinfo.code"
                  :value="currentRow.correlation[strategy.indexinfo.code][subStrategy.indexinfo.code].value"
                  :id="`cor-${strategy.indexinfo.id}-${subStrategy.indexinfo.id}`"
                  class="rebalance-input"
                  type="text">
                <span
                  v-if="currentRow.correlation[strategy.indexinfo.code][subStrategy.indexinfo.code].locked === 1"
                  class="icon-pull-right">
                  <button
                    class="btn"
                    @click.stop="unlockCorrelation(strategy.indexinfo.code, subStrategy.indexinfo.code)">
                    <img
                      src="/img/design/icon-lock.png"
                      alt>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div
            style="float:left;width:10%;"
            class="text-center">
            <div
              v-for="(strategy) in activeIndices"
              :key="strategy.indexinfo.code"
              class="row-list bg-gray table-border"
              style="border-left-width: 1px;">
              <div class="row-cell funding-input">
                <input
                  :value="currentRow[strategy.indexinfo.code].vol"
                  :id="`vol-${strategy.indexinfo.code}`"
                  class="rebalance-input"
                  type="text">
              </div>
              <span
                v-if="currentRow[strategy.indexinfo.code].volLocked === 1"
                class="icon-pull-right">
                <button
                  class="btn"
                  @click.stop="unlockVol(strategy.indexinfo.code)">
                  <img
                    src="/img/design/icon-lock.png"
                    alt>
                </button>
              </span>
            </div>
          </div>
          <div
            style="float:left;width:10%;"
            class="text-center">
            <div
              v-for="(strategy) in activeIndices"
              :key="strategy.indexinfo.code"
              class="row-list table-border">
              <div class="row-cell">
                <span class="funding-input">
                  {{ currentRow[strategy.indexinfo.code].maxDD }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12"
          style="height:15px;padding:0;">
          <div
            style="float:left;width:20%;height:15px;"/>
          <div
            ref="tableFooter"
            style="overflow-x:scroll;float:left;width:60%;"
            @scroll="tableScrollHandler('tableFooter')">
            <div
              :style="`width:${custmWidth.totalWidth}%`"
              style="height:15px;"
              class="row-list"/>
          </div>
        </div>
      </template>
    </div>
    <div
      v-if="showModal === 'period'"
      class="modal-body allocation-form"
      style="height:190px;">
      <div
        class="col-sm-12 form-group">
        <label class="col-sm-5 control-label">Period</label>
        <div
          class="col-sm-7"
          @click="showCalendar()">
          <input
            :value="dateInput"
            class="form-control dark"
            readonly>
        </div>
        <date-picker
          ref="calendar"
          v-model="dateInput"
          :lang="'en'"
          :shortcuts="false"
          :not-before="common.periods.min"
          :not-after="common.maxDate"
          :input-class="'mx-input hidden'"
          :confirm="true"
          :confirm-text="'Update'"
          :cancel="true"
          :show-current="true"
          :editable="true"
          :custom-position="calendarPosition"
          style="float:left"
          @confirm="applyCustomDates"/>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-default pull-left"
        @click="cancelModal()">
        Close
      </button>
      <button
        v-if="showModal === 'custom_weighting' && (isERC || isVRP)"
        type="button"
        class="btn btn-primary"
        style="position:absolute;right:45%;"
        @click="resetOptions()">Reset</button>
      <button
        v-if="!loading"
        class="btn btn-primary"
        @click="saveModal()">
        Update
      </button>
      <button
        v-if="loading"
        class="btn btn-primary"
        disabled>
        Updating...
      </button>
    </div>
  </div>
</template>
<script>
/* global $ _ swal */
const { round } = require('mathjs');
const apiPortfolios = require('../../../api/portfolios');
const errorMess = require('../../../util/errorMess');
const { getRatioWeightForNewLeverage, getEqualWeight, updateLine, getRatioWeightForNewLocked } = require('../../../util/rebalancing');

import selection from '../../vue-select/selection.vue';
import DatePicker from '../../vue2-datepicker/datepicker/index.vue';
import { MatrixWarningError } from '../../../util/exception.ts';

export default {
  name: 'CustomModal',
  components: {
    selection,
    'date-picker': DatePicker,
  },
  props: {
    oldRow: {
      type: Object,
      default: () => {},
    },
    activeIndices: {
      type: Array,
      default: () => [],
    },
    showModal: {
      type: String,
      default: '',
    },
    chooseDate: {
      type: String,
      default: '',
    },
    isIe: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentRow: {},
      target_interval: ['30d', '60d', '120d', '250d', '500d', '750d', '1250d'],
      customOptions: {
        'Equal Weighting': 'equal',
        'Manual Weighting': 'manual',
        'Vol Risk Parity': 'risk',
        'ERC Weighting': 'erc',
      },
      leverage_type: ['None', 'Target Volatility', 'Fixed Leverage'],
      loading: false,
      customWeightingType: 'Equal Weighting',
      optionField: {
        volatility_interval: ['30d', '60d', '120d', '250d', '500d', '750d', '1250d'],
        retrun_interval: ['Daily', 'Weekly', 'Monthly'],
      },
      extraField: {
        risk: 'Risk Budget',
        vol: 'Volatility',
        maxDD: 'MaxDD',
      },
      selectColumn: null,
      selectRow: null,
      correlationList: {},
      volitalityList: {},
      maxVolitalityList: {},
      editingCell: 0,
      dateInput: '',
      calendarPosition: {
        top: 0,
        left: 0,
        width: '300px',
      },
      scrollingFlag: false,
    };
  },
  computed: {
    labChoice() {
      return this.$store.getters.labChoice;
    },
    correlationInputStyle() {
      if (this.showModal === 'custom_weighting') {
        return 'width:100%;margin-top:0;padding-top:40px';
      }
      return 'width:33.3333%';
    },
    custmWidth() {
      const totalWidth = this.activeIndices.length * 16.6666;
      const cellWidth = 100 / this.activeIndices.length;
      return {
        totalWidth,
        cellWidth,
      };
    },
    heightStyle() {
      let height = 110;
      if (this.isERC || this.isVRP) {
        height = 660;
        if (this.activeIndices.length < 6) height -= 80 * (6 - this.activeIndices.length);
      }
      return `height:${height}px;`;
    },
    portfolioId() {
      return this.$store.state.lab.backtesting.portfolio_id;
    },
    common() {
      return this.$store.state.lab.common;
    },
    scrollStyle() {
      const minHeight = this.activeIndices.length < 6 ? (this.activeIndices.length * 80 + 2) : 482;
      if (!this.isIe) return `overflow-y: overlay;max-height:482px;min-height:${minHeight}px;`;
      return `max-height:482px;${minHeight}:80px;`;
    },
    isVRP() {
      return this.customWeightingType === 'Vol Risk Parity';
    },
    isERC() {
      return this.customWeightingType === 'ERC Weighting';
    },
  },
  created() {
    this.currentRow = _.cloneDeep(this.oldRow);
    // this.correlationList = {};
    for (const type in this.customOptions) {
      if (this.customOptions[type] === this.currentRow.custom_weighting) {
        this.customWeightingType = type;
      }
    }
  },
  mounted() {
    this.dateInput = this.chooseDate; //give delay for datepicker
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    setWeightingItems({ option, key }) {
      if (this.customOptions[option] === this.currentRow[key]) return null;
      this.customWeightingType = option;
      this.$set(this.currentRow, key, this.customOptions[option]);
    },
    async setItems({ option, key }) {
      if (option === this.currentRow[key]) return null;
      if (key === 'volatility_interval') {
        this.loading = true;
        this.currentRow = Object.assign({}, this.currentRow, {
          [key]: option,
          changeCorrelation: false,
        });
        try {
          this.currentRow = await this.fetchLineData({
            resetRisk: true,
          });
        } catch (error) {
          console.error(error);
        }
        this.loading = false;
      } else {
        this.$set(this.currentRow, key, option);
      }
    },
    showCalendar() {
      if (!this.$refs.calendar.showPopup) {
        this.$refs.calendar.togglePopup();
      }
    },
    async resetOptions() {
      this.loading = true;
      this.currentRow = Object.assign({}, this.currentRow, {
        changeCorrelation: false,
      });
      try {
        this.currentRow = await this.fetchLineData({
          resetRisk: true,
        });
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
    },
    applyCustomDates(value) {
      const date = moment(value).format('YYYY-MM-DD');
      this.dateInput = date;
      // this.$refs.calendar.togglePopup();
    },
    cancelModal() {
      this.$emit('cancel');
    },
    checkCorrelationAllLocked() {
      let haveLocked = false;
      for (const code in this.currentRow.correlation) {
        if (this.currentRow[code].volLocked === 1) {
          haveLocked = true;
        }
        for (const subCode in this.currentRow.correlation[code]) {
          if (this.currentRow.correlation[code][subCode].locked === 1) {
            haveLocked = true;
          }
        }
      }
      return haveLocked;
    },
    tableScrollHandler(part) {
      const that = this;
      if (that.$refs.tableFooter.scrollLeft === that.$refs.tableBody.scrollLeft) {
        return null;
      }
      if (!that.scrollingFlag) {
        window.requestAnimationFrame(() => {
          console.log('scrolling', part);
          that.$refs.tableHeader.scrollLeft = that.$refs[part].scrollLeft;
          if (part === 'tableFooter') {
            that.$refs.tableBody.scrollLeft = that.$refs.tableFooter.scrollLeft;
          } else {
            that.$refs.tableFooter.scrollLeft = that.$refs.tableBody.scrollLeft;
          }
          that.scrollingFlag = false;
        });
        that.scrollingFlag = true;
      }
    },
    async unlockCorrelation(lineCode, columnCode) {
      const data = this.currentRow.correlation;
      data[lineCode][columnCode].locked = 0;
      data[columnCode][lineCode].locked = 0;
      this.loading = true;
      const changeCorrelation = this.checkCorrelationAllLocked();
      this.currentRow = Object.assign({}, this.currentRow, {
        correlation: data,
        changeCorrelation,
      });
      try {
        this.currentRow = await this.fetchLineData({});
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
    },
    async unlockVol(lineCode) {
      const data = this.currentRow[lineCode];
      data.volLocked = 0;
      this.loading = true;
      const changeCorrelation = this.checkCorrelationAllLocked();
      this.currentRow = Object.assign({}, this.currentRow, {
        [lineCode]: data,
        changeCorrelation,
      });
      try {
        this.currentRow = await this.fetchLineData({});
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
    },
    unlockRisk(lineCode) {
      const data = this.currentRow[lineCode];
      data.riskLocked = 0;
      this.currentRow = Object.assign({}, this.currentRow, {
        [lineCode]: data,
      });
    },
    async fetchLineData({ resetRisk = false }) {
      const newLine = _.cloneDeep(this.currentRow);
      const listCodes = this.activeIndices.map(o => o.indexinfo.code);
      const rebalancingDates = Object.keys(this.labChoice.rebalancingList);
      let nextRebalancingDate = this.common.maxDate;
      for (let i = 0; i < rebalancingDates.length; i++) {
        const rebalancingDate = rebalancingDates[i];
        if (rebalancingDate > this.dateInput) {
          nextRebalancingDate = rebalancingDate;
          break;
        }
      }

      const vuexActions = {
        data: apiPortfolios.loadOnePortfolioAllocation(this.portfolioId, {
          maxDate: this.common.maxDate,
          periods: [
            this.common.periods.min,
          ],
          listCodes,
          listRebalancingDates: [this.dateInput],
          rebalancingList: {
            [this.dateInput]: newLine,
          },
          warning: true,
          init: false,
        }).then((o) => {
          const { data = {} } = o;
          if (data.warningCodes && data.warningCodes.includes(72)) {
            throw new MatrixWarningError('Error', '72');
          }
          delete data.warningCodes;
          return data;
        }),
      };

      if (newLine.funding_currency !== 'Manual') {
        vuexActions.fundingData = apiPortfolios.loadOnePortfolioFunding(this.portfolioId, {
          init: false,
          listRebalancingDates: [this.dateInput],
          listCodes,
          funding_currency: [newLine.funding_currency],
          maxDate: nextRebalancingDate,
          periods: [
            this.common.periods.min,
          ],
        }).then(o => o.data);
      }

      const { data, fundingData = {} } = await Promise.props(vuexActions);
      updateLine(newLine, data[this.dateInput], fundingData[this.dateInput], resetRisk);
      return newLine;
    },
    checkLeverage(e) {
      const { id = '', value = '' } = e.target;
      const result = Number(value);
      const orginalData = this.currentRow[id];
      if (Number.isNaN(result) || result <= 0) {
        e.target.value = orginalData;
        return null;
      }
      const roundlValue = round(value, 2);
      this.$set(this.currentRow, id, roundlValue);
      if (id === 'leverage_min' && roundlValue > +this.currentRow.leverage_max) {
        this.$set(this.currentRow, 'leverage_max', roundlValue);
      } else if (id === 'leverage_max' && roundlValue < +this.currentRow.leverage_min) {
        this.$set(this.currentRow, 'leverage_min', roundlValue);
      }
    },
    checkEdit(e) {
      const { id = '' } = e.target;
      if (id.length <= 4) return null;
      const item = id.substring(0, 3);
      const left = id.substring(4);
      switch (item) {
        case 'vol':
          this.checkVol(e, left);
          break;
        case 'cor':
          this.checkCor(e, left);
          break;
        case 'ris': //risk
          this.checkRisk(e, left);
          break;
      }
    },
    checkVol(e, left) {
      const { value = '' } = e.target;
      const result = Number(value);
      const orginalData = this.currentRow[left].vol;
      if (Number.isNaN(result) || result <= 0) {
        e.target.value = orginalData;
        return null;
      }
      const data = this.currentRow[left];
      data.vol = round(result, 2);
      data.volLocked = 1;
      this.currentRow = Object.assign({}, this.currentRow, {
        [left]: data,
        changeCorrelation: true,
      });
    },
    checkCor(e, left) {
      const { value = '' } = e.target;
      let result = Number(value);
      const ids = left.split('-');
      const codes = [];
      ids.forEach((id) => {
        const idx = this.activeIndices.findIndex(o => o.indexinfo.id === +id);
        codes.push(this.activeIndices[idx].indexinfo.code);
      });
      if (codes.length !== 2) return null;
      const orginalData = this.currentRow.correlation[codes[0]][codes[1]].value;
      if (Number.isNaN(result)) {
        e.target.value = orginalData;
        return null;
      }
      if (result > 1) result = 1;
      else if (result < -1) result = -1;
      const data = this.currentRow.correlation;
      data[codes[0]][codes[1]].value = round(result, 2);
      data[codes[1]][codes[0]].value = round(result, 2);
      data[codes[0]][codes[1]].locked = 1;
      data[codes[1]][codes[0]].locked = 1;
      this.currentRow = Object.assign({}, this.currentRow, {
        correlation: data,
        changeCorrelation: true,
      });
    },
    checkRisk(e, left) {
      const { value = '' } = e.target;
      let risk = Number(value);
      if (Number.isNaN(risk) || risk < 0) {
        e.target.value = this.currentRow[left].risk;
        return null;
      }
      risk = round(risk, 2);
      const editRow = _.cloneDeep(this.currentRow);
      const max = 100;
      const flexibleItem = [];
      let fixedItemSum = 0;
      let oldLeverage = 0;
      let flexAllZero = true;
      this.activeIndices.forEach((o) => {
        const { code } = o.indexinfo;
        oldLeverage += editRow[code].risk;
        if (code !== left) {
          if (editRow[code].riskLocked) {
            fixedItemSum += editRow[code].risk;
          } else {
            flexibleItem.push(code);
            if (editRow[code].risk !== 0) flexAllZero = false;
          }
        }
      });
      const preFixed = fixedItemSum + editRow[left].risk;
      const afterFixed = fixedItemSum + risk;
      if (flexibleItem.length <= 0 || afterFixed > max) {
        e.target.value = this.currentRow[left].risk;
        return null;
      }
      editRow[left].risk = risk;
      editRow[left].riskLocked = 1;
      flexibleItem.forEach((code) => {
        if (preFixed < max && !flexAllZero) {
          editRow[code].risk = getRatioWeightForNewLocked({
            weighting: editRow[code].risk,
            leverage: max,
            lockedSum: afterFixed,
            oldLockedSum: preFixed,
            oldLeverage,
          });
        } else {
          editRow[code].risk = getEqualWeight({
            zeroCount: flexibleItem.length,
            leverage: max,
            lockedSum: afterFixed,
            oldLockedSum: preFixed,
          });
        }
      });
      this.currentRow = Object.assign({}, this.currentRow, editRow);
    },
    async saveModal() {
      if (this.showModal === 'custom_weighting') {
        if (this.currentRow.custom_weighting !== 'manual') {
          this.activeIndices.forEach((o) => {
            const { code } = o.indexinfo;
            this.currentRow[code].locked = 0;
          });
        } else {
          this.currentRow = Object.assign({}, this.currentRow, { leverage_type: 'Fixed Leverage' });
        }
      } else if (this.showModal === 'leverage_option'
        && this.currentRow.custom_weighting === 'manual') {
        if (this.currentRow.leverage_type === 'Fixed Leverage') {
          const flexibleItem = [];
          let oldLeverage = 0;
          const newLeverage = +this.currentRow.fixed_leverage;
          let fixedItemSum = 0;
          let flexAllZero = true;
          this.activeIndices.forEach((o) => {
            const { code } = o.indexinfo;
            oldLeverage += this.currentRow[code].weighting;
            if (this.currentRow[code].locked) {
              fixedItemSum += this.currentRow[code].weighting;
            } else {
              flexibleItem.push(code);
              if (this.currentRow[code].weighting !== 0) flexAllZero = false;
            }
          });
          flexibleItem.forEach((code) => {
            if (!flexAllZero) {
              this.currentRow[code].weighting = getRatioWeightForNewLeverage({
                weighting: this.currentRow[code].weighting,
                leverage: newLeverage,
                lockedSum: fixedItemSum,
                oldLeverage,
              });
            } else {
              this.currentRow[code].weighting = getEqualWeight({
                zeroCount: flexibleItem.length,
                leverage: newLeverage,
                lockedSum: fixedItemSum,
                oldLeverage,
              });
            }
          });
        } else if (this.currentRow.leverage_type === 'Target Volatility') {
          this.activeIndices.forEach((o) => {
            const { code } = o.indexinfo;
            this.currentRow[code].locked = 0;
          });
        }
      }
      this.loading = true;
      try {
        const loadedData = await this.fetchLineData({});
        this.$emit('save', {
          row: Object.freeze(loadedData),
          period: this.dateInput,
        });
      } catch (error) {
        if (error instanceof MatrixWarningError) {
          swal('Whoops!', errorMess[error.code], 'error');
        } else {
          swal('Whoops!', 'Change allocation failed.', 'error');
        }
      }
      this.loading = false;
    },
    getColor(a, b) {
      if (a === b) return '#FFFFFF';
      const data = this.currentRow.correlation;
      let valueOnScale = 0;
      try {
        valueOnScale = data[a][b].value || 0;
      } catch (error) {
        valueOnScale = 0;
      }
      if (valueOnScale === 0) {
        return '#FFFFFF';
      }

      // const flipped = 1 + (valueOnScale * -1);
      // const percent = flipped / 2;
      if (valueOnScale < 0) {
        valueOnScale = Math.abs(valueOnScale);
        return `rgba(69,161,99,${valueOnScale})`;
      }
      valueOnScale = Math.abs(valueOnScale);
      return `rgba(255,0,0,${valueOnScale})`;
    },
  },
};
</script>
<style>
#rebalancingDates .control-label{
  margin-top: 6px;
  text-align: right;
}

#correlationInput .table-border{
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: #cccccc;
  float: left;
}

#correlationInput .risk-table-border{
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #cccccc;
  float: left;
}
</style>
