<template>
  <div>
    <div
      v-show="loading"
      class="loading-layer">
      <div class="abs-loader">
        <div class="loader-inner ball-pulse">
          <div/>
          <div/>
          <div/>
        </div>
      </div>
    </div>
    <div
      class="row chartfilter"
      style="margin-top:13px">
      <div class="col-xs-12">
        <div class="view-options">
          <button
            v-for="viewOption in views"
            :class="{ 'btn-primary': (viewBtn==viewOption[0]) }"
            :key="viewOption[0]"
            class="btn btn-outline-blue hidden-xs"
            @click="setView(viewOption[0])">{{ viewOption[1] }}
          </button>
          <div class="btn-group visible-xs">
            <button
              v-for="viewOption in views"
              v-show="viewBtn==viewOption[0]"
              :key="viewOption[0]"
              type="button"
              class="btn btn-block btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              View: {{ viewOption[1] }}
              <span class="caret"/>
            </button>
          </div>
        </div>
      </div>
      <div class="visible-xs col-xs-12 spacer-block">&nbsp;</div>
    </div>

    <div
      class="row chartfilter"
      style="margin-top:13px">
      <div class="col-sm-10 col-xs-10">
        <h4 class="upper">
          <portfolio-composition
            :active-strategies="activeStrategies"
            :allocation-model="weighting"
            :allocation-labels="weightingOptions"
            :allocation-options="allocationOptions"
            pipe-class="pipe" />
        </h4>
      </div>
      <div class="col-sm-2 col-xs-2">
        <div
          :class="{'opened':showTableOption===1}"
          class="tableoption pull-right"
          style="top: 30px;">
          <button
            class="btn"
            @click="showTableOption=showTableOption*-1;showButtonClick=true;">
            <span class="icon icon-cog"/>
          </button>
          <div
            v-show="showTableOption===1"
            class="menu"
            @click.stop="showTableOption=1">
            <p>Add performance metrics ({{ dataTableColsMax-dataTableCols_raw.length }} left)</p>
            <label
              v-for="(v,k) in dataTableLabels"
              :key="k"
              class="checkbox-style">
              <input
                v-model="dataTableCols_raw"
                :disabled="dataTableCols_raw.indexOf(k)<0 && dataTableCols_raw.length>=dataTableColsMax"
                :value="k"
                type="checkbox">
              <i/>
              {{ v }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div
      class="chartfilter row"
      style="margin-bottom: 3px;">
      <div class="portfolio-stats col-xs-12">
        <div
          v-for="(field, index) in dataTableCols_raw"
          :style="{width: (100/dataTableColsCount)+'%'}"
          :class="{'highlight':(sortby===`${period}_${field}`),'bg-gray':index%2===0}"
          :key="field"
          class="col small-height">
          <span>{{ dataTableLabels[field] }}</span>
          <span
            v-if="(!isInvalid && !hiddenPeriods[period]) || loading"
            class="stat">
            {{ portfolio[`${period}_${field}`] | round_4dp | unit(portfolio[`um_${field}`]) }}
          </span>
          <span
            v-if="(isInvalid || hiddenPeriods[period]) && !loading"
            class="stat">
            n/a
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global analytics $ */
const { LAB_ACTION } = require('../../../store/module/lab');
const { metrics, models } = require('../../../util/config');

export default {
  name: 'BtGraphPanel',
  data() {
    return {
      viewBtn: 'trackrecord',
      views: [
        ['datatable', 'Datatable'],
        ['trackrecord', 'Track Record'],
        ['xy', 'X Y Graph'],
        ['correlation_matrix', 'Correlation'],
      ],
      viewDelay: null,
      weightingOptions: models,
      showTableOption: -1,
      showButtonClick: false,
      dataTableColsMax: 8,
      dataTableCols_raw: [
        'return',
        'volatility',
        'sharpe',
        'skewness',
        'var',
        'mdd',
        'worst20d',
        'posWeeks',
      ],
      dataTableLabels: metrics,
    };
  },
  computed: {
    view() {
      return this.$store.state.lab.view || 'trackrecord';
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    backtesting() {
      return this.$store.state.lab.backtesting;
    },
    activeStrategies() {
      return this.$store.state.lab.backtesting.activeStrategies || 0;
    },
    id() {
      return this.$store.state.lab.backtesting.portfolio_id || 0;
    },
    weighting() {
      return this.$store.state.lab.backtesting.weighting || '';
    },
    allocationOptions() {
      return this.$store.state.lab.backtesting.allocationOptions || {};
    },
    sortby() {
      return this.$store.state.lab.backtesting.sortby || '';
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    portfolio() {
      return this.$store.state.portfolios[this.id] || {};
    },
    isInvalid() {
      return this.$store.state.lab.backtesting.isInvalid || false;
    },
    dataTableColsCount() {
      return this.dataTableCols_raw.length || 1;
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  watch: {
    dataTableCols_raw() {
      this.uploadVuex();
    },
    backtesting() {
      if (!this.backtesting.dataTableCols) {
        this.viewBtn = 'trackrecord';
        this.$store.commit(LAB_ACTION.SET_VIEW, 'trackrecord');
        this.uploadVuex();
      }
    },
    // portfolioId() {
    //   this.viewBtn = 'trackrecord';
    //   this.$store.commit(LAB_ACTION.SET_VIEW, 'trackrecord');
    //   this.uploadVuex();
    // },
  },
  created() {
    this.uploadVuex();
    this.$store.commit(LAB_ACTION.SET_VIEW, 'trackrecord');
  },
  mounted() {
    const that = this;
    $('body').click(that.colsePanelMenu);
  },
  beforeDestroy() {
    const that = this;
    $('body').off('click', that.colsePanelMenu);
    this.$off();
  },
  methods: {
    uploadVuex() {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'dataTableCols',
        choice: _.cloneDeep(this.dataTableCols_raw),
      });
    },
    colsePanelMenu() {
      if (this.showButtonClick) {
        this.showButtonClick = false;
      } else {
        this.showTableOption = -1;
      }
    },
    setView(view) {
      this.viewBtn = view;
      const that = this;
      if (this.viewDelay) {
        clearTimeout(this.viewDelay);
      }
      setTimeout(() => {
        that.$store.dispatch(LAB_ACTION.SET_VIEW, view);
      }, 50);
      try {
        analytics.track(`Viewed ${this.views.find(a => a[0] === view)[1]}`);
      } catch (e) {
        console.error(e);
      }
    },
  },
};
</script>
