<template>
  <div class="col-sm-6 col-xs-12">
    <div
      class="dropdown graph-options print-hide pull-right">
      <button
        :id="`dropdownMenu${idx}`"
        class="btn btn-default dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true">
        <i class="fa fa-ellipsis-v"/>
      </button>

      <ul
        :aria-labelledby="`dropdownMenu${idx}`"
        class="dropdown-menu">
        <li
          v-for="(val, key) in widgetsAvailable"
          :key="key">
          <a
            :class="{'active': widgetConfig[chartIdx]===key}"
            @click="setWidgetConfig(key)">
            {{ val }}
          </a>
        </li>
      </ul>
    </div>

    <chart-radar
      v-if="widgetConfig[chartIdx]==='chart-radar'"
      :datasets="componentPins"
      :main="portfolio"
      :period="period"
      :colors="pinnedColorsAll"
      :idname="`list-${idx}`"
      title="METRICS"
      type="analysing"/>

    <chart-drawdowntrack
      v-if="widgetConfig[chartIdx]==='chart-drawdowntrack'"
      :datasets="componentMain"
      :main="portfolio"
      :period="period"
      :colors="pinnedColorsAll"
      :no-pin-color="true"
      :idname="`list-${idx}`"
      title="DRAWDOWN"
      type="analysing"/>

    <new-chart-volatilitytrack
      v-if="widgetConfig[chartIdx]==='chart-volatilitytrack'"
      :datasets="componentMain"
      :period-group="common"
      :colors="pinnedColorsAll"
      :active-strategies="activeStrategies"
      :idname="`list-${idx}`"
      title="VOLATILITY"
      type="analysing"/>

    <chart-returnbar
      v-if="widgetConfig[chartIdx]==='chart-returnbar'"
      :main="portfolio"
      :period="period"
      :idname="`list-${idx}`"
      title="MONTHLY RETURN DISTRIBUTION"
      type="analysing"
    />
    <chart-contribution
      v-if="widgetConfig[chartIdx]==='chart-varcontribution'"
      :main="portfolio"
      :indices="indices"
      :period="period"
      :idname="`list-${idx}`"
      :set-event="true"
      :datasets="componentPins"
      :colors="pinnedColorsAll"
      title="VaR CONTRIBUTION"
      type="var"
    />
    <chart-contribution
      v-if="widgetConfig[chartIdx]==='chart-returncontribution'"
      :main="portfolio"
      :indices="indices"
      :period="period"
      :idname="`list-${idx}`"
      :set-event="true"
      :datasets="componentPins"
      :colors="pinnedColorsAll"
      title="RETURN CONTRIBUTION"
      type="return"
    />
    <chart-contribution
      v-if="widgetConfig[chartIdx]==='chart-volatilitycontribution'"
      :main="portfolio"
      :indices="indices"
      :period="period"
      :idname="`list-${idx}`"
      :set-event="true"
      :datasets="componentPins"
      :colors="pinnedColorsAll"
      title="VOLATILITY CONTRIBUTION"
      type="volatility"
    />
    <chart-weighting
      v-if="widgetConfig[chartIdx]==='chart-weighting'"
      :main="portfolio"
      :indices="indices"
      :period="period"
      :idname="`list-${idx}`"
      :set-event="true"
      :datasets="componentPins"
      :colors="pinnedColorsAll"
      title="WEIGHTING"
      type="analysing"
    />
    <chart-leverage
      v-if="widgetConfig[chartIdx]==='chart-leverage'"
      :main="portfolio"
      :indices="indices"
      :period="period"
      :idname="`list-${idx}`"
      title="LEVERAGE"
      type="analysing"
    />
  </div>
</template>
<script>
export default {
  name: 'GraphListItem',
  props: {
    idx: {
      type: Number,
      default: 0,
    },
    user: {
      type: Object,
      default: () => {},
    },
    period: {
      type: String,
      default: '5y',
    },
    portfolio: {
      type: Object,
      default: () => {},
    },
    componentPins: {
      type: Array,
      default: () => [],
    },
    componentMain: {
      type: Array,
      default: () => [],
    },
    indices: {
      type: Array,
      default: () => [],
    },
    common: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      chartIdx: 0,
      widgetConfig: [
        'chart-radar',
        'chart-weighting',
        'chart-drawdowntrack',
        'chart-volatilitytrack',
        'chart-returnbar',
        'chart-leverage',
        'chart-varcontribution',
        'chart-returncontribution',
        'chart-volatilitycontribution',
      ],
      widgetsAvailable: {
        'chart-radar': 'Metrics',
        'chart-weighting': 'Weighting',
        'chart-drawdowntrack': 'Drawdown',
        'chart-volatilitytrack': 'Volatility',
        'chart-returnbar': 'Monthly Return Distribution',
        'chart-leverage': 'Leverage',
        'chart-varcontribution': 'VaR Contribution',
        'chart-returncontribution': 'Return Contribution',
        'chart-volatilitycontribution': 'Volatility Contribution',
      },
    };
  },
  computed: {
    pinnedColorsAll() {
      return this.$store.state.colorsAll.benchmarks || {};
    },
    activeStrategies() {
      return this.$store.state.lab.backtesting.activeStrategies || 0;
    },
  },
  created() {
    this.chartIdx = this.idx;
  },
  methods: {
    setWidgetConfig(key) {
      this.chartIdx = this.widgetConfig.findIndex(x => x === key);
    },
  },
};
</script>
