<template>
  <div
    v-show="(view!=='datatable')"
    class="main col-md-8 force-scrollbar">

    <div
      v-show="loading"
      class="loading-layer">
      <!-- <div class="abs-loader">
        <div class="loader-inner ball-pulse">
          <div/>
          <div/>
          <div/>
        </div>
      </div> -->
    </div>

    <!-- <div
      v-if="initData"
      class="row">
      <div class="col-xs-12 text-center">
        <div class="clearfix">
          <h4 class="pad-md">
            Loading data.
          </h4>
        </div>
      </div>
    </div> -->

    <div
      v-if="!loading && indices.length === 0"
      class="row">
      <div class="col-xs-12 text-center">
        <div class="clearfix">
          <h4 class="pad-md">
            This portfolio is empty.
          </h4>
        </div>
      </div>
    </div>

    <div
      v-show="indices.length > 0"
      class="row">
      <div class="col-xs-12 text-center">
        <div v-show="!loading && isInvalid">
          <h4 class="pad-md">
            <i class="fa fa-caret-left"/> Certain strategies do not have a track record for the period you have selected. Please suspend them
            to display data for this time period.
          </h4>
        </div>
        <template v-if="!loading && !isInvalid">
          <div
            v-show="!groupSelected"
            class="clearfix">
            <h4 class="pad-md">
              <i class="fa fa-caret-left"/> Please click on {{ lexicon[groupBy] }} group to begin analysis.
            </h4>
          </div>

          <div v-show="groupSelected && activeCount === 0">
            <h4 class="pad-md">
              <i class="fa fa-caret-left"/> All strategies in this group are suspended. Click strategies from your chosen group to activate them.
            </h4>
          </div>

          <div v-show="groupSelected && activeCount > 0">
            <h4 class="pad-top upper">
              Displaying {{ activeCount }} {{ groupSelected }} strategies
              <span
                style="margin-left: 0">and portfolio</span>
            </h4>

            <div class="row">
              <div class="col-xs-6">
                <div class="avgkey">
                  <i/>
                  <span
                    v-if="view!='correlation_matrix'"
                    class="text-gray">Portfolio Performance</span>
                  <span
                    v-if="view=='correlation_matrix'"
                    class="text-gray">Portfolio</span>
                </div>
              </div>
              <div class="col-xs-6">
                <span class="pull-right">As of {{ asOf }}</span>
              </div>
            </div>
          </div>
        </template>
      </div>


      <div
        v-show="groupSelected && activeCount > 0 && !isInvalid"
        id="chartCtx-wrapper"
        class="animatelines col-xs-12">


        <div v-show="view === 'trackrecord'">
          <chart-track
            :datasets="componentAll"
            :period="period"
            :main="portfolio"
            :colors="pinnedColorsAll"
            :pinned="true"
            title=""
            type="portfolio"
            idname="track"/>
        </div>

        <div v-show="groupSelected">
          <new-chart-correlationscatter
            v-if="loadedBenchmarks"
            v-show="view=='correlation_matrix'"
            :main-id="portfolioId"
            :period-group="common"
            :datasets="componentAll"
            :active-strategies="activeStrategies"
            :colors="pinnedColorsAll"
            :is-invalid="isInvalid"
            :is-subgraphy="false"
            :loading="loading"
            idname="scatter-1"
            type="portfolio"/>
        </div>

        <div v-show="view==='xy'">
          <chart-xy
            :datasets="componentAll"
            :main="portfolio"
            :period="period"
            :colors="pinnedColorsAll"
            :is-subgraphy="false"
            :allow-pinned="true"
            title="XY GRAPH"
            type="analysing"
            idname="big"/>
        </div>

        <div
          v-show="pinnedGroup.length > 0"
          class="strategy-list strategy-list-pinned row text-center">
          <h4 class="upper">Pinned Strategies in {{ groupSelected }}
            <span class="text-gray">({{ 6 - pinnedGroup.length }} pins left)</span>
          </h4>
          <div class="clearfix">
            <div
              v-for="strategy in pinnedGroup"
              :key="strategy.id"
              :style="{'background': pinnedColorsAll[strategy.color] }"
              class="pinned-btn btn btn-default">
              <a
                :href="`/strategy/${strategy.code}`"
                target="_blank"
                rel="noopener noreferrer">{{ strategy.shortName }}</a>
              <a @click="unpinIndex(strategy)">
                <i class="fa fa-remove"/>
              </a>
            </div>
          </div>
        </div>

        <div v-show="view==='correlation_matrix'">
          <div class="row">
            <div class="col-sm-12">
              <h4>Correlation Between Strategies
                <small
                  id="hover-correlation"
                  class="pull-right"/>
              </h4>
              <div class="row">
                <correlation-matrix
                  :period-group="common"
                  :correlate-with-objects="componentAll"
                  :colors="pinnedColorsAll"
                  :is-invalid="isInvalid"
                  :loading="loading"/>
              </div>
            </div>
          </div>
        </div>

        <div
          v-show="view != 'datatable' && view != 'correlation_matrix'"
          class="row lowercharts">

          <div class="row">
            <graph-list-item
              :idx="0"
              :user="user"
              :common="common"
              :period="period"
              :portfolio="portfolio"
              :component-pins="componentPins"
              :component-main="componentMain"
              :indices="indices"
            />
            <graph-list-item
              :idx="1"
              :user="user"
              :common="common"
              :period="period"
              :portfolio="portfolio"
              :component-pins="componentPins"
              :component-main="componentMain"
              :indices="indices"
            />
          </div>

          <div
            class="row">
            <graph-list-item
              :idx="2"
              :user="user"
              :common="common"
              :period="period"
              :portfolio="portfolio"
              :component-pins="componentPins"
              :component-main="componentMain"
              :indices="indices"
            />
            <graph-list-item
              :idx="3"
              :user="user"
              :common="common"
              :period="period"
              :portfolio="portfolio"
              :component-pins="componentPins"
              :component-main="componentMain"
              :indices="indices"
            />
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
/* global window $ */
import GraphListItem from './graph-list-item.vue';

export default {
  name: 'BtGraphList',
  components: {
    'graph-list-item': GraphListItem,
  },
  props: {
    loadedBenchmarks: {
      type: Boolean,
      default: false,
    },
    user: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      lexicon: {
        assetClass: 'an Asset Class',
        all: 'this portfolio',
        factor: 'a Factor',
      },
      activeCount: 0,
      pinnedGroup: [],
      componentAll: [],
      componentMain: [],
      componentPins: [],
      groupSelected: null,
      randarFunctionTimeout: null,
      period: '5y',
    };
  },
  computed: {
    view() {
      return this.$store.state.lab.view || 'trackrecord';
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    common() {
      return this.$store.state.lab.common;
    },
    asOf() {
      const { common } = this.$store.state.lab;
      return common.period === 'Cust' ? common.custMaxDate : common.maxDate;
    },
    groupBy() {
      return this.$store.state.lab.backtesting.groupBy || 'all';
    },
    vuexGroupSelected() {
      return this.$store.state.lab.backtesting.groupSelected || null;
    },
    isInvalid() {
      return this.$store.state.lab.backtesting.isInvalid || false;
    },
    activeStrategies() {
      return this.$store.state.lab.backtesting.activeStrategies || 0;
    },
    portfolioId() {
      return this.$store.state.lab.backtesting.portfolio_id || 0;
    },
    pinned() {
      return this.$store.state.lab.backtesting.pinned || {};
    },
    strategies() {
      return this.$store.state.strategies;
    },
    portfolio() {
      return this.$store.state.portfolios[this.portfolioId] || {};
    },
    indices() {
      return this.$store.state.portfolioIndices[this.portfolioId] || [];
    },
    pinnedColorsAll() {
      return this.$store.state.colorsAll.benchmarks || {};
    },
  },
  mounted() {
    window.eventBus.$on('render_lab_graph', this.randarGraphTimeout);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('render_lab_graph', this.randarGraphTimeout);
  },
  methods: {
    unpinIndex(strategy) {
      const { id } = strategy;
      if (id !== undefined) {
        const $buttons = $(`#row-${id}`).find('button');
        if ($buttons.length) $buttons[0].click();
      }
    },
    randarGraphTimeout({ groups = [], mode = '' }) {
      const that = this;
      if (this.randarFunctionTimeout !== null) {
        clearTimeout(this.randarFunctionTimeout);
      }
      this.randarFunctionTimeout = setTimeout(() => {
        that.randarGraph({ groups, mode });
      }, 20);
    },
    randarGraph({ groups = [], mode = '' }) {
      if (this.isInvalid) { // highest level
        this.resetDatasets();
        return null;
      }
      switch (mode) {
        case 'hidden':
          this.groupSelected = null; // just hide, do nothing.
          break;
        case 'selectNoChange':
          this.groupSelected = this.vuexGroupSelected;
          break;
        case 'selectChange':
          this.groupSelected = this.vuexGroupSelected;
          this.setDatasets({ groups, portfolioCacheChanged: false });
          break;
        case 'changePins':
          this.setDatasets({ groups, portfolioCacheChanged: false });
          break;
        case 'changePeriod':
          this.period = this.common.dataPeriod;
          this.setDatasets({ groups, portfolioCacheChanged: true });
          break;
        default:
          this.period = this.common.dataPeriod;
          this.setDatasets({ groups, portfolioCacheChanged: true });
          break;
      }
    },
    resetDatasets() {
      this.componentAll = [];
      this.componentPins = [];
      this.componentMain = [];
    },
    setDatasets({ groups = [], portfolioCacheChanged = false }) {
      this.componentMain = [this.portfolio];
      if (this.groupSelected === 'invalid') {
        this.activeCount = 0;
        this.componentPins = [this.portfolio];
        this.componentAll = [this.portfolio];
      } else {
        let activeCount = 0;
        const activeStrategies = [];
        const pinnedStrategies = [];
        groups.forEach((o) => {
          if (o.suspended === 0) {
            const color = this.pinned[o.indexinfo_id] || '';
            const strategy = {
              id: o.indexinfo_id,
              color,
              shortName: o.indexinfo.shortName,
              code: o.indexinfo.code,
            };
            activeCount++;
            activeStrategies.push(strategy);
            if (this.pinned[strategy.id]) {
              pinnedStrategies.push(strategy);
            }
          }
        });
        this.activeCount = activeCount;
        this.componentAll = [this.portfolio, ...activeStrategies];
        if (portfolioCacheChanged || this.pinChange(pinnedStrategies)) {
          this.componentPins = [this.portfolio, ...pinnedStrategies];
          this.pinnedGroup = pinnedStrategies;
        }
      }
      if (portfolioCacheChanged) {
        this.componentMain = [this.portfolio];
      }
    },
    pinChange(pinnedStrategies) {
      const pinnedIds = this.pinnedGroup.map(o => o.id).sort();
      const newPinnedIds = pinnedStrategies.map(o => o.id).sort();
      return JSON.stringify(pinnedIds) !== JSON.stringify(newPinnedIds);
    },
  },
};
</script>
