<template>
  <div
    id="rebalancingDates"
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    role="dialog"
    style="overflow-y:auto"
    @click="showMenu = null">
    <div
      class="modal-dialog modal-lg"
      role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            aria-label="Close"
            @click="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center">
            <span v-if="!showModal">Custom Rebalancing</span>
            <span v-else>&nbsp;</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div
              v-show="loading"
              class="loading-layer">
              <div class="abs-loader">
                <div class="loader-inner ball-pulse">
                  <div/>
                  <div/>
                  <div/>
                </div>
              </div>
            </div>
            <div
              v-for="viewOption in views"
              :key="viewOption[0]"
              class="col-xs-3">
              <button
                :class="{ 'btn-primary': (viewBtn==viewOption[0]) }"
                class="btn btn-outline-blue hidden-xs"
                style="width:100%;"
                @click="setView(viewOption[0])">{{ viewOption[1] }}
              </button>
            </div>
            <div
              class="col-xs-12 row-list row-title">
              <div
                style="width:16%"
                class="row-title-cell">
                Rebalancing<br>Dates
              </div>
              <div
                v-show="viewBtn !== 'funding'"
                ref="tableHeader"
                :style="strategyWidth"
                class="top-border"
                style="overflow-x:hidden;float:left;">
                <div
                  :style="`width:${custmWidth.totalWidth}%`">
                  <div
                    v-for="(strategy, index) in activeIndices"
                    :key="strategy.indexinfo.code"
                    :class="{'bg-gray':(index%2 === 0)}"
                    :style="`width:${custmWidth.cellWidth}%`"
                    class="row-title-cell strategy-cell">
                    {{ strategy.indexinfo.shortName }}
                  </div>
                </div>
              </div>
              <template v-if="viewBtn === 'weighting'">
                <div
                  v-for="item in viewShow.weighting"
                  :key="item"
                  :style="`width:${item !== 'leverage_type' ? 12 : singleColumn}%;`"
                  :class="{'bg-gray':item === 'leverage_type', 'top-border': item === 'leverage_type'}"
                  class="row-title-cell"
                  style="height:100%;">
                  {{ customTitle[item] }}
                </div>
              </template>
              <div
                v-if="viewBtn === 'funding'"
                :style="`width:${custmWidth.totalWidth}%;float:left;height:100%`"
                class="top-border">
                <div
                  v-for="(item, itemIndex) in viewShow.funding"
                  :key="item"
                  :style="`width:${custmWidth.cellWidth}%;`"
                  :class="{ 'bg-gray': itemIndex%2 === 0 }"
                  class="row-title-cell"
                  style="height:100%;">
                  {{ customTitle[item] }}
                </div>
              </div>
            </div>
            <div
              ref="mainTable"
              :style="scrollStyle"
              class="col-xs-12 scrolling"
              @change="checkEdit($event)"
              @keyup.enter="checkKeyup($event)"
              @focus.capture="addCurrentRow($event)">
              <date-picker
                ref="calendar"
                v-model="inputDate"
                :lang="'en'"
                :shortcuts="false"
                :not-before="common.periods.min"
                :not-after="common.maxDate"
                :input-class="'mx-input hidden'"
                :confirm="true"
                :confirm-text="'Update'"
                :cancel="true"
                :show-current="true"
                :editable="true"
                :custom-position="calendarPosition"
                style="float:left"
                @confirm="applyCustomDates"/>
              <div
                style="float:left;width:16%;"
                class="text-center">
                <div
                  v-for="(listItem, date) in rebalancingList"
                  :key="date"
                  :id="`${date}-allocationDate`"
                  class="row-list">
                  <a
                    v-if="currentEdit[date] && !loadingDate[date]"
                    class="current-edit-row"
                    style="width:625%"/>
                  <a
                    v-if="loadingDate[date]"
                    class="suspend_overlay"
                    style="width:625%"/>
                  <div
                    class="row-cell">
                    <input
                      :value="date"
                      class="rebalance-input"
                      type="text"
                      readonly
                      @click.stop="showCalendar($event, date)">
                  </div>
                  <div
                    :class="{'opened':showMenu===date}"
                    class="tableoption icon-pull-right">
                    <button
                      class="btn text-blue"
                      @click.stop="toggleStrategyMenu(date)">
                      <i class="fa fa-list"/>
                    </button>
                    <div
                      v-show="showMenu==date"
                      class="menu"
                      @click.stop="toggleStrategyMenu(date)">
                      <a
                        @click="removePeriod(date)">
                        <img
                          src="/img/design/icon-remove-white.png"
                          alt> Remove
                      </a>
                      <a
                        @click="showModalEvent(date, 'period')">
                        <img
                          src="/img/design/icon-add-white.png"
                          alt> Copy to new period
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                v-show="viewBtn !== 'funding'"
                ref="tableBody"
                :style="strategyWidth"
                class="bottom-border hidden-scroll"
                @scroll="tableScrollHandler('tableBody')">
                <div
                  v-for="(listItem, date) in rebalancingList"
                  :key="date">
                  <div
                    :style="`width:${custmWidth.totalWidth}%`"
                    class="row-list">
                    <div
                      v-for="(strategy, index) in activeIndices"
                      :key="strategy.indexinfo.code"
                      :class="{'bg-gray':(index%2 === 0), 'funding-input': viewBtn === 'rebalancing_cost', 'replication-input': viewBtn === 'replication_cost' }"
                      :style="`width:${custmWidth.cellWidth}%`"
                      class="row-cell">
                      <input
                        :value="listItem[strategy.indexinfo.code][viewBtn]"
                        :id="`${date}-${strategy.indexinfo.code}`"
                        class="rebalance-input"
                        type="text">
                      <span
                        v-if="listItem[strategy.indexinfo.code].locked && viewBtn === 'weighting'"
                        class="icon-pull-right">
                        <button
                          class="btn"
                          @click.stop="unlockitem(strategy.indexinfo.code, date)">
                          <img
                            src="/img/design/icon-lock.png"
                            alt>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <template v-if="viewBtn === 'weighting'">
                <div
                  v-for="item in viewShow.weighting"
                  :key="item"
                  :style="`width:${item !== 'leverage_type' ? 12 : singleColumn}%;`"
                  :class="{ 'bg-gray': item === 'leverage_type', 'bottom-border': item === 'leverage_type' }"
                  class="text-center"
                  style="float:left;width:13;">
                  <div
                    v-for="(listItem, date) in rebalancingList"
                    :key="date"
                    class="row-list">
                    <div
                      class="row-cell">
                      <input
                        v-if="item === 'leverage_type'"
                        :value="listItem.funding_weight || 100"
                        :id="`${date}-leverage_type`"
                        class="rebalance-input"
                        type="text">
                      <button
                        v-else
                        :id="`${date}-${item}`"
                        :class="`${listItem[buttonCheck[item]] ? 'btn-primary' : 'btn-gray'}`"
                        class="btn"
                        style="width:80%;"
                        @click="showModalEvent(date, item)">
                        {{ customButton(item, date) }}
                      </button>
                    </div>
                  </div>
                </div>
              </template>
              <div
                v-if="viewBtn === 'funding'"
                :style="`width:${custmWidth.totalWidth}%;float:left;`"
                class="bottom-border">
                <div
                  v-for="(item, itemIndex) in viewShow.funding"
                  :key="item"
                  :style="`width:${custmWidth.cellWidth}%;`"
                  :class="{ 'bg-gray':itemIndex%2 === 0 }"
                  class="text-center"
                  style="float:left;">
                  <div
                    v-for="(listItem, date) in rebalancingList"
                    :key="date"
                    class="row-list">
                    <div
                      :class="{'funding-input': item !== 'funding_currency'}"
                      class="row-cell">
                      <input
                        v-if="item !== 'funding_currency'"
                        :value="listItem[item]"
                        :id="`${date}-${item}`"
                        class="rebalance-input funding-input"
                        type="text">
                      <selection
                        v-else
                        :key-field="'funding_currency'"
                        :hidden-icon="true"
                        :options="optionFields.funding_currency"
                        :current-option="listItem.funding_currency"
                        @selectitem="setCurrencyItems($event, date)"
                        @focusitem="setFocusItems($event, date)"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xs-12"
              style="height:15px;">
              <div
                style="float:left;width:16%;height:15px;"/>
              <div
                v-show="viewBtn !== 'funding'"
                ref="tableFooter"
                :style="strategyWidth"
                style="overflow-x:scroll;float:left;"
                @scroll="tableScrollHandler('tableFooter')">
                <div
                  :style="`width:${custmWidth.totalWidth}%`"
                  style="height:15px;"
                  class="row-list"/>
              </div>
            </div>
          </div>
        </div>
        <div
          v-if="showModal"
          style="position:absolute;top: 0;right: 0;bottom: 0;left: 0;background:rgba(0, 0, 0, 0.5);z-index:3;">
          <correlation-input
            :loading="loadingDate[modalChooseDate]"
            :old-row="inputRow"
            :show-modal="showModal"
            :active-indices="activeIndices"
            :choose-date="modalChooseDate"
            :is-ie="isIe"
            @cancel="cancelModal()"
            @save="saveModalCorrealtion"/>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default pull-left"
            @click="closeModal()">Close</button>
          <button
            type="button"
            class="btn btn-primary"
            style="position:absolute;right:45%;"
            @click="resetOptions()">Reset</button>
          <button
            :disabled="updateDisabled || loading"
            type="button"
            class="btn btn-primary"
            @click="updateAllocation(true)">
            <span v-if="!loading">Update</span>
            <span v-if="loading">Updating...</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ _ swal */
const { round } = require('mathjs');
const ACTION = require('../../../store/mutation-type');
const apiPortfolios = require('../../../api/portfolios');
const { sortKeys } = require('../../../lib/lodash-helper');
const { LAB_ACTION } = require('../../../store/module/lab');
const { getRatioWeightForNewLocked, getEqualWeight, updateLine, createLine } = require('../../../util/rebalancing');

import selection from '../../vue-select/selection.vue';
import correlationInput from './correlation-input.vue';
import DatePicker from '../../vue2-datepicker/datepicker/index.vue';

export default {
  name: 'RebalancingDates',
  components: {
    selection,
    'correlation-input': correlationInput,
    'date-picker': DatePicker,
  },
  props: {
    isIe: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      updateDisabled: false,
      loading: false,
      scrollingFlag: false,
      rebalancingList: {},
      viewBtn: 'weighting',
      views: [
        ['weighting', 'Allocation'],
        ['rebalancing_cost', 'Rebalancing Cost'],
        ['replication_cost', 'Replication Cost'],
        ['funding', 'Funding'],
      ],
      viewShow: {
        weighting: ['custom_weighting', 'leverage_type', 'leverage_option'],
        rebalancing_cost: [],
        replication_cost: [],
        funding: ['funding_currency', 'funding_rate', 'borrowing_spread', 'lending_spread'],
      },
      buttonCheck: {
        custom_weighting: 'custom_weighting_button',
        leverage_option: 'leverage_option_button',
      },
      customTitle: {
        custom_weighting: 'Allocation Model',
        leverage_type: 'Funding',
        leverage_option: 'Leverage',
        funding_currency: 'Funding Curve',
        borrowing_spread: 'Borrowing Spread',
        lending_spread: 'Lending Spread',
        funding_rate: 'Funding Rate',
      },
      singleColumn: 10,
      showMenu: null,
      showModal: null,
      inputDate: null,
      modalChooseDate: null,
      calendarPosition: {
        top: 0,
        left: 0,
        width: '300px',
      },
      inputRow: {},
      optionFields: {
        funding_currency: ['None', 'USD', 'EUR'],
      },
      loadingDate: {},
      currentEdit: {},
    };
  },
  computed: {
    portfolioId() {
      return this.$store.state.lab.backtesting.portfolio_id;
    },
    common() {
      return this.$store.state.lab.common;
    },
    scrollStyle() {
      if (!this.isIe) return 'overflow-y: overlay';
      return '';
    },
    baseRebalancingList() {
      return this.$store.state.lab.backtesting.rebalancingList || {};
    },
    customBaseOptions() {
      return this.$store.state.lab.backtesting.customBaseOptions || {};
    },
    activeIndices() {
      const indices = this.$store.state.portfolioIndices[this.portfolioId] || [];
      if (indices.length > 0) return indices.filter(o => o.suspended === 0 && o.indexinfo.is_suspended === 0);
      return [];
    },
    activeListCode() {
      return this.activeIndices.map(o => o.indexinfo.code);
    },
    custmWidth() {
      let totalWidth = this.activeIndices.length * 20;
      let cellWidth = 100 / this.activeIndices.length;
      switch (this.viewBtn) {
        case 'rebalancing_cost':
        case 'replication_cost':
          totalWidth = this.activeIndices.length * 14.2857;
          cellWidth = 100 / this.activeIndices.length;
          break;
        case 'funding':
          totalWidth = this.viewShow.funding.length * this.singleColumn;
          cellWidth = 100 / this.viewShow.funding.length;
          break;
      }
      return {
        totalWidth,
        cellWidth,
      };
    },
    strategyWidth() {
      switch (this.viewBtn) {
        case 'rebalancing_cost':
        case 'replication_cost':
          return 'width:70%';
        default:
          return 'width:50%';
      }
    },
  },
  mounted() {
    window.eventBus.$on('customRebalancingList', this.customRebalancingListHandler);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('customRebalancingList');
  },
  methods: {
    async customRebalancingListHandler({ init = false }) {
      $('#rebalancingDates').modal('show');
      this.viewBtn = 'weighting';
      await this.initModal(this.customBaseOptions, init);
    },
    showCalendar(e, date) {
      this.currentEdit = {
        [date]: true,
      };
      if (!this.$refs.calendar.showPopup) {
        const el = $(`#${date}-allocationDate`)[0];
        const { offsetTop, offsetHeight } = el;
        this.showMenu = null;
        this.inputDate = date;
        this.modalChooseDate = date;
        this.calendarPosition = {
          left: 0,
          top: `${offsetTop + offsetHeight - 30}px`,
          width: '300px',
        };
      }
      this.$refs.calendar.togglePopup();
    },
    addCurrentRow(e) {
      const { id = '' } = e.target;
      if (id.length <= 11) return null;
      const period = id.substring(0, 10);
      this.currentEdit = {
        [period]: true,
      };
    },
    async applyCustomDates(value) {
      const date = moment(value).format('YYYY-MM-DD');
      this.checkPeriodList({
        target: {
          value: date,
        },
      }, this.modalChooseDate);
      this.addCurrentRow({
        target: {
          id: `${date}-changeperiod`,
        },
      });
      this.modalChooseDate = null;
      this.inputDate = null;
      // this.$refs.calendar.togglePopup();
    },
    saveModalCorrealtion({ row = {}, period = '' }) {
      const savedRow = _.cloneDeep(row);
      if (this.buttonCheck[this.showModal] && !_.isEqual(savedRow, this.inputRow)) {
        savedRow[this.buttonCheck[this.showModal]] = true;
      }
      this.rebalancingList[period] = Object.freeze(savedRow);
      if (this.showModal === 'period') {
        this.rebalancingList = sortKeys(this.rebalancingList);
        this.fetchPreviousFunding(null, period);
        this.setFocusItems(null, period);
      }
      this.cancelModal();
      // this.$delete(this.loadingDate, removeData);
    },
    cancelModal() {
      this.showModal = null;
      this.modalChooseDate = null;
      this.inputRow = {};
    },
    async initModal(allocation, init) {
      this.loading = true;
      this.rebalancingList = {};
      this.currentEdit = {};
      const {
        rebalancing,
        rebalancing_month,
        rebalancing_date,
        ...rebalancingOptions
      } = allocation;
      if (init || Object.keys(this.baseRebalancingList).length === 0) {
        try {
          const options = await apiPortfolios.loadOnePortfolioOption(this.portfolioId, {
            rebalancing,
            rebalancing_month,
            rebalancing_date,
            maxDate: this.common.maxDate,
            periods: {
              min: this.common.periods.min,
            },
          });
          const { listRebalancingDates = [] } = options.data;
          const listCodes = this.activeIndices.map(o => o.indexinfo.code);
          const vuexActions = {
            data: apiPortfolios.loadOnePortfolioAllocation(this.portfolioId, {
              maxDate: this.common.maxDate,
              periods: [
                this.common.periods.min,
              ],
              listRebalancingDates,
              listCodes,
              rebalancingList: {},
              initOption: rebalancingOptions,
              init: true,
            }).then(o => o.data),
            fundingData: apiPortfolios.loadOnePortfolioFunding(this.portfolioId, {
              init: true,
              listRebalancingDates,
              listCodes,
              funding_currency: [rebalancingOptions.funding_currency],
              maxDate: this.common.maxDate,
              periods: [
                this.common.periods.min,
              ],
            }).then(o => o.data),
          };
          const { data, fundingData } = await Promise.props(vuexActions);
          const finalModal = {};
          for (const date in data) {
            const line = createLine(data[date], rebalancingOptions, fundingData[date]);
            finalModal[date] = Object.freeze(line);
          }
          this.rebalancingList = finalModal;
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'rebalancingList',
            choice: Object.freeze(_.cloneDeep(this.rebalancingList)),
          });
          this.updateAllocation(false);
        } catch (e) {
          console.error(e);
          this.$store.dispatch(ACTION.SHOW_COMPUTE_ERROR_ALERT_MODAL);
        }
      } else {
        const finalModal = {};
        for (const date in this.baseRebalancingList) {
          const lineData = this.baseRebalancingList[date];
          finalModal[date] = Object.freeze(_.cloneDeep(lineData));
        }
        this.rebalancingList = finalModal;
      }
      this.loading = false;
    },
    async fetchLineData(date, newLine) {
      const listCodes = this.activeIndices.map(o => o.indexinfo.code);
      const rebalancingDates = Object.keys(this.rebalancingList);
      let nextRebalancingDate = this.common.maxDate;
      for (let i = 0; i < rebalancingDates.length; i++) {
        const rebalancingDate = rebalancingDates[i];
        if (rebalancingDate > date) {
          nextRebalancingDate = rebalancingDate;
          break;
        }
      }

      const vuexActions = {
        data: apiPortfolios.loadOnePortfolioAllocation(this.portfolioId, {
          maxDate: this.common.maxDate,
          periods: [
            this.common.periods.min,
          ],
          listCodes,
          listRebalancingDates: [date],
          rebalancingList: {
            [date]: newLine,
          },
          init: false,
        }).then(o => o.data),
      };

      if (newLine.funding_currency !== 'Manual') {
        vuexActions.fundingData = apiPortfolios.loadOnePortfolioFunding(this.portfolioId, {
          init: false,
          listRebalancingDates: [date],
          listCodes,
          funding_currency: [newLine.funding_currency],
          maxDate: nextRebalancingDate,
          periods: [
            this.common.periods.min,
          ],
        }).then(o => o.data);
      }

      const { data, fundingData = {} } = await Promise.props(vuexActions);
      updateLine(newLine, data[date], fundingData[date], false);
      return Object.freeze(newLine);
    },
    resetOptions() {
      window.eventBus.$emit('allocationConfiguration');
      $('#rebalancingDates').modal('hide');
    },
    toggleStrategyMenu(date) {
      this.setFocusItems(null, date);
      if (this.showMenu !== date) {
        this.showMenu = date;
      } else {
        this.showMenu = null;
      }
    },
    tableScrollHandler(part) {
      const that = this;
      if (that.$refs.tableFooter.scrollLeft === that.$refs.tableBody.scrollLeft) {
        return null;
      }
      if (!that.scrollingFlag) {
        window.requestAnimationFrame(() => {
          console.log('scrolling', part);
          that.$refs.tableHeader.scrollLeft = that.$refs[part].scrollLeft;
          if (part === 'tableFooter') {
            that.$refs.tableBody.scrollLeft = that.$refs.tableFooter.scrollLeft;
          } else {
            that.$refs.tableFooter.scrollLeft = that.$refs.tableBody.scrollLeft;
          }
          that.scrollingFlag = false;
        });
        that.scrollingFlag = true;
      }
    },
    setView(view) {
      this.viewBtn = view;
    },
    removePeriod(date) {
      this.$delete(this.rebalancingList, date);
      this.fetchPreviousFunding(date, null);
    },
    showModalEvent(date, mode) {
      this.modalChooseDate = date;
      this.showModal = mode;
      this.inputRow = this.rebalancingList[date];
    },
    async setCurrencyItems({ option, key }, row) {
      const editRow = _.cloneDeep(this.rebalancingList[row]);
      editRow[key] = option;
      if (option === 'Manual') {
        this.$set(this.rebalancingList, row, editRow);
      } else if (option === 'None') {
        editRow.funding_rate = 0;
        this.$set(this.rebalancingList, row, editRow);
      } else {
        this.$set(this.loadingDate, row, true);
        try {
          const newRow = await this.fetchLineData(row, editRow);
          this.$set(this.rebalancingList, row, newRow);
        } catch (e) {
          this.$store.dispatch(ACTION.SHOW_COMPUTE_ERROR_ALERT_MODAL);
        }
        this.$delete(this.loadingDate, row);
      }
    },
    setFocusItems(event, row) {
      this.currentEdit = {
        [row]: true,
      };
    },
    async checkEdit(e) {
      const { id = '' } = e.target;
      if (id.length <= 11) return null;
      const row = id.substring(0, 10);
      const column = id.substring(11);
      switch (column) {
        case 'leverage_type':
          this.checkFunding(e, row);
          return null;
        case 'funding_currency':
        case 'borrowing_spread':
        case 'lending_spread':
        case 'funding_rate':
          return this.checkNormalList(e, row, column);
        default: {
          if (this.viewBtn === 'weighting') {
            return this.checkStrategyWeightingList(e, row, column);
          }
          return this.checkStrategyList(e, row, column);
        }
      }
    },
    checkKeyup(e) {
      if (!e.target || !e.target.id) return null;
      const { id = '' } = e.target;
      if (id.length <= 11) return null;
      const row = id.substring(0, 10);
      const column = id.substring(11);
      if (this.viewBtn === 'weighting' && this.activeListCode.includes(column)) {
        this.checkStrategyWeightingList(e, row, column);
      }
    },
    async checkFunding(e, row) {
      const { value = '' } = e.target;
      let result = Number(value);
      const { funding_weight = 100 } = this.rebalancingList[row];
      if (Number.isNaN(result) || result === funding_weight) {
        e.target.value = funding_weight;
        return null;
      }
      if (result > 500) result = 500;
      else if (result < -500) result = -500;
      const editRow = _.cloneDeep(this.rebalancingList[row]);
      const newRow = Object.assign({}, editRow, { funding_weight: result });
      this.$set(this.rebalancingList, row, newRow);
    },
    async checkPeriodList(e, row) {
      const { value = '' } = e.target;
      const regEx = /^\d{4}-\d{2}-\d{2}$/;
      if (row === value || !value.match(regEx) || Number.isNaN(Date.parse(value))
        || (value < this.common.periods.min || value > this.common.maxDate)) {
        e.target.value = row;
        return null;
      }
      this.$set(this.loadingDate, row, true);
      let data = _.cloneDeep(this.rebalancingList[row]);
      try {
        data = await this.fetchLineData(value, data);
      } catch (e) {
        console.error(e);
        this.$store.dispatch(ACTION.SHOW_COMPUTE_ERROR_ALERT_MODAL);
      }
      delete this.rebalancingList[row];
      this.rebalancingList[value] = data;
      this.rebalancingList = sortKeys(this.rebalancingList);
      this.$delete(this.loadingDate, row);
      await this.fetchPreviousFunding(row, value);
    },
    async fetchPreviousFunding(previousPeriod, currentPeriod) {
      if (previousPeriod === currentPeriod) return null;
      const rebalancingDates = Object.keys(this.rebalancingList);
      if (rebalancingDates[rebalancingDates.length - 1] !== this.common.maxDate) {
        rebalancingDates.push(this.common.maxDate);
      }
      const listCodes = this.activeIndices.map(o => o.indexinfo.code);
      const payloads = [];
      for (let i = 0; i < (rebalancingDates.length - 1); i++) {
        const current = rebalancingDates[i];
        const after = rebalancingDates[i + 1];
        if (current < previousPeriod && after >= previousPeriod) {
          const newLine = this.rebalancingList[current];
          if (newLine && newLine.funding_currency !== 'Manual') {
            payloads.push({
              init: false,
              listRebalancingDates: [current],
              listCodes,
              funding_currency: [newLine.funding_currency],
              maxDate: after,
              periods: [
                this.common.periods.min,
              ],
            });
          }
        }
        if (current < currentPeriod && after >= currentPeriod) {
          const newLine = this.rebalancingList[current];
          if (newLine && newLine.funding_currency !== 'Manual') {
            payloads.push({
              init: false,
              listRebalancingDates: [current],
              listCodes,
              funding_currency: [newLine.funding_currency],
              maxDate: currentPeriod,
              periods: [
                this.common.periods.min,
              ],
            });
          }
        }
      }
      if (payloads.length > 0) {
        const id = this.portfolioId;
        payloads.forEach((o) => {
          this.$set(this.loadingDate, o.listRebalancingDates[0], true);
        });
        try {
          const data = await Promise.settleAll(payloads.map(payload =>
            apiPortfolios.loadOnePortfolioFunding(id, payload).then(o => o.data))).then(Promise.reduceInspections);
          const { values = [] } = data;
          values.forEach((o) => {
            const date = Object.keys(o)[0];
            const newRow = Object.freeze(Object.assign({}, this.rebalancingList[date], o[date]));
            this.$set(this.rebalancingList, date, newRow);
          });
        } catch (e) {
          console.error(e);
          this.$store.dispatch(ACTION.SHOW_COMPUTE_ERROR_ALERT_MODAL);
        }
        payloads.forEach((o) => {
          this.$delete(this.loadingDate, o.listRebalancingDates[0]);
        });
      }
    },
    checkNormalList(e, row, column) {
      const { value = '' } = e.target;
      let result = Number(value);
      const orginalData = this.rebalancingList[row][column];
      if (Number.isNaN(result) || result === orginalData) {
        e.target.value = orginalData;
        return null;
      }
      if (result > 10) result = 10;
      if (result < -10) result = -10;
      result = round(result, 2);
      const editRow = this.rebalancingList[row];
      const overwrite = {
        [column]: result,
      };
      if (column === 'funding_rate') {
        overwrite.funding_currency = 'Manual';
      }
      const data = Object.freeze(Object.assign({}, editRow, overwrite));
      this.$set(this.rebalancingList, row, data);
    },
    checkStrategyList(e, row, column) {
      const { value = '' } = e.target;
      const weighting = Number(value);
      if (Number.isNaN(weighting) || weighting === this.rebalancingList[row][column][this.viewBtn]) {
        e.target.value = this.rebalancingList[row][column][this.viewBtn];
        return null;
      }
      const editRow = this.rebalancingList[row];
      editRow[column][this.viewBtn] = weighting;
      const data = Object.freeze(Object.assign({}, editRow));
      this.$set(this.rebalancingList, row, data);
    },
    checkStrategyWeightingList(e, row, column) {
      const { value = '' } = e.target;
      let weighting = Number(value);
      if (Number.isNaN(weighting) || weighting < 0) {
        e.target.value = this.rebalancingList[row][column].weighting;
        return null;
      }
      weighting = round(weighting, 2);
      const editRow = this.rebalancingList[row];
      const max = editRow.fixed_leverage ? +editRow.fixed_leverage : 100;
      const flexibleItem = [];
      let fixedItemSum = 0;
      let oldLeverage = 0;
      let flexAllZero = true;
      this.activeIndices.forEach((o) => {
        const { code } = o.indexinfo;
        oldLeverage += editRow[code].weighting;
        if (code !== column) {
          if (editRow[code].locked) {
            fixedItemSum += editRow[code].weighting;
          } else {
            flexibleItem.push(code);
            if (editRow[code].weighting !== 0) flexAllZero = false;
          }
        }
      });
      const preFixed = fixedItemSum + editRow[column].weighting;
      const afterFixed = fixedItemSum + weighting;
      if (flexibleItem.length <= 0 || afterFixed > max) {
        e.target.value = this.rebalancingList[row][column].weighting;
        return null;
      }
      editRow[column].weighting = weighting;
      editRow[column].locked = 1;
      flexibleItem.forEach((code) => {
        if (preFixed < max && !flexAllZero) {
          editRow[code].weighting = getRatioWeightForNewLocked({
            weighting: editRow[code].weighting,
            leverage: max,
            lockedSum: afterFixed,
            oldLockedSum: preFixed,
            oldLeverage,
          });
        } else {
          editRow[code].weighting = getEqualWeight({
            zeroCount: flexibleItem.length,
            leverage: max,
            lockedSum: afterFixed,
            oldLockedSum: preFixed,
          });
        }
      });
      const changObject = {
        custom_weighting: 'manual',
        custom_weighting_button: true,
        leverage_option_button: true,
      };
      if (editRow.leverage_type === 'Target Volatility') {
        changObject.leverage_type = 'Fixed Leverage';
        changObject.fixed_leverage = max;
      }
      const data = Object.freeze(Object.assign({}, editRow, changObject));
      this.$set(this.rebalancingList, row, data);
    },
    customButton(type, row) {
      switch (type) {
        case 'custom_weighting':
          return this.custWeighting(this.rebalancingList[row].custom_weighting, row);
        case 'leverage_option':
          return this.custLeverage(this.rebalancingList[row].leverage_type, row);
      }
    },
    unlockitem(column, row) {
      const editRow = this.rebalancingList[row];
      editRow[column].locked = 0;
      const data = Object.freeze(Object.assign({}, editRow));
      this.$set(this.rebalancingList, row, data);
    },
    custWeighting(custom_weighting, row) {
      switch (custom_weighting) {
        case 'manual':
          return 'Manual';
        case 'equal':
          return 'Equal';
        case 'risk': {
          const { volatility_interval = '30d' } = this.rebalancingList[row];
          return `Risk - ${volatility_interval}`;
        }
        case 'erc': {
          const { volatility_interval = '30d' } = this.rebalancingList[row];
          return `ERC - ${volatility_interval}`;
        }
      }
    },
    custLeverage(leverage_type, row) {
      const { fixed_leverage = 100 } = this.rebalancingList[row];
      return `${fixed_leverage}%`;
    },
    getPortfolioPayload() {
      const customPeriod = {
        volMeasure: '30d',
        maxDate: this.common.custMaxDate,
        periods: {
          min: this.common.periods.min,
          custom: this.common.periods.custom,
        },
      };
      if (this.common.periods.custom !== undefined) {
        return [undefined, customPeriod];
      }
      return [undefined];
    },
    closeModal() {
      $('#rebalancingDates').modal('hide');
      this.rebalancingList = {};
    },
    async updateAllocation(closeModal) {
      this.loading = true;
      try {
        const toSave = {
          customBaseOptions: this.customBaseOptions,
          customAllocation: Object.freeze(_.cloneDeep(this.rebalancingList)),
        };
        await apiPortfolios.putPortfolio(this.portfolioId, {
          allocation: toSave,
          mode: 'customallocation',
          weighting: 'custom',
        });
        await this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO_DETAILS_V2, {
          ids: [this.portfolioId],
          payloads: this.getPortfolioPayload(),
          freeze: true,
          reset: true,
          throwError: true,
        });
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'rebalancingList',
          choice: toSave.customAllocation,
        });
        window.eventBus.$emit('changeallocation', { mode: 'allocation' });
        if (closeModal) {
          this.closeModal();
        }
      } catch (e) {
        console.error(e);
        // apiPortfolios.putPortfolio(this.portfolioId, {
        //   allocation: originalAllocation,
        //   mode: 'changeallocation',
        // }).catch(console.error);
        swal('Whoops!', 'Some options are not correct.', 'error');
      }
      this.loading = false;
    },
  },
};
</script>
<style>
#rebalancingDates .row-list {
  height: 80px;
  position: relative;
  width: 100%;
}

#rebalancingDates .opened {
  z-index: 5;
}

#rebalancingDates .scrolling {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#rebalancingDates .current-edit-row {
  background: #1A85A1;
  opacity: 0.3;
  border-radius: 5px;
  box-shadow: 0 2px 10px #cdcdcd;
  color: #ffffff;
  pointer-events: none;
  display: block;
  content: "";
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

#rebalancingDates .row-title {
  font-weight: bold;
  margin-top: 15px;
}

#rebalancingDates .row-title-cell {
  float: left;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#rebalancingDates .strategy-cell {
  font-weight: normal;
}

#rebalancingDates .row-list .row-cell {
  position: relative;
  width: 100%;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#rebalancingDates .hidden-scroll {
  overflow-x: scroll;
  float:left;
  text-align: center;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#rebalancingDates .hidden-scroll::-webkit-scrollbar {
  display: none;
}

#rebalancingDates .sub-modal {
  position: relative;
  background-color: #fff;
  opacity:1;
  margin-top:100px;
}

#rebalancingDates .top-border {
  border-style:solid;
  border-width: 1px 1px 0 1px;
  border-color: #cccccc;
  /* box-shadow: inset 0 -3px 0 #fff, 0 0px 3px #000000; */
}

#rebalancingDates .bottom-border {
  border-style:solid;
  border-width: 0 1px 1px 1px;
  border-color: #cccccc;
}

#rebalancingDates .rebalance-input {
  border: 0;
  text-align: center;
  width: 100%;
  background: transparent;
  padding: 5px 0px;
}
#rebalancingDates .funding-input::after {
  content: "%";
  position: absolute;
  top: 29px;
  right: 5px;
  pointer-events: none;
}
#rebalancingDates .replication-input::after {
  content: "%p.a.";
  position: absolute;
  top: 29px;
  right: 0;
  pointer-events: none;
}

#rebalancingDates .icon-pull-right {
  position: absolute;
  top: 23px;
  right: 5px;
}
</style>
