/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 55px;
}
.irs-line {
    height: 43px; top: 0;
    background: #D1D5E1;
    border: 1px solid #CCC;
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    height: 41px; top: 1px;
    background: #E5E5E5;
    z-index: 1;
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid #428bca;
        border-right: 0;
        background: #428bca;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 41px; top: 1px;
    background: #fff;
}
.irs-shadow.shadow-from {
	border-left: 1px solid #123B69;
}

.irs-slider {
    top: 8px;
    width: 12px; height: 18px;
    border: 1px solid #AAA;
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 20%,rgba(255,255,255,1) 100%); /* W3C */
    border-radius: 3px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 5;
    margin-left: -6px;
}
.irs-slider:before, .irs-slider:after{
	content: ' ';
	position: absolute;
	height: 10px;
	background-color: #AAA;
	width: 1px;
	display: block;
	top: 3px;
	left: 50%;
}
.irs-slider:before {
	margin-left: -2px;
}
.irs-slider:after {
	margin-left: 1px;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #428bca;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #fff;
}

.irs-grid {
    height: 41px;
    top: 1px;
    z-index: 2;
    overflow: hidden;
    margin-left: -1px;
}
.irs-grid-pol {
    opacity: 1;
    background: #ededed;
    height: 41px;
}
.irs-grid-pol.small {
    background: transparent;
}

.irs-grid-text {
    bottom: 1px;
    color: #99a4ac;
    font-size: 10px;
    width: 36px;
    margin-left: 0 !important;
    text-align: center;
    padding: 0;
/*     visibility: visible !important; */
}
.years_twenty .irs-grid-text {
	width: 26px;
}

.irs-disabled {
}
