@page { margin: 0px; }
body, html {
	margin: 0;
}

body {
	font-family: 'Fira Sans',sans-serif;
	background: #fff;
	color: #4B4B4B;
	font-size: 13px;
	line-height: 1.5em;
}
a {
	color: #103B6B;
}
hr {
	width: 100%;
	clear: both;
	display: block;
}

.print-hide {
	display: none;
}

table .bg-gray,
.datatable .bg-gray,
.print-header .bg-gray {
	background: #F7F8FA;
}

.text-gray {
	color: #87908F
}
.text-red {
	color: #983D5C!important
}
.text-blue {
	color: #1A85A1!important
}
.text-white {
	color: #fff!important;
}
.text-center {
	text-align: center;
}
.btn.btn-blue,.btn.btn-blue:hover,.btn.btn-blue:active {
	background: #1A85A1!important;
	color: #fff!important;
}
.btn.btn-green,.btn.btn-green:hover,.btn.btn-green:active {
	background: #1A85A1!important;
	color: #fff!important;
}

.namerow,
.text-left {
	text-align: left!important
}
div  {
	    box-sizing: border-box;
}
.row {
	width: 100%;
	display: block;
	clear: both;
}

.print-border-right {
  border-right: 2px solid #2B87A8;
  height: 100%;
}
.print-border-image {
  height: 100%;
  width: 90%;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
h4.print-border {
	color: #123B69;
	border-bottom: 2px solid #2B87A8;
}

button.btn, .btn {
	font-size: 12px;
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
}
.pad-md {
    padding-bottom: 30px;
    padding-top: 30px;
}
.chart-returnbar .amcharts-axis-tick {
	display: none!important;
}
.portfolios .datatable .heading .btn {
	text-align: center!important;
}
.navbar-inverse.user {
	width: 1000px;
	margin: 0 auto;
	height: 90px;
	background: #123B69;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	padding-top: 10px!important
}
.navbar-inverse.user img {
	margin-top: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-inverse.user h4 {
	margin: 0;
	font-size: 13px;
}
.navbar-inverse.user .pad {
	padding-right: 7px;
  padding-left: 7px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.strategyinfo {
	height: 220px;
}
.strategyinfo * {
	padding: 0;
	line-height: 1em;
}

.chartfilter,
.tableoption {
	display: none;
}
.datatable {
    display: block;
    clear: both;
}
.datatable .heading .btn-noclick, .datatable .heading .btn,
.datatable .data-row > div {
    height: 50px;
    border: 0;
    text-align: center;
    display: block;
}
.data-row h5 {
	display: none;
}
.datatable p {
	margin: 0;
}
.datatable .text-left {
	text-align: left!important;
}

.datatable .heading .namecol .btn {
	text-align: left;
	color: #aaa;
}
.datatable .heading > div, .datatable .data-row > div {
	height: 40px;
	padding-top: 3px;
    display: inline-block;
    vertical-align: top;
    /*text-align: center;*/
}
.datatable .heading .btn-noclick, .datatable .heading .btn {
	width: 100%;
	padding-top: 10px;
	font-weight: bold;
	color: #aaa
}

.portfolio-stats .col.highlight, .portfolio-stats .col.highlight *, .highlight {
	background: #dcdcdc;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
	font-size: 13px;
}
thead {
	font-weight: bold;
}
td {
	padding: 5px;
}

.container {
	width: 950px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.col-xs-3,
.col-sm-3 {
	width: 25%;
  padding: 5px;
	float: left;
	position: relative;
}
.col-xs-6,
.col-sm-6 {
	width: 50%;
	padding: 5px;
	float: left;
	position: relative;
}
.col-sm-9 {
	width: 75%;
	padding: 5px;
	float: left;
	position: relative;
}
.col-sm-12 {
	width: 100%;
	padding: 5px;
	clear: both;
	display: block;
}
.portfolios .datatable .data-row a.title {
	display: block;
}

.lowercharts .chart {
	width: 100%;
	overflow: hidden;
}
.lowercharts .row > .col-xs-6 {
	height: 370px;
	padding: 10px;
	display: inline-block;
	float: none;
}
.lowercharts .btn {
	width: 	90%;
	margin-top: -15px;
	float: right;
}
#pie0,#pie1 {
	position: relative;
	margin-left: 60px;
}
#trackchartdiv {
	position: relative;
	margin-left: 70px;
}
#chartsmall4 {
	margin: 30px auto 0!important;
	/*margin-top: 30px!important;*/
	width: 280px;
}

.amcharts-legend-bg,
.amcharts-bg, .amcharts-plot-area {
  stroke-width: 0!important;
}
.amcharts-legend-bg,
.amcharts-bg, .amcharts-plot-area {
  display: none;
}
path.amcharts-axis-grid {
	stroke: #ddd
}
#chartsmall1 .amcharts-axis-label, .chart-radar .amcharts-axis-label { /*numbers on radar*/
	display: none
}
.amcharts-chart-div a {
	opacity: 0.1!important
}
.amcharts-chart-div {
	margin: 0 auto;
    page-break-inside: avoid!important;
 }

.date-disclaimer {
	float: right;
	text-transform: uppercase;
}

.benchmarks .btn {
	border: 0;
}

.dropdown-menu {
	display: none;
}

.lowercharts h4 {
	display: block;
  clear: both;
  margin-top: 0px;
  margin-bottom: 7px;
}

.navbar-inverse {page-break-before: always;}


.related {
	text-align: center;
}
.related .btn {
	padding: 10px;
	color: #aaa;
}


.portfolios {
	width: 1000px;
}
.portfolios .data-row-parent, .portfolios .col {
	height: 150px!important;
}
.portfolios .data-row-parent .btn {
	display: none;
}
.portfolios .dropdown-fake-container .current {
	font-weight: bold;
	color: #aaa;
	text-align: center;
	font-size: 13px;
}
.portfolio-tab-nav .btn {
	font-size: 22px;
	font-weight: bold;
}
.portfolio-tab-nav img {
	display: none;
}
.portfolio-tab-nav .btn-outline-blue {
	display: none;
}

#pie0, #pie1 {
	margin-top: -70px;
}

.text-justify,
.disclaimer {
	text-align: justify;
	text-justify: inter-word;
}

.text-break-line {
	white-space: pre-line;
}

@media print {
    img, svg, table, .row {
    	page-break-inside: avoid!important;
    	display: block;
    	position: relative;
   	}
}

.page-break-before {
	page-break-before:always;
}
.chart-returnscatter {
	margin-top: 40px;
}

.chart-correlationscatter {
  margin-top: 37px;
}

.volatility-track-print {
  margin-left: 200px;
}
.chart-volatilitytrack {
  margin-top: 12px;
}

.pie-large .chart {
    width: 100%;
    height: 540px;
    overflow: hidden;
    text-align: left;
    margin-left: 80px;
    margin-top: -30px;
    margin-bottom: -60px;
}
