@media only screen and (max-width: 767px) {
   .sidebar.fixed, .sidebar-filters .sidebar {
      position: static;
      width: 100% !important;
      height: auto !important;
   }
   .sidebar .scrolling {
      height: auto !important;
   }
   .text-xs-center {
      text-align: center !important;
   }
   
   #stickyheader, #stickyheader>div {
      height: auto !important;
   }
   
   #stickyheader .container {
      padding-left: 0;
      padding-right: 0;
   }
   
   .btn.visible-xs {
      display: inline !important;
   }
   .spacer-div {
      margin-bottom: 5px;
   }
   #stickyheader.affixed > div {
      position: static;
      box-shadow: none;
   }
   
   .benchmarks .datatable {
      height: auto;
   }
   .lowercharts .chartfilter {
      padding-left: 0;
   }
   
   .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
      margin: 0 !important;  
   }
   
   .top-portfolio .sidebar-analyse {
      height: auto;
   }
   
   .sidebar-analyse .panel-heading {
      padding: 5px 0;
   }
   
   .spacer-block {
      height: 10px;
      display: block;
   }
   
   .sidebar-filters {
      height: auto !important;
      padding-top: 0;
   }
   
   .sidebar-analyse .panel-group {
      padding-left: 0;
   }
   
   .analyse-page .main {
      padding-left: 15px;
      padding-right: 15px;
   }
   
   .periodmenu-dropdown-wrapper {
      text-align: center;
   }
   
   .periodmenu-dropdown {
      margin: 0 auto;
   }
   
   .portfolio-stats {
      white-space: normal;
   }
   
   .portfolio-stats .col {
      width: 100% !important;
      height: auto;
   }
   .portfolio-stats .col span {
      text-align: left;
   }
   
   .portfolio-stats .col span:first-child {
      text-align: right;
      width: 50%;
      padding-right: 5%;
   }
   
   .portfolio-stats span {
      float: left;
      width: 45%;
   }
   
   .portfolio-stats .stat {
      font-size: 12px;
      white-space: nowrap;
      color: #4B4B4B;
   }
   
   .tableoption {
      top: 0 !important;
   }
   
   .top-portfolio {
      border-bottom: none;
   }
   
   h4.upper .pipe {
      clear: both;
      color: #fff;
      display: block;
      line-height: 0.1em;
      opacity: 0;
   }

   .data-row-parent {
      white-space: nowrap
   }
   
   .chartfilter {
      padding-left: 15px;
      padding-right: 15px;
   }
   
   #chartCtx-wrapper {
      padding-left: 15px;
      padding-right: 15px;
   }
   
   .chartfilter .btn {
         
   }
   
   .data-row-parent-mobile {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      margin: 10px 0;
      width: 100%;
      float: left;
   }
   .data-row-kpi > div {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 13px;
   }
   .chartfilter-perod-drop {
      width: 100%;
   }
   
   .strategy-filter .panel-heading {
      padding-bottom: 0;
   }
   .strategy-filter .panel-body {
      padding-top: 0;
   }
   .mobile-row {
      float: none !important;
   }
   .vue-grid-layout {
      height: auto !important;
   }
   
   .vue-grid-item {
      width: 100% !important;
      position: relative !important;
      left: 0 !important;
      right: 0 !important;
      transform: none !important;
      margin-bottom: 1em;
   }
   
    .vue-grid-item .move {
       display: none !important;
    }
    
    .widget-grid .scrolling {
       overflow: hidden;
       height: auto;
    }
    
    .widget-grid .default-menu img {
       max-width: 100%;
    }
    
    nav .container {
       padding-left: 0;
       padding-right: 0;
    }
    
    .strategyinfo .text-gray {
       text-align: right;
    }
    
    .strategyinfo.pad-md {
       padding-bottom: 0;
       padding-top: 15px;
    }
    
    .lowercharts .container {
       padding-left: 0;
    }
    
    .navbar-inverse .navbar-toggle.collapsed .icon-bar {
       background-color: #fff;
    }
    
    .navbar-inverse .navbar-toggle .icon-bar {
       background-color: #123B69;
    }
    
    .strategy-list {
       margin-left: 0;
       margin-right: 0;
       padding: 10px 15px;
    }
    
    .empty-inbox {
       padding: 1em;
    }
    
    .inbox .sidebar .scroll {
       height: auto;
    }
     
    .message-form {
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       z-index: 999999;
       border-top: 1px solid #999;
    }
    
    .message-form .richtext-editor {
       height: 100px;
    }
    .thread-messages {
       
    }

    .style2 
    {
      text-align: center;
    }

    .style2 .text-left
    {
/*       text-align: center; */
    }

    .style2 p 
    {
      margin-bottom: 20px;
    }

    .style2 .marketing img {
        max-width: 150px;
        margin: 0 auto;
    }

    .style2 .text-left
    {
      margin-bottom: -10px;
    }
    .flex-items {
	    display: block !important;
    }
    .flex-items > img {
	    display: block;
	    margin: 25px auto !important;
    }
}