/*tealblue #1A85A1*/
/*navy  #123B69*/
/*bg gray #F0F1F3*/
/* gray text and btns #87908F*/
/*red headeralert and pin  #983D5C */
/*box-shadow: 0 0 10px #c9ccd4;*/

body {
	font-family: 'Fira Sans',sans-serif;
	background: #fff;
	color: #4B4B4B;
}
a {
	color: #103B6B;
	cursor: pointer;
}

font[size='1'] {
	font-size: x-small;
}
font[size='3'] {
	font-size: 14px;
}
font[size='5'] {
	font-size: large;
}

strong {
	font-weight: 500;
}
::selection {
  background: #dedede;
}
::-moz-selection {
  background: #dedede;
}
a, button {
	-webkit-tap-highlight-color: rgba(200,200,200,0.2);
	outline: none!important
}
.disable-links {
  cursor: not-allowed;
  opacity: 0.5;
}
.disable-links > a {
  color: currentColor;
  display: inline-block;  /* For IE11/Edge */
  pointer-events: none;
  text-decoration: none;
}

input[type=text].form-control,
input[type=email].form-control,
input[type=password].form-control {
	border: 0;
	line-height: 35px;
	height: 40px;
	border-radius: 0;
	border: 2px solid #cdcdcd;
	box-shadow: none;
}
input[type=checkbox].form-control {
	height: 25px;
  box-shadow: none;
}
input[type=text].form-control.input-sm {
  line-height: 1.5;
  border-radius: 3px;
  height: 30px;
}
textarea.form-control {
	/*border: 0;*/
	border: 1px solid #cdcdcd;
	border-radius: 0;

	height: 150px;
}

.form-control.dark {
	font-weight: bold;
	background:#F0F1F3;
	border: 0;
	height: 40px;
	border-radius: 5px;
}

.allocation-form .form-control.dark {
	background:#fff;
	border: 1px solid #ccd0d2;
}

.form-control-small {

}

@media (min-width: 992px) {
	.modal-lg {
		width: 1000px;
	}
}

@media (min-width: 1000px) {
	.modal-lg {
		width: 100%;
		max-width: 1100px;
	}
}

.form-group.disabled {

}

.allocation-form .control-label  {
	padding-right: 0;
	padding-left: 0;
}

.marketmonitor .select-button {
  width: 100%;
  border:2px solid #4C5C68;
  border-radius:4px;
  color: #4C5C68;
  font-weight: bold;
}

.allocation-form .select-button {
  border: 1px solid #DCDCDC;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  color: #4B4B4B;
}

.allocation-form .select-button .select-caret {
  position: absolute;
  right: 10px;
  top: 48%;
}

.td-label {
	display: block;
	padding-top: 5px;
}

.chart {
	height: 200px;
	width: 100%;
}

.chart.chart-big {
	height: 500px;
	width: 100%;
}

.chart.chart-correlationscatter {
	height: 305px;
	width: 100%;
}

.chart.chart-correlationscatter.chart-correlationscatter-big {
	height: 450px;
	width: 100%;
}

.chart.chart-not-available {
  line-height: 200px;
  text-align: center;
}

/*structure should be <label class="checkbox-style"><input><i></i> any text</label>*/
.checkbox-style, .radio-style {
	position: relative;
	cursor: pointer;
}
.checkbox-style.disabled, .radio-style.disabled {
	opacity: 0.3;
}
.checkbox-style input[type="checkbox"], .radio-style input[type="checkbox"], .radio-style input[type="radio"] {
	opacity: 0;
}
.checkbox-style input[type="checkbox"] + i, .radio-style input[type="radio"] + i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #c4c5c6;
    border-radius: 3px;
    position: relative;
    margin-left: -20px;
	margin-right: 10px;
	top: 3px;
}
.checkbox-style input[type="checkbox"]:checked + i, .radio-style input[type="radio"]:checked + i {
	background-image: url(/img/design/icon-check.png);
    background-color: #ddd;

	background-position: center;
	background-repeat: no-repeat;
}
.checkbox-style input[type="checkbox"]:disabled + i, .radio-style input[type="radio"]:disabled + i   {
	background-color: #6b7780 !important;
	cursor: not-allowed;
}

.radio .radio-style input[type="radio"] {
	margin-left: -19px;
}

.btn-show-more {
	display: block;
	margin: 2em auto;
}

/*input[type="checkbox"]:checked + .checkbox-custom {
	background-image: url(/img/design/icon-check.png);
	background-position: center;
	background-repeat: no-repeat;
}


input[type="checkbox"]:disabled + .checkbox-custom   {
	background-color: #6b7780 !important
}
.tableoption .menu input[type="checkbox"] + .checkbox-custom {
	margin-top: 0;
	margin-left: -15px;
    top: 3px;
}*/
/*.checkbox-custom {
	display: none!important
}*/

.print-only {
	display: none;
}

select.form-control {
	border: 0;
	box-shadow: none;
	font-weight: 500
}

.text-blue {
	color: #1A85A1!important
}
.pinned-row .text-blue {
	color: #fff !important;
}
.text-white {
	color: #fff!important;
}
.panel {
	border: 0;
	box-shadow: none;
}
.alert {
	margin-top: 15px;
	margin-bottom: 15px;
}
.alert-overlay {
	position: fixed;
  text-align: center;
  top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 2000;
}
.alert-overlay .close {
	margin-left: 15px;
}

.fa-thumb-tack {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.5);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	font-size: 18px;
}

.pinned-row .fa-thumb-tack {
	color: #983E5C;
}

.pinned-row .fa-thumb-tack {
	color: #fff;
}

.sidebar-analyse .pinned-row .fa-thumb-tack {
	color: #aaa;
}

.sidebar-analyse .select-button {
  color:#fff!important;
  width:100%;
  text-align: left;
  line-height: 1.9;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-analyse .select-small-button {
  color:#555555!important;
  background-color:#fff!important;
  width:100%;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-analyse .select-option {
  width:100%;
  left: 0px;
}
.select-option a:hover {
  background-color: #1A85A1!important;
  color:#fff!important;
}
.select-option div {
  border-bottom: 1px solid #ccc;
  cursor: not-allowed;
}
.select-option div:not(:first-child) {
  border-top: 1px solid #ccc;
}

.sidebar-analyse .select-caret {
  position: absolute;
  right: 10px;
  top: 48%;
}

.fa-thumb-tack {
	color: #aaa;
}

.has-activity-indicator {
	margin-top: -5px;
}
.navbar-icon .activity-indicator {
	right: -5px;
    top: -3px;
    background: #973E5C;
    border: 2px solid #973E5C;
    width: auto;
    min-width: 17px;
    height: 17px;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    color: #fff;
}
.list-group-item {
	background: transparent;
}

.navbar-inverse {
	border: 0;
	height: 100px;
	padding-top: 15px;
	border-radius: 0;
	z-index: 50;
}
.navbar-inverse.user {
	background: #123B69;
}
.navbar-inverse.guest {
	background: rgba(18,59,105,0.95);
}

.navbar-inverse .navbar-nav {
	margin-top: 10px;
}
.navbar-inverse .btn {
    border: 1px solid #1A85A1;
    height: auto;
    padding: 5px 30px;
    top: 15px;
    margin: 0 5px;
}
.navbar-inverse .navbar-link {
	border: 1px solid transparent;
}

.navbar-inverse .navbar-nav > li > a {
	color: #eee;
	font-weight: 500;
	height: auto;
	border-radius: 3px;
	padding: 10px 15px;
	top: 5px;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a.active {
	color: #123B69;
	background: #fff;
}
.guest .navbar-nav * {
	text-transform: uppercase;
}
.guest .navbar-nav .btn {
	min-width: 130px;
}

.banner-top {
	background-size: cover;
	background-position: center;
	height: 400px;
}
.banner-top.pull-top{
	background-position: top center;
	position: relative;
	margin-top: -100px;
}

.banner-top.tall {
	height: 700px;
}
.banner-top .caption {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
	color: #fff;
}
.banner-top.tall .caption {
	top: 44%;
	padding: 0 15px;
}
.banner-top h1 {
	margin: 0 0 10px;
	font-weight: 300;
	font-size: 55px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.banner-top h3 {
	margin: 0;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.banner-top .btn {
	margin-top: 30px;
	font-size: 20px;
}
.btn.btn-white {
	background: #fff;
	font-weight: 500;
	padding: 5px 30px;
	transition: all 0.5s ease;
}

.navbar-nav.guest .btn:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(250,250,250,0.5);

}
.btn.btn-white:hover {
	box-shadow: 0 0 10px rgba(250,250,250,0.5);
}

.text-navy {
	color: #123b69;
}
.marketing label {
	font-weight: 700;
}
.register form button,
.marketing form button {
	text-transform: uppercase;
}
.marketing .btn {
	font-weight: 700;
	text-transform: uppercase;
}
.marketing img {
	margin: 15px 0;
}
.marketing.pad-md {
  padding-top: 20px;
}
.marketing .pad-top-lg {
	padding-top: 40px;
}
.marketing img.float {
	max-width: 130%;
}
.marketing .bullets .pincol {
	width: 10%;
	float: left;
	text-align: center;
}
.marketing .bullets .text {
	width: 90%;
	padding-top: 10px;
	float: left;
}

.marketing .richtext h1,
.marketing .richtext h2,
.marketing .richtext h3,
.marketing .richtext h4,
.marketing .caption h1,
.marketing .caption h2,
.marketing .text-left h1,
.marketing .text-left h2 {
	color: #123b69
}

.marketing .caption h3,
.marketing .text-left h3 {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.marketing .text-left h3 {
  margin-bottom: 45px;
}

.pull-up-marketing {
	margin-top: -112px;
}

.editor-toolbar {
	background: #eee;
}
.editor-toolbar .btn {
	color: #444;
	padding: 5px 10px;
	border: 0!important;
}
.editor-toolbar .btn-group > .btn:first-child {
	width: auto;
}
.richtext-editor {
	height: 300px;
	overflow:scroll;
	border: 1px solid #eee;
	padding: 10px;
	outline: none!important;
}

.modal-backdrop {
	background-color: #123B69;
}
.modal-backdrop.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.modal-content {
	border-radius: 0!important
}
.modal-title {
	font-weight: 500;
	text-transform: uppercase;
	color: #123B69
}
.modal-header {
	border: 0;
}
.login-modal label {
	color: #87908F;
}
.login-modal a {
	text-decoration: underline;
	float: right;
}
.login-modal .modal-header {
	padding: 30px 30px 15px 30px;
}
.login-modal .modal-body {
	padding: 0 30px 15px 30px;
}

.modal#addStrategies form {
	padding: 15px;
    margin-bottom: -15px;
    border-radius: 0 0 10px 10px;
}
.modal#addStrategies .checkbox-style {
	width: 380px;
}
.modal#addStrategies .portfolio, .modal#addStrategiesToPortfolio .portfolio {
	margin: 5px;
}
.modal#addStrategies .portfolio strong, .modal#addStrategiesToPortfolio .portfolio strong {
    top: 9px;
    position: relative;
}
.modal#addStrategies .toggle {
	margin-bottom: 15px;
}
.modal#addStrategies .filter {
	padding-top: 10px;
}
.modal#addStrategies .filter button {
	padding: 3px 10px
}

.modal#addStrategies .delete {
	padding: 2px 5px;
	font-size: 12px;
	margin-bottom: 5px;
	margin-right: 10px;
}

/* spark tt-table move here */
.tt-table td {
  min-width: 100px;
}

.tt-table th {
  white-space: nowrap;
}
.modal#createProtfolio .protfolio-padding {
	padding: 5px 15px 7px 30px;
}


.bg-gray {
	background: #F7F8FA;
}
.bg-darkgray {
	background: #F0F1F3; /*feb 17 updates seem to use this*/
	/*background: #F7F8FA;*/
}

.pinned-row .bg-gray {
	background: transparent;
}

.btn { /*nothing*/
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	background: transparent;
	border: 0;
	text-transform: none;
	outline: none!important;
}
.btn-lg {
	font-size: 16px;
	height: auto;
	font-weight: 500;
}
.btn.btn-default { /*gray*/
	/*color: #123C6A;*/
	color: #4B4B4B;
	background: #F0F1F3;
	border: 0;
}
.btn.btn-outline { /*gray outline*/
	background: transparent;
	border: 1px solid #87908F;
	color: #87908F;
}
.btn.btn-outline-white {
	color: #fff;
	border: 1px solid #fff;
}
.btn.btn-outline-blue{ /*blue outline*/
	background: transparent;
	color: #1A85A1;
	border: 1px solid #1A85A1;
}
.btn.btn-outline:hover {
	border-color: #1A85A1;
}
.btn.btn-blue,.btn.btn-blue:hover,.btn.btn-blue:active {
	background: #1A85A1!important;
	color: #fff!important;
}
.btn.btn-green,.btn.btn-green:hover,.btn.btn-green:active {
	background: #7AA559!important;
	color: #fff!important;
}
.btn.btn-small {
	font-size: 12px;
	font-weight: bold;
}
.btn.btn-info { /*darkblue with white text*/
	background: #123B69;
	color: #fff;
	border: 1px solid #123B69;
}
.btn.btn-gray {
	background:#566471 ;
	color: #fff;
}
.btn.btn-primary { /*blue*/
	color: #fff;
	background: #1A85A1;
	border: 0;
}
.btn.btn-primary.btn-factiva {
	color: #1A85A1;
	background: #EEE;
	border: 1px solid #1A85A1;
}
.btn.btn-warning {
	color: #fff;
	background: red;
}
.btn.lg {
	border-width: 2px;
}
.btn.btn-caret-loading {
	padding-right: 6px;
}
.btn.btn-dropdown-menu {
	width: 100%;
	text-align: left;
}

.sidebar-filters {
	padding-top: 15px;
	/*transition: all 0.5s ease;*/
	border-radius: 0;
	background: #F0F1F3;
	box-shadow: 0 10px 10px #c9ccd4;
	z-index: 2;
	/*transform: translateZ(0);*/
	overflow: hidden;
}

.sidebar-filters.closed {
	width: 0%;
	padding: 0;
	height: 700px;
}

.marketmonitor  {
	position: relative;
}
.marketmonitor .datatable {
	margin-top: 15px;
}
.marketmonitor .sidebar-filters-monitor {
	position: absolute;
	right: 0;
	top: 5px;
	margin-bottom: 0;
	max-width: 300px;
	height: 390px;
	overflow-y: scroll;
	z-index: 100; /* graph zindex is high*/
}

.marketmonitor .sidebar-filters-monitor .sidebar-filters {
	padding-left: 25px;
	margin-bottom: 0;
	box-shadow: none;
}

.widget-grid .marketmonitor .datatable .data-row > div {
	padding-top: 12px;
	font-size: 17px;
}

.widget-grid .marketmonitor .datatable .btn {
	padding-top: 16px;
	font-size: 17px;
	font-weight: 300;
	color: #123b69;
}

.widget-grid .marketmonitor .datatable .data-row > div.title-cell {
	font-size: 14px;
}

.main {
	transition: all 0.5s ease;
}

h4.label,
.sidebar-filters .form-group label.top {
	font-weight: 500;
	color: #4b4b4b;
	font-size: 16px;
	line-height: 1em;
}
.modal h4.label,
.sidebar-filters .form-group label.top {
	text-transform: uppercase;
}
.sidebar-filters .form-group label {
	width: 100%;
}

/*.sidebar-filters .form-group.inactive {
	opacity: 0.5
}*/

.toggle-sidebar-filters,
.toggle-sidebar-filters h4 {
	text-align: left;
	width: 100%;
	display: block;
	position: relative;
	height: auto;
	box-shadow: none;
}
.toggle-sidebar-filters i {
	position: absolute;
	right: 0;
}
.toggle-edit-filters {
	/*padding-top: 15px;*/
	/*padding-bottom: 15px;*/
	text-align: right;
}

.slider.slider-horizontal {
	width: 100%;
}
.slider-track {
	background: #C4C5C7;
	box-shadow:none;
}
.slider.slider-horizontal .slider-track {
	height: 7px;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
	margin-top: -5px;
}

.slider-selection,
.slider-handle {
	background: #103B69;
}
.slider-handle {
	box-shadow: 0 0 10px rgba(250,250,250,0.6);
}

.slider-handle {
	width: 16px;
	height: 16px;
}

.step .filters span a {
	font-weight: bold;
}

.step hr {
	margin-top: 0;
}

.chartfilter {
	margin-top: 7px;
	margin-bottom: 8px;
	padding: 0;
}

.chartfilter .view-options .btn {
	padding: 8px 12px;
}

.pipe {
	color: #ccc;
	font-weight: 300;
	font-style: normal;
}
.pipe2 {
  margin-left: 5px;
	margin-right: 5px;
}

.grid-item-inner .chartfilter {
	margin-top: 17px;
}

.chartfilter .periodkey {
	text-transform: uppercase;
}
.chartfilter .btn {
	margin: 0 3px;
}

.chartfilter .btn.btn-green, .chartfilter .btn.btn-green:hover, .chartfilter .btn.btn-green:active {
	background: #1A85A1!important;
}

.periodmenu {
	border: 1px solid #828E94;
	border-radius: 3px;
	display: inline-block;
	margin-top: 5px;
	padding: 1px;
	text-align: center;
	min-width: 210px; /* since not hiding the disabled opts, just strikethrough*/
}
.periodmenu .btn {
	font-weight: 900;
	padding: 2px 10px;
	text-transform: uppercase;
	font-size: 12px;
	color: #828E94;
	margin:2px;
}
.periodmenu .btn-default {
	background: #828E94;
	color: #fff;
}
.periodmenu.wide {
	width: 100%;
}
.periodmenu.wide .btn {
	width: 20%;
	margin: 2px 0;
}

.periodmenu.gray {
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	background: #4C5C68;
	border: 0;
}
.periodmenu.gray .btn {
	color: #fff;
}
.periodmenu.gray .btn-default {
	color: #4C5C68;
	background: #fff;
}

.widget-menu .periodmenu-dropdown {
	width: auto;
	padding: 2px;
}

.periodmenu-dropdown {
	font-weight:700;
	background: #4C5C68;
	border-radius: 5px;
	padding: 3px;
	width: 160px;
	display: inline-block;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates {
	width: 190px;
	margin: -10px 12px -10px -10px;
	background: transparent;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .row.no-gutter > div {
	padding-left: 0;
	padding-right: 0;
}
.mx-datepicker-btn {
	padding: 9px 15px;
}
.mx-datepicker-btn:hover {
	opacity: 0.8;
}
.mx-datepicker-btn-cancel, .mx-datepicker-btn-cancel:hover {
	color: #636b6f;
	background: #F0F1F3;
	border-color: #F0F1F3;
}
.mx-datepicker-btn-confirm, .mx-datepicker-btn-confirm:hover {
	color: #fff;
	background-color: #1A85A1;
	border-color: #1A85A1;
}
.mx-datepicker-popup {
	border-radius: 5px;
	padding: 6px;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .mx-datepicker-popup {
	right: 12% !important;
	top: 25px !important;
}

.mx-datepicker-popup.range {
    width: 584px;
}
.mx-datepicker {
	color: #123B69;
	display: block;
	font-family: 'Fira Sans',sans-serif;
}
.mx-calendar {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px !important;
}
.mx-calendar-header,
.mx-datepicker-span {
	font-weight: 500;
}
.mx-datepicker-span {
	font-size: 13px;
}
.mx-datepicker-footer {
	padding: 6px;
	border-top: 1px solid #ffffff;
}

.mx-calendar-month>a.current, .periodmenu-dropdown .mx-calendar-table td.current, .mx-calendar-year>a.current {
	background-color: #1A85A1
}
.mx-calendar-month>a:hover, .periodmenu-dropdown .mx-calendar-table td.inrange, .periodmenu-dropdown .mx-calendar-table td:hover, .periodmenu-dropdown .mx-calendar-year>a:hover {
	color: #bbb;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .display-dates {
	line-height: 25px;
	color: #1A85A1;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .to-date-separator {
	text-align: center;
	color: #4B4B4B;
}
.periodmenu-dropdown .dropdown {
	float:right;
}
.periodmenu-dropdown>span {
	color: #fff;
	float: left;
	padding: 6px 5px;
}
.periodmenu-dropdown .dropdown .btn {
	border-radius: 3px 3px 3px 3px;
}
.periodmenu-dropdown .dropdown .btn,
.periodmenu-dropdown .dropdown a {
	font-weight: 700;
	text-transform: uppercase;
}
.periodmenu-dropdown .dropdown-toggle {
	margin-right:0;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .periodmenu-label,
.periodmenu-dropdown.periodmenu-dropdown-custdates .dropdown-toggle {
  padding: 4px 0 0 0;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .dropdown-toggle {
	color: inherit !important;
	background-color: transparent !important;
}
.periodmenu-dropdown.periodmenu-dropdown-custdates .dropdown-toggle:active {
	box-shadow: none;
}
.widget-grid .periodmenu-dropdown .dropdown-toggle {
	padding: 5px 10px;
}
.periodmenu-dropdown .dropdown-menu > li > a.disabled {
	color: #b7294f;
	text-decoration: line-through;
}
.periodmenu-dropdown .dropdown-menu {
	min-width: 0;
	right: 0;
	left: auto;
}

.no-padding-left {
	padding-left: 0;
}
.no-padding-right {
	padding-right: 0;
}

.caret.caret-hidden {
  visibility: hidden;
}
.chartfilter .btn-group .caret {
	float: right;
	margin-top: 5px;
}
.btn-group > .btn-group,
.btn-group > .btn:first-child {
	width: 100%;
}
.btn-group > .btn-group a {
	cursor: pointer;
}

 .sidebar-filters .strategy-filter .form-group.border-bottom {
	border-bottom: 1px solid #ddd;
}

.bottom-portfolio .sidebar-filters {
	overflow: auto;
	min-height: 550px;
}

.bottom-portfolio .sidebar-filters.table-view {
	min-height: 0;
	height: auto!important
}

.strategy-filter .form-group label a {
	/*font-size: 11px;*/
	float: right;
	color: #4b4b4b;
}
.strategy-filter .form-group label .selected {
	color: #A1A1A2;
	font-size: 12px;
}

.strategy-list {
    padding: 10px 30px 10px 50px;
	position: relative;
}
.strategy-list .saveall {
  width: 160px;
	font-weight: 500;
	float: right;
	top: -10px;
	position: relative;
}

.strategy-list .tableoption.float {
 position: absolute;
 right: 0;
 z-index: 5;
 margin-top: 8px;
}

/*random fake select that wants line breaks*/
.dropdown-fake-container .dropdown-fake {
    max-width: 200px;
    white-space: normal;
    background: #eee;
    position: absolute;
    z-index: 5;
    padding: 8px;
    border-radius: 5px;
}
.dropdown-fake-container .current {
	color: #9d9e9f;
	white-space: normal;
	font-weight: 700;
    border-radius: 5px;

}
.dropdown-fake-container a {
	color: #9d9e9f;
	display: block;
	padding: 3px;
	font-size: 13px;
}



/*dropdown menu of column options*/
.tableoption {
	position: relative;
	max-width: 170px;
	text-align: left;
}
.tableoption button {
	height: 35px;
	transition: none;
	font-size: 14px!important;
	box-shadow: none;
}
.tableoption.opened button {
	background: #566471;
	color: #fff!important;
	border-radius: 3px 3px 0 0;
}




.tableoption .menu, .group-menu {
    position: absolute;
    background: #566471;
    border-radius: 3px;
    color: #fff;
    right: 0;
    width: 200px;
    max-height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 33px;
    padding: 5px 0;
    z-index: 5;
    box-shadow: 0 6px 10px rgba(50,50,50,0.2);
}

.graph-options .dropdown-menu {
	background: #566471;
	color: #fff;
}

.graph-options  .dropdown-menu > li > a, .graph-options  .dropdown-menu > li > a:hover {
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	background: #566471;
}

.graph-options  .dropdown-menu > li > a:hover {
	opacity: 0.8;
}


.graph-options  .dropdown-menu > li > a.active, .graph-options  .dropdown-menu > li > a.active:hover {
	color: #566471;
	background: #fff;
}

.group-menu-icon {
	cursor: pointer;
}

.group-menu-icon.opened {
	background: #566471;
	color: #fff !important;
	padding: 10px;
	left: 0px !important;
	top: 10px !important;
	border-radius: 3px 3px 0 0;
}

.group-menu {
	left: 0;
	top: 40px;
}

.tableoption .menu img, .group-menu img {
	margin-right: 5px;
	margin-top: -2px;
}
.tableoption .menu hr, .group-menu hr {
	margin: 5px;
}
.tableoption .menu label, .tableoption .menu a, .group-menu a {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	display: block;
	line-height: 1em;
	padding: 2px 15px;
}

.tableoption .menu strong,
.tableoption .menu p, .group-menu p, .group-menu strong {
	font-size: 12px;
	display: block;
	padding: 5px 10px;
	margin: 0;
}
.tableoption .menu a:hover, .group-menu a:hover {
	text-decoration:none;
	color: #ddd;
}

.sidebar-analyse .panel-group {
	padding-left: 1em;
}

.data-row-parent {
	position: relative;
	background: white;
}

.sidebar-analyse .panel-group .pinColumn {
	position: absolute;
	left: -1.75em;
	top: 10px;
	padding: 0 !important;
}

.sidebar-analyse .tableoption .menu {
	top: 20px;
}
.top-portfolio .periodmenu.gray.sidebar-analyse .btn {
	font-weight: 700;
	border-width: 2px;
}
.benchmarks .tableoption.pad-top .menu {
	top: 48px;
	right: auto;
	width: 430px;
}
.benchmarks .tableoption .btn i {
	position: relative;
	top: 4px;
}

.benchmarks .btn {
	white-space: normal;
	height: auto;
	width: 100%;
	text-align: left;
	font-size: 12px;
	/*text-transform: capitalize;*/
}
.benchmarks .btn.option i {
	color: #fff;
}

.date-disclaimer {
	font-size: 14px;
	padding-left: 20px;
}

.loading-overlay {
	display: block;
    width: 100%;
    height: 100%;
    background: rgba(250,250,250,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.sidebar-analyse .loading {
	opacity: 0.5;
	position: relative;
}

.analyse-chart .chart {
	width: 100%;
	height: 500px;
}


/*table*/
.datatable {
	display: block;
	clear: both;
}
.datatable .heading, .datatable .data-row{
	width: 100%;
	position: relative;
	display: block;
}
.datatable .heading > div,
.datatable .data-row > div, .fake-panel > div {
	display: inline-block;
	padding: 5px 5px;
	vertical-align: top;
}
.datatable .data-row > div {
	height: 65px;
}
.datatable .data-row input[type=number] {
	font-size: 12px;
    padding: 5px;
    height: 28px;
    border: 0;
    background: #eee;
    box-shadow: none;
}

.benchmarks .datatable .data-row {
	display: table;
}

.benchmarks .datatable .data-row > div {
	max-height: 80px;
	height: auto;
	display: table-cell;
	/*height: 80px;*/
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #eee;
	color: #333;
}

.col-small .datatable .data-row > div.editing,
.datatable .data-row > div.editing {
	padding-left: 3px;
	padding-right: 3px;
}
.col-small .datatable .data-row {
	border: 1px solid transparent;
	font-size: 0;
}

.datatable .heading,
.datatable .data-row {
	font-size: 0;
}
 .datatable .heading>div,
 .datatable .data-row > div {
	font-size: 14px;
}
.col-small .datatable .data-row:hover {
	border: 1px solid #983D5C;
	border-radius: 5px;
}
.datatable .heading {
	padding: 0; /*no scrollbar no padding needed*/
	white-space: nowrap;
}

.datatable .heading .btn-noclick, /*noclick is used when the heading is not clickable/isnt used for sorting*/
.datatable .heading .btn {
	display: block;
	font-size: 12px;
    padding: 5px;
    width: 100%;
    height: 45px;
    text-align: center;
    font-weight: 500;
    /*white-space: normal;*/
    color: #A1A1A2;
    position: relative;
}
.heading .text-left {
	text-align: left!important;
	padding-left: 0;
}
.datatable .heading .namecol .btn {
	text-align: left;
}
.datatable .namerow {
	font-weight: 500;
	color: #A1A1A2;
}
.datatable .fa-sort-up {
	position: relative;
	top: 5px;
}

.datatable .data-row  {
	padding : 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.data-row-index-suspended .menu-button-column .tableoption, .data-row-index-suspended:hover .menu-button-column .data-row-index-suspended-text, .data-row-index-invalid:hover .data-row-index-invalid-text, .data-row-index-invalid .menu-button-column .tableoption {
	display: none;
}

.data-row-index-suspended:hover .menu-button-column .tableoption, .data-row-index-invalid:hover .menu-button-column .tableoption {
	display: block;
}

.data-row-index-invalid .data-row-index-invalid-text {
	white-space: normal;
	line-height: 1.1em;
	display: block;
	text-align: right;
}

.strategy-list .datatable .data-row .btn {
	padding: 2px 10px;
	margin-top: 10px;
}
.strategy-list .datatable .data-row .btn.btn-yellow {
	margin-top:0;
}
.btn.btn-yellow {
	border: 1px solid #F7B918;
	color: #F7B918;
}

.strategy-list .pinColumn {
    position: absolute;
    z-index: 2;
    left: -45px;
    top: 10px;
}

hr.dotted {
	display: block;
	border: 0;
	width: 100%;
	height: 3px;
	position: relative;
	background: url(/img/design/line-dot.png)
}
hr.dotted.white {
	background: url(/img/design/line-dot-white.png)
}

.data-row.locked {
	background: #c5e0e7;
	border-radius: 3px;
}
.data-row.locked .bg-gray {
	background: #b1d2da
}

.portfolios .datatable .heading:after,
.datatable .data-row-parent:after {
	display: block;
	content: "";
	width: 100%;
	height: 3px;
	margin-top: -3px;
	position: relative;
	background: url(/img/design/line-dot.png)
}
.strategy-list-pinned .data-row-parent:after {
	display: none!important
}
.strategy-list-pinned .pinned-btn {
	margin: 5px;
	font-size: 13px;
}
.pinned-btn a, .pinned-btn a:hover {
	color: #fff;
}
.btn a:hover, .btn a:focus, .btn a:active {
	text-decoration: none;
}

.datatable .pinned-row{
    display: block;
    border: 2px solid #1A85A1;
    background: #1A85A1;/*rgba(214,140,165,0.25);*/
    border-radius: 5px;
    box-shadow: 0 2px 10px #cdcdcd;
    margin-bottom: 1px;
}

.datatable .pinned-row, .datatable .pinned-row a, .datatable .pinned-row div , .datatable .pinned-row span {
	color: #fff !important;
}

.datatable .pinned-row .btn-outline-blue {
	color: #1A85A1 !important;
	border-color: #fff !important;
	background: #fff !important;
}

.datatable .pinned-row , .data-row{
	position: relative;
}

/*.datatable .pin {
	position: absolute;
	left: -2.6em;
	top: 0.5em;
}
*/
.portfolio-stats .col.highlight, .highlight {
	/*background: #dcdcdc;*/
	background: rgba(50,50,50,0.15);
}




.datatable .heading .highlight {
	border-radius: 5px 5px 0 0;
}
.table thead {
	font-weight: 500;
}

.icon {
	display: inline-block;
}
.icon.icon-xs {
  width: 14px;
}
.icon.icon-sm {
  width: 16px;
}
.icon.icon-md {
  width: 18px;
}
.icon.icon-lg {
  width: 22px;
}
.icon.icon-xl {
  width: 26px;
}
.icon.icon-pin {
	width: 19px;
	height: 20px;
	background: url(/img/design/icon-pin.png) no-repeat center
}
.icon-pin.red,
.pinned .icon-pin,
.pinned-row .icon-pin {
	background: url(/img/design/icon-pin-red.png) no-repeat center
}
.col-small .datatable .icon.icon-pin  {
	background-size: 12px;
}

.icon.icon-cog {
	width: 22px;
	height: 20px;
	background: url(/img/design/icon-cog.png) no-repeat center
}
.icon.icon-cog-white {
	width: 22px;
	height: 20px;
	background: url(/img/design/icon-cog-white.png) no-repeat center
}
.tableoption.opened .icon-cog {
	background: url(/img/design/icon-cog-white.png) no-repeat center
}
/*.component-menu.tableoption .menu a,
.datatable .data-row .tableoption .menu a */
.tableoption .menu a{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

.scrolling {
	max-height: 450px;
	min-height: 250px;
	width: 100%;
	overflow-y: scroll;
	/*background: #fff; */
	position: relative;
}

.strategy-list .scrolling {
	max-height: none;
	min-height: auto;
	width: 100%;
	overflow: visible;
}



.portfolios {
	padding: 10px;
}
.portfolio-tab-nav {
    border-bottom: 2px solid #1A85A1;
}
.portfolio-tab-nav .btn {
	border-radius: 5px 5px 0 0;
	box-shadow: none;
}
.portfolio-tab-nav .btn-primary {
	font-weight: 700;
}
.portfolios .dropdown-fake-container .current {
	color: #fff;
	background: #1A85A1;
	padding: 8px 15px 8px 10px;
	position: relative;
}
.portfolios .dropdown-fake-container .dropdown-fake {
	background: #1A85A1;
}
.portfolios .dropdown-fake-container .dropdown-fake * {
	color: #fff;
}
.portfolios .dropdown-fake-container .current span {
	position: absolute;
	right: 5px;
	top: 40%;
}

/*#spark-app .dropzone {
	text-align: center;
	border: 0;
	border-radius: 10px;
	background: #E8EAE9;
}*/
/*#spark-app .dropzone h3, #spark-app .dropzone h4 {
	font-weight: normal;
}*/

.portfolios .datatable.main .data-row > div {
	height: 130px;
}
.portfolios .datatable .heading {
	padding: 0;
}
.portfolios .datatable .heading .btn {
	border-radius: 10px 10px 0 0;
	font-size: 13px;
	height: 60px;
	color: #9d9e9f;
	white-space: normal;
}
.portfolios .datatable .heading select {
	background: #f0f1f3;
	font-size: 12px;
}
.portfolios .datatable .data-row .btn {
    padding: 2px 10px;
    margin: 2px;
    font-size: 13px;
}
.portfolios .datatable .data-row a.title {
	margin-bottom: 0;
	margin-top: 10px;
	display: block;
	text-transform: capitalize;
}
#uploadstrategy_modal .modal-content {
	padding: 30px;
}
#uploadstrategy_modal .filedrop {
	margin-bottom: 30px;
}
#uploadstrategy_modal input, #uploadstrategy_modal select {
	height: 50px;
	border-radius: 5px;
	border: 2px solid #cdcdcd;
}

.portfolio-stats {
	font-size: 0;
	margin-top: 15px;
	color: #87908F;
	white-space: nowrap;
}
.portfolio-stats .col {
	font-size: 12px;
	white-space: normal;
	display: inline-block;
	vertical-align: top;
	height: 80px;
	text-align: center;
	padding: 10px 5px;
	border-radius: 3px;
	    transition: width 0.5s ease;
}

.portfolio-stats .small-height {
	height: 73px;
}

.portfolio-stats span {
	min-height: 25px;
	display: block;
}
.portfolio-stats .stat {
	font-size: 16px;
	white-space: nowrap;
	color: #4B4B4B
}


.top-portfolio {
	border-bottom: 2px solid #ddd;
}
.top-portfolio .sidebar-analyse {
	margin-bottom: 0;
	height: 210px;
	box-shadow: none;
}

.top-portfolio .dropdown-overflow {
  z-index: 3;
  overflow: visible;
}

.bg-blue {
    background: #092A56;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.bg-blue h3 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.bg-blue + .panel-group
{
	padding-left: 0;
}

.provider .section-title .analyse-page  .btn
{
	margin-left: 0;
}

.provider-wrapping .portfolio-stats .col
{
	border-top: 1px #1A85A1 solid;
	border-bottom: 1px #1A85A1 solid;
	border-radius: 0px;
}

.provider-wrapping .bottom-portfolio .sidebar-filters
{
	height: 550px !important;
}

.provider-wrapping .document
{
	height: auto;
}

.provider-wrapping .portfolio-stats .col:first-child
{
	line-height: 52px;
}

.provider-wrapping .portfolio-stats .col span:first-child
{
	margin-top: 5px;
}

.provider-wrapping .portfolio-stats .col:first-child span
{
	line-height: 1.3em;
	vertical-align: middle;
	display: inline-block;
	margin-top: 0;
}

.provider-wrapping .sidebar-analyse .strategy-list
{
	width: 100%;
	max-width: inherit;
}

.provider-wrapping .analyse-page
{
	margin-top: 20px;
}

.provider-wrapping .top-portfolio .sidebar-analyse
{
	height: auto;
}

.analyse-page .main {
	padding: 0px 15px;
}
.analyse-page .main .portfolio-stats {
	padding-right: 20px;
}
.bottom-portfolio .lowercharts {
	background: #f7f8fa;
	padding: 15px;
}

.lowercharts h4 {
	margin: 5px auto;
	text-align: center;
	font-size: 14px;
}

.num_widgets_8 .lowercharts-2 {
	padding-top: 0;
}

.num_widgets_8 .lowercharts-1 {
	padding-bottom: 0;
}

.lowercharts .chartfilter {
	margin-bottom: 0;
	text-align: center;
	padding-left: 15px
}
.lowercharts .chartfilter .btn,
.lowercharts .chartfilter .dropdown-menu a {
	font-size: 12px;
}
.lowercharts .chart {
	width: 100%;
	height: 300px;
	max-width: 410px; /*else goes off page when printing svg...*/
	margin: 0 auto;
}

.lowercharts .chart.chart-not-available {
  line-height: 300px;
}

/*.lowercharts #chartsmall4.chart.chart-proportionate,*/
.lowercharts .chart.chart-proportionate {
	max-width: 270px; /*else goes off page when printing svg...*/
}

.lowercharts .chartfilter .dropdown-toggle,
.lowercharts .chartfilter .dropdown-menu
  {
	width: 200px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	overflow: hidden;
	white-space: normal;
	  /*text-overflow: ellipsis;*/
}
.lowercharts .chartfilter .dropdown-toggle {
	white-space: normal;
}

.tableoption .menu label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown-menu .border-top {
	border-top: 1px solid #ddd;
}
.dropdown-menu.dark {
	max-height: 200px;
	overflow: auto!important;
}
.dropdown-menu.dark > li > a {
	white-space: normal;
}

.col-small .datatable, .datatable.analyse {
	font-size: 13px;
	padding: 0;
}
.datatable.analyse .btn,
.col-small .datatable .btn {
	padding: 2px;
	height: 20px;
}
.col-small .datatable .data-row > div, .analyse.datatable .data-row > div,
.fake-panel > div {
	height: 85px;
	padding: 10px 5px;
}

.col-small .datatable .data-row > div.pinColumn {
	padding: 0;
}

.pinColumn img, .pinColumn svg, .pin img, .pin svg {
	width: 16px;
	height: 16px;
}

.pinColumn img path {
	fill: #ccc;
}

.col-small .datatable .suspend_overlay {
	padding-top: 13px;
}
.col-small .datatable .tableoption .menu {
	top: 18px;
}

.data-row-index-suspended {
	opacity: 0.5;
}

.data-row-index-suspended:hover {
	opacity: 1;
}

.data-row-index-invalid-text {
	color: #983E5C;
	font-size: 10px;
	font-weight: normal;
	font-style: italic;
    padding-top: 0.5em;
}

.datatable .suspend_overlay, #rebalancingDates .suspend_overlay{
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 10px;
}
.datatable .suspend_overlay hr {
	margin: 5px 0;
	border-top: 2px solid #1A85A1;
	display: none;
}

.datatable.analyse .scrolling {
	/*padding-left: 10px;*/
	overflow: visible;
	height: auto !important;
	max-height: none;
}
.datatable.analyse .data-row > div{
	height: 80px;
}
.datatable.analyse .heading {
	margin-top: -30px;
	padding: 0;
	/*padding-right: 25px;*/
}
.datatable .list-group-item-heading {
	padding-top: 5px;
	font-weight: 300;
}
.strategy-list .btn.text-red * {
	color: #983D5C!important
}

.strategy-list .datatable .heading {
	padding-right: 0;
}


.panel-default {
	margin-bottom: 0;
}
.panel-default > .toggle.panel-heading {
	background: #F7F8FA;
	border-radius: 3px;
	margin-bottom: 3px;
	margin-top: 10px;
	position: relative;
	/*max-width: 342px;*/
	max-width: 330px;
	z-index: 3;
	padding-left: 20px;
}

.sidebar-analyse .strategy-list {
	max-width: 330px;
}

.fake-panel {
	width: 330px;
	padding: 0px 0 0 0px !important;
}

.fake-panel > div {
	display: inline-block;
}

.list-group-item-text {
	white-space: nowrap;
}

.panel-default > .toggle.panel-heading.topLayer {
	z-index: 999;
}

.panel-default > .toggle.panel-heading.highlight {
	background: #fff;
}
.panel-default > .toggle.panel-heading i {
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 20px;
}

.panel-default > .toggle.panel-heading i.menu-icon {
	right: auto;
	left: 10px;
	color: #1A85A1;
	top: 22px;
}

.sidebar-filters .toggle.panel-heading button {
	color: #4B4B4B;
	font-size: 16px;
	text-transform: uppercase;
}
.sidebar-filters .panel {
	background: transparent;
}
.search-input  {
	background-image: url(/img/design/icon-search.png);
	background-repeat: no-repeat;
    background-position: right 10px center;
	background-color: #fff;
}

.center-clear-all {
  margin-top: 15px;
  text-align: center;
}

.clear-all-style {
  line-height: 2;
  text-decoration: underline;
  color: #808080;
}

.remove-search-input  {
  height: 36px;
  width: 25px;
  position: absolute;
  right: 25px;
  top: 2px;
	background-image: url(/img/design/icon-remove-gray.png);
	background-repeat: no-repeat;
  background-position: center;
	background-color: #fff;
}

.text-gray {
	color: #87908F
}
.upper { /*inline gray text*/
	text-transform: uppercase;
}
.pad-left {
	padding-left: 15px;
}

.composition .datatable .data-row > div {
	padding: 7px 5px;
	line-height: 1.3em;
}


#stickyheader, #stickyheader>div {
	height: 80px; /*so no page jump*/
}
#stickyheader.affixed > div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#stickyheader>div {
	padding: 15px;
	z-index: 50;
	border-bottom: 2px solid #ddd;
}
#stickyheader h4 {
	margin: 0;
	text-transform: uppercase;
}
.choose-data-padding {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.pad-up {
  padding-top: 0px;
  margin-top: -15px;
  padding-bottom: 20px;
}
.pad-top {
	padding-top: 15px;
}
.pad-sm {
	padding-bottom: 15px;
	padding-top: 15px;
}
.pad-md {
	padding-bottom: 30px;
	padding-top: 30px;
}

.register h4 {
	color: #123b69;
	text-transform: uppercase;
}
.register label {
	color: #a3abb2;
	font-weight: 300;
	font-size: 12px;
}
.register .checkbox label {
	color: #4B4B4B;
	font-size: 14px;
}
.register input.form-control, .register select.form-control {
	border: 2px solid #a3abb2;
	box-shadow: none;
	height: 50px;
}

.footer {
	font-size: 12px;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer * {
	font-weight: normal;
	color: #636b6f
}
.footer p {
	clear: both;
	margin-bottom: 0;
}
.footer .fact-credits strong {
	display: block;
	font-weight: 700;
}
.footer .fact-credits img {
	display: inline-block;
}
.footer .fact-credits img:last-child {
	padding-left: 30px;
	border-left: 1px solid #ACADAE;
	margin-left: 30px;
}
.visual-credits {
	margin-top: 11px;
}
.footer .text-right {
	margin-top: 35px;
}
.text-justify,
.disclaimer {
	text-align: justify;
	text-justify: inter-word;
}

.text-break-line {
	white-space: pre-line;
}

.avgkey {
	text-align: left;
	font-weight: 500;
	margin-left: 15px;
	font-size: 12px;
}
.avgkey i {
	display: inline-block;
	padding: 6px;
	border-radius: 3px;
	background: #123B69;
	margin-right: 5px;
	top: 2px;
    position: relative;
}

.bumper {
	background: #F0F1F3;
}

/*.col-cell {
	float: left;
}

.analyse.datatable .data-row > div.col-cells {
	padding: 0;
}
*/
/*
.amcharts-pie-slice {
	transform-origin: center;
}
.amcharts-pie-slice:hover {
	transform: scale(1.1);
	z-index: 2;
}*/
/*.amcharts-graph-bullet:hover,
.amcharts-graph-stroke:hover {
	stroke:#333;
}*/


/*.chart {
	background: #fff;
}*/
.pie-small, .pie-large {
	position: relative;
}
.pie-small .chart {
	height:200px;width:100%;
}
.pie-large .tableoption,
.pie-small .tableoption {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
}
.pie-large .chart {
	width: 100%;
	height: 500px;
	overflow: hidden;
	text-align: left;
}

.amcharts-chart-div a {
	opacity: 0.1!important
}

#strategy .amcharts-graph-bullet {
	cursor: pointer;
}
.amcharts-graph-line.highlight-dot circle,
#strategy .amcharts-graph-bullet:hover {
	fill: #983D5C;
	r: 8;
    stroke: #983D5C
}

circle.highlight-dot {
	r: 8;
	fill: #983D5C;
}

path.highlight-dot {
	stroke: #983D5C;
}

#chartsmall1 .amcharts-axis-label, .chart-radar .amcharts-axis-label { /*numbers on radar*/
	display: none
}
.animatelines .amcharts-graph-line { /*remove that class when you dont want lines to redraw every zoom/reload*/
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 6000; /*make this higher if the line doesnt get completely drawn*/
  stroke-dasharray: 0 \0/; /*ie?*/
  stroke-dashoffset: 0 \0/;
  -webkit-animation: am-draw 4s;
  animation: am-draw 4s;
}
@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 6000;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
@keyframes am-draw {
    0% {
        stroke-dashoffset: 6000;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
.fade-others-out .amcharts-graph-stroke {
	opacity: 0.5;
}
.amcharts-graph-stroke.highlight-chart {
  /*filter: url(#shadow);*/
  stroke: #983D5C!important;
  z-index: 99999;
  opacity: 1 !important;
  animation: none!important
}
.amcharts-graph-fill.highlight-fill {
  fill: #983D5C!important;
  z-index: 99999;
  animation: none!important
}
.amcharts-graph-column-element.highlight-column {
  fill: #983D5C!important;
  stroke: #983D5C!important;
  z-index: 99999;
}

.loader-inner {
	margin: 50px auto;
	text-align: center;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #ddd;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }



.balloon-value {
	font-weight: bold;
}

.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.warning {
	font-weight: bold;
	text-align: center;
	padding: 0.25em;
	font-style: italic;
}

.no-data:after {
   content: " (no data)";
}

.periodmenu .btn.insufficient-data, .chartfilter .invalid {
	color: #983E5C;
	text-decoration: line-through;
}
.periodmenu.gray .btn.insufficient-data {
	color: #ddd;
}

.periodmenu .btn.insufficient-data.btn-default {
	color: white;
	background: #983E5C;
}


.is-loading  {
	position: relative;
}
.is-loading .fade-when-loading {
	opacity: 0;
}
.no-strategies-error {
    padding: 10em 0;
}
.abs-loader {
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 50px;
}

.data-row-index-suspended {
	opacity: 0.5 !important;
}

.data-row-index-suspended:hover {
	opacity: 1 !important;
}

.data-row-index-suspended-text {
	font-style: italic;
	padding-top: 0.5em;
}

.pos-rel {
	position: relative;
}

.date-label {

	position: absolute;
	right: 0;
	top: 9px;
}

#chartCtx-wrapper {
	position: relative;
}

.loader-overlay .loader-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.loader-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.75);
	z-index: 1;
}

.toggle-filters h4 {
	text-align: left;
	font-size: 0.75em;
	color: #666;
	display: block;
	margin: 5px 2px;
}


.premium-callout {
	text-align: left;
}
.premium-callout.blue {
	padding: 15px 30px;
	background-color: #123B69;
	background-image:url(/img/design/premium-blue-bg.png);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	border-radius: 5px;
}
.premium-callout .row {
	display: table;
	margin-bottom: 5px;
}
.premium-callout .row .col2 {
	padding: 0 10px;
	line-height: 1.2em;
}
.premium-callout .row>div {
	display: table-cell;
}
.premium-callout h3 {
	text-align: left;
}
.premium-callout .btn {
	margin-top: 15px;
}
#premium_upgrade_modal svg {
	position: relative;
    margin: 0 10px;
    top: 8px;
}
.vue-grid-item .premium-callout .row .col2 {
	line-height: 1em;
    font-size: 12px;
    padding: 0 5px;
}

.vue-grid-item > .vue-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url(/img/design/icon-resize.svg);
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    display: none;
}

.vue-grid-item:hover > .vue-resizable-handle {
    display: block;
    z-index: 9999;
}

/*portfolio/strat pgs*/
.lowercharts .premium-callout {
	width: 80%;
	margin: 0 auto;
}
.premium-overlay {
	position: relative;
}
.premium-overlay .premium-callout {
    position: absolute;
    z-index: 5;
    width: 90%;
    top: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.premium-overlay .fade{
	opacity: 0.5;
}

.btn.premium-block{
	opacity: 0.7;
	padding-right: 30px;
	position: relative;
}
.btn.btn-gray.premium-block {
	color: #444;
	background: #aaa;
}
.btn.premium-block svg {
	position: absolute;
	right: 5px;
	width: 20px;
	height: 20px;
}
label.premium-block {
	margin-bottom: 15px;
	color: #aaa!important;
}
label.premium-block svg {
	height: 20px;
    width: 20px;
    position: relative;
    margin-left: 15px;
    top: 5px;
}
.filedrop {
	color: #838E94;
	text-align: center;
	font-weight: 700;
	padding: 15px 0;
	position: relative;
	transition: all 0.5s ease;
	background: rgba(200,200,200,0);
}
.filedrop:hover {
	background: rgba(200,200,200,1);
}
.filedrop img {
	padding: 5px;
	margin-bottom: 15px;
}
.filedrop input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.filedrop span {
	color: #444;
	padding: 3px;
}

.volatility-track-print {
  display: none;
}

.switch-custom {
	border: 2px solid #848D94;
	background: #848D94;
	width: 120px;
	border-radius: 3px;
	height: 34px;
}
.switch-custom label {
	display: block;
	position: relative;
	float: left;
	width: 50%;
}
.switch-custom input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.switch-custom input+i {
	line-height:30px;
	font-size: 12px;
	color: #fff;
	display: block;
	min-width: 56px;
	text-align: center;
	border-radius: 3px;
	font-style: normal;
}
.switch-custom input:checked+i {
	background:#fff;
	color: #848D94;
}

.network .label {
	display: block;
	padding-left: 0;
	text-align: left;
}
.network label.label {
	font-size: 14px;
	color: #444;
}

.sidebar.fixed {
	position: fixed;
	background: #F0F1F3;
	top: 0;
}
.network .pad-v{
	padding: 10px 0;
}
.network .top {
	margin-bottom: 15px;
}
.network .feed-nav .btn {
	margin-right: 10px;
	border-width: 1px!important;
}
.network .top input, .network .top textarea {
	border: 0;
}

.feed-item {
	padding: 5px 0;
	border-radius:5px;
	background: rgba(100,100,100,0);
	transition: all 1s ease;
}

/*detail page*/
.feed-item .author {
	padding: 15px 0;
}
.feed-item .main .author h4 {
	margin: 0;
}
.feed-item .main .back {
	margin-top: 30px;
}

@keyframes feedin {
  0% {
  	margin: 10px 0;
	background: rgba(100,100,100,0.3);
  }
  100% {
  	margin: 0 0;
	background: rgba(100,100,100,0);
  }
}
.grayin {
  animation: feedin 1s infinite;
  animation-iteration-count: 1;
}

.feed-item .title-row > div {
	padding: 0;
}
.feed-item img {
	margin: 0 auto;
}
.feed-item .title-row img {
	margin-top: 10px;
}

.provider-item {
	line-height: 1.5em;
}
.message-item a,
.provider-item a {
	color: #4B4B4B;
}
.provider-item strong {
	font-size: 16px;
}
.provider-item .col-xs-6 {
	padding: 0;
}
.provider .top .btn {
	margin: 5px;
	width: 100%;
}
/*.provider .top .btn,*/
.provider-item .btn {
	position: absolute;
    top: 0;
    right: 10px;
    font-weight: 700;
    white-space: normal;
}
.provider-item .btn {
    max-width: 80px;
}
.provider-item .btn {
	float: right;
	font-size: 13px;
    padding: 0 10px;
}
.provider .btn-outline.edit {
	border-width: 2px;
	min-width: 100px;
}
.provider .pad-bottom {
	padding-bottom: 15px;
}
.provider .section-title h4 {
	color: #444;
	display: inline;
	margin-right: 10px;
}
.provider .section-title .btn {
	display: inline-block;
}
.provider .section-title .btn i {
	margin-right: 10px;
}

.provider .banner-top .provider-img {
    /*display: block;*/
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.provider .banner-top .provider-img img {
	padding: 20px;
}
.provider .top {
	border-bottom: 2px solid #ddd;
	padding: 45px 0 30px;
}
.document {
	margin-bottom: 30px;
	height: 170px;
}
.document .title {
	font-size: 17px;
	line-height: 1.4em;
}
.document .links a {
	font-size: 16px;
}
.document .links .spacer {
	padding: 5px 10px;
	font-size: 18px;
}
#edit_connections .scrolling .btn {
	float: right;
}
#edit_connections .col-sm-1,
#edit_connections .col-sm-2 {
	padding: 0 5px;
}
#edit_features {

}

.provider-img img {
	border: 2px solid #c4c5c6;
	border-radius: 2px;
	background: #fff;
	padding: 5px;
}

/*inbox. message-item is sidebar */
.inbox {
	overflow: auto;
}
.inbox .sidebar hr {
	margin: 0;
}
.inbox .sidebar .scroll {
	overflow:auto;
}
.inbox .main { margin-top: 30px; }

.message-item {
	padding:10px;
}
.message-item:hover {
	background: #ededed;
}
.message-item.active {
	background: #123B69;
	color: #eee;
}
.message-item.active a {
	color: #fff;
}
.message .text {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.message.color1 .text {
	background: #F7F8FA;
}
.message.color2 .text {
	background: #FFF;
}
.message {
	clear: both;
}

.message-form {
	clear: both;
}

.message.color2 {
	float: left;
	width: 75%;
}

.message.color1 {
	text-align: right;
	float: right;
	width: 75%;
}

.message h4 {
	margin: 0;
}
.message .author { cursor:pointer;}
.message.closed .text p {
	/*opacity: 0.5;*/
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

.message-form {
	padding: 30px 15px;
}

.btn-xs {
	font-size: 80%;
}
/**/

.feature-graph {
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
}
.feature-graph .chart {
	max-height: 300px;
}
.feature-graph .title-row > div {
	padding: 10px 0;
}
.feature-graph h4 {
	color: #123B69;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	margin-left: 15px;
}
/*.feature-graph .menu, */
.feature-graph .move {
	margin-top: 8px;
}
.widget-portfolio-stats {
	border-top: 2px solid #1A85A1;
}
.widget-portfolio-stats .col {
	margin: 5px;
	width: 14%;
}
.feature-graph select {
	background: #F0F1F3;
}

.feature-graph .print-border {
	font-size: 14px;
	color: #4B4B4B;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}
.feature-graph .chart {
	height: 300px;
}
.feature-graph .print-border .tableoption {
	display: none;
}

.bg-white {
	background: #fff;
}
.bg-green {
	background: #29B999;
	color: #fff;
}
.bg-red {
	background: #b7294f;
	color: #fff;
}
.bg-red .stat, .bg-green .stat {
	color: #fff;
}
.text-red {
	color: #b7294f;
}
.text-green {
	color: #29B999;
}

.neg-return {
	color: #b7294f;
}

.pos-return {
	color: #29B999;
}

#registermodal_fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}
#registermodal_fixed .container {
	padding: 30px 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#registermodal_fixed .btn {
	font-weight: 700;
	width: 150px;
	margin: 15px;
	border: 2px solid #1A85A1!important;
}

.editmodal input,
.editmodal textarea {
	background-color: #fff;
	border: 1px solid #ccc!important;
	box-shadow: none;
	border-radius: 3px!important;
}
.editmodal button.submit {
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px;
	height: auto;
	margin-top: 0;
}
.editmodal .document-edit {
	margin-bottom:15px;
	text-align:left;
	font-size: 12px
}
.editmodal .document-edit .btn {
	padding: 5px;
	font-size: 12px;
}
.editmodal .data-row-parent {
	background: transparent;
}
.editmodal .data-row-parent:after {
	display: none;
}
.editmodal .datatable .data-row > div, .widgetmodal .datatable .data-row > div {
	height: auto;
	padding-left: 0;
}
.editmodal .datatable .heading>div {
	height: auto;
	color: #87908F;
	font-size: 12px;
}
.editmodal .datatable .item {
	border-radius: 3px;
	padding: 3px 0;
	cursor: pointer;
}
.editmodal .datatable .item:hover {
	background: #eee;
}

.widgetmodal .datatable .data-row.selected ,
.editmodal .datatable .item.selected {
	background: #BFDCE4;
}
.editmodal .graphselect {
	margin-top: 15px;
}
.editmodal .graphselect > div {
	padding: 5px;
}
.editmodal .graphselect .item {
	background: #fff;
	padding: 15px;
	height: 170px;
	font-weight: 700;
	cursor: pointer;
}
.editmodal .graphselect .item img {
	margin: 0 auto 10px;
	max-height: 100px;
}
.editmodal .graphselect .item:hover {
	background: #eee;
}
.editmodal .graphselect .item.selected {
	background: #BFDCE4;
}
.editmodal h4.label {
	margin-top: 0;
}


@media only screen and (max-width:1200px){
	.container {
		width:100%;
	}
}
@media only screen and (max-width: 767px) {

	.panel > .panel-body {
		padding: 5px;
	}

	.navbar-inverse .navbar-collapse {
		background: #123B69;
		z-index: 2;
	}

	.banner-top h1 {
		font-size: 30px;
		letter-spacing: 1px;
	}
	.banner-top h3 {
		font-size: 16px;
	}
	.banner-top .banner-mobile img {
		position: absolute;
		width: 100% !important;
		bottom: 0;
	}
	.banner-top.tall {
		height: auto;
		margin-top: 0;
	}
	.banner-top.tall .banner-mobile img {
		position: relative;
	}

	.navbar-inverse {
		padding-top: 10px;
	}
	.navbar-inverse.guest {
		padding-top: 0;
	}
	.navbar-inverse.guest .navbar-nav {
	    width: 340px;
	    margin: 0 auto 0;
	    max-width: 100%;
	}
	.navbar-inverse.guest .navbar-nav li {
		width: 35%;
		float: left;
	}
	.navbar-inverse.guest .navbar-nav.mobile-nav li {
		width: auto;
		float:none;
	}
	.navbar-inverse.guest .navbar-brand {
		width: 100%;
		outline: none;
		height: auto;
		padding: 5px 0 0;
	}
	.navbar-inverse.guest .navbar-brand img {
		margin: 0 auto;
		width: 150px;
	}
	.navbar-inverse.guest .navbar-nav li a {
		padding: 0;
		margin: 0 3px;
		font-size: 12px;
		min-width: 0;
	}

	.marketing img.float {
		max-width: 100%;
	}
	.marketing form button,
	.marketing form input[type=submit] {
		width: 100%;
	}
	.banner-top.pull-top {
		position: relative;
		height: auto;
		min-height: 400px;
		top: -100px;
		margin-bottom: -100px;
	}
	.banner-top .caption {
		top: auto;
		bottom: 20px;
	}
	.banner-top .btn {
		font-size: 15px;
	}
	.marketing .pad-top-lg {
		padding-top: 0;
		margin-top: 0;
		height: auto;
	}
	.provider .top .btn, .provider-item .btn {
		position: relative;
	}
	.pull-up-marketing {
    padding-top: 200px;
    margin-top: -250px;
	}
	.marketing-bottom {
		background-image: none !important;
		background-color: #123B69;
		padding-top: 0;
	}
	.marketing .bullets .text {
		padding-left: 15px;
	}

	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 14px;
	}

	.scrolling {
		overflow: auto;
	}
	.datatable {
		overflow: auto;
		height: 300px;
	}
	.datatable .heading, .datatable .data-row {
		min-width: 800px;
	}
	.sidebar-filters.closed{
		height: 0;
	}
	.strategy-list .saveall {
		float:none;
		top: 0;
	}
}

.vue-grid-item:hover {
	z-index: 50;
}
.vue-draggable-dragging {
	box-shadow: 0 5px 10px rgba(100,100,100,0.2);
}
.vue-grid-placeholder {
	background: #ddd!important;
}

.widgetmodal .label {
	font-weight: 700;
	color: #123b69;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0;
}
.widgetmodal select {
	margin-bottom: 10px;
}
.widgetmodal .datatable .checkbox-style input[type="checkbox"] + i {
	top: 0;
	margin-left: 0;
}
.widgetmodal .datatable .data-row-parent {
	background: transparent;
}
.widgetmodal .filters .btn {
	display:block;
}
.widgetmodal .filters .text-right .btn { float:right ;}
.widget-grid {
	margin-top: 30px;
	margin-bottom: 30px;
}
.widget-grid .item {
	background:#fff;
	height:100%;
	padding: 0 5px;
	border-radius: 5px;
}

.grid-item-inner {
	height: 100%;
}

.widget-grid .chart, .widget-grid .datatable {
	cursor: default;
}
.widget-grid .item:hover {
	z-index: 50;
}
.widget-grid .item h4.charttitle {
	color: #123B69;
	font-size: 18px;
	padding-left: 5px;
	max-height:30px;
	font-weight: bold;
}
.widget-grid .chartfilter .btn, .widget-grid .chartfilter li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.height1 .chartfilter .btn,.height1 .chartfilter li  {
	font-size: 10px;
}
.widget-grid select {
	background: #F0F1F3;
}
.widget-grid .widget-menu {
	float: right;
	height: 33px;
  margin-top: 5px;
  margin-right: 8px;
}
.widget-grid .widget-menu > div {
	padding: 0;
	float: left;
}

.widget-grid .widget-menu > div.periodselect-top {

}

.widget-grid .item .chartfilter .row {
	margin: 0;
}
.widget-grid .item .chartfilter .col-xs-6 {
	padding: 2px
}


.widget-grid .chart {
	height: 550px!important;
}
.widget-grid .height1 .chart {
	max-height: 100px;
}
.widget-grid .height2 .chart {
	max-height: 230px;
}
.widget-grid .height3 .chart {
	max-height: 370px;
}
.widget-grid .height4 .chart {
	max-height: 550px;
}
.widget-grid .height2 .chart.chart-xy,
.widget-grid .height2 .chart.chart-volatilitytrack {
	max-height: 200px;
}
.widget-grid .height3 .chart.chart-xy,
.widget-grid .height3 .chart.chart-volatilitytrack {
	max-height: 340px;
}
.widget-grid .height4 .chart.chart-xy,
.widget-grid .height4 .chart.chart-volatilitytrack {
		max-height: 495px;
}

.widget-grid .periodselect-bottom {
	position: absolute;
	bottom: 15px;
	left: 10px;
	right: 10px;
	text-transform: uppercase;
	margin: 0 auto;
	width: 70px;
}

.widget-grid .type-feed .vue-resizable-handle,
.widget-grid .type-news .vue-resizable-handle,
.widget-grid .type-default .vue-resizable-handle,
.widget-grid .type-bubble .vue-resizable-handle {
	display: none!important;
}

.marketmonitor #as_at_date {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700;
    color: #666;
}

.loading-layer {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  position: absolute;
  z-index: 2;
}

.marketmonitor select {
	background: transparent;
    border: 2px solid #4C5C68;
    color: #4C5C68;
    border-radius: 3px;
    font-weight: bold;
}

.marketmonitor .btn.btn-outline {
	border: 2px solid #4C5C68;
    color: #4C5C68;
    font-weight: bold;
}

.widget-grid .periodselect-bottom select {
	border: 2px solid #222;
}
.widget-grid .stat-bottom {
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*.widget-grid .chart-bubble-col {*/
/*	float: left;*/
/*}*/
/*.widget-grid .chart-bubble svg{*/
/*	display: block;*/
/*	margin: 0 auto;*/
/*}*/

.widget-grid #vis circle {
	/*bubble*/
	stroke-width:0;
}
.widget-grid #vis circle:hover {
	stroke-width:2px;
	stroke: #ddd;
}
.widget-grid .marketmonitor .tooltip_for_market_monitor {
	position: absolute;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	background: rgba(18, 59, 105,0.8);
	border-radius: 5px;
	z-index: 3;
	margin-top: -150px;
   margin-left: -410px;
}

#popover-test {
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	background: rgba(18, 59, 105,0.8);
	border-radius: 5px;
	z-index: 3;
}


#popover-test.popover.right > .arrow:after {
	border-right-color: rgba(18, 59, 105,0.8);
}

#popover-test p {
	margin-top: 10px;
}

.widget-grid .marketmonitor .closed {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top:0;
	left: 0;
	width:100%;
}
.widget-grid .marketmonitor .monitor-options {
    width: 600px;
    position: absolute;
    top: -35px;
    right: 140px;
}


.widget-grid .datatable .data-row > div {
	height: 55px;
}

.widget-grid .default-menu {
	text-align: center;
}
.widget-grid .default-menu .col-xs-4 {
	padding: 5px;
}

.small-grid.widget-grid .default-menu .col-xs-4 {
	padding: 12px 5px;
}

.widget-grid .default-menu>.clearfix {
	padding: 5px 20px;
	border: 1px solid #ddd;
}
.widget-grid .default-menu .btn {
	height: 114px;
	font-weight: 700;
	padding: 5px;
}
.widget-grid .default-menu .btn.selected {
	opacity: 0.6;
}

.widget-grid .default-menu img {
	display: block;
	margin:5px auto;
}
.widget-grid .scrolling {
	width:100%;
	overflow-y:scroll;
	max-height: none;
	min-height: 0;
}
.widget-grid .datatable .btn {
	font-size: 13px;
	font-weight: 700;
	white-space: normal;
	height: auto;
	box-shadow: none;
}

.widget-grid .datatable .btn.bg-red:hover, .widget-grid .datatable .btn.bg-green:hover {
	color: #fff;
}

.widget-grid .datatable .btn:hover {
	opacity: 0.8;
}

.widget-grid .nopadding {
	padding: 0;
}

.stat-large {
	text-align: center;
	margin-top: 70px;
}
.stat-large .btn {
	margin: 10px auto;
	display: block;
	max-width: 150px;
}
.stat-large .stat {
  white-space: nowrap;
	font-weight: 300;
	font-size: 60px;
	margin: 0 30px 0 auto;
}
.stat-large .stat span {
	font-size: 35px;
	line-height: 60px;
	position: absolute;
}

.small-grid .height1 .stat-large {
	margin-top: 20px;
}

.small-grid .height1 .stat-large h2 {
	font-size: 45px;
}


.small-grid .height1 .stat-large .stat span {
	line-height: 40px;
}

.small-grid .height1 .block-stat .periodselect-bottom {
	position: absolute;
	right: auto;
	left: 10px;
	top: auto;
	bottom: 10px;
}

.monitortable h4 {
	font-weight: 700!important;
	padding: 10px 0;
	margin-top: 0!important;
}
.monitortable a {
	line-height: 1em;
}
.monitortable a  em {
	color: #aaa;
}
.monitortable.datatable .data-row > div {
	height: auto;
	min-height:50px;
}
.monitortable .border-right {
	border-right: 2px solid #ddd;
}

.height1 .scrolling {
	height: 100px;
}
.height2 .scrolling {
	height: 230px;
}
.height3 .scrolling {
	height: 390px;
}
.height4 .scrolling {
	height: 540px;
}

.block-comparisonTable .scrolling, .ms-hide-scroll {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.block-comparisonTable .scrolling::-webkit-scrollbar {
  display: none;
}

.provider-hidden-scroll .scrolling {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.provider-hidden-scroll .scrolling::-webkit-scrollbar {
  display: none;
}

.overlay-scroll .scrolling {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.height2 .block-comparisonTable .scrolling {
	height: 190px;
}
.height3 .block-comparisonTable .scrolling {
	height: 350px;
}
.height4 .block-comparisonTable .scrolling {
	height: 500px;
}


.block-comparisonTable .charttitle+.tableoption {
	position: absolute;
	right: 0;
	z-index: 5;
}
.block-comparisonTable .charttitle+.tableoption button {
	padding: 5px;
}

.chart-bubble g text {
	display: none;
	cursor: pointer;
}
.chart-bubble g:hover text {
	display: block;
}

.chart-pie .amcharts-chart-div text {
	text-transform: uppercase;
	font-weight: 700;
}

.tooltip-container {
	position: relative;
}
.tooltip-container .tooltip-popover {
	display: none;
	background: #566471;
	color: #fff;
	font-size: 11px;
	position: absolute;
	z-index: 10;
	padding: 5px 10px;
	border-radius: 5px;
	width: 200px;
}
.tooltip-container .tooltip-popover ul {
	padding-left: 0;
}
.tooltip-container .tooltip-popover li {
	color: #fff;
	text-decoration: underline dashed #ccc;
}
.tooltip-container .tooltip-popover a {
	color: #fff;
	text-decoration: underline dashed #fff;
}
.tooltip-container .tooltip-popover a:hover {
	color: #add8e6;
	text-decoration: underline solid #add8e6;
}
.tooltip-container .tooltip-popover.right {
	right: 0;
}
.tooltip-container:hover .tooltip-popover {
	display: block;
}

.btn.btn-edit-hover.btn-edit-hover {
	position: absolute;
	z-index: 999;
	font-size: 1em;
	background: white;
	display: none;
}

.banner-top:hover .btn.btn-edit-hover.btn-edit-hover.btn-edit-cover-image {
	display: inline-block;
}

.provider-img-wrapper {
	display: inline-block;
	position: relative;
}

.provider-img-wrapper:hover .btn.btn-edit-hover.btn-edit-hover.btn-edit-logo {
	display: block;
    height: 100%;
    top: 0;
    margin-top: 0;
    right: 0;
    width: 100%;
}

.btn.btn-edit-hover.btn-edit-hover.btn-edit-cover-image {
	right: 1em;
	bottom: 1em;
}

.btn.btn-edit-hover.btn-edit-hover.btn-edit-logo {
	top: 1em;
	right: 1em;
}

.form-row {
	margin-top: 1em;
}

#popover-test .popover-content {
	width: 220px;
}

.lowercharts .graph-options {
	position: absolute;
  right: 0;
  z-index: 20;
}
.graph-options a {
	font-size: 12px;
}
.graph-options .btn {
	margin: 10px 10px 5px; font-weight: 700;
}
.graph-options .active {
	background: #ddd;
}

.correlation_matrix_table tr .correl-same, .correlation_matrix_table tr .correl-blank {
	border-top: 1px solid transparent;
}

.correlation_matrix_table .col-first {
	/*display: none !important;*/
}

.popover-content span {
	white-space: nowrap;
	font-size: 11px;
}

.popover-content span:hover {
	text-decoration: underline;
	cursor: pointer;
}

#correlation-legend {
	position: absolute;
	bottom: 3em;
	left: 1em;
}



@media (min-width: 1200px) {
	/*.view-correlation_matrix .sidebar-analyse-main {*/
	/*	position: fixed;*/
	/*	top: 316px;*/
	/*	width: 390px;*/
	/*}*/

	/*.view-correlation_matrix .main {*/
	/*	float: right;*/
	/*}*/

	.view-correlation_matrix .bottom-portfolio .main {
		/* overflow-y: scroll; */
		min-height: 550px;
	}
	.view-xy .bottom-portfolio .main {
		overflow-y: scroll;
		min-height: 550px;
	}
	.view-trackrecord .bottom-portfolio .main {
		overflow-y: scroll;
    min-height: 550px;
    overflow-x: hidden;
	}
}

.correlation_matrix_table td {
  font-size: 16px;
	border-left: none !important;
	border-right: none !important;
}

.correlation-highlight-row td {
	border-top: 2px solid black !important;
	border-bottom: 2px solid black !important;
	opacity: 0.75 !important;
}

.pinned-row-item td {
	border-top-width: 3px !important;
	border-top-style: solid !important;
	border-bottom-width: 3px !important;
	border-bottom-style: solid !important;

}

.empty-inbox {
	text-align: center;
	padding: 10em;
}


.factiva-logo {
  border-left: 1px #ACADAE solid;
}

.style2 .marketing img {
  margin: 0;
}

.style2 {
  background: none;
}

.style2 .text-left {
  margin-bottom: 15px;
}

a.back_btn {
    border: 1px #87908f solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: #666d6c;
}

a.back_btn::before {
    content: "< ";
}

.fa.fa-xs {
  font-size: 14px;
}
.fa.fa-sm {
  font-size: 16px;
}
.fa.fa-md {
  font-size: 18px;
}
.fa.fa-lg {
  font-size: 22px;
  line-height: initial;
  vertical-align: initial;
}
.fa.fa-xl {
  font-size: 26px;
}

.cursor-pointer {
	cursor: pointer;
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear-all-pinned {
  display: block;
  text-align: right;
	text-decoration: underline;
  margin-right: 13%;
  padding-right: 10px;
  color: #A1A1A2;
  font-size: 14px;
}
.strategy-list-pinned {
	padding-top: 60px;
}
.strategy-list-pinned.pinned-chart {
	padding-top: 10px
}
.pinned-radar-chart {
	top: 0;
	transition: top 0.6s, opacity 0.6s, height 0.6s;
	width: 100%;
	padding: 10px 30px 0 50px;
	position: absolute;
	left: 0;
	height: 72px;
}
.pinned-radar-chart .chart-wrapper {
	opacity: 0;
	max-height: 0;
	transition: opacity 0.6s, max-height 0.6s, height 0.6s;
}
.pinned-radar-chart.pinned-chart {
	top: -640px;
	height: 650px;
}
.pinned-radar-chart.pinned-chart .chart-wrapper {
	opacity: 1;
	max-height: 600px;
}
.pinned-radar-chart .toggleGraphics {
	margin-top: -40px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}
.chart#radar-chart-radar-pinned {
	max-height: 0;
	transition:max-height 1s;
}
.pinned-chart .chart#radar-chart-radar-pinned {
	max-height: 520px;
	height: 520px;
	background-color: #fff;
}
.pinned-radar-chart .pinned-legend {
	background-color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  display: block;
}
.pinned-radar-chart .pinned-legend .tag {
	display: inline-block;
	padding: 3px 8px;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    color: #fff;
}
.pinned-radar-chart .pinned-legend .tag:hover {
	cursor: pointer;
}
.pinned-radar-chart text tspan{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#right-click-menu{
  width: 158px;
  display: block;
  z-index: 999999;
  outline: none;
}

.no-pins {
	font-weight: bold;
	color: #ccc;
}
.inline-pin {
  width: 15px;
  height: 15px;
	display: inline-block;
}
.correlation-circle-buttons {
	padding: 17px 35px 5px;
}
.pca-charts .with-legend {
	margin-bottom: 20px;
}
.chartgantttitle {
	font-size:12px;
	font-weight: bold;
	margin-right: 20px;
	margin-bottom: 0;
}

.sweet-alert {
  font-family: 'Fira Sans',sans-serif;
  outline: none;
}
.sweet-alert h2 {
  color: #123B69; /* info color (default) */
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}
.sweet-alert p {
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 300;
}
.sweet-alert .btn:hover {
  opacity: 0.8;
}
.sweet-alert .btn, .sweet-alert .btn:hover {
  background: #1A85A1;
  border: 0;
  font-size: 14px;
  font-weight: 400;
}
.sweet-alert .btn.btn-primary, .sweet-alert .btn.btn-primary:hover {
  background: #1A85A1;
}
.sweet-alert .btn.btn-info, .sweet-alert .btn.btn-info:hover {
  background: #5BC0DE;
}
.sweet-alert .btn.btn-success, .sweet-alert .btn.btn-success:hover {
  background: #5CB85C;
}
.sweet-alert .btn.btn-warning, .sweet-alert .btn.btn-warning:hover {
  background: #F0AD4E;
}
.sweet-alert .btn.btn-danger, .sweet-alert .btn.btn-danger:hover {
  background: #D9534F;
}
.sweet-alert .btn.cancel, .sweet-alert .btn.cancel:hover {
  background: #F0F1F3;
}
.sweet-alert div.sa-icon {
  display: none !important; /* hide all sweet-alert icons */
}
.sweet-alert div.sa-icon.sa-error.animateErrorIcon ~ h2 {
  color: #A94442; /* error color */
}
.sweet-alert div.sa-icon.sa-warning.pulseWarning ~ h2 {
  color: #8A6D3B; /* warning color */
}
.sweet-alert div.sa-icon.sa-success.animate ~ h2 {
  color: #3C763D; /* success color */
}

/* new home page */

.flex-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}
.feature-blocks:hover .feature-block {
	opacity: 0.7;
}
.feature-block {
	color: #fff;
	background-size: cover;
	max-width:100%;
	height: 340px;
	margin-bottom: 30px;
	padding: 30px;
	transition: all 0.3s ease-out;
}
.feature-block .icon-container {
	height: 125px;
	display: flex;
	align-items: flex-end;
}
.feature-block .icon-container img {
	transform: scale(0.9);
}
.testimonial blockquote {
	border-left: none;
	padding: 0 60px;
	font-style: italic;
	line-height: 1.8em;
	font-size: 20px;
	text-align: center;
	position: relative;
}
.testimonial blockquote:before, .testimonial blockquote:after {
	color: #0b556e;
	font-size: 140px;
	position: absolute;
	line-height: 95px;
}

.testimonial blockquote:before {
	content: "“";
	top: 22px;
	left: 0;
}
.testimonial blockquote:after {
	content: "”";
	right: 5px;
	bottom: -80px;
}
.testimonial .caption .logo img {
	max-height: 44px;
	float: right;
	margin: 0;
}
.testimonial .caption .person {
	border-left: 1px solid #ccc;
}
.testimonial .caption span {
	display: block;
}
.slick-dots {
	bottom:-35px;
}
.slick-dots li button:before {
	font-size: 28px;
}
.slick-dots li.slick-active button:before {
	color: #0b556e;
	opacity: 1;
}
.slick-prev, .slick-next {
	display: none !important;
}
.demo-callout {
	margin-top: 100px;
	background-color: #103B69;
	height: 200px;
}
.demo-callout h3 {
	font-size: 44px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.demo-callout .btn {
	text-transform: none;
    font-size: 20px;
    margin-top: 50px;
}
.demo-callout > .container {
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}
.product-callout {
	margin-top: 50px;
}
.product-callout ul {
	padding-top: 10px;
	padding-left: 28px;
}
.product-callout ul li {
	position: relative;
	padding-bottom: 10px;
	/* list-style: none; */
}
.product-callout ul li:before {
    /* content: ""; */
    position: absolute;
    top: 2px;
    left: -28px;
    width: 18px;
    height: 18px;
    /* background-image: url('/img/design/icon-pin-blue.png'); */
}
.product-callout h2 {
	color: #123B69;
	text-transform: uppercase;
}
.product-callout h3 {
	font-size: 17px;
	margin-top: 15px;
}

.navbar-inverse.guest .mobile-nav-wrapper {
	display: none;
}

.particles-js-outer {
	position: relative;
}

#particles-js.home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hamburger {
  padding: 2px 15px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  height: auto;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -10px; }
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

@media screen and (min-width: 992px){

	.product-callout {
		margin-top: 50px;
		background: url(/img/design/grey-bg.png) no-repeat transparent center top;
	}
	.product-callout:nth-child(even){
		background: url(/img/design/grey-bg-reverse.png) no-repeat transparent center top;
	}
	.product-callout .img-container {
		height: 490px;
	}
	.product-callout .heading-container {
		height: 125px;
	}
}

@media screen and (min-width: 1200px){
	.product-callout .img-container {
		height: 475px;
	}
}
@media screen and (min-width: 768px){
	.footer .text-right p {
		float: right;
	}

	.feature-block:hover {
		transform:scale(1.1);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		opacity: 1 !important;
	}
}
@media screen and (min-width: 768px) and (max-width:991px){
	.demo-callout h3 {
		font-size: 32px;
		margin-top: 1.2em;
	}
	.feature-block {
		height: 320px;
	}
	.feature-block .icon-container img {
		margin: 0;
		max-width: 50px;
	}
	.navbar-brand > img {
		max-width: 150px !important;
	}
	.feature-block .icon-container {
		height: 50px;
	}
	.feature-block p {
		line-height: 1.4em;
	}
	.product-callout {
		margin-top: 50px;
		background: url(/img/design/grey-bg.png) no-repeat transparent right -30px;
	}
	.product-callout:nth-child(even){
		background: url(/img/design/grey-bg-reverse.png) no-repeat transparent left -30px;
	}
	.product-callout .img-container {
		height: 420px;
	}
	.product-callout .heading-container {
		height: 115px;
	}
	.product-callout .heading-container h2 {
		margin-top: 0;
	}
}
@media screen and (max-width: 767px){
	ul.nav.navbar-nav.mobile-nav {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.navbar-inverse.guest .navbar-header {
		height: 60px;
	}
	.navbar-inverse.guest .navbar-header + div {
		height: 40px;
	}
	.navbar-inverse.guest .navbar-nav li:first-child {
		width: 20%;
	}
	.navbar-inverse.guest .navbar-nav.mobile-nav li:first-child {
		width: auto;
	}
	.navbar-inverse.guest .navbar-nav.mobile-nav li {
		width: auto;
		float: left;
		clear: both;
		padding: 3px 0;
	}
	.navbar-inverse.guest .mobile-nav-wrapper {
		background:rgba(18,59,105,0.95);
		padding-bottom: 20px;
		height: 80px;
		display: none;
	}
	.navbar-inverse.guest .navbar-nav li .navbar-toggle {
		margin: 5px 10px 0 0;
	}
	.navbar-inverse .navbar-toggle {
		border:none;
	}
	.testimonial blockquote {
		line-height: 1.2em;
		padding: 0 40px;
	}
	.testimonial blockquote:before, .testimonial blockquote:after {
		font-size: 80px;
		line-height: 40px;
	}
	.testimonial blockquote:after{
		bottom: -29px
	}
	.footer .fact-credits img {
		max-width: 45%;
	}
	.footer .terms-text {
		text-align: center;
	}
	.demo-callout .btn {
		margin-top: 10px;
	}
	.demo-callout {
		margin-top: 50px;
	}
	.demo-callout, .demo-callout .request-btn {
		text-align: center;
	}
	.demo-callout h3 {
		font-size: 30px;
	}
	.product-callout .text-container {
		background-color: #f0f1f3;
		padding-bottom: 10px;
	}
	.product-callout .text-container .heading-container {
		background-color: #fff;
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px 10px;
		margin-bottom: 15px;
	}
	.feature-block {
		background-image: none !important;
		position: relative;
	}
	.feature-block .mobile-background {
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.feature-block .text-content {
		position: relative;
		z-index: 1;
	}
}

/* end new home page */
