<template>
  <input
    id="slider"
    type="text">
</template>

<script>
/* global $ */
require('./ion.rangeSlider.js');
const moment = require('moment');

export default {
  props: {
    minDate: {
      type: String,
      default: '',
    },
    maxDate: {
      type: String,
      default: '',
    },
    fromDate: {
      type: String,
      default: '',
    },
    toDate: {
      type: String,
      default: '',
    },
    disableWeekend: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      yearRange: null,
    };
  },
  watch: {
    minDate() {
      this.updateBoundaries();
    },
    maxDate() {
      this.updateBoundaries();
    },
    yearRange(val, old) {
      if (val === old) return;
      $('.mx-slider')
        .removeClass('mx-slider-range-10y')
        .removeClass('mx-slider-range-13y')
        .removeClass('mx-slider-range-15y')
        .removeClass('mx-slider-range-20y')
        .removeClass('mx-slider-range-30y');
      if (val < 13) {
        $('.mx-slider')
          .addClass('mx-slider-range-10y');
      } else if (val < 15) {
        $('.mx-slider')
          .addClass('mx-slider-range-13y');
      } else if (val < 20) {
        $('.mx-slider')
          .addClass('mx-slider-range-15y');
      } else if (val < 30) {
        $('.mx-slider')
          .addClass('mx-slider-range-20y');
      } else {
        $('.mx-slider')
          .addClass('mx-slider-range-30y');
      }
    },
  },
  mounted() {
    this.yearRange = Math.ceil(moment(this.maxDate).diff(this.minDate, 'years', true));
    const dateFormat = (this.yearRange > 20) ? 'YY' : 'YYYY';
    $(this.$el).ionRangeSlider({
      type: 'double',
      min: +moment(this.maxDate).subtract((this.yearRange), 'years').startOf('year').endOf('day')
        .format('X'),
      max: +moment(this.maxDate).endOf('year').startOf('day').format('X'),
      from_min: +moment(this.minDate).format('X'),
      from_max: +moment(this.maxDate).subtract(1, 'day').format('X'),
      from_shadow: true,
      to_min: +moment(this.minDate).add(1, 'day').format('X'),
      to_max: +moment(this.maxDate).format('X'),
      to_shadow: true,
      from: +moment(this.fromDate).format('X'),
      to: +moment(this.toDate).format('X'),
      grid: true,
      grid_margin: false,
      grid_num: this.yearRange + 1,
      prettify: (num) => {
        if (+moment(num, 'X').format('M') === 12) {
          const year = +moment(num, 'X').format('YYYY') + 1;
          return moment(`${year}-01-01`).format(dateFormat);
        }
        return moment(num, 'X').format(dateFormat);
      },
      force_edges: true,
      hide_min_max: true,
      hide_from_to: true,
      onChange: (data) => {
        const datafrom = moment(data.from, 'X');
        const datato = moment(data.to, 'X');
        if (![0, 6].includes(datafrom.weekday())) {
          this.$emit('update:from', datafrom.format('YYYY-MM-DD'));
        }
        if (![0, 6].includes(datato.weekday())) {
          this.$emit('update:to', datato.format('YYYY-MM-DD'));
        }
      },
    });
    this.$parent.$on('internalChange', this.updateDates);
  },
  beforeDestroy() {
    this.$parent.$off('internalChange', this.updateDates);
    $(this.$el).data('ionRangeSlider').destroy();
  },
  methods: {
    updateBoundaries() {
      this.yearRange = Math.ceil(moment(this.maxDate).diff(this.minDate, 'years', true));
      const dateFormat = (this.yearRange > 20) ? 'YY' : 'YYYY';
      $(this.$el).data('ionRangeSlider').update({
        min: +moment(this.maxDate).subtract((this.yearRange), 'years').startOf('year').endOf('day')
          .format('X'),
        max: +moment(this.maxDate).endOf('year').startOf('day').format('X'),
        from_min: +moment(this.minDate).format('X'),
        from_max: +moment(this.maxDate).subtract(1, 'day').format('X'),
        to_min: +moment(this.minDate).add(1, 'day').format('X'),
        to_max: +moment(this.maxDate).format('X'),
        grid_num: this.yearRange + 1,
        prettify: (num) => {
          if (+moment(num, 'X').format('M') === 12) {
            const year = +moment(num, 'X').format('YYYY') + 1;
            return moment(`${year}-01-01`).format(dateFormat);
          }
          return moment(num, 'X').format(dateFormat);
        },
      });
    },
    updateDates(dates) {
      $(this.$el).data('ionRangeSlider').update({
        from: moment(dates[0]).format('X'),
        to: moment(dates[1]).format('X'),
      });
    },
  },
};
</script>

<style>
.mx-slider {
  width: 100%;
  padding: 6px 12px 6px 12px;
}
.mx-slider .irs, .mx-slider .irs-line, .mx-slider .irs-grid {
  height: 50px;
}
.mx-slider .irs-bar, .mx-slider .irs-shadow, .mx-slider .irs-grid-pol {
  height: 48px;
}
.irs-grid-pol {
  background: #D1D5E1;
}
.mx-slider .irs-grid-text {
  line-height: 14px;
  visibility: visible !important;
}
.mx-slider.mx-slider-range-10y .irs-grid-text {
  margin-left: 7px !important;
}
.mx-slider.mx-slider-range-13y .irs-grid-text {
  margin-left: 4px !important;
}
.mx-slider.mx-slider-range-15y .irs-grid-text {
  margin-left: 0 !important;
}
.mx-slider.mx-slider-range-20y .irs-grid-text {
  margin-left: -6px !important;
}
.mx-slider.mx-slider-range-30y .irs-grid-text {
  margin-left: -10px !important;
}
.mx-slider .irs-slider {
  top: 10px;
  height: 20px;
}
.mx-slider .irs-slider:before, .mx-slider .irs-slider:after {
  height: 12px;
}
.mx-slider .irs-bar {
  background: #F0F0F4;
}
.mx-slider .irs-shadow.shadow-from {
  margin-left: -2px;
  border-left: 2px solid #123B69;
}
.mx-slider .irs-shadow.shadow-to {
  margin-left: 2px;
  border-right: 2px solid #123B69;
}
.mx-slider .btn {
  padding-top: 3px;
  padding-bottom: 3px;
}
.mx-slider .flex-container {
  display: flex;
  justify-content: center;
}
.mx-slider .flex-container .separator {
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
}
.mx-slider .flex-container input {
  max-width: 85px;
  text-align: center;
  color: #123B69;
}
</style>
