<template>
  <div
    id="addStrategiesToPortfolio"
    class="modal fade"
    tabindex="-1"
    role="dialog">
    <div
      class="modal-dialog"
      role="document">
      <div
        v-if="addedToPortfolioItems.length > 0 && addedToPortfolioItem != false"
        class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4
            v-if="indicesBasket.length"
            class="modal-title">Successfully added</h4>
        </div>
        <div class="modal-body bg-gray">
          <div class="modal-body text-center">
            <h5>
              <strong>You have added {{ indicesBasket.length == 1 ? indicesBasket[0].shortName : indicesBasket.length + ' strategies' }}
                to {{ addedToPortfolioItem.title }}</strong>
            </h5>
            <a
              :href="'/analyse/portfolio/' + addedToPortfolioItem.slug"
              class="btn btn-outline-blue btn-lg">View Portfolio</a>
            <br>
            <br>
            <a
              class="btn btn-outline"
              href="#"
              @click="hideModal">Continue analysis</a>
          </div>
        </div>
      </div>

      <div
        v-if="addedToPortfolioItems.length === 0"
        class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            aria-label="Close"
            @click="hideModal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4
            v-if="indicesBasket.length"
            class="modal-title">Add {{ indicesBasket[0].shortName }} to a Portfolio</h4>
        </div>
        <div class="modal-body bg-gray" >
          <div
            class="selection-option"
            style="position: relative;">
            <div
              v-show="!loadedPortfolios"
              class="clearfix loader-overlay">
              <div class="loader-inner ball-pulse">
                <div/>
                <div/>
                <div/>
              </div>
            </div>
            <div class="portfolios bg-gray">
              <p
                v-show="Object.keys(portfolios).length === 0 && loadedPortfolios"
                class="no-results">
                You haven't created any portfolios yet.
              </p>
              <div
                v-for="(portfolioInList, key) in portfolios"
                :key="key"
                class="portfolio row">
                <div class="col-xs-8">
                  <strong>
                    <a
                      :href="'/analyse/portfolio/' + portfolioInList.slug"
                      target="_blank"
                      rel="noopener noreferrer">&bull; {{ portfolioInList.title }} ({{ portfolioInList.strategiesCount }})</a>
                  </strong>
                </div>
                <template v-if="indicesBasket.length === 1">
                  <div
                    v-if="!isIn(portfolioInList)"
                    class="col-xs-4">
                    <a
                      v-if="(portfolioInList.strategiesCount+indicesBasket.length) <= portfolioMax"
                      class="btn btn-outline-blue pull-right"
                      @click="addToOtherPortfolio(portfolioInList, indicesBasket)">
                      <i class="fa fa-plus"/> Save
                    </a>
                    <span
                      v-if="(portfolioInList.strategiesCount+indicesBasket.length) > portfolioMax"
                      class="btn btn-outline pull-right"
                      style="margin-top:4px;">
                      Not enough space
                    </span>
                  </div>
                  <div
                    v-else
                    class="col-xs-4">
                    <span
                      class="btn btn-outline pull-right"
                      style="margin-top:4px;">
                      Already in portfolio
                    </span>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global window document analytics $ */
const omit = require('lodash/fp/omit');
const map = require('lodash/fp/map');
const apiPortfolios = require('../../api/portfolios');
const { getStrategyAnalytics } = require('../../util/strategy');

export default {
  name: 'AddStrategyPortfolio',
  props: {
    loadFunction: {
      type: Function,
      default: null,
    },
    loadedPortfolios: {
      type: Boolean,
      default: false,
    },
    updateOnePortfolio: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      addedToPortfolioItem: false,
      addedToPortfolioItems: [],
      indicesBasket: [],
      portfolioMax: 20,
    };
  },
  computed: {
    draft_of() {
      return this.$store.state.lab.backtesting.draft_of || 0;
    },
    portfolios() {
      const { portfolios } = this.$store.state;
      const filtedPortfolios = {};
      for (const key in portfolios) {
        if (!portfolios[key].draft_of && this.draft_of !== portfolios[key].id) {
          filtedPortfolios[key] = portfolios[key];
        }
      }
      return filtedPortfolios;
    },

  },
  mounted() {
    window.eventBus.$on('addToPortfolio', this.addToPortfolioHandler);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('addToPortfolio', this.addToPortfolioHandler);
  },
  methods: {
    async addToOtherPortfolio(portfolioInList, indices) {
      const addIndices = map(omit(['indexinfo', 'id']), indices);
      const added = addIndices.map((o) => {
        o.id = o.indexinfo_id;
        return o;
      });
      await apiPortfolios.addToPortfolio(portfolioInList.id, added, 'attachindices', this.period);
      this.updateOnePortfolio(portfolioInList.id);
      this.addedToPortfolioItem = portfolioInList;
      this.addedToPortfolioItems = indices;
      indices.forEach((strategy) => {
        analytics.track('Added Strategy to Portfolio', getStrategyAnalytics(strategy));
      });
    },
    hideModal() {
      $('#addStrategiesToPortfolio').modal('hide');
    },
    isIn(portfolio) {
      const { strategyIds } = portfolio;
      const currentId = this.indicesBasket[0].indexinfo_id;
      const results = strategyIds.findIndex(o => o === currentId);
      return results !== -1;
    },
    addToPortfolioHandler({ index }) {
      this.loadFunction({});
      this.addedToPortfolioItems = [];
      this.addedToPortfolioItem = false;
      this.indicesBasket = [index];
      $('#addStrategiesToPortfolio').modal('show');
    },
  },
};
</script>
