<template>
  <div
    id="addStrategiesAll"
    class="modal fade widgetmodal"
    tabindex="-1"
    role="dialog"
    data-backdrop="static"
    data-keyboard="false"
    @click="closeMenu()">
    <div
      v-if="showModal"
      class="modal-dialog"
      role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>Add strategies: {{ currentSelectLength }} ITEMS SELECTED ({{ editWidgetMax }} MAX)</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row text-center pad-up">
            <div style="width:75%;margin-right: auto;margin-left: auto;">
              <div
                v-for="(v,k) in editTableLists"
                :key="k"
                class="col-sm-4 hidden-xs choose-data-padding">
                <button
                  :class="{ 'btn-blue':editWidgetTableShow===k, 'btn-outline':editWidgetTableShow!==k}"
                  class="btn form-control"
                  style="padding: 3px 15px;"
                  @click="editWidgetTableShow=k">{{ v }}</button>
              </div>
              <div class="col-xs-12 visible-xs">
                <div
                  class="btn-group "
                  style="width: 100%;">
                  <button
                    v-for="(v,k) in editTableLists"
                    v-show="editWidgetTableShow===k"
                    :key="k"
                    type="button"
                    class="btn btn-block btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    {{ v }} <span class="caret"/>
                  </button>
                  <ul class="dropdown-menu">
                    <li
                      v-for="(v,k) in editTableLists"
                      :key="k"><a @click.prevent="editWidgetTableShow=k">{{ v }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div
            v-if="filterLoaded"
            class="row filters allocation-form">
            <div
              class="col-sm-3"
              style="padding-left:10px;padding-right:0">
              <selection
                :key-field="'editSearchAsset'"
                :options="editSearchAssetOptions"
                :current-option="editSearchAssetText"
                :right-position="5"
                style="margin-bottom:3px;margin-top:3px;"
                @selectitem="setItems"/>
            </div>
            <div
              v-if="editWidgetTableShow==='benchmarks'"
              class="col-sm-3"
              style="padding-left:10px;padding-right:0">
              <selection
                :key-field="'editSearchCurrency'"
                :options="editSearchCurrencyOptions"
                :current-option="editSearchCurrencyText"
                :right-position="5"
                style="margin-bottom:3px;margin-top:3px;"
                @selectitem="setItems"/>
            </div>
            <div
              v-if="editWidgetTableShow!=='benchmarks'"
              class="col-sm-3"
              style="padding-left:10px;padding-right:0">
              <selection
                :key-field="'editSearchFactor'"
                :options="editSearchFactorOptions"
                :current-option="editSearchFactorText"
                :right-position="5"
                style="margin-bottom:3px;margin-top:3px;"
                @selectitem="setItems"/>
            </div>
            <div class="col-sm-6 choose-data-padding">
              <input
                :class="{ 'search-input': editSearchString.length === 0 }"
                v-model="editSearchString"
                type="text"
                placeholder="Keyword Search"
                class="form-control">
              <div
                v-if="editSearchString.length > 0"
                class="remove-search-input"
                @click="editSearchString=''"/>
            </div>
          </div>

          <div class="row filters center-clear-all">
            <!-- <a
              v-if="currentSelectLength === 0"
              class="clear-all-style"
              @click="editWidgetSelectAll()">Select top {{ editWidgetMax - currentSelectLength }} results</a> -->
            <a class="col-sm-4"/>
            <div class="col-sm-4">Showing {{ currentShowLength }} results</div>
            <a
              class="clear-all-style col-sm-4"
              @click="editWidgetStrategies=[]">Clear all</a>
          </div>
          <div class="clearfix tables">
            <div class="clearfix">
              <div
                :class="{'opened':editWidgetTableMenu==1}"
                class="tableoption pull-right"
                style="position: absolute;right: 0;z-index: 5;"
                @click.stop="editWidgetTableMenu=editWidgetTableMenu">
                <button
                  class="btn"
                  @click.stop="editWidgetTableMenu=editWidgetTableMenu*-1">
                  <span class="icon icon-cog"/>
                </button>
                <div
                  v-show="editWidgetTableMenu==1"
                  class="menu">
                  <p>Select time period</p>
                  <label
                    v-for="(v,k) in periodKeysForFilters"
                    :key="v"
                    class="radio-style">
                    <input
                      v-model="editWidgetPeriod"
                      :value="v"
                      type="radio"><i/>
                    {{ k }}
                  </label>
                  <p>Add performance metrics ({{ dataTableColsMax - dataTableCols_raw.length }} left)</p>
                  <label
                    v-for="(v,k) in labels"
                    :key="k"
                    class="checkbox-style">
                    <input
                      v-model="dataTableCols_raw"
                      :value="k"
                      :disabled="dataTableCols_raw.indexOf(k) < 0 && dataTableCols_raw.length >= dataTableColsMax"
                      type="checkbox"><i/>
                    {{ v }}
                  </label>
                </div>
              </div>
            </div>

            <div
              class="datatable"
              style="position: relative;">
              <div
                v-show="!strategiesLoaded || saveLoading"
                class="clearfix loader-overlay">
                <div class="loader-inner ball-pulse">
                  <div/>
                  <div/>
                  <div/>
                </div>
              </div>
              <div class="clearfix heading">
                <div style="width:5%"/>
                <div
                  style="width:50%"
                  class="namecol">
                  <button
                    class="btn"
                    @click="sortWidgetTable('name')">
                    Name
                  </button>
                </div>
                <div
                  v-for="(header, field) in labels"
                  v-show="dataTableCols_raw.indexOf(field)>=0"
                  :style="{width: (40/dataTableCols_raw.length)+'%'}"
                  :class="{'bg-gray':editWidgetTableSortBy===field}"
                  :key="field">
                  <button
                    class="btn"
                    @click="sortWidgetTable(field)">
                    {{ editWidgetPeriod }} {{ header }}
                  </button>
                </div>
              </div>

              <div
                v-if="editWidgetTableShow==='benchmarks'"
                class="scrolling bg-gray">
                <p
                  v-if="filterdBenchmarks.length === 0 && strategiesLoaded"
                  class="text-center"
                  style="margin-top: 1em;">No results.</p>
                <div
                  v-for="(index,idx) in filterdBenchmarks"
                  v-else
                  :key="idx"
                  class="data-row-parent">
                  <div class="data-row">
                    <div style="width:5%">
                      <div
                        class="checkbox-style"
                        @click="setIds(index.id)">
                        <input
                          :value="index.id"
                          v-model="editWidgetStrategies"
                          :disabled="notInId(editWidgetStrategies, index.id) && currentSelectLength >= editWidgetMax"
                          type="checkbox"><i/>
                      </div>
                    </div>
                    <div style="width:50%">
                      <h5 class="list-group-item-heading"><a
                        :href="`/strategy/${index.code}?period=${editWidgetPeriod}`"
                        target="_blank"
                        rel="noopener noreferrer">{{ index.shortName }}</a></h5>
                      <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                    </div>
                    <div
                      v-for="(header, field) in filteredLabels"
                      :style="{width: (40/dataTableCols_raw.length)+'%'}"
                      :key="field"
                      class="text-center">
                      {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                v-if="editWidgetTableShow==='strategies'"
                class="scrolling bg-gray">
                <p
                  v-if="!numFilters"
                  class="text-center"
                  style="margin-top: 1em;">Please select a filter above to begin searching for strategies.</p>
                <p
                  v-if="numFilters && filterdStrategies.length == 0 && strategiesLoaded"
                  class="text-center"
                  style="margin-top: 1em;">No results.</p>
                <div
                  v-for="(index, idx) in filterdStrategies"
                  v-if="numFilters"
                  :key="idx"
                  class="data-row-parent">
                  <div class="data-row">
                    <div style="width:5%">
                      <div
                        class="checkbox-style"
                        @click="setIds(index.id)">
                        <input
                          :value="index.id"
                          v-model="editWidgetStrategies"
                          :disabled="notInId(editWidgetStrategies, index.id) && currentSelectLength >= editWidgetMax"
                          type="checkbox"><i/>
                      </div>
                    </div>
                    <div style="width:50%">
                      <h5 class="list-group-item-heading"><a
                        :href="`/strategy/${index.code}?period=${editWidgetPeriod}`"
                        target="_blank"
                        rel="noopener noreferrer">{{ index.shortName }}</a></h5>
                      <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                    </div>

                    <div
                      v-for="(header, field) in filteredLabels"
                      :style="{width: (40/dataTableCols_raw.length)+'%'}"
                      :key="field"
                      class="text-center">
                      {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                v-if="editWidgetTableShow==='privates'"
                class="scrolling bg-gray">
                <p
                  v-if="filterdPrivates.length === 0 && strategiesLoaded"
                  class="text-center"
                  style="margin-top: 1em;">No results.</p>
                <div
                  v-for="(index,idx) in filterdPrivates"
                  v-else
                  :key="idx"
                  class="data-row-parent">
                  <div class="data-row">
                    <div style="width:5%">
                      <div
                        class="checkbox-style"
                        @click="setIds(index.id)">
                        <input
                          :value="index.id"
                          v-model="editWidgetStrategies"
                          :disabled="notInId(editWidgetStrategies, index.id) && currentSelectLength >= editWidgetMax"
                          type="checkbox"><i/>
                      </div>
                    </div>
                    <div style="width:50%">
                      <h5 class="list-group-item-heading"><a
                        :href="`/strategy/${index.code}?period=${editWidgetPeriod}`"
                        target="_blank"
                        rel="noopener noreferrer">{{ index.shortName }}</a></h5>
                      <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                    </div>
                    <div
                      v-for="(header, field) in filteredLabels"
                      :style="{width: (40/dataTableCols_raw.length)+'%'}"
                      :key="field"
                      class="text-center">
                      {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="clearfix pad-md">
            <div class="col-xs-4"/>
            <div class="col-xs-4">
              <button
                :disabled="currentSelectLength === 0"
                class="btn btn-primary form-control"
                @click="submitadd()"><strong>SAVE</strong></button>
            </div>
            <div class="col-xs-4"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global window document _ $ */
const pipe = require('lodash/fp/pipe');
const filter = require('lodash/fp/filter');
const { checksInsensitiveFactory } = require('../../lib/lodash-helper');
const { byKeywordFactory, byRelevanceFactory } = require('../../util/strategy');
const { metrics } = require('../../util/config');

import selection from '../vue-select/selection.vue';

export default {
  name: 'AddStrategiesAll',
  components: {
    selection,
  },
  props: {
    strategiesLoaded: {
      type: Boolean,
      default: false,
    },
    filterLoaded: {
      type: Boolean,
      default: false,
    },
    loadFunction: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      editTableLists: {
        benchmarks: 'Benchmarks',
        strategies: 'Strategies',
        privates: 'Private',
      },
      analyseType: 'analyse',
      showModal: false,
      editWidgetTableShow: 'benchmarks', //strategies, benchmarks
      editSearchAsset: '',
      editSearchAssetText: 'All Asset Classes',
      editSearchCurrency: '',
      editSearchCurrencyText: 'All Currencies',
      editSearchFactor: '',
      editSearchFactorText: 'All Factors',
      editSearchString: '',
      saveLoading: false,
      dataTableColsMax: 2,
      editWidgetStrategies: [],
      searchTimeout: null,
      editWidgetTableMenu: -1,
      dataTableCols_raw: ['return'],
      editWidgetPeriod: '5y',
      periodKeysForFilters: {
        '10 Year': '10y',
        '5 Year': '5y',
        '3 Year': '3y',
        '1 Year': '1y',
        '6 Month': '6m',
      },
      labels: metrics,
      editWidgetMax: 20,
      editWidgetTableSortBy: '',
      editWidgetTableSortOrder: -1,
      filteredIds: {},
      filterdPrivates: [],
      filterdBenchmarks: [],
      filterdStrategies: [],
      strategies: [],
      privates: [],
      benchmarks: [],
    };
  },
  computed: {
    currentShowLength() {
      switch (this.editWidgetTableShow) {
        case 'benchmarks':
          return this.filterdBenchmarks.length;
        case 'privates':
          return this.filterdPrivates.length;
        case 'strategies':
          return this.filterdStrategies.length;
      }
    },
    editSearchAssetOptions() {
      const { assetClass = [] } = this.filters;
      return ['All Asset Classes', ...assetClass];
    },
    editSearchCurrencyOptions() {
      const { currency = [] } = this.filters;
      return ['All Currencies', ...currency];
    },
    editSearchFactorOptions() {
      const { factor = [] } = this.filters;
      return ['All Factors', ...factor];
    },
    filters() {
      return this.$store.state.filters;
    },
    portfolios() {
      return Object.values(this.$store.state.portfolios).filter(o => o.draft_of === null);
    },
    filteredLabels() {
      const { labels } = this;
      const labelsFiltered = {};
      for (const field in labels) {
        if (this.dataTableCols_raw.indexOf(field) >= 0) {
          labelsFiltered[field] = labels[field];
        }
      }
      return labelsFiltered;
    },
    numFilters() {
      if (this.editSearchAsset || this.editSearchCurrency || this.editSearchFactor || this.editSearchString) {
        return true;
      }
      return false;
    },
    currentSelectLength() {
      return this.editWidgetStrategies.length;
    },
  },
  watch: {
    editWidgetPeriod() {
      this.searchCase();
      this.editWidgetTableSortOrder = this.editWidgetTableSortOrder * -1;
      this.sortWidgetTable(this.editWidgetTableSortBy);
    },
    strategiesLoaded(val) {
      if (val) {
        this.initSearchData();
      }
    },
    editWidgetTableShow() {
      this.clearSearch();
      this.filterData();
    },
    editSearchAsset() {
      this.filterData();
    },
    editSearchCurrency() {
      this.filterData();
    },
    editSearchFactor() {
      this.filterData();
    },
    editSearchString() {
      this.filterData();
    },
  },
  mounted() {
    window.eventBus.$on('addStrategyAll', this.showModalHandler);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('addStrategyAll', this.showModalHandler); //destoray eventlistern before leave;
  },
  methods: {
    showModalHandler(strategies) {
      this.loadFunction();
      this.showModal = true;
      const ids = {};
      strategies.ids.forEach((x) => {
        ids[x] = true;
      });
      this.filteredIds = ids;
      this.clearSearch();
      if (this.strategiesLoaded) {
        this.initSearchData();
      }
      this.editWidgetStrategies = [];
      this.editWidgetPeriod = '5y';
      this.editWidgetMax = 20 - strategies.ids.length;
      $('#addStrategiesAll').modal('show');
    },
    notInId(chooseArray, id) {
      return chooseArray.indexOf(id) === -1;
    },
    clearSearch() {
      this.editSearchAsset = '';
      this.editSearchAssetText = 'All Asset Classes';
      this.editSearchCurrency = '';
      this.editSearchCurrencyText = 'All Currencies';
      this.editSearchFactor = '';
      this.editSearchFactorText = 'All Factors';
      this.editSearchString = '';
    },
    initSearchData() {
      const results = [];
      for (const idx in this.$store.state.strategies) {
        if (!this.filteredIds[idx]) {
          results.push(this.$store.state.strategies[idx]);
        }
      }
      this.benchmarks = [];
      this.strategies = [];
      this.privates = [];
      results.forEach((o) => {
        switch (o.type) {
          case 'Strategy':
            this.strategies.push(o);
            break;
          case 'Private Strategy':
            this.privates.push(o);
            break;
          case 'Benchmark':
            this.benchmarks.push(o);
            break;
        }
      });
      this.filterdBenchmarks = this.benchmarks;
      this.filterdPrivates = this.privates;
    },
    closeMenu() {
      this.editWidgetTableMenu = -1;
    },
    async submitadd() {
      this.saveLoading = true;
      const results = {
        strategies: this.editWidgetStrategies,
      };
      window.eventBus.$emit('addStrategyForAnalysis', results);
      $('#addStrategiesAll').modal('hide');
      this.saveLoading = false;
    },
    setIds(id) {
      const idx = this.editWidgetStrategies.indexOf(id);
      if (idx === -1) {
        if (this.currentSelectLength >= this.editWidgetMax) {
          return 0;
        }
        this.editWidgetStrategies.push(id);
      } else {
        this.editWidgetStrategies.splice(idx, 1);
      }
    },
    filterData() {
      const that = this;
      if (this.searchTimeout !== null) {
        clearTimeout(this.searchTimeout);
      }
      this.saveLoading = true;
      this.searchTimeout = setTimeout(() => {
        that.searchCase();
      }, 2);
    },
    searchCase() {
      switch (this.editWidgetTableShow) {
        case 'benchmarks':
          this.filterdBenchmarks = pipe(
            filter(_.overEvery(byKeywordFactory(this.editSearchString, this.portfolios), this.checkStrategyFilters, this.checkPeriodActive)),
            (this.editSearchString) ? a => a.sort(byRelevanceFactory(this.editSearchString)) : a => a,
          )(this.benchmarks);
          break;
        case 'privates':
          this.filterdPrivates = pipe(
            filter(_.overEvery(byKeywordFactory(this.editSearchString, this.portfolios), this.checkStrategyFilters, this.checkPeriodActive)),
            (this.editSearchString) ? a => a.sort(byRelevanceFactory(this.editSearchString)) : a => a,
          )(this.privates);
          break;
        case 'strategies':
          if (this.numFilters) {
            this.filterdStrategies = pipe(
              filter(_.overEvery(byKeywordFactory(this.editSearchString, this.portfolios), this.checkStrategyFilters, this.checkPeriodActive)),
              (this.editSearchString) ? a => a.sort(byRelevanceFactory(this.editSearchString)) : a => a,
            )(this.strategies);
          } else {
            this.filterdStrategies = [];
          }
          break;
      }
      this.editWidgetTableSortBy = '';
      this.saveLoading = false;
    },
    checkPortfolioKeyword(obj) {
      return obj.title.toLowerCase().includes(this.editSearchString.toLowerCase());
    },
    checkStrategyKeyword(obj) {
      const includesKeyword = checksInsensitiveFactory(_.includes, this.editSearchString);
      return [
        obj.code,
        obj.shortName,
        obj.longName,
      ].some(includesKeyword);
    },
    checkPeriodActive(obj) {
      const key = `${this.editWidgetPeriod}_active`;
      return obj[key] === 1 || this.editWidgetStrategies.indexOf(obj.id) > -1;
    },
    checkStrategyFilters(obj) {
      const assetClass = this.editSearchAsset === '' ? true : (this.editSearchAsset === obj.assetClass);
      const currency = this.editSearchCurrency === '' ? true : (this.editSearchCurrency === obj.currency);
      const factor = this.editSearchFactor === '' ? true : (this.editSearchFactor === obj.factor);
      return (assetClass && currency && factor);
    },
    setItems({ option, key }) {
      this[`${key}Text`] = option;
      if (option.startsWith('All')) this[key] = '';
      else this[key] = option;
    },
    sortWidgetTable(field) {
      if (this.editWidgetTableSortBy === field) {
        this.editWidgetTableSortOrder = this.editWidgetTableSortOrder * -1; //asc/desc
      }
      this.editWidgetTableSortBy = field;
      const key = field === 'name' ? '' : `${this.editWidgetPeriod}_${field}`;
      const order = this.editWidgetTableSortOrder === 1 ? 'asc' : 'desc';
      if (key === '') {
        this.filterdBenchmarks = _.orderBy(this.filterdBenchmarks, 'longName', order);
        this.filterdStrategies = _.orderBy(this.filterdStrategies, 'longName', order);
        this.filterdPrivates = _.orderBy(this.filterdPrivates, 'longName', order);
      } else {
        this.filterdBenchmarks = _.orderBy(this.filterdBenchmarks, key, order);
        this.filterdStrategies = _.orderBy(this.filterdStrategies, key, order);
        this.filterdPrivates = _.orderBy(this.filterdPrivates, key, order);
      }
    },
  },
};
</script>
