<template>
  <div
    id="addFactor"
    class="modal fade widgetmodal"
    tabindex="-1"
    role="dialog"
    data-backdrop="static"
    data-keyboard="false"
    @click="closeMenu()">
    <div
      v-if="showModal"
      class="modal-dialog"
      role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>ADD VARIABLES: {{ currentSelectLength }} ITEMS SELECTED ({{ selectMax }} Max)</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row text-center pad-up">
            <div style="width:100%">
              <div
                v-for="(v,k) in editTableLists"
                :key="k"
                class="col-sm-3 hidden-xs choose-data-padding">
                <button
                  :class="{ 'btn-blue':editWidgetTableShow===k, 'btn-outline':editWidgetTableShow!==k}"
                  class="btn form-control"
                  @click="editWidgetTableShow=k">{{ v }}</button>
              </div>
            </div>
          </div>
          <div
            class="row filters allocation-form">
            <div
              :class="editWidgetTableShow==='factor' ? 'col-sm-4' : 'col-sm-3'"
              class="choose-data-padding">
              <selection
                :key-field="'editSearchAsset'"
                :options="assetClasses"
                :current-option="editSearchAssetText"
                :right-position="5"
                @selectitem="setItems"/>
            </div>
            <div
              v-if="editWidgetTableShow==='factor'"
              class="col-sm-4 choose-data-padding">
              <selection
                :key-field="'editSearchFactor'"
                :options="factors"
                :current-option="editSearchFactorText"
                :right-position="5"
                @selectitem="setItems"/>
            </div>
            <div
              :class="editWidgetTableShow==='factor' ? 'col-sm-4' : 'col-sm-3'"
              class="choose-data-padding">
              <selection
                :key-field="'editSearchRegion'"
                :options="regions"
                :current-option="editSearchRegionText"
                :right-position="5"
                @selectitem="setItems"/>
            </div>
            <div
              v-if="editWidgetTableShow!=='factor'"
              class="col-sm-6 choose-data-padding">
              <input
                :class="{ 'search-input': editSearchString.length === 0 }"
                v-model="editSearchString"
                type="text"
                placeholder="Keyword Search"
                class="form-control">
              <div
                v-if="editSearchString.length > 0"
                class="remove-search-input"
                @click="editSearchString=''"/>
            </div>
          </div>

          <div class="row filters center-clear-all">
            <a
              class="col-sm-4 clear-all-style"
              @click="selectAll()">Select all</a>
            <div class="col-sm-4">Showing {{ currentShowLength }} results</div>
            <a
              class="col-sm-4 clear-all-style"
              @click="editWidgetFactors=[]">Clear all</a>
          </div>
          <div class="clearfix tables">
            <div class="clearfix">
              <div
                :class="{'opened':editWidgetTableMenu==1}"
                class="tableoption pull-right"
                style="position: absolute;right: 0;z-index: 5;"
                @click.stop="editWidgetTableMenu=editWidgetTableMenu">
                <button
                  class="btn"
                  @click.stop="editWidgetTableMenu=editWidgetTableMenu*-1">
                  <span class="icon icon-cog"/>
                </button>
                <div
                  v-show="editWidgetTableMenu==1"
                  class="menu">
                  <p>See classes ({{ dataTableColsMax - dataTableCols_raw.length }} left)</p>
                  <label
                    v-for="(v,k) in labels"
                    :key="k"
                    class="checkbox-style">
                    <input
                      v-model="dataTableCols_raw"
                      :value="k"
                      :disabled="dataTableCols_raw.indexOf(k) < 0 && dataTableCols_raw.length >= dataTableColsMax"
                      type="checkbox"><i/>
                    {{ v }}
                  </label>
                </div>
              </div>
            </div>

            <div
              class="datatable"
              style="position: relative;">
              <div class="clearfix heading">
                <div style="width:5%"/>
                <div
                  style="width:50%"
                  class="namecol">
                  <button
                    class="btn"
                    @click="sortWidgetTable('longName')">
                    Name
                  </button>
                </div>
                <div
                  v-for="field in dataTableCols_raw"
                  v-show="dataTableCols_raw.indexOf(field)>=0"
                  :style="{width: (40/dataTableCols_raw.length)+'%'}"
                  :class="{'bg-gray':editWidgetTableSortBy===field}"
                  :key="field">
                  <button
                    class="btn"
                    @click="sortWidgetTable(field)">
                    {{ labels[field] }}
                  </button>
                </div>
              </div>

              <div class="scrolling bg-gray">
                <p
                  v-if="tooMuchRestults"
                  class="text-center"
                  style="margin-top: 1em;">Need choose filters</p>
                <p
                  v-else-if="filterdFactors.length == 0"
                  class="text-center"
                  style="margin-top: 1em;">No results.</p>
                <template v-else>
                  <div
                    v-for="index in filterdFactors"
                    :key="index.code"
                    class="data-row-parent">
                    <div class="data-row">
                      <div style="width:5%">
                        <div
                          class="checkbox-style"
                          @click="setCodes(index.code)">
                          <input
                            :value="index.code"
                            v-model="editWidgetFactors"
                            :disabled="selectMax <= currentSelectLength && !editWidgetFactors.includes(index.code)"
                            type="checkbox"><i/>
                        </div>
                      </div>
                      <div style="width:50%">
                        <h5 class="list-group-item-heading">
                          <a
                            :href="`/strategy/${index.code}`"
                            target="_blank"
                            rel="noopener noreferrer">{{ index.shortName }}
                          </a>
                        </h5>
                        <span class="text-gray">{{ index.factor }} | {{ index.assetClass }} {{ index.region }}</span>
                      </div>

                      <div
                        v-for="field in dataTableCols_raw"
                        :style="{width: (40/dataTableCols_raw.length)+'%'}"
                        :key="field"
                        class="text-center">
                        {{ index[field] }}
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="clearfix pad-md">
            <div class="col-xs-4"/>
            <div class="col-xs-4">
              <button
                :disabled="currentSelectLength === 0"
                class="btn btn-primary form-control"
                @click="submitadd()"><strong>Add</strong></button>
            </div>
            <div class="col-xs-4"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global window document _ $ */
import selection from '../vue-select/selection.vue';

const { byKeywordFactory } = require('../../util/strategy');
const { fundings } = require('../../util/config');

export default {
  name: 'AddFactors',
  components: {
    selection,
  },
  data() {
    return {
      showModal: false,
      editTableLists: {
        factor: 'Pure Factors',
        market: 'Benchmark',
        strategy: 'Strategy',
        private: 'Private',
      },
      editType: {
        factor: 'Pure Factor',
        market: 'Benchmark',
        strategy: 'Strategy',
        private: 'Private Strategy',
      },
      editWidgetTableShow: 'factor',

      editSearchAsset: '',
      editSearchAssetText: 'All Asset Classes',
      editSearchRegion: '',
      editSearchRegionText: 'All Regions',
      editSearchFactor: '',
      editSearchFactorText: 'All Factors',
      editSearchString: '',

      dataTableColsMax: 2,
      dataTableCols_raw: ['region', 'factor'],
      editWidgetFactors: [],
      editWidgetTableMenu: -1,
      editWidgetTableSortBy: '',
      editWidgetTableSortOrder: -1,
      selectMax: 20,

      filterdFactors: [],
      factorsList: [],

      factors: [],
      assetClasses: [],
      regions: [],

      labels: {
        factor: 'Factor',
        region: 'Region',
        currency: 'Currency',
        assetClass: 'Asset Class',
      },
      timeOut: null,
    };
  },
  computed: {
    strategies() {
      return this.$store.state.strategies;
    },
    currentShowLength() {
      return this.filterdFactors.length;
    },
    currentSelectLength() {
      return this.editWidgetFactors.length;
    },
    tooMuchRestults() {
      if (this.editWidgetTableShow === 'strategy' && !this.editSearchAsset
        && !this.editSearchString && !this.editSearchRegion) {
        return true;
      }
      return false;
    },
  },
  watch: {
    editWidgetTableShow() {
      this.resetFilters();
      this.setTimeoutfilterData();
    },
    editSearchAsset() {
      this.setTimeoutfilterData();
    },
    editSearchRegion() {
      this.setTimeoutfilterData();
    },
    editSearchFactor() {
      this.setTimeoutfilterData();
    },
    editSearchString() {
      this.setTimeoutfilterData();
    },
  },
  mounted() {
    window.eventBus.$on('addFactors', this.showModalHandler);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('addFactors', this.showModalHandler); //destoray eventlistern before leave;
  },
  methods: {
    showModalHandler({ factors = {} }) {
      this.showModal = true;
      this.selectMax = 20 - Object.keys(factors).length;
      this.initSearchData({ extraFactors: factors });
      this.resetFilters();
      this.editWidgetFactors = [];
      $('#addFactor').modal('show');
    },
    resetFilters() {
      this.editSearchAsset = '';
      this.editSearchAssetText = 'All Asset Classes';
      this.editSearchRegion = '';
      this.editSearchRegionText = 'All Regions';
      this.editSearchFactor = '';
      this.editSearchFactorText = 'All Factors';
      this.editSearchString = '';
    },
    notInCode(chooseArray, code) {
      return chooseArray.indexOf(code) === -1;
    },
    initSearchData({ extraFactors = {} }) {
      this.factorsList = Object.values(this.strategies).filter(o => !extraFactors[o.code]);
      this.editWidgetTableShow = 'factor';
      const factors = ['All Factors'];
      const assetClasses = ['All Asset Classes'];
      const regions = ['All regions'];

      this.factorsList.forEach((o) => {
        if (!factors.includes(o.factor)) {
          factors.push(o.factor);
        }
        if (!regions.includes(o.region)) {
          regions.push(o.region);
        }
        if (!assetClasses.includes(o.assetClass)) {
          assetClasses.push(o.assetClass);
        }
      });

      this.factors = factors;
      this.regions = regions;
      this.assetClasses = assetClasses;

      this.filterdFactors = this.factorsList.filter(o => o.type === this.editType[this.editWidgetTableShow]);
    },
    closeMenu() {
      this.editWidgetTableMenu = -1;
    },
    async submitadd() {
      const factors = {};
      this.editWidgetFactors.forEach((code) => {
        const data = this.factorsList.find(o => o.code === code);
        if (data) {
          factors[data.code] = {
            type: data.type,
            code: data.code,
          };
        }
      });
      const results = {
        mode: 'add',
        factors,
      };
      window.eventBus.$emit('updateFactorAnalysis', results);
      $('#addFactor').modal('hide');
    },
    selectAll() {
      const max = this.selectMax - this.currentSelectLength;
      if (max === 0) return null;
      let count = 0;
      for (const item of this.filterdFactors) {
        if (this.editWidgetFactors.indexOf(item.code) === -1) {
          this.editWidgetFactors.push(item.code);
          count++;
          if (count >= max) break;
        }
      }
    },
    setCodes(code) {
      if (this.selectMax <= this.currentSelectLength && !this.editWidgetFactors.includes(code)) return null;
      const idx = this.editWidgetFactors.indexOf(code);
      if (idx === -1) {
        this.editWidgetFactors.push(code);
      } else {
        this.editWidgetFactors.splice(idx, 1);
      }
    },
    setTimeoutfilterData() {
      if (this.timeOut) {
        clearTimeout(this.timeOut);
      }
      const that = this;
      this.timeOut = setTimeout(() => {
        that.filterData();
      }, 10);
    },
    filterData() {
      this.filterdFactors = this.factorsList.filter(this.checkFactorFilters);
      this.editWidgetTableSortBy = '';
    },
    checkFactorFilters(obj) {
      if (this.tooMuchRestults) return false;
      if (obj.type === this.editType.market && Object.values(fundings).includes(obj.code)) return false;
      const sameType = obj.type === this.editType[this.editWidgetTableShow];
      const assetClass = this.editSearchAsset === '' ? true : (this.editSearchAsset === obj.assetClass);
      const region = this.editSearchRegion === '' ? true : (this.editSearchRegion === obj.region);
      const factor = (this.editSearchFactor === '' || this.editWidgetTableShow !== 'factor') ? true : (this.editSearchFactor === obj.factor);
      const keyword = (this.editSearchString === '' || this.editWidgetTableShow === 'factor') ? true : byKeywordFactory(this.editSearchString)(obj);
      return sameType && (assetClass && region && factor) && keyword;
    },
    sortWidgetTable(field) {
      if (this.editWidgetTableSortBy === field) {
        this.editWidgetTableSortOrder = this.editWidgetTableSortOrder * -1; //asc/desc
      }
      this.editWidgetTableSortBy = field;
      const key = field;
      const order = this.editWidgetTableSortOrder === 1 ? 'asc' : 'desc';
      this.filterdFactors = _.orderBy(this.filterdFactors, key, order);
    },
    setItems({ option, key }) {
      this[`${key}Text`] = option;
      if (option.startsWith('All')) this[key] = '';
      else this[key] = option;
    },
  },
};
</script>
