<template>
  <div>
    <div
      id="addStrategies"
      class="modal fade"
      tabindex="-1"
      role="dialog">
      <div
        class="modal-dialog"
        role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4
              id="myModalLabel"
              class="modal-title">Saving {{ indicesBasket.length === 1 ? indicesBasket[0].shortName : indicesBasket.length + ' strategies' }}</h4>
            <p class="text-gray">Note - No more than {{ saveMax }} strategies can be added to a portfolio.</p>
          </div>
          <div
            v-show="portfolioSaving"
            class="modal-body loading">
            <div class="loader-inner ball-pulse">
              <div/>
              <div/>
              <div/>
            </div>
          </div>
          <div
            v-show="!portfolioSaving"
            class="modal-body">

            <div
              v-show="addingError === true"
              class="text-center">
              <h4 class="text-red">An error occurred. This strategy already exists in this portfolio.</h4>
            </div>

            <div
              v-show="warning !== false"
              class="text-center">
              <h4 class="text-red">{{ warningText }}</h4>
            </div>
            <div class="selection-option">
              <h4 class="label">Add to existing portfolio:</h4>

              <div
                class="portfolios bg-gray"
                transition="fade">
                <p
                  v-show="portfoliosLoaded && portfoliosLength === 0"
                  class="no-results">
                  You haven't created any portfolios yet.
                </p>

                <div
                  v-for="(portfolioInList,key) in portfolios"
                  v-show="portfoliosLoaded"
                  :key="key"
                  class="portfolio row"
                  transition="fade">
                  <div class="col-sm-8">
                    <strong>
                      <a
                        :href="'/analyse/portfolio/' + portfolioInList.slug"
                        target="_blank"
                        rel="noopener noreferrer">&bull; {{ portfolioInList.title }} ({{ portfolioInList.strategiesCount }})</a>
                    </strong>
                  </div>
                  <div
                    v-if="indicesBasket.length > 1"
                    class="col-sm-4">
                    <a
                      v-if="checkStrategyCount(portfolioInList) === 3"
                      class="btn btn-outline-blue pull-right"
                      @click="addToPortfolio(portfolioInList, indicesBasket)">
                      <i class="fa fa-plus"/> Save
                    </a>
                    <span
                      v-if="checkStrategyCount(portfolioInList) === 2"
                      class="btn btn-outline pull-right"
                      style="margin-top:4px;">
                      Not enough space
                    </span>
                    <span
                      v-if="checkStrategyCount(portfolioInList) === 1"
                      class="btn btn-outline pull-right"
                      style="margin-top:4px;">
                      Already in portfolio
                    </span>
                  </div>

                  <div
                    v-if="indicesBasket.length === 1 && isIn(portfolioInList) === false"
                    class="col-sm-4">
                    <a
                      v-if="(portfolioInList.strategiesCount+indicesBasket.length) <= portfolioMax"
                      class="btn btn-outline-blue pull-right"
                      @click="addToPortfolio(portfolioInList, indicesBasket)">
                      <i class="fa fa-plus"/> Add
                    </a>
                    <span
                      v-if="(portfolioInList.strategiesCount+indicesBasket.length) > portfolioMax"
                      class="btn btn-outline pull-right"
                      style="margin-top:4px;">
                      Not enough space
                    </span>
                  </div>
                  <div
                    v-if="indicesBasket.length === 1 && isIn(portfolioInList) === true"
                    class="col-sm-4">
                    <span
                      class="btn btn-outline pull-right"
                      style="margin-top:4px;">
                      Already in portfolio
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <form
              role="form"
              class="row bg-gray">
              <div class="clearfix">
                <div class="col-sm-6 col-sm-offset-3">
                  <a
                    :class="{ 'btn-info':createPortfolioShow }"
                    class="btn btn-outline form-control toggle"
                    @click="createPortfolioShow=!createPortfolioShow">Add to New Portfolio</a>
                </div>
              </div>
              <div
                v-show="createPortfolioShow"
                class="col-sm-12">
                <div
                  :class="{'has-error': createPortfolioForm.errors.has('title')}"
                  class="row bg-gray">
                  <div class="col-sm-8">
                    <input
                      v-model="createPortfolioForm.title"
                      type="text"
                      class="form-control"
                      placeholder="Portfolio Name">
                  </div>
                  <div class="col-sm-4">
                    <button
                      :disabled="createPortfolioForm.busy"
                      class="btn btn-outline-blue btn-lg form-control"
                      type="submit"
                      @click.prevent="createPortfolio(indicesBasket)">
                      <span
                        v-show="createPortfolioForm.busy === false"
                        transition="fade">Create</span>
                      <span
                        v-show="createPortfolioForm.busy"
                        transition="fade">Saving...</span>
                    </button>
                  </div>
                </div>
                <span
                  v-show="createPortfolioForm.errors.has('title')"
                  transition="fade"
                  class="help-block">
                  {{ createPortfolioForm.errors.get('title') }}
                </span>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div
      id="addedToPortfolio"
      class="modal fade"
      tabindex="-1"
      role="dialog">
      <div
        class="modal-dialog"
        role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4
              id="myModalLabel"
              class="modal-title">Success</h4>
          </div>
          <div
            class="modal-body text-center"
            style="padding-top:0;">
            <h5>
              <strong>You have added {{ indicesBasket.length == 1 ? indicesBasket[0].shortName : indicesBasket.length + ' strategies' }} to {{ portfolio.title }}</strong>
            </h5>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default pull-left"
              data-dismiss="modal">Close</button>
            <a
              :href="`/analyse/portfolio/${portfolio.slug}`"
              target="_blank"
              type="button"
              class="btn btn-primary">View Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* global window document analytics $ SparkForm */
const ACTION = require('../../store/mutation-type');
const apiPortfolios = require('../../api/portfolios');
const { getStrategyAnalytics } = require('../../util/strategy');

export default {
  name: 'AddStrategies',
  props: {
    indicesBasket: {
      type: Array,
      default: () => [],
    },
    period: {
      type: String,
      default: '5y',
    },
    user: {
      type: Object,
      default: null,
    },
    closeBtnLabel: {
      type: String,
      default: 'Close',
    },
  },
  data() {
    return {
      saveMax: 20,
      portfolio: '',
      portfolioMax: 20,
      portfoliosLength: 0,
      portfolioSaving: false,
      portfoliosLoaded: false,
      createPortfolioShow: false,
      createPortfolioForm: new SparkForm({ title: '' }),
      addingError: false,
      warning: false,
      warningText: '',
    };
  },
  computed: {
    portfolios() {
      return this.$store.state.portfolios;
    },
  },
  watch: {
    portfolios(newPortfolios) {
      this.portfoliosLoaded = true;
      this.portfoliosLength = Object.keys(newPortfolios).length;
    },
  },
  methods: {
    async addToPortfolio(portfolioInList, indices, loadingFalg) {
      if (loadingFalg !== undefined) {
        this.portfolioSaving = loadingFalg;
      } else {
        this.portfolioSaving = true;
      }
      const needIndices = [];
      if (indices.length > 1) {
        const alreadyIn = {};
        portfolioInList.strategyIds.forEach((id) => {
          alreadyIn[id] = true;
        });
        indices.forEach((o) => {
          if (!alreadyIn[o.id]) {
            needIndices.push(o);
          }
        });
      } else {
        needIndices.push(indices[0]);
      }
      this.portfolio = portfolioInList;
      await apiPortfolios.addToPortfolio(portfolioInList.id, needIndices, 'attachindices', this.period).catch(err => console.error(err));
      $('#addStrategies').modal('hide');
      $('#addedToPortfolio').modal('show');
      this.refershPortfolios(indices);
    },
    async refershPortfolios(indices) {
      this.portfoliosLoaded = false;
      await this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO, {});
      this.portfoliosLoaded = true;
      this.portfolioSaving = false;
      this.createPortfolioShow = false;
      indices.forEach((strategy) => {
        analytics.track('Added Strategy to Portfolio', getStrategyAnalytics(strategy));
      });
    },
    checkStrategyCount(portfolio) {
      const alreadyIn = {};
      let strategiesCount = portfolio.strategyIds.length;
      portfolio.strategyIds.forEach((id) => {
        alreadyIn[id] = true;
      });
      this.indicesBasket.forEach((o) => {
        if (!alreadyIn[o.id]) {
          strategiesCount++;
        }
      });
      if (strategiesCount > this.portfolioMax) {
        return 2;
      }
      if (strategiesCount === portfolio.strategyIds.length) {
        return 1;
      }
      return 3;
    },
    isIn(portfolio) {
      const needToAddId = this.indicesBasket[0].id;
      const result = portfolio.strategyIds.filter(x => x === needToAddId);
      return result.length !== 0;
    },
    flashWarning(warning) {
      this.warningText = warning;
      const that = this;
      setTimeout(() => {
        that.warning = false;
      }, 4000);
    },
    async createPortfolio(indices) {
      try {
        const response = await apiPortfolios.createPortfolio(this.createPortfolioForm);
        analytics.track('Created Portfolio', response);
        this.portfolio = response;
        await this.addToPortfolio(this.portfolio, indices, false);
      } catch (error) {
        console.error(error);
        this.$store.dispatch(ACTION.SHOW_ALERT_MODAL, { type: 'danger', message: 'Failed to create portfolio' });
      } finally {
        this.createPortfolioForm = new SparkForm({ title: '' });
      }
    },
  },
};
</script>
