<template>
  <div class="step step2"> 
    <hr>
    <div class="form-group">
      <span class="label">Widget Title</span>
      <input type="text" class="form-control" v-model="editWidget.title">
    </div>
    <div v-if="showMetric">
      <span class="label">Choose the metric to {{showWord}}</span>
      <select class="form-control bg-gray" v-model="editWidget.field">
        <option v-for="(v,k) in labels" v-bind:value="k" :key="k">{{v}}</option>
      </select>
    </div>
    <span class="label">Choose time period</span>
    <select class="form-control bg-gray" v-model="editWidget.period">
      <option v-for="(v,k) in periodKeysForFilters" v-bind:value="v" :key="v">{{k}}</option>
    </select>
    <div class="clearfix pad-md">
      <div class="col-xs-4" v-if="editComponent !== 'stat'">
        <button class="btn text-gray" @click="goback()">&lt; BACK</button>
      </div>
      <div class="col-xs-4">
        <button @click="goNextStep()" :disabled="disableClick" class="btn btn-primary form-control"><strong>NEXT</strong></button>
      </div>
      <div class="col-xs-4">
      </div>
    </div>
  </div>
</template>
<script>
const { metrics } = require('../../util/config');

export default {
  name: 'ChoosePeriodModal',
  props: {
    editComponent: {
      type: String,
      default: null,
    },
    parentEditWidget: {
      type: Object,
    }
  },
  data() {
    return {
      editWidgetTitle: null,
      haveMetric: ['monitor','portfolioBar', 'stat'],
      editWidget: {
        title: '',
        field: 'return',
        period: '6m',
      },
      periodKeysForFilters: {
        '10 Year': '10y',
        '5 Year': '5y',
        '3 Year': '3y',
        '1 Year': '1y',
        '6 Month': '6m',
      },
      labels: metrics,
    };
  },
  computed: {
    showMetric() {
      return this.haveMetric.includes(this.editComponent);
    },
    showWord() {
      return this.editComponent === 'stat' ? 'show' : 'compare';
    },
    disableClick() {
      return this.editWidget.title === '';
    },
  },
  watch: {
    parentEditWidget(val) {
      if (Object.keys(val).length > 0) {
        this.editWidget.title = val.title;
        this.editWidget.field = val.field  || 'return';
        this.editWidget.period = val.period;
      }
    },
  },
  methods: {
    goNextStep() {
      this.$emit('setperiod', this.editWidget);
    },
    goback() {
      this.$emit('goback', this.editWidget);
    },
  },
  mounted() {
    if (Object.keys(this.parentEditWidget).length > 0) {
      this.editWidget.title = this.parentEditWidget.title;
      this.editWidget.field = this.parentEditWidget.field || 'return';
      this.editWidget.period = this.parentEditWidget.period;
    }
  },
}
</script>