<template>
  <div>
    <!-- <div class="row filters pad-up" v-if="(editType === 'stat' && currentSelectLength === 1) || editType !== 'stat'">
      <div class="col-xs-6" v-if="editType === 'stat' && currentSelectLength === 1" style="padding-top:5px">
         You have selected <strong>{{statDetail}}</strong>
      </div>
      <div class="col-xs-6" v-if="editType !== 'stat'" style="padding-top:5px">
        You have selected
        <strong style="border-bottom: 1px solid #333;" v-if="commponenttype === 'monitor'">{{ currentSelectLength }}</strong>
        <strong style="border-bottom: 1px solid #333;" v-if="commponenttype !== 'monitor'">{{ currentSelectLength }}/{{editWidgetMax}}</strong>
         items
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-outline" @click="clearWidgetSelect()" style="padding: 3px 15px;">Clear all</button>
      </div>
    </div> -->
    <div class="row text-center pad-up">

      <div class="col-sm-3 hidden-xs choose-data-padding" v-for="(v,k) in editTableLists" :key="k">
        <button class="btn form-control" style="padding: 3px 15px;" v-bind:class="{ 'btn-blue':editWidgetTableShow===k, 'btn-outline':editWidgetTableShow!==k}" @click="editWidgetTableShow=k">{{v}}</button>
      </div>
      <div class="col-xs-12 visible-xs">
        <div class="btn-group" style="width: 100%;">
          <button v-for="(v,k) in editTableLists" :key="k" v-show="editWidgetTableShow===k" type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{v}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li v-for="(v,k) in editTableLists" :key="k"><a @click.prevent="editWidgetTableShow=k">{{v}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row filters" v-show="editWidgetTableShow!=='portfolios' && filters !== null">
      <div class="col-sm-3 choose-data-padding">
        <select class="form-control bg-darkgray" style="margin-bottom:3px;margin-top:3px" v-model="editSearchAsset">
          <option value="">All Asset Classes</option>
          <option v-for="(filterItem, index) in filters['assetClass']" v-bind:value="filterItem" :key="index">{{ filterItem }}</option>
        </select>
      </div>
      <div class="col-sm-3 choose-data-padding" v-if="editWidgetTableShow==='benchmarks'" >
        <select class="form-control bg-darkgray" style="margin-bottom:3px;margin-top:3px" v-model="editSearchCurrency">
          <option value="">All Currencies</option>
          <option v-for="(filterItem, index) in filters['currency']" v-bind:value="filterItem" :key="index">{{ filterItem }}</option>
        </select>
      </div>
      <div class="col-sm-3 choose-data-padding"  v-if="editWidgetTableShow!=='benchmarks'" >
        <select class="form-control bg-darkgray" style="margin-bottom:3px;margin-top:3px" v-model="editSearchFactor">
          <option value="">All Factors</option>
          <option v-for="(filterItem, index) in filters['factor']" v-bind:value="filterItem" :key="index">{{ filterItem }}</option>
        </select>
      </div>
      <div class="col-sm-6 choose-data-padding">
        <input type="text" placeholder="Keyword Search" class="form-control" :class="{ 'search-input': editSearchString.length === 0 }" v-model="editSearchString">
        <div class="remove-search-input" v-if="editSearchString.length > 0" @click="editSearchString=''"></div>
      </div>
    </div>
    <div class="row filters" v-show="editWidgetTableShow==='portfolios'">
      <div class="col-sm-12 choose-data-padding">
        <input type="text" placeholder="Keyword Search" class="form-control" :class="{ 'search-input': editSearchString.length === 0 }" v-model="editSearchString">
        <div class="remove-search-input" v-if="editSearchString.length > 0" @click="editSearchString=''"></div>
      </div>
    </div>

    <div class="row filters center-clear-all">
      <div v-if="currentShowLength > 0">Showing {{currentShowLength}} results</div>
      <a class="clear-all-style" v-if="editType !== 'stat' && currentSelectLength === 0 && commponenttype !== 'monitor'" @click="editWidgetSelectAll()">Select top {{ editWidgetMax - currentSelectLength }} results</a>
      <a class="clear-all-style" v-if="commponenttype === 'monitor' && currentSelectLength === 0" @click="editWidgetSelectAll()">Select all results</a>
      <a class="clear-all-style" v-if="editType !== 'stat' && currentSelectLength > 0" @click="clearWidgetSelect()">Clear all</a>
      <a class="clear-all-style" v-if="editType === 'stat' && currentSelectLength > 0" @click="clearWidgetSelect()">Clear</a>
    </div>

    <div class="clearfix tables">
      <div class="clearfix">
        <div class="tableoption pull-right" @click.stop="editWidgetTableMenu=editWidgetTableMenu" v-bind:class="{'opened':editWidgetTableMenu==1}" style="position: absolute;right: 0;z-index: 5;">
          <button @click.stop="editWidgetTableMenu=editWidgetTableMenu*-1" class="btn">
            <span class="icon icon-cog"></span>
          </button>
          <div class="menu" v-show="editWidgetTableMenu==1">
            <p>Select time period</p>
            <label v-for="(v,k) in periodKeysForFilters" class="radio-style" :key="v">
              <input type="radio" v-model="editWidgetPeriod" v-bind:value="v"><i></i>
              {{k}}
            </label>
            <p>Add performance metrics ({{dataTableColsMax - dataTableCols_raw.length}} left)</p>
            <label v-for="(v,k) in labels" class="checkbox-style" :key="k">
              <input type="checkbox" v-model="dataTableCols_raw" v-bind:value="k" v-bind:disabled="dataTableCols_raw.indexOf(k) < 0 && dataTableCols_raw.length >= dataTableColsMax"><i></i>
              {{v}}
            </label>
          </div>
        </div>
      </div>

      <div class="datatable" style="position: relative;">
        <div v-show="showLoading || saveLoading" class="clearfix loader-overlay">
          <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="clearfix heading">
          <div style="width:5%"></div>
          <div style="width:50%" class="namecol">
            <button class="btn" @click="sortWidgetTable('name')">
                Name
            </button>
          </div>
          <div v-bind:style="{width: (40/dataTableCols_raw.length)+'%'}" v-for="(header, field) in labels" v-bind:class="{'bg-gray':editWidgetTableSortBy===field}" :key="field" v-show="dataTableCols_raw.indexOf(field)>=0">
            <button class="btn" @click="sortWidgetTable(field)">
              {{ editWidgetPeriod }} {{header}}
            </button>
          </div>
        </div>


        <div class="scrolling bg-gray" v-if="editWidgetTableShow==='portfolios'">
           <p class="text-center" style="margin-top: 1em;" v-if="filterdPortfolios.length === 0">No results.</p>
          <div v-for="(index,idx) in filterdPortfolios" class="data-row-parent" :key="idx" v-else>
            <div class="data-row">
              <div style="width:5%">
                <div class="checkbox-style" @click="setIds(index.id)">
                  <input type="checkbox" v-bind:value="index.id" v-model="editWidgetPortfolios" :disabled="notInId(editWidgetPortfolios, index.id) && currentSelectLength >= editWidgetMax"><i></i>
                </div>
              </div>
              <div style="width:50%">
                <h5 class="list-group-item-heading"><a :href="`/portfolios/${index.slug}?period=${editWidgetPeriod}`" target="_blank" rel="noopener noreferrer">{{index.title}}</a></h5>
                <span class="text-gray">{{index.strategiesCount}} strategies</span>
              </div>
              <div v-bind:style="{width: (40/dataTableCols_raw.length)+'%'}" class="text-center" v-for="(header, field) in filteredLabels" :key="field">
                {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
              </div>
            </div>

          </div>
        </div>

        <div class="scrolling bg-gray" v-if="editWidgetTableShow==='benchmarks'">
          <p class="text-center" style="margin-top: 1em;" v-if="filterdBenchmarks.length === 0">No results.</p>
          <div v-for="(index,idx) in filterdBenchmarks" class="data-row-parent" :key="idx" v-else>
            <div class="data-row">
              <div style="width:5%">
                <div class="checkbox-style" @click="setIds(index.id)">
                  <input type="checkbox" v-bind:value="index.id" v-model="editWidgetBenchmarks" :disabled="notInId(editWidgetBenchmarks, index.id) && currentSelectLength >= editWidgetMax"><i></i>
                </div>
              </div>
              <div style="width:50%">
                <h5 class="list-group-item-heading"><a :href="`/strategy/${index.code}?period=${editWidgetPeriod}`" target="_blank" rel="noopener noreferrer">{{index.shortName}}</a></h5>
                <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
              </div>
              <div v-bind:style="{width: (40/dataTableCols_raw.length)+'%'}" class="text-center" v-for="(header, field) in filteredLabels" :key="field">
                {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
              </div>
            </div>
          </div>
        </div>

        <div class="scrolling bg-gray" v-if="editWidgetTableShow==='strategies'">
          <p class="text-center" style="margin-top: 1em;" v-if="!numFilters">Please select a filter above to begin searching for strategies.</p>
          <p class="text-center" style="margin-top: 1em;" v-if="numFilters && loadingNewData == false && filterdStrategies.length == 0">No results.</p>
          <div v-for="(index, idx) in filterdStrategies" class="data-row-parent" :key="idx" v-if="numFilters">
            <div class="data-row">
              <div style="width:5%">
                <div class="checkbox-style" @click="setIds(index.id)">
                  <input type="checkbox"  v-bind:value="index.id" v-model="editWidgetStrategies" :disabled="notInId(editWidgetStrategies, index.id) && currentSelectLength >= editWidgetMax"><i></i>
                </div>
              </div>
                <div style="width:50%">
                  <h5 class="list-group-item-heading"><a :href="`/strategy/${index.code}?period=${editWidgetPeriod}`" target="_blank" rel="noopener noreferrer">{{index.shortName}}</a></h5>
                  <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                </div>

              <div v-bind:style="{width: (40/dataTableCols_raw.length)+'%'}" class="text-center" v-for="(header, field) in filteredLabels" :key="field">
                {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
              </div>
            </div>
          </div>
        </div>

        <div class="scrolling bg-gray" v-if="editWidgetTableShow==='privates'">
            <p class="text-center" style="margin-top: 1em;" v-if="filterdPrivates.length === 0">No results.</p>
            <div v-for="(index,idx) in filterdPrivates" class="data-row-parent" :key="idx" v-else>
              <div class="data-row">
                <div style="width:5%">
                  <div class="checkbox-style" @click="setIds(index.id)">
                    <input type="checkbox" v-bind:value="index.id" v-model="editWidgetPrivates" :disabled="notInId(editWidgetPrivates, index.id) && currentSelectLength >= editWidgetMax"><i></i>
                  </div>
                </div>
                <div style="width:50%">
                  <h5 class="list-group-item-heading"><a :href="`/strategy/${index.code}?period=${editWidgetPeriod}`" target="_blank" rel="noopener noreferrer">{{index.shortName}}</a></h5>
                  <span class="text-gray">{{ index.assetClass }} | {{ index.currency }} {{ index.returnCategory }}{{ index.returnType }} {{ index.volTarget }}</span>
                </div>
                <div v-bind:style="{width: (40/dataTableCols_raw.length)+'%'}" class="text-center" v-for="(header, field) in filteredLabels" :key="field">
                  {{ index[editWidgetPeriod + "_" +field] | round_4dp | unit(index['um_' + field]) }}
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>
	  <div class="clearfix pad-md">
			<div class="col-xs-4">
				<button class="btn text-gray" @click="goback()">&lt; BACK</button>
			</div>
			<div class="col-xs-4">
				<button @click="submitadd()" :disabled="currentSelectLength === 0" class="btn btn-primary form-control"><strong>SAVE</strong></button>
			</div>
			<div class="col-xs-4">
			</div>
		</div>
	</div>
</template>
<script>
const pipe = require('lodash/fp/pipe');
const filter = require('lodash/fp/filter');
const ACTION = require('../../store/mutation-type');
const { checksInsensitiveFactory } = require('../../lib/lodash-helper');
const { byKeywordFactory, byRelevanceFactory } = require('../../util/strategy');
const { metrics } = require('../../util/config');

export default {
  name: 'choose-data-modal',
  props: {
    editType: {
      type: String,
      default: '',
    },
    editWidget: {
      type: Object,
      default: {},
    },
    properties: {
      type: Object,
    },
    commponenttype: {
      type: String,
    },
    portfolioLoaded: {
      type: Boolean,
      default: false,
    },
    strategiesLoaded: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      editWidgetTableShow: 'portfolios', //strategies, portfolios, benchmarks
      editSearchAsset: '',
      editSearchCurrency: '',
      editSearchFactor: '',
      editSearchString: '',

      dataTableColsMax: 2,
      searchTimeout: null,
      editWidgetPortfolios: [],
      editWidgetBenchmarks: [],
      editWidgetStrategies: [],
      editWidgetPrivates: [],

      editWidgetTableMenu: -1,
      dataTableCols_raw: ['return'],
      editWidgetPeriod: '5y',
      periodKeysForFilters: {
        '10 Year': '10y',
        '5 Year': '5y',
        '3 Year': '3y',
        '1 Year': '1y',
        '6 Month': '6m',
      },
      labels: metrics,

      editWidgetTableSortBy: '',
      editWidgetTableSortOrder: -1,

      filterdPrivates: [],
      filterdPortfolios: [],
      filterdBenchmarks: [],
      filterdStrategies: [],
      loadingNewData: false,
      saveLoading: false,
    };
  },
  watch: {
    editWidgetPeriod() {
      this.searchCase();
      this.editWidgetTableSortOrder = this.editWidgetTableSortOrder * -1;
      this.sortWidgetTable(this.editWidgetTableSortBy)
    },
    currentSelectLength(val) {
      this.updateTitle();
    },
    portfolioLoaded(val) {
     if (val) {
        this.filterdPortfolios = this.portfolios.filter(this.checkPortfolioKeyword);
      }
    },
    strategiesLoaded(val) {
     if (val) {
        this.filterdPrivates = this.privates.filter(_.overEvery(this.checkStrategyKeyword, this.checkStrategyFilters));
        this.filterdBenchmarks = this.benchmarks.filter(_.overEvery(this.checkStrategyKeyword, this.checkStrategyFilters));
      }
    },
    editWidgetTableShow(val) {
      this.editSearchAsset = '';
      this.editSearchCurrency = '';
      this.editSearchFactor = '';
      this.editSearchString = '';
      this.filterData();
    },
    editSearchAsset() {
      this.filterData();
    },
    editSearchCurrency() {
      this.filterData();
    },
    editSearchFactor() {
      this.filterData();
    },
    editSearchString() {
      this.filterData();
    },
  },
  computed: {
    filters() {
      return this.$store.state.filters;
    },
    currentShowLength() {
      switch(this.editWidgetTableShow){
        case 'benchmarks':
          return this.filterdBenchmarks.length;
        case 'privates':
          return this.filterdPrivates.length;
        case 'strategies':
          return this.filterdStrategies.length;
        case 'portfolios':
          return this.filterdPortfolios.length;
      }
    },
    editTableLists() {
      if (this.commponenttype !== 'portfolioBar') {
        return {
          portfolios: 'Portfolios',
          benchmarks: 'Benchmarks',
          strategies: 'Strategies',
          privates: 'Private',
        }
      }
      return {};
    },
    showLoading() {
      switch (this.editWidgetTableShow){
        case 'portfolios':
          if (this.portfolioLoaded) return false;
          return true;
          break;
        case 'strategies':
        case 'benchmarks':
        case 'privates':
          if (this.strategiesLoaded) return false;
          return true;
          break;
      }
    },
    statDetail() {
      if (this.currentSelectLength === 1) {
        if (this.editWidgetPortfolios.length === 1) {
          const idx = this.portfolios.findIndex(o => o.id === this.editWidgetPortfolios[0]);
          const details = this.portfolios[idx]
          return `${details.title}`;
        } else {
          const id = this.editWidgetBenchmarks[0] || this.editWidgetPrivates[0] || this.editWidgetStrategies[0];
          const details = this.$store.state.strategies[id];
          return `${details.shortName}`;
          // (${ details.currency } ${ details.returnCategory } ${ details.returnType }) (${details.type})`;
        }
      }
      return '';
    },
    filteredLabels() {
      const labels = this.labels;
      const labelsFiltered = {};
      for (const field in labels) {
        if (this.dataTableCols_raw.indexOf(field) >= 0) {
          labelsFiltered[field] = labels[field];
        }
      }
      return labelsFiltered;
    },
    numFilters() {
      if (this.editSearchAsset || this.editSearchCurrency || this.editSearchFactor || this.editSearchString) {
        return true;
      }
      return false;
    },
    editWidgetMax() {
      return this.editType === 'stat' ? 1 : 15;
    },
    currentSelectLength() {
      return this.editWidgetPortfolios.length + this.editWidgetPrivates.length + this.editWidgetBenchmarks.length + this.editWidgetStrategies.length;
    },
    portfolios() {
      const results = [];
      for (const item in this.$store.state.portfolios) {
        results.push(this.$store.state.portfolios[item]);
      }
      return results;
    },
    privates() {
      const results = [];
      for (const idx in this.$store.state.strategies) {
        if (this.$store.state.strategies[idx].type === 'Private Strategy') {
          results.push(this.$store.state.strategies[idx]);
        }
      }
      return results;
    },
    strategies() {
      const results = [];
      for (const idx in this.$store.state.strategies) {
        if (this.$store.state.strategies[idx].type === 'Strategy') {
          results.push(this.$store.state.strategies[idx]);
        }
      }
      return results;
    },
    benchmarks() {
      const results = [];
      for (const idx in this.$store.state.strategies) {
        if (this.$store.state.strategies[idx].type === 'Benchmark') {
          results.push(this.$store.state.strategies[idx]);
        }
      }
      return results;
    },
  },
  methods: {
    notInId(chooseArray, id) {
      return chooseArray.indexOf(id) === -1;
    },
    goback() {
      const results = {
        portfolios: this.editWidgetPortfolios,
        benchmarks: this.editWidgetBenchmarks,
        privates: this.editWidgetPrivates,
        strategies: this.editWidgetStrategies,
      }
      this.$emit('goback', results);
    },
    submitadd() {
      const results = {
        portfolios: this.editWidgetPortfolios,
        benchmarks: this.editWidgetBenchmarks,
        privates: this.editWidgetPrivates,
        strategies: this.editWidgetStrategies,
      }
      this.$emit('addwidget', results);
    },
    setIds(id) {
      let idPush = null;
      switch(this.editWidgetTableShow){
        case 'portfolios':
          idPush = this.editWidgetPortfolios;
          break;
        case 'benchmarks':
          idPush = this.editWidgetBenchmarks;
          break;
        case 'privates':
          idPush = this.editWidgetPrivates;
        break;
          case 'strategies':
          idPush = this.editWidgetStrategies;
          break;
      }
      const idx = idPush.indexOf(id);
      if (idx === -1) {
        if (this.currentSelectLength >= this.editWidgetMax) {
          return 0;
        }
        idPush.push(id);
      } else {
        idPush.splice(idx, 1);
      }
    },
    filterData() {
      const that = this;
      if (this.searchTimeout !== null) {
        clearTimeout(this.searchTimeout);
      }
      this.saveLoading = true;
      this.searchTimeout = setTimeout(() => {
        that.searchCase();
      }, 2);
    },
    searchCase() {
      switch(this.editWidgetTableShow){
        case 'portfolios':
          this.filterdPortfolios = this.portfolios.filter(_.overEvery(this.checkPortfolioKeyword, this.checkPeriodActive));
          break;
        case 'benchmarks':
          this.filterdBenchmarks = pipe(
            filter(_.overEvery(byKeywordFactory(this.editSearchString, this.portfolios), this.checkStrategyFilters, this.checkPeriodActive)),
            (this.editSearchString) ? a => a.sort(byRelevanceFactory(this.editSearchString)) : a => a,
          )(this.benchmarks);
          break;
        case 'privates':
          this.filterdPrivates = pipe(
            filter(_.overEvery(byKeywordFactory(this.editSearchString, this.portfolios), this.checkStrategyFilters, this.checkPeriodActive)),
            (this.editSearchString) ? a => a.sort(byRelevanceFactory(this.editSearchString)) : a => a,
          )(this.privates);
          break;
        case 'strategies':
          if (this.numFilters) {
            this.filterdStrategies = pipe(
              filter(_.overEvery(byKeywordFactory(this.editSearchString, this.portfolios), this.checkStrategyFilters, this.checkPeriodActive)),
              (this.editSearchString) ? a => a.sort(byRelevanceFactory(this.editSearchString)) : a => a,
            )(this.strategies);
          } else {
            this.filterdStrategies = [];
          }
          break;
      }
      this.saveLoading = false;
      this.editWidgetTableSortBy = '';
    },
    editWidgetSelectAll() {
      let max = this.editWidgetMax - this.currentSelectLength;
      if (this.commponenttype === 'monitor') {
        max = 999;
      }
      let count = 0;
      switch(this.editWidgetTableShow){
        case 'portfolios':
          for (const item of this.filterdPortfolios) {
            if (this.editWidgetPortfolios.indexOf(item.id) === -1) {
              this.editWidgetPortfolios.push(item.id);
              if ((count += 1) >= max) break;
            }
          }
          break;
        case "benchmarks":
          for (const item of this.filterdBenchmarks) {
            if (this.editWidgetBenchmarks.indexOf(item.id) === -1) {
              this.editWidgetBenchmarks.push(item.id);
              if ((count += 1) >= max) break;
            }
          }
        break;
        case "privates":
          for (const item of this.filterdPrivates) {
            if (this.editWidgetPrivates.indexOf(item.id) === -1) {
              this.editWidgetPrivates.push(item.id);
              if ((count += 1) >= max) break;
            }
          }
        break;
        case "strategies":
          for (const item of this.filterdStrategies) {
            if (this.editWidgetStrategies.indexOf(item.id) === -1) {
              this.editWidgetStrategies.push(item.id);
              if ((count += 1) >= max) break;
            }
          }
        break;
      }
    },
    checkPortfolioKeyword(obj) {
      return obj.title.toLowerCase().includes(this.editSearchString.toLowerCase());
    },
    checkPeriodActive(obj) {
      const key = `${this.editWidgetPeriod}_active`;
      let idPush = null;
      switch(this.editWidgetTableShow){
        case 'portfolios':
          idPush = this.editWidgetPortfolios;
          break;
        case 'benchmarks':
          idPush = this.editWidgetBenchmarks;
          break;
        case 'privates':
          idPush = this.editWidgetPrivates;
        break;
          case 'strategies':
          idPush = this.editWidgetStrategies;
          break;
      }
      const idx = idPush.indexOf(obj.id);
      return obj[key] === 1 || idx > -1;
    },
    checkStrategyKeyword(obj) {
      const includesKeyword = checksInsensitiveFactory(_.includes, this.editSearchString);
      return [
        obj.code,
        obj.shortName,
        obj.longName,
      ].some(includesKeyword);
    },
    checkStrategyFilters(obj) {
      const assetClass = this.editSearchAsset === '' ? true : (this.editSearchAsset === obj.assetClass);
      const currency = this.editSearchCurrency === '' ? true : (this.editSearchCurrency === obj.currency);
      const factor = this.editSearchFactor === '' ? true : (this.editSearchFactor === obj.factor);
      return (assetClass && currency && factor);
    },
    sortWidgetTable(field) {
      if (this.editWidgetTableSortBy == field) {
        this.editWidgetTableSortOrder = this.editWidgetTableSortOrder * -1; //asc/desc
      }
      this.editWidgetTableSortBy = field;
      const key = field === 'name' ? '' : `${this.editWidgetPeriod}_${field}`;
      const order = this.editWidgetTableSortOrder === 1 ? 'asc' : 'desc';
      if (key === '') {
        this.filterdBenchmarks = _.orderBy(this.filterdBenchmarks, 'longName', order);
        this.filterdStrategies = _.orderBy(this.filterdStrategies, 'longName', order);
        this.filterdPortfolios = _.orderBy(this.filterdPortfolios, 'title', order);
        this.filterdPrivates = _.orderBy(this.filterdPrivates, 'longName', order);
      } else {
        this.filterdBenchmarks = _.orderBy(this.filterdBenchmarks, key, order);
        this.filterdStrategies = _.orderBy(this.filterdStrategies, key, order);
        this.filterdPortfolios = _.orderBy(this.filterdPortfolios, key, order);
        this.filterdPrivates = _.orderBy(this.filterdPrivates, key, order);
      }
    },
    updateTitle() {
      let selectedItems = null;
      if (this.commponenttype === 'monitor') {
        selectedItems = `${this.currentSelectLength} ITEMS SELECTED`;
      } else if (this.editType === 'stat') {
        selectedItems = this.statDetail;
      } else {
        selectedItems = `${this.currentSelectLength}/${this.editWidgetMax} ITEMS SELECTED`;
      }
      this.$emit('selectchange', selectedItems);
    },
    clearWidgetSelect() {
      this.editWidgetPortfolios = [];
      this.editWidgetBenchmarks = [];
      this.editWidgetStrategies = [];
      this.editWidgetPrivates = [];
    },
  },
  created() {
    this.filterdPrivates = this.privates;
    this.filterdPortfolios = this.portfolios;
    this.filterdBenchmarks = this.benchmarks;
    if (Object.keys(this.editWidget).length > 0 && this.editWidget.period) {
      this.editWidgetPeriod = this.editWidget.period;
    }
    if (Object.keys(this.properties).length > 0) {
      if (this.editType !== 'stat') {
        this.properties.datasets.forEach((o) => {
          if (o.type === 'benchmark') {
            this.editWidgetBenchmarks.push(o.id);
          }
          if (o.type === 'portfolio') {
            this.editWidgetPortfolios.push(o.id);
          }
          if (o.type === 'strategy') {
            this.editWidgetStrategies.push(o.id);
          }
          if (o.type === 'privates') {
            this.editWidgetPrivates.push(o.id);
          }
        })
      } else {
        const main = this.properties.main;
        if (main.type === 'benchmark') {
          this.editWidgetBenchmarks.push(main.id);
        }
        if (main.type === 'portfolio') {
          this.editWidgetPortfolios.push(main.id);
        }
        if (main.type === 'strategy') {
          this.editWidgetStrategies.push(main.id);
        }
        if (main.type === 'privates') {
          this.editWidgetPrivates.push(main.id);
        }
      }
    }
  },
  mounted() {
    this.updateTitle();
  }
};
</script>
