<template>
  <div class="step step1">
    <span class="label">Choose a chart type</span>
    
    <div class="editmodal">
      <div class="clearfix graphselect bg-gray">
        <div class="col-sm-4" v-for="(v,k) in chartTypes" :key="k" v-if="graphType.charts === editType">
          <div class="clearfix text-center item" @click="componenttype=k" v-bind:class="{'selected':componenttype==k}">
            <img :src="`/img/widgets/${k}.png`" class="img-responsive">
            <span>{{v}}</span>
          </div>
        </div>
        <div class="col-sm-4" v-if="graphType.table === editType"  v-for="(v,k) in comparisonTypes" :key="k" >
          <div class="clearfix text-center item" @click="componenttype=k" v-bind:class="{'selected':componenttype===k}">
            <img :src="`/img/widgets/${comparisonImages[k]}.png`" class="img-responsive">
            <span>{{v}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix pad-md">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <button :disabled="componenttype === null" @click="goNextStep()" class="btn btn-primary form-control"><strong>NEXT</strong></button>
      </div>
      <div class="col-xs-4">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'choose-graph-modal',
  props: {
    editType: {
      type: String,
      default: 'charts',
    },
    editComponent: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      chartTypes: {
        track: 'Track Record (multi)', //multi item
        xy: 'XY (multi)',
        volatilitytrack: 'Volatility Track (multi)',
      },
      comparisonTypes: {
        comparisonTable: 'Comparison Table',
        monitor: 'Best/Worst Table',
        portfolioBar: 'Horizontal Bar (portfolios)',
      },
      comparisonImages: {
        comparisonTable: 'comparison',
        monitor: 'monitor',
        portfolioBar: 'bar',
      },
      graphType: {
        charts: 'charts',
        table: 'table',
      },
      componenttype: 'table',
    };
  },
  watch: {
    editComponent(val) {
      if (val !== null) {
        this.componenttype = val;
      }
    },
  },
  methods: {
    goNextStep() {
      this.$emit('setcomponent', this.componenttype);
    },
  },
  mounted() {
    if (this.editComponent !== null) {
      this.componenttype = this.editComponent;
    }
  },
}
</script>