<template>
  <div>
    <div
      id="createProtfolio"
      class="modal fade"
      tabindex="-1"
      role="dialog">
      <div
        class="modal-dialog"
        role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4
              id="myModalLabel"
              class="modal-title">CREATE NEW PORTFOLIO</h4>
          </div>
          <div
            v-show="portfolioSaving"
            class="modal-body loading">
            <div class="loader-inner ball-pulse">
              <div/>
              <div/>
              <div/>
            </div>
          </div>
          <div
            v-show="portfolioSaving == false"
            class="modal-body">

            <div
              v-show="warning !== false"
              class="text-center">
              <h4 class="text-red">{{ warning }}</h4>
            </div>

            <form
              role="form"
              class="row">
              <div class="col-sm-12">
                <div
                  :class="{'has-error': createPortfolioForm.errors.has('title')}"
                  class="row">
                  <div class="col-sm-2"/>
                  <div
                    class="col-sm-8">
                    <input
                      v-model="createPortfolioForm.title"
                      type="text"
                      class="form-control"
                      placeholder="Portfolio Name">
                  </div>
                </div>
                <span
                  v-show="createPortfolioForm.errors.has('title')"
                  transition="fade"
                  class="help-block">
                  {{ createPortfolioForm.errors.get('title') }}
                </span>
              </div>
              <div
                class="col-sm-12"
                style="padding-top:10px;">
                <div class="row">
                  <div class="col-sm-2"/>
                  <div class="col-sm-4">
                    <button
                      :disabled="createPortfolioForm.busy"
                      class="btn btn-primary form-control"
                      type="submit"
                      @click.prevent="createPortfolio('pinned')">
                      <span
                        v-show="createPortfolioForm.busy == false">With Pinned Strategies</span>
                      <span
                        v-show="createPortfolioForm.busy"
                        transition="fade">Saving...</span>
                    </button>
                  </div>
                  <div class="col-sm-4">
                    <button
                      :disabled="createPortfolioForm.busy"
                      class="btn btn-primary form-control"
                      type="submit"
                      @click.prevent="createPortfolio('top')">
                      <span
                        v-show="createPortfolioForm.busy == false"
                        transition="fade">With Top {{ topMax }} Strategies</span>
                      <span
                        v-show="createPortfolioForm.busy"
                        transition="fade">Saving...</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <hr class="dotted">
            <div class="selection-option">
              <h4 class="label">Existing portfolio:</h4>

              <div
                class="portfolios bg-gray"
                transition="fade">
                <p
                  v-show="portfoliosLoading == false && portfolios.length == 0"
                  class="no-results">
                  You haven't created any portfolios yet.
                </p>
                <div
                  v-for="(portfolioInList, index) in portfolios"
                  v-show="portfoliosLoading==false"
                  :key="index"
                  class="portfolio row"
                  transition="fade">
                  <div class="col-sm-8 protfolio-padding">
                    <strong>
                      <a
                        :href="'/analyse/portfolio/' + portfolioInList.slug"
                        target="_blank"
                        rel="noopener noreferrer">&bull; {{ portfolioInList.title }} ({{ portfolioInList.strategiesCount }})</a>
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div
      id="createPortfolioSuccess"
      class="modal fade"
      tabindex="-1"
      role="dialog">
      <div
        class="modal-dialog"
        role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4
              id="myModalLabel"
              class="modal-title">Success</h4>
          </div>
          <div
            class="modal-body"
            style="padding-top:0;">
            <h5
              v-if="indicesBasket.length === 0 && mode === 'pinned'"
              class="text-center">
              <strong>You have created a new portfolio: {{ portfolio.title }}</strong>
            </h5>
            <h5
              v-if="indicesBasket.length === 1 && mode === 'pinned'"
              class="text-center">
              <strong>You have added {{ `${indicesBasket[0].shortName} strategies` }} to {{ portfolio.title }}</strong>
            </h5>
            <h5
              v-if="indicesBasket.length > 1 && mode === 'pinned'"
              class="text-center">
              <strong >You have added the following {{ `${indicesBasket.length} strategies` }} to {{ portfolio.title }}:</strong>
              <br><br>
            </h5>
            <template v-if="indicesBasket.length > 1">
              <h5
                v-for="indice in indicesBasket"
                :key="indice.id"
                style="padding-left:30%;text-align:left;">
                <strong>&bull; {{ indice.shortName }}</strong>
              </h5>
            </template>
            <h5
              v-if="indices.length >= 1 && mode === 'top'"
              class="text-center">
              <strong >You have added the following {{ `${topMax} strategies` }} to {{ portfolio.title }}:</strong>
              <br><br>
            </h5>
            <template v-if="indices.length >= topMax && mode === 'top'">
              <h5
                v-for="index in topMax"
                :key="index"
                style="padding-left:30%;text-align:left;">
                <strong>&bull; {{ indices[index - 1] ? indices[index - 1].shortName : '' }}</strong>
              </h5>
            </template>
            <h5 class="text-center">
              <strong>You can {{ indicesBasket.length === 0 ? 'start addding' : 'add' }} strategies to your portfolio using the <span class="btn-outline-blue btn">Add</span> button</strong>
            </h5>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default pull-left"
              data-dismiss="modal">Close</button>
            <a
              :href="`/analyse/portfolio/${portfolio.slug}`"
              target="_blank"
              type="button"
              class="btn btn-primary">View Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global window document analytics $ SparkForm */
const ACTION = require('../../store/mutation-type');
const apiPortfolios = require('../../api/portfolios');
const { getStrategyAnalytics } = require('../../util/strategy');

export default {
  name: 'CreatePortfolio',
  props: {
    indicesBasket: {
      type: Array,
      default: null,
    },
    period: {
      type: String,
      default: '5y',
    },
    indices: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      addingError: false,
      portfolioSaving: false,
      portfoliosLoading: false,
      portfolio: {
        title: 'hehe',
      },
      warning: false,
      createPortfolioForm: new SparkForm({ title: '' }),
      mode: 'pinned',
    };
  },
  computed: {
    portfolios() {
      return this.$store.state.portfolios;
    },
    topMax() {
      return this.indices.length < 20 ? this.indices.length : 20;
    },
    // addedStrategies() {
    //   if (this.indicesBasket && this.indicesBasket.length < 1) {
    //     return '';
    //   } else if (this.indicesBasket.length === 1) {
    //     return 'WITH 1 SELECTED STRATEGY';
    //   }
    //   return `WITH ${this.indicesBasket.length} SELECTED STRATEGIES`;
    // },
  },
  methods: {
    createPortfolioSuccess() {
      $('#createProtfolio').modal('hide');
      $('#createPortfolioSuccess').modal('show');
    },
    async createPortfolio(mode) {
      this.portfolioSaving = true;
      this.mode = mode;
      try {
        const response = await apiPortfolios.createPortfolio(this.createPortfolioForm);
        analytics.track('Created Portfolio', response);
        if (mode === 'pinned' && this.indicesBasket && this.indicesBasket.length > 0) {
          const needIndices = this.indicesBasket.map(o => ({ id: o.id }));
          await apiPortfolios.addToPortfolio(response.id, needIndices, 'attachindices', this.period);
          this.indicesBasket.forEach((strategy) => {
            analytics.track('Added Strategy to Portfolio', getStrategyAnalytics(strategy));
          });
        } else if (mode === 'top' && this.indices.length > 0) {
          const needIndices = [];
          for (let idx = 0; idx < this.topMax; idx++) {
            needIndices.push({ id: this.indices[idx].id });
          }
          await apiPortfolios.addToPortfolio(response.id, needIndices, 'attachindices', this.period);
          this.indicesBasket.forEach((strategy) => {
            analytics.track('Added Strategy to Portfolio', getStrategyAnalytics(strategy));
          });
        }
        this.portfolio = response;
        this.createPortfolioSuccess();
        await this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO, {});
      } catch (e) {
        console.error(e);
        this.$store.dispatch(ACTION.SHOW_ALERT_MODAL, { type: 'danger', message: 'Failed to create portfolio' });
      } finally {
        this.portfolioSaving = false;
        this.createPortfolioForm = new SparkForm({ title: '' });
      }
    },
  },
};
</script>
