<template>
<div>
  <div class="modal fade" id="editPortfolio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 v-if="editMode" class="modal-title" id="myModalLabel">Edit Portfolio</h4>
          <h4 v-if="!editMode" class="modal-title" id="myModalLabel">Duplicate Portfolio</h4>
        </div>

        <div class="modal-body bg-gray" v-if="portfolioId && portfolioId > 0">
          <div v-show="loading==false">
            <p  v-if="editMode">Rename or delete your portfolio</p>
            <p v-if="!editMode">Name your new portfolio</p>
            <div class="clearfix pad-top">
              <div class="col-xs-12">
                <input type="text" class="form-control" v-model="portfolioTitle">
              </div>
            </div>
          </div>
          <div v-show="loading==true">
            <div class="loader-inner ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="modal-footer" v-if="editMode">
          <div v-show="loading==false" class="clearfix">
            <div class="col-sm-8 text-left" v-show="editingDeleteConfirm===true">
              Are you sure you want to delete?
              <button @click="deletePortfolio()" class="btn btn-outline">Yes</button>
              <button @click="editingDeleteConfirm=false" class="btn btn-outline">No</button>
            </div>

            <div class="col-sm-4" v-show="editingDeleteConfirm!==true">
              <button @click="editingDeleteConfirm=true" class="btn btn-outline form-control">
                <i class="fa fa-remove"></i> Delete Portfolio</button>
            </div>
            <div class="col-sm-4" v-show="editingDeleteConfirm!==true">
              <button v-bind:disabled="portfolioTitle===''" @click="editPortfolio()" class="btn btn-blue form-control">
                <i class="fa fa-pencil"></i> Save Portfolio</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <div class="modal-footer" v-if="!editMode">
          <div v-show="loading===false" class="clearfix">
            <div class="col-sm-4 pull-left">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>

            <div class="col-sm-4 pull-right">
              <button v-bind:disabled="portfolioTitle===''" @click="duplicatePortfolio()" class="btn btn-blue form-control">
                <i class="fa fa-pencil"></i> Save new Portfolio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editPortfolio_saved" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body text-center">
          <h5>
            <strong v-if="editMode">Your changes have been saved.</strong>
            <strong v-if="!editMode">Your new portfolio has been saved.</strong>
          </h5>
          <br>
          <a href="#" class="btn btn-outline" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name: 'edit-portfolio',
  data() {
    return {
      portfolioId: null,
      loading: false,
      portfolioTitle: '',
      editingDeleteConfirm: false,
      editMode: true,
    };
  },
  mounted() {
    window.eventBus.$on('editPortfolio', this.editPortfolioHandler);
  },
  methods: {
    editPortfolioHandler({ portfolioId, portfolioTitle, mode }) {
      this.portfolioId = portfolioId;
      this.portfolioTitle = portfolioTitle;
      this.editMode = mode === 'edit';
      $('#editPortfolio').modal('show');
    },
    async duplicatePortfolio() {
      if (this.portfolioTitle) {
        const url = `/api/portfolio/${this.portfolioId}`;
        this.loading = true;
        try {
          await this.$http.put(url, {
            title: this.portfolioTitle,
            mode: 'duplicate',
          });
          this.loading = false;
          $('#editPortfolio').modal('hide');
          $('#editPortfolio_saved').modal('show');
          window.eventBus.$emit('duplicatePortfolio', this.portfolioId);
        } catch (e) {
          console.error(e);
          this.loading = false;
        }
      }
    },
    async editPortfolio() {
      if (this.portfolioTitle) {
        const url = `/api/portfolio/${this.portfolioId}`;
        this.loading = true;
        try {
          await this.$http.put(url, {
            title: this.portfolioTitle,
            mode: 'rename',
          })
          $('#editPortfolio').modal('hide');
          $('#editPortfolio_saved').modal('show');
          this.loading = false;
           window.eventBus.$emit('renamePortfolio', {
            id: this.portfolioId,
            title: this.portfolioTitle,
           });
        } catch (e) {
          this.loading = false;
          console.error(e);
        }
      }
    },
    async deletePortfolio() {
      const url = `/api/portfolio/${this.portfolioId}`;
      this.loading = true;
      try {
        await this.$http.put(url, {
          mode: 'deletePortfolio',
        });
        $('#editPortfolio').modal('hide');
        $('#editPortfolio_saved').modal('show');
        this.loading = false;
        this.editingDeleteConfirm = false;
        window.eventBus.$emit('removedPortfolio', this.portfolioId);
      } catch (e) {
        console.error(e);
        this.loading = false;
        this.editingDeleteConfirm = false;
      }
    },
  },
}
</script>

