<template>
  <div class="popover-area">
    <div v-if="showPopover" class="popover fade in right" :style="popStyle">
      <div class="arrow" style="top: 50%;"></div>
      <h3 class="popover-title" v-if="popover.correlation">{{popover.correlation}}</h3>
      <div class="popover-content" v-if="popover.firstItem">
        <span @click="pinStrategy(popover.firstItem.id)">{{popover.firstItem.shortName}}</span>
        <br>
        <span @click="pinStrategy(popover.secondItem.id)">{{popover.secondItem.shortName}}</span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'popver-modal',
    data() {
      return {
        showPopover: false,
        popStyle: null,
        currentKey: null,
        popover: {},
        popLength: 98,
      };
    },
    mounted() {
      window.eventBus.$on('popverModal', this.popverModalHandler);
      this.setClickEvent();
    },
    beforeDestroy() {
      const that = this;
      $('body').off('click', that.popoverEvent);
    },
    methods: {
      setClickEvent() {
        const that = this;
        $('body').click(that.popoverEvent);
      },
      popoverEvent(e) {
        if (this.showPopover === true) {
          this.currentKey = null;
          this.showPopover = false;
        }
      },
      popverModalHandler({ popoverStyle, popover }) {
        const key = `${popover.firstItem.id}-${popover.secondItem.id}`;
        if (popover.firstItem.id === popover.secondItem.id) {
          this.showPopover = false;
          this.currentKey = null;
        } else if (this.currentKey === key) {
          this.currentKey = null;
          this.showPopover = false;
        } else {
           this.currentKey = key;
           this.setPopStyle({ popoverStyle, popover });
           this.showPopover = true;
        }
      },
      setPopStyle({ popoverStyle, popover }) {
        this.popover = popover;
        const top = popoverStyle.top - this.popLength / 2;
        this.popStyle = `left:${popoverStyle.left}px;top:${top}px;display:block;`;
      },
      hidePop() {
        this.showPopover = false;
      },
      pinStrategy(id) {
        // jquery find button;
        const $buttons = $(`#row-${id}`).find("button");
        if ($buttons.length) $buttons[0].click();
      },
    },
  }
</script>
