<template>
<div class="modal fade" tabindex="-1" role="dialog" id="uploadstrategy_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ editMode ? 'EDIT STRATEGY' : 'UPLOAD STRATEGY' }}</h4>
      </div>
      <div class="modal-body" v-show="newStrategy">

        <p>Your Strategy has been {{ editMode ? 'saved' : 'uploaded' }}.</p>

      </div>
      <div class="modal-body" v-show="!newStrategy">
        <div class="bg-gray">
          <div class="filedrop">
            <div v-show="newDocumentFile">
              <span>
                <i class="fa fa-file"></i> {{newDocumentFile}}</span>
              <a class="btn btn-outline" @click="removeUploadFile">Remove</a>
            </div>
            <div v-show="!newDocumentFile || newDocumentFile.length==0">
              <label>
                <h4>Drop file here or click to upload</h4>
                <p>CSV Only</p>
                <input id="uploadFile" type="file" class="form-control" @change="filePreview">
              </label>
            </div>
          </div>
        </div>

        <table class="table table-condensed">
          <caption>Please ensure you use the following format</caption>
          <thead>
            <tr>
              <th>Date</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>YYYY-MM-DD</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>

        <p class="text-navy">
          <a href="/sample/strategy.csv" class="text-blue">Click here</a> to download a sample CSV file.</p>

        <div class="form-group">
          <label>NAME</label>
          <input type="text" class="form-control" v-model="newDoc.shortName">
        </div>

        <div class="form-group">
          <label>ASSET CLASS</label>
          <select class="form-control" required v-model="newDoc.assetClass">
            <option></option>
            <option v-for="(assetClass, key) in assetClasses" v-bind:value="assetClass" :key="key">
              {{ assetClass }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>FACTOR</label>
          <select class="form-control" required v-model="newDoc.factor">
            <option></option>
            <option v-for="(factor, key) in factors" v-bind:value="factor" :key="key">
              {{ factor }}
            </option>
          </select>
        </div>

        <div class="clearfix text-center">
          <div v-show="!isLoading" class="clearfix">
            <div class="col-sm-8 text-left" v-show="editingDeleteConfirm==true">
              Are you sure you want to delete?
              <button @click="deleteStrategy()" class="btn btn-outline">Yes</button>
              <button @click="editingDeleteConfirm=false" class="btn btn-outline">No</button>
            </div>

            <div class="col-sm-4" v-show="editingDeleteConfirm!=true">
              <button v-if="editMode" @click="editingDeleteConfirm=true" class="btn btn-outline form-control">
                <i class="fa fa-remove"></i> Delete Strategy</button>
            </div>
            <div class="col-sm-4" v-show="editingDeleteConfirm!=true">
              <button @click="uploadStrategy()" class="btn btn-blue form-control">
                <i class="fa fa-pencil"></i> {{ editMode ? 'Save' : 'Upload' }} Strategy</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>
          </div>
          <button v-if="isLoading" class="btn btn-blue btn-lg">Loading...</button>
        </div>

      </div>
    </div>
  </div>
</div>
</template>
<script>
/* global swal $ */
const { assetClasses, factors } = require('../../util/config');

export default {
  name: 'private-strategies',
  data() {
    return {
      newDocumentFile: null,
      newDoc: {
        assetClass: '',
        factor: '',
        shortName: '',
        file: '',
        fileObject: null,
      },
      assetClasses: [],
      factors: [],
      requiredFields: {
        assetClass: 'Asset Class',
        factor: 'Factor',
        shortName: 'Name',
      },
      editingDeleteConfirm: false,
      isLoading: false,
      newStrategy: false,
      editMode: true,
    };
  },
  created() {
    this.getFilters();
  },
  mounted() {
    window.eventBus.$on('privateStrategies', this.privateStrategiesHandler);
  },
  methods: {
    getFilters() {
      this.assetClasses = assetClasses;
      this.factors = factors;
    },
    privateStrategiesHandler({ mode = 'edit', strategy = {} }) {
      this.removeUploadFile();
      this.newStrategy = false;
      this.editingDeleteConfirm = false;
      this.editMode = mode === 'edit';
      if (this.editMode) {
        this.newDoc.assetClass = strategy.assetClass;
        this.newDoc.factor = strategy.factor;
        this.newDoc.shortName = strategy.shortName;
        this.newDoc.id = strategy.id;
        this.newDoc.code = strategy.code;
        this.newDoc.file = '';
        this.newDoc.fileObject = '';
      } else {
        this.resetUploadsFields();
      }
      $('#uploadstrategy_modal').modal('show');
    },
    resetUploadsFields() {
      this.newDoc = {
        assetClass: '',
        factor: '',
        shortName: '',
        file: '',
        fileObject: null,
      };
    },
    removeUploadFile() {
      document.getElementById('uploadFile').value = '';
      this.newDocumentFile = null;
    },
    async deleteStrategy() {
      this.isLoading = true;
      try {
        await this.$http.post('/api/indices/delete', { code: this.newDoc.code });
        $('#uploadstrategy_modal').modal('hide');
        this.editingDeleteConfirm = false;
        this.isLoading = false;
        window.eventBus.$emit('privateStrategiesNoRecache');
      } catch (e) {
        console.error(e);
        this.editingDeleteConfirm = false;
        this.isLoading = false;
        swal('Whoops!', 'An error occured, please retry.', 'error');
      }
    },
    async uploadStrategy() {
      let invalid = null;
      for (const field in this.requiredFields) {
        if (!this.newDoc[field] || this.newDoc[field].length === 0) {
          invalid = this.requiredFields[field];
        }
      }

      if (!this.newDocumentFile && !this.newDoc.id) {
        invalid = 'file';
      }

      if (!invalid) {
        this.isLoading = true;
        const formData = new FormData();
        formData.append('_token', $("#pdfinput input[name='_token']").val()); // just the csrf token
        formData.append('file', this.newDocumentFile);
        for (const field in this.newDoc) {
          formData.append(field, this.newDoc[field]);
        }
        try {
          let responseData = null;
          if (this.newDoc.id) {
            responseData = await this.$http.post('/api/indices/edit', formData).then(o => o.data);
          } else {
            responseData = await this.$http.post('/api/indices/upload', formData).then(o => o.data);
          }
          if (!responseData.success) {
            swal('Whoops!', responseData.message || 'An error occured, please retry.', 'error');
          } else {
            this.newStrategy = responseData.strategy;
          }
          this.isLoading = false;
          if (this.newDoc.id) {
            window.eventBus.$emit('privateStrategiesRecache', { id: this.newDoc.id });
          } else {
            window.eventBus.$emit('privateStrategiesNoRecache');
          }
        } catch (e) {
          console.error(e);
          this.isLoading = false;
          if (e.status === 413) {
            swal('Whoops!', 'Uploaded file size should not be larger than 2 MB.', 'error');
          } else {
            swal('Whoops!', 'An error occured, please retry.', 'error');
          }
        }
        if (this.editMode) {
          this.$set(this.newDoc, 'file', '');
          this.$set(this.newDoc, 'fileObject', '');
        } else {
          this.resetUploadsFields();
        }
      } else {
        swal('Whoops!', 'Please fill out all the fields.', 'error');
      }
    },
    filePreview(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        this.newDocumentFile = null;
        return;
      }
      const file = files[0];
      this.newDoc.fileObject = file;
      this.newDocumentFile = file.name;
      this.errors = {};
    },
  },
};
</script>
