<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 42.4 42.4" style="enable-background:new 0 0 42.4 42.4;" xml:space="preserve">
    <path :fill="color" d="M42.3,17c-0.1-0.3-0.2-0.5-0.5-0.6c-2.2-0.9-4.5-1.3-6.9-1.3c-3.7,0-6.6,1.1-7.7,1.6L15.3,6.6
    c0.4-3.7-1.6-6.2-1.6-6.3C13.5,0.1,13.3,0,13,0c-0.2,0-0.4,0.1-0.6,0.2L0.2,12.4C0.1,12.6,0,12.8,0,13.1c0,0.2,0.1,0.4,0.3,0.6
    C2,15,4.2,15.3,5.7,15.3c0.3,0,0.6,0,0.8,0l10.2,12c-0.7,1.8-2.8,8.2-0.2,14.7c0.1,0.2,0.3,0.4,0.6,0.5c0.1,0,0.1,0,0.2,0
    c0.2,0,0.4-0.1,0.6-0.2l11.7-11.7l10.9,10.9c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.1L30.5,29.4
    l11.6-11.6C42.3,17.6,42.4,17.3,42.3,17L42.3,17z M42.3,17"/>
  </svg>
</template>
<script>
export default {
  name: 'svg-icon',
  props: ['pinnedIndex', 'colors', 'colorAll'],
  computed: {
    color() {
      return (this.colors[this.pinnedIndex]) ? this.colorAll[this.colors[this.pinnedIndex]] : '#ddd';
    },
  },
}
</script>

