<template>
  <div class="modal fade widgetmodal" id="widgetmodal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" @click="closeMenu()">
    <div class="modal-dialog" role="document" v-if="showModal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span v-if="editWidgetStep === 1">Add a {{niceTitle(editWidgetType)}} Widget</span>
            <span v-if="editWidgetStep === 2">Name &amp; Maturity for your {{niceTitle(editWidgetComponenttype)}}</span>
            <span v-if="editWidgetStep === 3">Data for your {{niceTitle(editWidgetComponenttype)}}: {{selectTitle}}</span>
          </h4>
          <h4 class="modal-title" v-if="!editWidget">Edit {{niceTitle(editWidgetType)}} Widget</h4>
        </div>
        <div class="modal-body" v-if="editWidget!=null">
          <choose-graph v-if="editWidgetStep === 1" :edit-type="editWidgetType" :edit-component="editWidgetComponenttype" @setcomponent="goChoosePeriodStep"></choose-graph>
          <choose-period v-if="editWidgetStep === 2" :parent-edit-widget="editWidget" :edit-component="editWidgetComponenttype" @setperiod="goChooseDataStep" @goback="gobackChooseGraph"></choose-period>
          <choose-data ref="choosedata" v-if="editWidgetStep === 3" :edit-type="editWidgetType" :edit-widget="editWidget" :properties="editWidget.properties" :commponenttype="editWidgetComponenttype"
          @addwidget="addWidget" @goback="gobackChoosePeriod" :portfolio-loaded="portfolioLoaded" :strategies-loaded="strategiesLoaded" @selectchange="setTitle"></choose-data>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import chooseGraph from '../modal/choose-graph-modal.vue';
import choosePeriod from '../modal/choose-period-modal.vue';
import chooseData from '../modal/choose-data-modal.vue';
const ACTION = require('../../store/mutation-type');
export default {
  name: 'widget-modal',
  props: ['portfolioLoaded'],
  data() {
    return {
      showModal: false,
      editWidget: null, //the new widget or the one you are editing. will be json like in the example
      editWidgetType: '', //news, portfolios, chart, data, comparison table
      editWidgetComponenttype: null,
      editWidgetStep: 1,
      editWidgetIndex: null,
      initStrategyApi: false,
      strategiesLoaded: false,
      selectTitle: null,
    };
  },
  components: {
    'choose-graph': chooseGraph,
    'choose-period': choosePeriod,
    'choose-data': chooseData,
  },
  mounted() {
    window.eventBus.$on('showWidgetModal', this.showModalHandler);
    window.eventBus.$on('editWidgetModal', this.editModalHandler);
  },
  methods: {
    goChoosePeriodStep(componenttype) {
      this.editWidgetComponenttype = componenttype;
      this.editWidgetStep = 2;
    },
    setTitle(title) {
      this.selectTitle = title;
    },
    goChooseDataStep(editWidget) {
      Object.assign(this.editWidget, editWidget);
      this.editWidgetStep = 3;
    },
    gobackChooseGraph(editWidget) {
      Object.assign(this.editWidget, editWidget);
      this.editWidgetStep = 1;
    },
    gobackChoosePeriod(results) {
      this.editWidgetStep = 2;
      this.setPropertyData(results);
    },
    addWidget(results) {
      this.setPropertyData(results);
      this.editWidget.componenttype = this.editWidgetComponenttype;
      if (this.editWidgetIndex === null) {
        window.eventBus.$emit('addNewWidget', this.editWidget);
      } else {
        window.eventBus.$emit('editWidgetSave', {
          editWidget: this.editWidget,
          idx: this.editWidgetIndex,
        });
        this.editWidgetIndex = null
      }
      $('#widgetmodal').modal('hide');
      this.showModal = false;
    },
    setPropertyData(results) {
      let newproperties = {};
      switch(this.editWidgetComponenttype) {
        case 'track':
        case 'volatilitytrack':
        case 'xy':
          newproperties.period = this.editWidget.period;
          newproperties.datasets = this.getDataSets(results);
          newproperties.main = {};
          break
        case 'portfolioBar':
          newproperties.period = this.editWidget.period;
          newproperties.datasets = this.getDataSets(results);
          newproperties.main = {};
          newproperties.field = this.editWidget.field;
          break
        case 'comparisonTable':
          newproperties = {
            showColMenu: false,
            cols: [
              'return',
              'volatility',
              'sharpe',
            ],
            period: '6m',
            sortBy: '',
            sortDirection: 'asc',
          };
          newproperties.datasets = this.getDataSets(results);
          break;
        case 'monitor':
          newproperties.datasets = this.getDataSets(results);
          break;
        case 'stat':
          newproperties = {
            field: this.editWidget.field,
            main: this.getMain(results),
          };
          break;
      }
      this.editWidget.properties = newproperties;
    },
    getDataSets(results) {
      const datasets = [];
      let total = 0;
      for (let i = results.portfolios.length - 1; i >= 0; i--) {
        const item = results.portfolios[i];
        const newdataset = { id: item, type: 'portfolio', color: `color${total + 1}` };
        datasets.push(newdataset);
        total++;
      }
      for (let i = results.benchmarks.length - 1; i >= 0; i--) {
        const item = results.benchmarks[i];
        const newdataset = { id: item, type: 'benchmark', color: `color${total + 1}` };
        datasets.push(newdataset);
        total++;
      }

      for (let i = results.privates.length - 1; i >= 0; i--) {
        const item = results.privates[i];
        const newdataset = { id: item, type: 'private', color: `color${total + 1}` };
        datasets.push(newdataset);
        total++;
      }

      for (let i = results.strategies.length - 1; i >= 0; i--) {
        const item = results.strategies[i];
        const newdataset = { id: item, type: 'strategy', color: `color${total + 1}` };
        datasets.push(newdataset);
        total++;
      }
      return datasets;
    },
    getMain(results) {
      let main = {};
      if (results.portfolios.length > 0) {
        const item = results.portfolios[0];
        main = { id: item, type: 'portfolio', color: 'color1' };
      }
      if (results.benchmarks.length > 0) {
        const item = results.benchmarks[0];
        main = { id: item, type: 'benchmark', color: 'color1' };
      }
      if (results.privates.length > 0) {
        const item = results.privates[0];
        main = { id: item, type: 'private', color: 'color1' };
      }
      if (results.strategies.length > 0) {
        const item = results.strategies[0];
        main = { id: item, type: 'strategy', color: 'color1' };
      }
      return main;
    },
    niceTitle(key) {
      const titles = {
        volatilitytrack: 'Volatility Chart',
        table: 'Watchlist',
        comparisonTable: 'Comparison Table',
        monitor: 'Best/Worst Table',
        portfolioBar: 'Horizontal Bar Chart',
        stat: 'Data',
      };
      if (titles[key]) {
        return titles[key];
      }
      return key;
    },
    setType(componenttype) {
      let type = null;
      switch (componenttype) {
        case 'track':
        case 'volatilitytrack':
        case 'xy':
          type = 'charts';
          break;
        case 'portfolioBar':
        case 'comparisonTable':
        case 'monitor':
          type = 'table';
          break;
        case 'stat':
          type = 'stat';
          break;
      }
      return type;
    },
    async loadStrategy() {
      if (!this.initStrategyApi) {
        this.initStrategyApi = true;
        const payload = {
          metrics: true,
          ignore: ['VIX'],
          types: ['Strategy', 'Benchmark', 'Private Strategy'],
        };
        await this.$store.dispatch(ACTION.API_FETCH_STRATEGY, { payload });
        this.strategiesLoaded = true;
      }
    },
    async editModalHandler({ editWidget, idx }) {
      const editWidgetCopy = _.cloneDeep(editWidget);
      this.loadStrategy();
      this.showModal = true;
      this.editWidgetStep = 2;
      this.editWidget = editWidgetCopy;
      this.editWidgetType = this.setType(editWidgetCopy.componenttype);
      this.editWidgetComponenttype = editWidgetCopy.componenttype;
      this.editWidgetIndex = idx;
      $('#widgetmodal').modal('show');
    },
    closeMenu() {
      if (this.editWidgetStep === 3 && this.$refs.choosedata) {
        this.$refs.choosedata.$data.editWidgetTableMenu = -1;
      }
    },
    showModalHandler(type) {
      // open the modal
      this.loadStrategy();
      this.showModal = true;
      this.editWidgetType = type;
      this.editWidgetComponenttype = null;
      this.editWidgetIndex = null;
      this.editWidgetStep = type === 'stat' ? 2 : 1;
      $('#widgetmodal').modal('show');
      // create a new widget : the period set here should have priority over the one in json
      this.editWidget = {
        title: '',
        size: 4,
        showMenu: false,
        period: '6m',
        properties: {},
      };
      if (type == 'stat') {
        this.editWidget.size = 1;
        this.editWidgetComponenttype = 'stat';
      }
    },
  },
  beforeDestroy() {
    window.eventBus.$off('showWidgetModal'); //destoray eventlistern before leave;
    window.eventBus.$off('editWidgetModal');
  },
};
</script>