<template>
  <div
    v-show="view === 'datatable' && groupGraph.length > 0"
    style="margin-top:20px;position: relative;"
    class="lowercharts col-xs-12">
    <div
      v-show="loading"
      class="loading-layer"/>
    <div
      v-show="Object.keys(pinned).length > 0"
      class="strategy-list strategy-list-pinned row text-center"
      style="padding-top:0;">
      <h4 class="upper">Pinned in regression
        <span class="text-gray">({{ leftPinned }} pins left)</span>
      </h4>
      <div class="clearfix">
        <div
          v-for="strategy in groupData"
          v-if="pinnedColorsAll[strategy.color]"
          :key="strategy.id"
          :style="{'background': pinnedColorsAll[strategy.color] }"
          class="pinned-btn btn btn-default">
          <a
            rel="noopener noreferrer">{{ strategy.shortName }}</a>
          <a @click="unpinIndex(strategy)">
            <i class="fa fa-remove"/>
          </a>
        </div>
      </div>
    </div>
    <div
      v-for="(graph, idx) in groupGraph"
      :key="`${graph}-${idx}`"
      :class="{'col-sm-6': groupGraph.length !== 1, 'col-sm-12': groupGraph.length === 1}"
      class="col-xs-12">
      <div
        v-show="groupGraph.length > 1"
        class="dropdown graph-options print-hide pull-right">
        <button
          :id="`dropdownMenu${idx}`"
          class="btn btn-default dropdown-toggle"
          style="margin:0"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
          <i class="fa fa-ellipsis-v"/>
        </button>
        <ul
          :aria-labelledby="`dropdownMenu${idx}`"
          class="dropdown-menu">
          <li
            v-for="(val, key) in graphMenu"
            :key="key">
            <a
              :class="{'active': graphMenu[idx]===key}"
              @click="setWidgetConfig(key, idx)">
              {{ val }}
            </a>
          </li>
        </ul>
      </div>
      <chart-heatmap
        v-if="groupGraph[idx]==='heatmap'"
        :main="heatmapData"
        :idname="`heatmap${idx}`"
        :subgraph="groupGraph.length>1"
        :hidden="hiddenPeriods[period]"
        title="FACTOR HEATMAP (%)"/>
      <chart-candlestick
        v-if="groupGraph[idx]==='beta'"
        :datasets="groupData"
        :colors="pinnedColorsAll"
        :idname="`candle${idx}`"
        :hidden="hiddenPeriods[period]"
        title="BETA COEFFICIENTS"/>
      <chart-footer-bar
        v-if="groupGraph[idx]==='return'"
        :datasets="groupData"
        :colors="pinnedColorsAll"
        :idname="`return-chart${idx}`"
        :hidden="hiddenPeriods[period]"
        title="RETURN P.A ATTRIBUTION (%)"/>
      <chart-footer-bar
        v-if="groupGraph[idx]==='var'"
        :datasets="groupData"
        :colors="pinnedColorsAll"
        :idname="`var-chart${idx}`"
        :hidden="hiddenPeriods[period]"
        value-field="varAttr"
        title="VARIANCE ATTRIBUTION (%)"/>
      <chart-alphatrack
        v-if="groupGraph[idx]==='alphaTrack'"
        :datasets="alphaTrack"
        :idname="`alpha-chart${idx}`"
        :title="`${graphMenu.alphaTrack}`"
        :height="400"
        :hidden="hiddenPeriods[period]"/>
    </div>
    <div class="col-xs-12">
      <div
        class="text-center"
        style="font-size:11px;">
        <span
          v-for="(color, title) in icons"
          :key="title">
          <i
            :style="`color:${color};`"
            class="fa fa-square"/>
          {{ title }}&nbsp;&nbsp;
        </span>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ */
export default {
  name: 'FooterGraph',
  data() {
    return {
      groupData: [],
      icons: {
        Alpha: '#5A5A5A',
        Benchmark: '#FF8935',
        Factor: '#1A85A1',
        Strategy: '#123B69',
        'Private Track': '#996699',
      },
      groupGraph: [
      ],
      graphMenu: {
        beta: 'Beta Coefficients',
        return: 'Return Attribution',
        var: 'Variance Attribution',
        heatmap: 'Heatmap',
        alphaTrack: 'Cumulated Alpha',
      },
      heatmapData: {},
      alphaTrack: {},
    };
  },
  computed: {
    view() {
      return this.$store.state.lab.view || 'datatable';
    },
    regressionMain() {
      return this.$store.state.regression.main;
    },
    regressionTotal() {
      return this.$store.state.regression.total;
    },
    common() {
      return this.$store.state.lab.common;
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    options() {
      return this.$store.state.lab.regression.options || {};
    },
    pinned() {
      return this.$store.state.lab.regression.pinned || {};
    },
    pinnedColorsAll() {
      return this.$store.state.colorsAll.benchmarks || {};
    },
    leftPinned() {
      return 6 - Object.keys(this.pinned).length;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  mounted() {
    window.eventBus.$on('lab_footer_graph_randar', this.handlerData);
  },
  beforeDestroy() {
    window.eventBus.$off('lab_footer_graph_randar');
    this.$off();
  },
  methods: {
    custom(name) {
      return name.replace('PLB Pure Factor ', '');
    },
    setWidgetConfig(key, idx) {
      this.$set(this.groupGraph, idx, key);
    },
    unpinIndex(strategy) {
      const $buttons = $(`#row-${strategy.id}`).find('button');
      if ($buttons.length) $buttons[0].click();
    },
    handlerData({ group = [], mode = 'changeData' }) {
      if (mode === 'changeData') {
        if (group.length === 0) {
          this.groupData = [];
          this.groupGraph = [
            'heatmap',
          ];
        } else {
          if (this.groupGraph.length < 2) {
            this.groupGraph = [
              'heatmap',
              'return',
            ];
          }
          this.groupData = group;
        }
        this.heatmapData = this.regressionTotal[this.common.dataPeriod] || {};
        const { alpha = {} } = this.regressionMain[this.common.dataPeriod] || {};
        this.alphaTrack = Object.freeze({
          dates: alpha.cumulated_dates || [],
          tracks: alpha.cumulated_track || [],
        });
      }
      if (mode === 'changePin') {
        const data = _.cloneDeep(this.groupData);
        data.forEach((o) => {
          o.color = this.pinned[o.code] || '';
        });
        this.groupData = Object.freeze(data);
      }
    },
  },
};
</script>
