<template>
  <div
    v-show="view !== 'datatable'"
    class="main col-xs-8 text-center"
    style="position: relative;margin-top:-39px;">
    <div
      v-show="loading"
      class="loading-layer"
      style="height:750px;z-index:21;"/>
    <div class="graphs_panel">
      <h4 v-show="noGraphData && hasList">
        Please change Factor Model
      </h4>
      <chart-rolling
        v-show="hasList && !noGraphData"
        :colors="pinnedColorsAll"
        :datasets="groupData"
        :hidden="hiddenPeriods[period]"/>
    </div>
  </div>
</template>
<script>
export default {
  name: 'RegressionGraph',
  data() {
    return {
      groupData: {},
    };
  },
  computed: {
    options() {
      return this.$store.state.lab.regression.options || {};
    },
    hasList() {
      if (this.options.factorList && Object.keys(this.options.factorList).length > 0) return true;
      return false;
    },
    noGraphData() {
      const data = this.groupData;
      if (data.dates && data.dates.length === 0) return true;
      return false;
    },
    view() {
      return this.$store.state.lab.view || 'datatable';
    },
    regression() {
      return this.$store.state.regression;
    },
    common() {
      return this.$store.state.lab.common;
    },
    pinned() {
      return this.$store.state.lab.regression.pinned || {};
    },
    pinnedColorsAll() {
      return this.$store.state.colorsAll.benchmarks || {};
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  mounted() {
    window.eventBus.$on('lab_footer_graph_randar', this.randarGraph);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('lab_footer_graph_randar', this.randarGraph);
  },
  methods: {
    randarGraph({ group = [], mode = 'changeData' }) {
      if (mode === 'changeData') {
        const period = this.common.dataPeriod;
        const dates = this.regression.dates[period] || [];
        const summary = this.regression.summary[period] || {};
        const main = group.filter(o => o.code !== 'alpha').map((o) => {
          const data = this.regression.main[period][o.code];
          const track = data.beta_track;
          return {
            track,
            shortName: o.shortName,
            code: o.code,
            id: o.id,
            color: this.pinned[o.code] || '',
          };
        });
        const alphaTrack = {
          tracks: this.regression.trackAlpha[period] || [],
          dates: this.regression.trackDates || [],
        };
        this.groupData = Object.freeze({
          dates,
          summary,
          main,
          alphaTrack,
        });
      }
      if (mode === 'changePin') {
        const data = Object.assign({}, this.groupData);
        data.main.forEach((o) => {
          o.color = this.pinned[o.code] || '';
        });
        this.groupData = Object.freeze(data);
      }
    },
  },
};
</script>
<style>
.amcharts-stock-panel-div.amcharts-stock-panel-div-stockPanel1 {
  background-color: #F7F8FA;
}
</style>
