<template>
  <div class="row regression-panel">
    <div class="col-xs-4">
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div class="col-xs-12">
          <button
            :disabled="loading"
            class="btn btn-primary"
            style="height: 36px;width:100%;"
            @click="regressionModal">
            Regression Model
            <i
              class="icon icon-cog-white"
              style="position: absolute; right: 70%;"/>
          </button>
        </div>
      </div>
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div class="col-xs-8">
          <button
            :disabled="loading || (listLength > 20) "
            class="btn btn-primary"
            style="height:36px;width:100%;"
            @click="addFactors">
            <i
              class="fa fa-plus"
              style="margin-right: 5px;" />Add Factors
          </button>
        </div>
        <div class="col-xs-4">
          <button
            :disabled="saveButton!==1"
            :class="{'btn-outline':saveButton===0,'btn-blue':saveButton===1,'btn-red':saveButton===2}"
            class="btn"
            style="height:36px;width:100%;"
            @click="saveOptions">
            <span v-show="saveButton!==2">Save</span>
            <span v-show="saveButton===2">Saving...</span>
          </button>
        </div>
      </div>
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div
          class="col-xs-8">
          <div class="dropdown">
            <button
              id="filterModel"
              :disabled="loading || filterModeloptions.length <= 1"
              class="btn btn-outline"
              style="height:36px;width:100%;"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              LASSO {{ filterModel }}
              <span class="caret select-caret"/>
            </button>
            <ul
              class="dropdown-menu select-option dropdown-menu-right"
              aria-labelledby="filterModel">
              <li
                v-for="(modelOption, key) in filterModeloptions"
                :key="key">
                <a
                  v-if="key !== 0"
                  class="dropdown-item"
                  @click="chooseItem(key)">
                  {{ modelOption }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="dropdown">
            <button
              id="cleanUp"
              :disabled="loading || activeListLength === 0"
              class="btn btn-outline"
              style="height:36px;width:100%;"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Organize
            </button>
            <ul
              class="dropdown-menu select-option"
              aria-labelledby="cleanUp">
              <li>
                <a
                  class="dropdown-item"
                  @click="cleanUpSuspend('deleteAll')">
                  Delete All
                </a>
                <a
                  v-show="unactiveListLength>0"
                  class="dropdown-item"
                  @click="cleanUpSuspend('delete')">
                  Delete suspended
                </a>
                <a
                  v-show="unactiveListLength>0"
                  class="dropdown-item"
                  @click="cleanUpSuspend('unsuspend')">
                  Unsuspend All
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xs-8"
      style="padding:0;">
      <div
        v-show="loading"
        class="loading-layer"/>
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div
          v-for="viewOption in views"
          :key="viewOption[0]"
          class="col-xs-3"
          style="padding-left:0">
          <button
            :class="{ 'btn-primary': (viewBtn==viewOption[0]) }"
            class="btn btn-outline-blue hidden-xs"
            style="width:100%;"
            @click="setView(viewOption[0])">{{ viewOption[1] }}
          </button>
        </div>
      </div>
      <h4
        v-show="view === 'datatable'"
        style="margin-top:19px;"
        class="upper">
        {{ itemName }} | {{ itemTitle }}
      </h4>
      <div
        v-show="view === 'datatable'"
        class="panel-pie-chart">
        <div
          class="col-xs-6"
          style="height:96px;overflow:hidden">
          <chart-donut-pie
            :main="rSquared"
            :max="1"
            :radius="42"
            :height="96"
            idname="rSquared"
            title="rSquared"/>
        </div>
        <div
          class="col-xs-6"
          style="height:96px;overflow:hidden">
          <chart-donut-pie
            :main="fStat"
            :max="20"
            :radius="42"
            :height="96"
            idname="fStat"
            title="F"/>
        </div>
      </div>
      <div
        v-show="view === 'datatable'"
        class="regression-panel-row">
        <div
          :class="{'opened':showTableOption==1}"
          class="tableoption panel-pull-right">
          <button
            class="btn"
            @click="showTableOption=showTableOption*-1;showButtonClick=true;">
            <span class="icon icon-cog"/>
          </button>
          <div
            v-show="showTableOption==1"
            class="menu"
            @click.stop="showTableOption=1;">
            <p>Add performance metrics ({{ dataTableColsMax-dataTableCols_raw.length }} left)</p>
            <label
              v-for="(v,k) in dataTableLabels"
              :key="k"
              class="checkbox-style">
              <input
                v-model="dataTableCols_raw"
                :disabled="dataTableCols_raw.indexOf(k)<0 && dataTableCols_raw.length>=dataTableColsMax"
                :value="k"
                type="checkbox">
              <i/>
              {{ v }}
            </label>
          </div>
        </div>
        <div
          class="title-column text-center"
          style="width:17.625%;">
          <div style="color:#fff;pointer-events:none;">
            <i
              v-if="sortItem.sortby === 'beta'"
              :class="{'fa-sort-up':(sortItem.sortorder>0),'fa-sort-down':(sortItem.sortorder<0)}"
              class="fa fa-regression-bottom"/>
            <i
              v-else
              class="fa fa-sort fa-regression-bottom"/>
          </div>
          <a
            class="btn btn-primary"
            style="border-radius:5px;"
            @click="changeSortBy('beta')">
            <span>
              Beta Coefficient
            </span>
          </a>
        </div>
        <div
          v-for="(field, index) in dataTableCols_raw"
          :key="field"
          :style="`width:${82.375/dataTableCols_raw.length}%;`"
          :class="{'bg-gray':(index%2 === 0)}"
          class="text-center title-column">
          <div style="pointer-events:none;color: #87908F;">
            <i
              v-if="sortItem.sortby === field"
              :class="{'fa-sort-up':(sortItem.sortorder>0),'fa-sort-down':(sortItem.sortorder<0)}"
              class="fa fa-regression-bottom"/>
            <i
              v-else
              class="fa fa-sort fa-regression-bottom"/>
          </div>
          <a
            class="btn"
            @click="changeSortBy(field)">
            <span style="color: #87908F;">
              {{ dataTableLabels[field] }}
            </span>
          </a>
        </div>
      </div>
      <h4
        v-show="view !== 'datatable'"
        style="margin-top:19px;"
        class="upper">
        Rolling Beta | {{ rollingWindowText }} Moving Window
      </h4>
      <div
        v-show="view !== 'datatable'">
        <div class="col-xs-6"/>
        <div class="col-xs-6">
          <span class="pull-right">{{ asOf }}</span>
        </div>
      </div>
      <h4
        v-show="activeListLength === 0"
        style="position: absolute;top:250px;width:100%"
        class="text-center">
        <i class="fa fa-caret-left"/>
        Please Add Factors manually to conduct the regression
        <br>and then apply LASSO automated selection.
      </h4>
    </div>
  </div>
</template>
<script>
/* global analytics $ */
const { LAB_ACTION } = require('../../../store/module/lab');
const apiRegression = require('../../../api/regression');

export default {
  name: 'RegressionPanel',
  data() {
    return {
      period: '5y',
      viewBtn: 'datatable',
      views: [
        ['datatable', 'Table'],
        ['rolling', 'Rolling'],
      ],
      dataTableLabels: { //all possible columns
        pValue: 'P-value',
        returnAttr: 'Return p.a Attribution',
        returnProp: 'Return p.a Proportion',
        betaSE: 'Standard Error',
        tStat: 'T-stat',
        lowerBound: 'Lower 95%',
        upperBound: 'Upper 95%',
        varAttr: 'Variance Attribution',
        varProp: 'Variance Proportion',
      },
      showButtonClick: false,
      showTableOption: -1,
      dataTableColsMax: 6,
      dataTableCols_raw: [
        'pValue',
        'returnAttr',
        'returnProp',
        'varAttr',
        'varProp',
      ],
    };
  },
  computed: {
    asOf() {
      if (this.common.maxDate) return `As of ${this.common.maxDate}`;
      return '';
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    options() {
      return this.$store.state.lab.regression.options || {};
    },
    activeListLength() {
      const {
        factorList = {},
      } = this.options;
      return Object.keys(factorList).length;
    },
    unactiveListLength() {
      const {
        factorSuspendedList = {},
      } = this.options;
      return Object.keys(factorSuspendedList).length;
    },
    listLength() {
      return this.activeListLength + this.unactiveListLength.length;
    },
    view() {
      return this.$store.state.lab.view || 'datatable';
    },
    filterModeloptions() {
      const options = [
        'Selection',
      ];
      for (let i = 1; i < this.activeListLength; i++) {
        options.push(`${i} ${i === 1 ? 'Factor' : 'Factors'}`);
      }
      return options;
    },
    filterModel() {
      const { lassoFilters = 0 } = this.options;
      if (lassoFilters) return `- ${this.filterModeloptions[lassoFilters]}`;
      return this.filterModeloptions[lassoFilters];
    },
    saveButton() {
      return this.$store.state.lab.regression.saveButton || 0;
    },
    regression() {
      return this.$store.state.lab.regression;
    },
    sortItem() {
      return this.$store.state.lab.regression.sort || {};
    },
    rollingWindowText() {
      const {
        movingWindow = 'Monthly',
        returnInterval = 'Daily',
        interval = '50',
      } = this.options;
      return `${movingWindow} | ${interval} ${returnInterval}`;
    },
    common() {
      return this.$store.state.lab.common;
    },
    summary() {
      return this.$store.state.regression.summary[this.period] || {};
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    rSquared() {
      const value = this.summary.rSquared !== undefined ? this.summary.rSquared : '-';
      return { value };
    },
    fStat() {
      const value = this.summary.fStat !== undefined ? this.summary.fStat : '-';
      return { value };
    },
    itemName() {
      const {
        returnInterval = 'Daily',
      } = this.options;
      return `${returnInterval} Returns Regression`;
    },
    itemTitle() {
      return `${this.activeListLength} Factor${this.activeListLength < 2 ? '' : 's'} Model`;
    },
  },
  watch: {
    common() {
      this.period = this.common.dataPeriod;
    },
    regression() {
      if (!this.regression.sort) {
        this.viewBtn = 'datatable';
        this.$store.commit(LAB_ACTION.SET_VIEW, 'datatable');
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'dataTableCols',
          choice: _.cloneDeep(this.dataTableCols_raw),
        });
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'sort',
          choice: _.cloneDeep({
            sortby: 'beta',
            sortorder: -1,
          }),
        });
      }
    },
    dataTableCols_raw() {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'dataTableCols',
        choice: _.cloneDeep(this.dataTableCols_raw),
      });
    },
  },
  created() {
    this.period = this.common.dataPeriod;
    this.$store.commit(LAB_ACTION.SET_VIEW, 'datatable');
    this.$store.commit(LAB_ACTION.SET_CHOICE, {
      field: 'dataTableCols',
      choice: _.cloneDeep(this.dataTableCols_raw),
    });
    this.$store.commit(LAB_ACTION.SET_CHOICE, {
      field: 'sort',
      choice: _.cloneDeep({
        sortby: 'beta',
        sortorder: -1,
      }),
    });
  },
  mounted() {
    const that = this;
    $('body').click(that.colsePanelMenu);
  },
  beforeDestroy() {
    const that = this;
    $('body').off('click', that.colsePanelMenu);
  },
  methods: {
    colsePanelMenu() {
      if (this.showButtonClick) {
        this.showButtonClick = false;
      } else {
        this.showTableOption = -1;
      }
    },
    setView(view) {
      this.viewBtn = view;
      const that = this;
      if (this.viewDelay) {
        clearTimeout(this.viewDelay);
      }
      setTimeout(() => {
        that.$store.commit(LAB_ACTION.SET_VIEW, view);
      }, 50);
      try {
        analytics.track(`Viewed ${this.views.find(a => a[0] === view)[1]}`);
      } catch (e) {
        console.error(e);
      }
    },
    changeSortBy(field) {
      const {
        sortby,
        sortorder,
      } = this.sortItem;
      if (sortby !== field) {
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'sort',
          choice: _.cloneDeep({
            sortby: field,
            sortorder: -1,
          }),
        });
      } else {
        const newOrder = -1 * sortorder;
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'sort',
          choice: _.cloneDeep({
            sortby: field,
            sortorder: newOrder,
          }),
        });
      }
    },
    regressionModal() {
      window.eventBus.$emit('regressionOptions');
    },
    addFactors() {
      const {
        factorList = {},
        factorSuspendedList = {},
      } = this.options;
      const factors = Object.assign({}, factorList, factorSuspendedList);
      window.eventBus.$emit('addFactors', {
        factors,
      });
    },
    chooseItem(item) {
      const options = _.cloneDeep(this.options);
      if (options.lassoFilters !== item) {
        options.lassoFilters = item;
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'options',
          choice: options,
        });
        if (item && this.activeListLength > item) {
          window.eventBus.$emit('regressionLassoModel');
        }
      }
    },
    cleanUpSuspend(mode) {
      if (mode !== 'deleteAll' && this.unactiveListLength === 0) return null;
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
      window.eventBus.$emit('regressionCleanUp', {
        mode,
      });
    },
    async saveOptions() {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 2,
      });
      const payload = _.cloneDeep(this.options);
      await apiRegression.setRegressionOptions(this.analyseItem.id, this.analyseItem.type, payload);
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 0,
      });
    },
  },
};
</script>
<style>
.regression-panel .title-column {
  width: 11.625%;
  float: left;
  min-height: 60px;
  position: relative;
}
.title-column .btn{
  width: 100%;
  min-height: 60px;
  white-space: normal;
  line-height: 1;
}
.regression-panel .fa-regression-bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: block;
}
.regression-panel .panel-pull-right{
  position: absolute;
  right: 0px;
  top: 100px;
}
.regression-panel .regression-panel-row {
  margin-top:24px;
  float:left;
  width:100%;
}
.regression-panel .panel-pie-chart{
  width: 230px;
  position: absolute;
  right: 0;
  top: 13px;
}
</style>

