<template>
  <div
    id="regressionOptions"
    class="modal fade"
    tabindex="-1"
    role="dialog">
    <div
      style="width: 350px"
      class="modal-dialog"
      role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <form
              role="form"
              class="allocation-form form-horizontal">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="text-center">Regression Model</h4>
                  <hr>
                  <div class="col-sm-12 col-sm-pull-1">
                    <div
                      class="form-group">
                      <label class="col-sm-6 control-label">Return Interval</label>
                      <div class="col-sm-6">
                        <div>
                          <selection
                            :key-field="'returnInterval'"
                            :options="returnIntervalOptions"
                            :current-option="returnInterval"
                            @selectitem="setItems"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-sm-pull-1">
                    <div
                      class="form-group">
                      <label class="col-sm-6 control-label">Moving Window</label>
                      <div class="col-sm-6">
                        <div>
                          <selection
                            :key-field="'movingWindow'"
                            :options="movingWindowOptions"
                            :current-option="movingWindow"
                            @selectitem="setItems"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-sm-pull-1">
                    <div
                      class="form-group">
                      <label class="col-sm-6 control-label">Window</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input
                            v-model="interval"
                            type="number"
                            class="form-control dark"
                            min="0"
                            step="1">
                          <div
                            class="input-group-addon">{{ timeOptions }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default pull-left"
            data-dismiss="modal">Close</button>
          <button
            type="button"
            class="btn btn-primary"
            @click="updateChoice">Apply</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ */
import selection from '../../vue-select/selection.vue';

const { LAB_ACTION } = require('../../../store/module/lab');

export default {
  name: 'RegressionOptions',
  components: {
    selection,
  },
  data() {
    return {
      movingWindowOptions: [
        'Yearly',
        'Quarterly',
        'Monthly',
      ],
      returnIntervalOptions: [
        'Monthly',
        'Weekly',
        'Daily',
      ],
      movingWindow: 'Monthly',
      returnInterval: 'Daily',
      interval: '50',
    };
  },
  computed: {
    options() {
      return this.$store.state.lab.regression.options || {};
    },
    timeOptions() {
      switch (this.returnInterval) {
        case 'Monthly':
          return 'Months';
        case 'Weekly':
          return 'Weeks';
        default:
          return 'Days';
      }
    },
  },
  mounted() {
    window.eventBus.$on('regressionOptions', this.showModal);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('regressionOptions');
  },
  methods: {
    showModal() {
      const options = _.cloneDeep(this.options);
      this.movingWindow = options.movingWindow || 'Monthly';
      this.returnInterval = options.returnInterval || 'Daily';
      this.interval = options.interval || '50';
      $('#regressionOptions').modal('show');
    },
    uploadVuex() {
      const vuexOptions = {
        movingWindow: this.movingWindow,
        returnInterval: this.returnInterval,
        interval: this.interval,
      };
      const uploadedOptions = Object.assign({}, this.options, vuexOptions);
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'options',
        choice: _.cloneDeep(uploadedOptions),
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 1,
      });
    },
    setItems({ option, key }) {
      this[key] = option;
    },
    updateChoice() {
      this.uploadVuex();
      window.eventBus.$emit('updateFactorAnalysis', { mode: 'update' });
      $('#regressionOptions').modal('hide');
    },
  },
};
</script>
