<template>
  <div
    class="data-row-parent"
    style="overflow-y:hidden;">
    <div
      :id="`row-${item.id}`"
      class="data-row"
      @mouseenter="checkHighlight"
      @mouseleave="checkUnhighlight">
      <a
        v-if="item.suspended"
        class="suspend_overlay"
        @click="unsuspendStrategy({ items:[item] })"/>
      <div :style="customWidth">
        <div
          v-if="item.type !== 'alpha'"
          class="pinColumn col-xs-1"
          style="padding:0;">
          <button
            :class="{'pinned': !!color}"
            class="btn"
            @click="pinIndex(item)">
            <img
              v-if="!color"
              src="img/pin.svg" >
            <svg
              v-else
              id="Layer_1"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 42.4 42.4"
              style="enable-background:new 0 0 42.4 42.4;"
              xml:space="preserve">
              <path
                :fill="color"
                d="M42.3,17c-0.1-0.3-0.2-0.5-0.5-0.6c-2.2-0.9-4.5-1.3-6.9-1.3c-3.7,0-6.6,1.1-7.7,1.6L15.3,6.6
              c0.4-3.7-1.6-6.2-1.6-6.3C13.5,0.1,13.3,0,13,0c-0.2,0-0.4,0.1-0.6,0.2L0.2,12.4C0.1,12.6,0,12.8,0,13.1c0,0.2,0.1,0.4,0.3,0.6
              C2,15,4.2,15.3,5.7,15.3c0.3,0,0.6,0,0.8,0l10.2,12c-0.7,1.8-2.8,8.2-0.2,14.7c0.1,0.2,0.3,0.4,0.6,0.5c0.1,0,0.1,0,0.2,0
              c0.2,0,0.4-0.1,0.6-0.2l11.7-11.7l10.9,10.9c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.1L30.5,29.4
              l11.6-11.6C42.3,17.6,42.4,17.3,42.3,17L42.3,17z M42.3,17" />
            </svg>
          </button>
        </div>
        <div
          v-if="item.type === 'alpha'"
          class="col-xs-1"
          style="width:30px;"/>
        <div
          :style="itemColor"
          class="col-xs-10">
          <a
            v-if="item.type !== 'alpha'"
            :href="`/strategy/${item.code}`"
            :style="itemColor"
            target="_blank"
            rel="noopener noreferrer"
            class="list-group-item-heading">{{ itemName }}</a>
          <p
            v-if="item.type === 'alpha'"
            class="list-group-item-heading">{{ itemName }}</p>
          <p class="list-group-item-text">
            {{ itemTitle }}
          </p>
        </div>
        <div
          class="menu-button-column col-xs-1"
          style="padding-left:0;">
          <div
            v-if="item.type !== 'alpha'"
            :class="{'opened':showStrategyMenu===item.code}"
            class="tableoption pull-right">
            <button
              class="btn text-blue"
              @click.stop="toggleStrategyMenu()">
              <i class="fa fa-list"/>
            </button>
            <div
              v-show="showStrategyMenu==item.code"
              class="menu"
              @click.stop="toggleStrategyMenu()">
              <!-- <hr
                v-if="stat!=='unActive'"
                class="dotted white"> -->
              <a @click="suspendStrategy({ items:[item] })">
                <img
                  src="/img/design/icon-pause-white.png"
                  alt> Suspend
              </a>
              <a @click="removeStrategy(item)">
                <img
                  src="/img/design/icon-remove-white.png"
                  alt> Remove
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        v-show="view === 'datatable' && !hiddenPeriods[period]"
        style="width:11.75%;overflow-y:hidden;padding-top:5px;">
        <chart-donut-pie
          v-if="!item.suspended"
          :idname="item.code"
          :main="main"/>
      </div>
      <div
        v-for="(field, index) in dataTableCols"
        v-show="view === 'datatable' && !hiddenPeriods[period]"
        :key="field"
        :class="{'bg-gray':(index%2 === 0), 'neg-return': checkPvalue(field)}"
        :style="`width:${54.91667/dataTableCols.length}%`"
        class="text-center">
        {{ custom(field) }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SliderBarItem',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    showStrategyMenu: {
      type: String,
      default: '',
    },
    setMenu: {
      type: Function,
      default: null,
    },
    highlightIndex: {
      type: Function,
      default: null,
    },
    unhighlightIndex: {
      type: Function,
      default: null,
    },
    pinIndex: {
      type: Function,
      default: null,
    },
    removeStrategy: {
      type: Function,
      default: null,
    },
    unsuspendStrategy: {
      type: Function,
      default: null,
    },
    suspendStrategy: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {

    };
  },
  computed: {
    customWidth() {
      if (this.view === 'datatable') return 'width: 33.33333333%;';
      return 'width:100%;';
    },
    // menuPadding() {
    //   if (this.view === 'datatable') return 'padding-left:0;';
    //   return 'padding:0';
    // },
    main() {
      return {
        value: this.item.beta,
      };
    },
    pinned() {
      return this.$store.state.lab.regression.pinned || {};
    },
    color() {
      const colors = this.$store.state.colorsAll.benchmarks || {};
      if (!this.pinned[this.item.code]) return null;
      return colors[this.pinned[this.item.code]];
    },
    dataTableCols() {
      return this.$store.state.lab.regression.dataTableCols || [];
    },
    view() {
      return this.$store.state.lab.view || 'datatable';
    },
    units() {
      return this.$store.state.regression.units;
    },
    decimals() {
      return this.$store.state.regression.decimals;
    },
    itemTitle() {
      switch (this.item.type) {
        case 'alpha':
          return '';
        case 'Strategy':
        case 'Benchmark':
          return this.item.type;
        case 'Private Strategy':
          return 'Private Track';
        default:
          return 'Pure Factor';
      }
    },
    itemColor() {
      switch (this.item.type) {
        case 'alpha':
          return 'color:#5A5A5A;';
        case 'Benchmark':
          return 'color:#FF8935';
        case 'Private Strategy':
          return 'color:#996699';
        case 'Strategy':
          return 'color:#123B69';
        default:
          return 'color:#1A85A1';
      }
    },
    itemName() {
      switch (this.item.type) {
        case 'alpha':
          return 'Alpha';
        case 'Strategy':
        case 'Private Strategy':
        case 'Benchmark':
          return this.item.shortName;
        default:
          return this.item.shortName.replace('PLB Pure Factor ', '');
      }
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    toggleStrategyMenu() {
      this.setMenu(this.showStrategyMenu === this.item.code ? '' : this.item.code);
    },
    custom(field) {
      const decimal = this.decimals[field] || 2;
      const unit = this.units[field] || '';
      return this.item[field] !== undefined ? `${this.item[field].toFixed(decimal)}${unit}` : '-';
    },
    checkPvalue(field) {
      switch (field) {
        case 'pValue': {
          if (this.item[field] && this.item[field] > 5) return true;
          return false;
        }
        default:
          return false;
      }
    },
    checkHighlight() {
      if (this.view !== 'datatable' && this.item.type !== 'alpha') {
        const index = {
          indexinfo: {
            id: this.item.id,
          },
        };
        this.highlightIndex(index, true);
      }
    },
    checkUnhighlight() {
      if (this.view !== 'datatable' && this.item.type !== 'alpha') {
        const index = {
          indexinfo: {
            id: this.item.id,
          },
        };
        this.unhighlightIndex(index);
      }
    },
  },
};
</script>
