<template>
  <div
    :style="templateWidth"
    class="sidebar-analyse table-view overlay-scroll">
    <div
      class="datatable analyse"
      style="position: relative;">
      <div
        v-show="loading"
        class="loading-layer">
        <div class="abs-loader">
          <div class="loader-inner ball-pulse">
            <div/>
            <div/>
            <div/>
          </div>
        </div>
      </div>
      <div
        v-show="view==='datatable'"
        style="width: 100%;height: 3px;background: url(/img/design/line-dot.png);margin-top:-3px;"/>
      <div
        :style="scrollStyle"
        class="analyse-container scrolling"
        style="max-height:560px;min-height:180px;">
        <slider-bar-item
          v-for="item in groupData"
          :key="item.code"
          :item="item"
          :show-strategy-menu="showStrategyMenu"
          :set-menu="setMenu"
          :highlight-index="highlightIndex"
          :unhighlight-index="unhighlightIndex"
          :pin-index="pinIndex"
          :remove-strategy="removeStrategy"
          :suspend-strategy="suspendStrategy"
          :unsuspend-strategy="unsuspendStrategy"/>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ swal */
import sliderBarItem from './slider-bar-item.vue';

const { LAB_ACTION } = require('../../../store/module/lab');
const { RG_ACTION } = require('../../../store/module/regression');
const { PERIOD } = require('../../../util/period');
const apiStrategies = require('../../../api/strategies');
const apiPortfolios = require('../../../api/portfolios');
const apiRegression = require('../../../api/regression');

const createNoReactiveData = (that) => {
  that.compareDate = {
    maxDate: that.common.maxDate,
    custMaxDate: that.common.custMaxDate,
    customPeriod: that.common.periods.custom,
    minPeriod: that.common.periods.min,
  };
  that.basePayload = _.cloneDeep(that.common);
  that.colors = [
    'color1',
    'color2',
    'color3',
    'color4',
    'color5',
    'color6',
  ];
  that.pinMax = 6;
};
export default {
  name: 'RegressionBar',
  components: {
    'slider-bar-item': sliderBarItem,
  },
  props: {
    initFactors: {
      type: Function,
      default: null,
    },
    loadedFactors: {
      type: Boolean,
      default: false,
    },
    ieBrowser: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showStrategyMenu: '',
      initData: false,
      groupData: [],
      movingWindow: 'Monthly',
      modelInterval: 250,
      returnInterval: 'Daily',
      scrollStyle: 'overflow-y:overlay',
      factorMinDate: null,
    };
  },
  computed: {
    templateWidth() {
      if (this.view !== 'datatable') return 'width: 33.33333333%;float:left;';
      return 'width:100%;';
    },
    pinned() {
      return this.$store.state.lab.regression.pinned || {};
    },
    options() {
      return this.$store.state.lab.regression.options || {};
    },
    sortItem() {
      return this.$store.state.lab.regression.sort || {};
    },
    listLength() {
      const {
        factorList = {},
      } = this.options;
      return Object.keys(factorList).length;
    },
    regressionMain() {
      return this.$store.state.regression.main;
    },
    view() {
      return this.$store.state.lab.view || 'datatable';
    },
    common() {
      return this.$store.state.lab.common;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    strategies() {
      return this.$store.state.strategies;
    },
    strategiesByCode() {
      const strategiesByCode = {};
      for (const id in this.strategies) {
        strategiesByCode[this.strategies[id].code] = Object.freeze(this.strategies[id]);
      }
      return strategiesByCode;
    },
    portfolios() {
      return this.$store.state.portfolios;
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
  },
  watch: {
    common() {
      this.basePayload = _.cloneDeep(this.common);
      if (this.initData) {
        if (!this.regressionMain[this.period] || (this.period === PERIOD.CUST && (this.compareDate.custMaxDate !== this.common.custMaxDate ||
          this.compareDate.customPeriod !== this.common.periods.custom))) {
          this.loadData({ factorChange: false });
        } else if (!this.loading) {
          this.startAnalysis();
        }
      }
      this.compareDate = {
        maxDate: this.common.maxDate,
        custMaxDate: this.common.custMaxDate,
        minPeriod: this.common.periods.min,
        customPeriod: this.common.periods.custom,
      };
    },
    sortItem() {
      if (this.sortItem.sortby) {
        this.sortGroupData();
      }
    },
    analyseItem(newItem) {
      if (newItem.id && this.$store.state.lab.tool === 'regression') {
        this.initAllData();
      }
    },
  },
  async created() {
    createNoReactiveData(this);
    if (this.ieBrowser) this.scrollStyle = 'overflow-y:scroll';
    await this.initAllData();
  },
  mounted() {
    const that = this;
    $('body').click(that.closeMenu);
    window.eventBus.$on('updateFactorAnalysis', this.updateFactorHandler);
    window.eventBus.$on('highlightIndex', this.highlightIndex);
    window.eventBus.$on('unhighlightIndex', this.unhighlightIndex);
    window.eventBus.$on('regressionCleanUp', this.cleanUpRegression);
    window.eventBus.$on('regressionLassoModel', this.regressionLassoModel);
  },
  beforeDestroy() {
    this.$off();
    const that = this;
    window.eventBus.$off('updateFactorAnalysis');
    window.eventBus.$off('highlightIndex');
    window.eventBus.$off('unhighlightIndex');
    window.eventBus.$off('regressionCleanUp');
    window.eventBus.$off('regressionLassoModel');
    $('body').off('click', that.closeMenu);
  },
  methods: {
    sortGroupData() {
      if (this.groupData.length <= 1 || !this.sortItem.sortby) return null;
      const sortData = this.groupData.slice(1);
      sortData.sort(this.sortIndices);
      this.groupData = [
        this.groupData[0],
        ...sortData.map(x => Object.freeze(x)),
      ];
    },
    sortIndices(first, second) {
      if (second[this.sortItem.sortby] === undefined) return -1;
      if (first[this.sortItem.sortby] === undefined) return 1;
      return this.sortItem.sortorder * (parseFloat(first[this.sortItem.sortby]) - parseFloat(second[this.sortItem.sortby]));
    },
    highlightIndex(index, fromDom) {
      $(`#row-${index.indexinfo.id}`).addClass('pinned-row');
      if (!fromDom) {
        try {
          const data = $(`#row-${index.indexinfo.id}`).length;
          if (data > 0) {
            const top = $(`#row-${index.indexinfo.id}`).parent()[0].offsetTop;
            $('.bottom-portfolio .analyse-container').scrollTop(top);
          }
        } catch (e) {
          console.error(e);
        }
      }
      const idTarget = `g${index.indexinfo.id}`;
      if (this.view !== 'datatable') {
        $(`.amcharts-graph-line.amcharts-graph-${idTarget} .amcharts-graph-stroke`).addClass('highlight-dot');
      }
    },
    unhighlightIndex(index) {
      $(`#row-${index.indexinfo.id}`).removeClass('pinned-row');
      const idTarget = `g${index.indexinfo.id}`;
      if (this.view !== 'datatable') {
        $(`.amcharts-graph-line.amcharts-graph-${idTarget} .amcharts-graph-stroke`).removeClass('highlight-dot');
      }
    },
    async unsuspendStrategy({ items = [] }) {
      if (items.length === 0) return null;
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      try {
        const options = _.cloneDeep(this.options);
        items.forEach((item) => {
          const { code } = item;
          const data = options.factorSuspendedList[code];
          if (data) {
            options.factorList[code] = data;
            delete options.factorSuspendedList[code];
          }
        });
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'options',
          choice: options,
        });
        await this.loadData({ factorChange: true });
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    async suspendStrategy({ items = [] }) {
      if (items.length === 0) return null;
      const options = _.cloneDeep(this.options);
      items.forEach((item) => {
        const { code } = item;
        const data = options.factorList[code];
        if (data) {
          options.factorSuspendedList[code] = data;
          delete options.factorList[code];
        }
      });
      if (Object.keys(options.factorList).length === 0) {
        swal('Whoops!', 'Cannot suspend all factors.', 'error');
      } else {
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'options',
          choice: options,
        });
        await this.loadData({ factorChange: true });
      }
    },
    pinIndex(index) {
      if (!this.pinned[index.code]) {
        if (Object.keys(this.pinned).length < 6) {
          const pin = {
            [index.code]: this.colors.shift(),
          };
          const pinned = Object.assign({}, this.pinned, pin);
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'pinned',
            choice: pinned,
          });
          window.eventBus.$emit('lab_footer_graph_randar', {
            mode: 'changePin',
          });
        } else {
          swal('Whoops!', 'Max pins reached.', 'error');
        }
      } else {
        this.unpinIndex(index);
      }
    },
    unpinIndex(index) {
      if (this.pinned[index.code]) {
        this.colors.push(this.pinned[index.code]);
        this.colors.sort();
        const pinned = Object.assign({}, this.pinned);
        delete pinned[index.code];
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'pinned',
          choice: pinned,
        });
        window.eventBus.$emit('lab_footer_graph_randar', {
          mode: 'changePin',
        });
      }
    },
    cleanUpRegression({ mode = 'unsuspend' }) {
      const options = _.cloneDeep(this.options);
      switch (mode) {
        case 'delete': {
          options.factorSuspendedList = {};
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'options',
            choice: options,
          });
          this.startAnalysis();
          break;
        }
        case 'deleteAll': {
          options.factorList = {};
          options.factorSuspendedList = {};
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'pinned',
            choice: {},
          });
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'options',
            choice: options,
          });
          this.startAnalysis();
          break;
        }
        case 'unsuspend': {
          options.factorList = {
            ...options.factorList,
            ...options.factorSuspendedList,
          };
          options.factorSuspendedList = {};
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'options',
            choice: options,
          });
          this.loadData({});
          break;
        }
      }
    },
    regressionLassoModel() {
      this.loadData({ factorChange: true, useLasso: true });
    },
    setMenu(code) {
      this.showStrategyMenu = code;
    },
    async removeStrategy(item) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      try {
        const { code } = item;
        const options = _.cloneDeep(this.options);
        const data = options.factorList[code];
        if (data) {
          delete options.factorList[code];
          if (Object.keys(options.factorList).length === 0) {
            swal('Whoops!', 'Cannot only remove all active factors.', 'error');
            this.$store.commit(LAB_ACTION.SET_LOADING, false);
            return null;
          }
          const showIdx = this.groupData.findIndex(o => o.code === code);
          if (showIdx >= 0) {
            this.groupData.splice(showIdx, 1);
          }
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'options',
            choice: options,
          });
          await this.loadData({ factorChange: true });
        }
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    setBasePayload(data) {
      this.basePayload = _.cloneDeep(this.common);
      this.basePayload.periods.min = this.setMinPeriod(data.periods.min);
      this.basePayload.periods.live = data.periods.live;
      if (this.common.periods[PERIOD.CUST]) {
        if (this.basePayload.periods[PERIOD.CUST] < this.basePayload.periods.min) this.basePayload.periods[PERIOD.CUST] = this.basePayload.periods.min;
        if (this.basePayload.custMaxDate > data.maxDate || this.basePayload.custMaxDate < data.periods.min) this.basePayload.custMaxDate = data.maxDate;
      }
    },
    setMinPeriod(min) {
      let minPeriod = min;
      if (this.factorMinDate && this.factorMinDate > minPeriod) {
        minPeriod = this.factorMinDate;
      }
      const { factorList = {} } = this.options;
      for (const code in factorList) {
        const indexInfo = this.strategiesByCode[code];
        if (indexInfo && indexInfo.historyStartDate > minPeriod) {
          minPeriod = indexInfo.historyStartDate;
        }
      }
      return minPeriod;
    },
    setFactorMinDate() {
      const factors = Object.values(this.strategies).filter(o => o.type === 'Pure Factor');
      factors.forEach((o) => {
        if (!this.factorMinDate || o.historyStartDate > this.factorMinDate) {
          this.factorMinDate = o.historyStartDate;
        }
      });
    },
    async initAllData() {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      this.colors = [
        'color1',
        'color2',
        'color3',
        'color4',
        'color5',
        'color6',
      ];
      try {
        this.initData = false;
        const needLoad = this.loading;
        if (!this.loadedFactors) {
          await this.initFactors();
        }
        if (!this.factorMinDate) {
          this.setFactorMinDate();
        }
        if (needLoad) { // need to loaddata
          const apiCall = this.analyseItem.type === 'portfolio' ? apiPortfolios : apiStrategies;
          const vuexActions = {
            data: apiCall.loadPeriods(this.analyseItem.id).then(o => o.data),
            optionData: apiRegression.getRegressionOptions(this.analyseItem.id, this.analyseItem.type).then(o => o.data),
          };
          const { data, optionData } = await Promise.props(vuexActions);
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            choice: {
              options: optionData.options,
              title: this.analyseItem.name,
              shortName: this.analyseItem.name,
              id: `${this.analyseItem.type}${this.analyseItem.id}`,
            },
          });
          this.setBasePayload(data);
        }
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'pinned',
          choice: {},
        });
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'saveButton',
          choice: 0,
        });
        await this.loadData({ initFactors: true });
        this.initData = true;
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    async loadData({ factorChange = true, initFactors = false }) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      try {
        const vuexActions = [];
        if (factorChange || initFactors) {
          this.setBasePayload(_.cloneDeep(this.basePayload));
          let changePeriod = null;
          const currentPeriod = this.basePayload.dataPeriod;
          if (currentPeriod && this.basePayload.periods[currentPeriod] < this.basePayload.periods.min) {
            for (const key in this.basePayload.periods) {
              if ((this.basePayload.periods[key] >= this.basePayload.periods.min) && key !== 'min') {
                if (!changePeriod || this.basePayload.periods[key] < this.basePayload.periods[changePeriod]) {
                  changePeriod = key;
                  this.basePayload.dataPeriod = key;
                }
              }
            }
            if (!changePeriod) {
              changePeriod = PERIOD.CUST;
              this.basePayload.periods[PERIOD.CUST] = this.basePayload.periods.min;
              this.basePayload.custMaxDate = this.basePayload.maxDate;
            }
          }
          window.eventBus.$emit('updatePeriods', _.cloneDeep({
            period: changePeriod || null,
            periods: this.basePayload.periods,
            maxDate: this.basePayload.maxDate,
          }));
        }
        if (factorChange) {
          this.$store.commit(RG_ACTION.CLEAR, { initData: initFactors });
          if (!initFactors) {
            this.$store.commit(LAB_ACTION.SET_CHOICE, {
              field: 'saveButton',
              choice: 1,
            });
          }
        }

        const loadFactorFlag = this.listLength > 0;
        if (loadFactorFlag) {
          vuexActions.push(this.$store.dispatch(RG_ACTION.LOAD_FACTORS, {
            id: this.analyseItem.id,
            type: this.analyseItem.type || 'portfolio',
            payload: this.getPayload({}),
          }));
        }
        vuexActions.push(this.$store.dispatch(RG_ACTION.LOAD_HEATMAP, {
          id: this.analyseItem.id,
          type: this.analyseItem.type || 'portfolio',
          clearError: !loadFactorFlag,
          payload: this.getPayload({ heatmap: true }),
        }));
        await Promise.settleAll(vuexActions);
        this.startAnalysis();
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    findSuspendedData(regressionData) {
      const { factorList = {}, lassoFilters = 0 } = this.options;
      if (lassoFilters && Object.keys(factorList).length > lassoFilters) {
        const options = _.cloneDeep(this.options);
        const needSuspendedFactor = {};
        const {
          factorSuspendedList = {},
        } = this.options;
        for (const code in factorList) {
          if (!regressionData[code] && factorList[code]) {
            needSuspendedFactor[code] = factorList[code];
          }
        }
        options.factorSuspendedList = {
          ...factorSuspendedList,
          ...needSuspendedFactor,
        };

        for (const code in needSuspendedFactor) {
          delete options.factorList[code];
        }
        options.lassoFilters = 0;
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'options',
          choice: options,
        });
      }
    },
    setActiveData(regressionData) {
      const alahpaData = Object.assign({}, regressionData.alpha, {
        id: 0,
        shortName: 'Alpha',
        code: 'alpha',
        type: 'alpha',
      });
      const activeData = [alahpaData];
      if (this.options.factorList) {
        for (const code in this.options.factorList) {
          const indexInfo = this.strategiesByCode[code];
          if (indexInfo) {
            const item = Object.assign({}, regressionData[code], {
              id: indexInfo.id,
              shortName: indexInfo.shortName,
              code: indexInfo.code,
              type: indexInfo.type,
              suspended: false,
            });
            activeData.push(Object.freeze(item));
          }
        }
      }
      const passData = activeData.map((o) => {
        const data = {
          code: o.code,
          id: o.id,
          type: o.type,
          shortName: o.shortName,
          lowerBound: o.lowerBound,
          upperBound: o.upperBound,
          beta: o.beta,
          returnAttr: o.returnAttr,
          varAttr: o.varAttr,
          color: this.pinned[o.code] || '',
        };
        return data;
      });
      return { activeData, passData };
    },
    setInactiveData() {
      const {
        factorSuspendedList = {},
      } = this.options;
      const inactiveData = [];
      for (const code in factorSuspendedList) {
        const indexInfo = this.strategiesByCode[code];
        if (indexInfo) {
          const item = {
            id: indexInfo.id,
            shortName: indexInfo.shortName,
            code: indexInfo.code,
            type: indexInfo.type,
            suspended: true,
          };
          inactiveData.push(Object.freeze(item));
        }
      }
      return { inactiveData };
    },
    startAnalysis() {
      if (this.listLength === 0) {
        window.eventBus.$emit('lab_footer_graph_randar', {
          mode: 'changeData',
          group: [],
        });
        this.groupData = [];
      } else {
        const regressionData = this.regressionMain[this.period];

        this.findSuspendedData(regressionData);
        const { activeData, passData } = this.setActiveData(regressionData);
        const { inactiveData } = this.setInactiveData();
        this.checkPins();
        this.groupData = [...activeData, ...inactiveData];
        this.sortGroupData();
        window.eventBus.$emit('lab_footer_graph_randar', {
          mode: 'changeData',
          group: passData,
        });
      }
    },
    async updateFactorHandler({
      mode = 'add',
      factors = {},
    }) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      try {
        if (mode === 'add') {
          const options = _.cloneDeep(this.options);
          for (const code in factors) {
            options.factorList[code] = _.cloneDeep(factors[code]);
          }
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'options',
            choice: options,
          });
        }
        await this.loadData({ factorChange: true });
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    checkPins() {
      const pinned = Object.assign({}, this.pinned);
      for (const code in this.pinned) {
        if (!this.options.factorList[code]) {
          this.colors.push(pinned[code]);
          delete pinned[code];
        }
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'pinned',
        choice: pinned,
      });
    },
    getPayload({ heatmap = false }) {
      const payload = {
        maxDate: this.basePayload.maxDate,
        period: this.basePayload.dataPeriod,
        movingWindow: this.options.movingWindow,
        modelInterval: this.options.interval,
        returnInterval: this.options.returnInterval,
        periods: this.basePayload.periods,
      };
      if (!heatmap) {
        payload.selection = this.options.lassoFilters || 0;
        const { factorList = {} } = this.options;
        payload.listfintech = Object.keys(factorList);
      }
      if (this.basePayload.dataPeriod === PERIOD.CUST) {
        payload.maxDate = this.basePayload.custMaxDate;
        payload.periods = {
          [PERIOD.CUST]: this.basePayload.periods[PERIOD.CUST],
          [PERIOD.MIN]: this.basePayload.periods[PERIOD.MIN],
        };
      }
      return payload;
    },
    closeMenu() {
      if (this.showStrategyMenu !== '') {
        this.showStrategyMenu = '';
      }
    },
  },
};
</script>
