.loader-inner.ball-pulse {
  // overlay loader animation
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
}

.force-scrollbar {
  // force scrollbar on macOS
  &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.sidebar-filters {
	.scrolling-window {
		// max-height: 50vh;
		// overflow-y: scroll;
		// overflow-x: hidden;
	}

	.dropdown-menu {
		left: -175px;
	}
}

.camel-label {
	text-transform: capitalize;
}

.column-filters {
	.dropdown-menu {
		ul {
			margin-left: 1em;
		}
	}
}

.modal {

	.scrolling-window {
		max-height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.radio + .radio, .checkbox + .checkbox {
		margin-top: 10px;
	}
}

.row-strikethrough small {
	opacity: 0.5;
	text-decoration: line-through;
}

.nowrap {
	white-space: nowrap;
}

.factiva-block
{
		
	.filter-bar {
	    margin-top: 20px;
	}

	.filter_result 
	{
	    padding:10px 0;
	    margin:20px 0;
	}

	.filter_result select , .filter-bar  select{
	    border:1px solid #ccd0d2;
	   
	}

	.filter_result .form-group {
	    margin-bottom:10px;
	   
	}

	.filter_result .btn-secondary
	{
	    background:#ccc;
	    border:1px #999 solid;
	}
	
	.btn.btn-default
	{
	    border:1px solid #ccd0d2;
	}
}


.btn.btn-danger {
    color: #fff;
    background-color: #bf5329;
    border-color: #aa4a24;
}

// .progress-bar {
// 	opacity: 1;
// 	height: 2px;
// 	margin: 0.4em 0;
// 	width: 0;
// 	background: green;
// }
