<template>
<div>
  <h4 class="charttitle">{{widgetData[idx]['title']}}</h4>
  <div class="tableoption pull-right" :data-var="idx" v-bind:class="{'opened':widgetData[idx]['properties']['showColMenu']}">
  <button type="button" @click="widgetData[idx]['properties']['showColMenu']=!(widgetData[idx]['properties']['showColMenu'])" class="btn">
    <span class="icon icon-cog"></span>
  </button>
  <div class="menu" v-show="widgetData[idx]['properties']['showColMenu']">
    <p>Add performance metrics ({{3 - widgetData[idx]['properties']['cols'].length}} left)</p>
    <label v-for="(v,k) in labels" class="checkbox-style" v-show="k!='return'" :key="k">
      <input
        type="checkbox"
        v-bind:value="k"
        v-model="widgetData[idx]['properties']['cols']"
        :disabled="widgetData[idx]['properties']['cols'].indexOf(k) < 0 && widgetData[idx]['properties']['cols'].length >= 3"
      ><i></i>
      {{v}}
    </label>
  </div>
  </div>
  <div class="datatable">
    <div class="clearfix heading">
      <div style="width: 30%">
        <button class="btn" @click="sortTable(widgetData[idx],'title')">Name
        </button>
      </div>
      <div style="width: 5.5%"></div>
      <div v-bind:style="{width: (64/widgetData[idx]['properties']['cols'].length)+'%'}" v-for="(field, subLoopIdx) in widgetData[idx]['properties']['cols']" v-bind:class="{'highlight':widgetData[idx]['properties']['sortBy']==field,'bg-gray':subLoopIdx%2!=0}" :key="subLoopIdx">
        <button class="btn" @click="sortTable(widgetData[idx],field)">
            {{labels[field]}}
            <span v-show="composition_sortBy === field">
              <i v-bind:class="{
              'fa-sort-up':(composition_sortOrder>0),'fa-sort-down':(composition_sortOrder<0)
              }" class="fa"></i>
            </span>

            <span v-show="composition_sortBy !== field">
              <i class="fa fa-sort"></i>
            </span>
        </button>
      </div>
    </div>
    <div class="scrolling" v-if="dataLoaded">
      <div v-for="(index, key) in datasets" class="data-row-parent text-center" :key="key">
        <div class="data-row" v-if="index.type==='portfolio'">
          <div style="width: 30%">
            <a :href="'/portfolios/' + portfolios[index.id].slug" class="btn" v-bind:class="{'bg-red-off':portfolios[index.id][period + '_return']<0,'bg-green-off':portfolios[index.id][period + '_return']>0}">
                <span>{{ portfolios[index.id].title }}</span>
            </a>
          </div>
          <div style="width: 5%">
            <span v-if="portfolios[index.id][period + '_return'] < 0" class="text-red"><i class="fa fa-arrow-down"></i></span>
            <span v-if="portfolios[index.id][period + '_return'] > 0" class="text-green"><i class="fa fa-arrow-up"></i></span>
          </div>
          <div v-bind:style="{width: (64/widgetData[idx]['properties']['cols'].length)+'%'}"
            v-for="(field,subLoopIdx) in widgetData[idx]['properties']['cols']" :key="subLoopIdx"
            v-bind:class="{'highlight':widgetData[idx]['properties']['sortBy']==field,'bg-gray':subLoopIdx%2!=0}">
              <span>
                {{ portfolios[index.id][period + '_' +field] | round_4dp | unit(portfolios[index.id]['um_' + field]) }}
              </span>
          </div>
        </div>
        <div class="data-row" v-if="index.type!=='portfolio'">
          <div style="width: 30%">
            <a :href="'/strategy/' + strategies[index.id].code" class="btn" v-bind:class="{'bg-red-off':strategies[index.id][period + '_return']<0,'bg-green-off':strategies[index.id][period + '_return']>0}">
                <span>{{ strategies[index.id].shortName }}</span>
            </a>
          </div>
          <div style="width: 5%">
            <span v-if="strategies[index.id][period + '_return'] < 0" class="text-red"><i class="fa fa-arrow-down"></i></span>
            <span v-if="strategies[index.id][period + '_return'] > 0" class="text-green"><i class="fa fa-arrow-up"></i></span>
          </div>
          <div
            v-bind:style="{width: (64/widgetData[idx]['properties']['cols'].length)+'%'}"
            v-for="(field,subLoopIdx) in widgetData[idx]['properties']['cols']" :key="subLoopIdx"
            v-bind:class="{'highlight':widgetData[idx]['properties']['sortBy']==field,'bg-gray':subLoopIdx%2!=0}">
              <span>
                {{ strategies[index.id][period + '_' +field] | round_4dp | unit(strategies[index.id]['um_' + field]) }}
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
const { metrics } = require('../../util/config');

export default {
  name: 'comparison-table',
  props: ['dataLoaded', 'widgetData', 'idx', 'period', 'user'],
  data() {
    return {
      composition_sortBy: 'return',
      composition_sortOrder: 1,
      labels: metrics,
    };
  },
  watch: {
    dataLoaded(val) {
      if (val) {
        this.sortData(this.widgetData[this.idx], 'return');
      }
    },
  },
  computed: {
    portfolios() {
      return this.$store.state.portfolios;
    },
    strategies() {
      return this.$store.state.strategies;
    },
    datasets() {
      return this.widgetData[this.idx]['properties']['datasets'];
    },
  },
  methods: {
    sortData(widgetItem, field) {
      if (field === this.composition_sortBy) {
        this.composition_sortOrder *= -1;
      } else {
        this.composition_sortOrder = -1;
      }
      this.composition_sortBy = field;
      if (field === this.sortingBy) {
        this.sortDir *= -1;
      } else {
        this.sortDir = 1;
      }
      this.sortingBy = field;
      let currentOrder = widgetItem.properties.datasets;
      for (let x = 0; x < currentOrder.length; x++) {
        const item = currentOrder[x];

        if (item.type === 'portfolio') {
          item.title = this.portfolios[item.id].title;
          if (field !== 'title') {
            item[field] = parseFloat(this.portfolios[item.id][`${this.period}_${field}`]);
          }
        } else {
          item.title = this.strategies[item.id].shortName;
          if (field !== 'title') {
            item[field] = parseFloat(this.strategies[item.id][`${this.period}_${field}`]);
          }
        }
      }
      //sort them now
      function compare_asc(a, b) {
        if (a[field] > b[field]) { return 1; }
        if (a[field] < b[field]) { return -1; }
        return 0;
      }

      function compare_desc(a, b) {
        if (a[field] < b[field]) { return 1; }
        if (a[field] > b[field]) { return -1; }
        return 0;
      }

      if (this.sortDir < 0) {
        currentOrder = currentOrder.sort(compare_asc);
      } else {
        currentOrder = currentOrder.sort(compare_desc);
      }

      this.widgetData[this.idx].properties.datasets = currentOrder;
    },
    sortTable(data, field) {
      if (this.widgetData && this.widgetData.length && this.widgetData[this.idx]) {
        this.sortData(this.widgetData[this.idx], field);
      }
    },
  },
}
</script>

