<template>
  <div>
  <h4 class="charttitle">{{widgetData[idx]['title']}}</h4>
  <div class="scrolling" v-if="widgetData[idx]" style="margin-top: 20px;">
    <div class="clearfix datatable monitortable" v-if="dataLoaded">
      <div class="col-xs-6 nopadding border-right">
        <h4 class="text-center bg-green text-white">{{ 'Best ' + labels[widgetData[idx].field || 'return'] }}</h4>
        <div v-if="bestItems.length === 0">
          <div class="data-row">
            <div style="width: 100%;" class="text-center">
              <span>No positive returns</span>
            </div>
          </div>
        </div>
        <div class="data-row-parent" v-for="(index, subLoopIdx) in bestItems" :key="subLoopIdx">
          <div class="data-row">
            <div style="width: 8%;" class="text-center">
              <strong>{{subLoopIdx+1}}</strong>
            </div>
            <div style="width: 55%;">
              <a :href="'/portfolios/' + portfolios[index.id].slug" target="_blank" rel="noopener noreferrer" v-if="index.type=='portfolio'">
                {{ portfolios[index.id].title }}
                <br>
                <em>Portfolio</em>
              </a>
              <a :href="'/strategy/' + strategies[index.id].code" target="_blank" rel="noopener noreferrer" v-if="index.type!='portfolio'">
                {{ strategies[index.id].shortName }}
                <br>
                <em>{{index.showType}}</em>
              </a>
            </div>
            <div style="width: 8%;">
              <div class="tooltip-container" v-if="index.type!=='portfolio' && getPortfoliosThisItemIsIn(index.id).length > 0">
                <div class="tooltip-popover">
                  <strong>This {{index.type}} is in your portfolios listed below:</strong>
                  <ul>
                    <li v-for="(portfolioItem, key) in getPortfoliosThisItemIsIn(index.id)" :key="key">
                      <a target="_blank" rel="noopener noreferrer" v-bind:href="'/portfolios/' + portfolioItem.slug">{{ portfolioItem.title }}</a>
                    </li>
                  </ul>
                </div>
                <i class="fa fa-info-circle"></i>
              </div>
            </div>
            <div style="width: 29%;">
              <span class="text-green" v-if="index.type=='portfolio'">
                {{ portfolios[index.id][period + '_' + (widgetData[idx].field || 'return')] | round_4dp | unit(portfolios[index.id]['um_' + (widgetData[idx].field || 'return')]) }}
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'desc'" class="fa fa-arrow-up"></i>
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'asc'" class="fa fa-arrow-down"></i>
              </span>
              <span class="text-green" v-if="index.type!='portfolio'">
                {{ strategies[index.id][period + '_' + (widgetData[idx].field || 'return')] | round_4dp | unit(strategies[index.id]['um_' + (widgetData[idx].field || 'return')]) }}
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'desc'" class="fa fa-arrow-up"></i>
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'asc'" class="fa fa-arrow-down"></i>
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-6 nopadding">
        <h4 class="text-center bg-red text-white">{{ 'Worst ' + labels[widgetData[idx].field || 'return'] }}</h4>

        <div v-if="worstItems.length === 0">
          <div class="data-row">
            <div style="width: 100%;" class="text-center">
              <span>No negative returns</span>
            </div>
          </div>
        </div>
        <div class="data-row-parent" v-for="(index, subLoopIdx) in worstItems" :key="subLoopIdx">
          <div class="data-row">
            <div style="width: 8%;" class="text-center">
              <strong>{{subLoopIdx+1}}</strong>
            </div>
            <div style="width: 55%;">
              <a :href="'/portfolios/' + portfolios[index.id].slug" target="_blank" rel="noopener noreferrer" v-if="index.type=='portfolio'">
                {{ portfolios[index.id].title }}
                <br>
                <em>Portfolio</em>
              </a>
              <a :href="'/strategy/' +  strategies[index.id].code" target="_blank" rel="noopener noreferrer" v-if="index.type!='portfolio'">
                {{  strategies[index.id].shortName }}
                <br>
                <em>{{index.showType}}</em>
              </a>
            </div>
            <div style="width: 8%;">
              <div class="tooltip-container" v-if="index.type!=='portfolio' && getPortfoliosThisItemIsIn(index.id).length > 0">
                <div class="tooltip-popover right">
                  <strong>This {{ index.type }} is in your portfolios listed below:</strong>
                  <ul>
                    <li v-for="(portfolioItem, key) in getPortfoliosThisItemIsIn(index.id)" :key="key">
                      <a target="_blank" rel="noopener noreferrer" v-bind:href="'/portfolios/' + portfolioItem.slug">{{ portfolioItem.title }}</a>
                    </li>
                  </ul>
                </div>
                <i class="fa fa-info-circle"></i>
              </div>
            </div>
            <div style="width: 29%;">
              <span class="text-red" v-if="index.type=='portfolio'">
                {{ portfolios[index.id][period + '_' + (widgetData[idx].field || 'return')] | round_4dp | unit(portfolios[index.id]['um_' + (widgetData[idx].field || 'return')]) }}
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'desc'" class="fa fa-arrow-down"></i>
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'asc'" class="fa fa-arrow-up"></i>
              </span>
              <span class="text-red" v-if="index.type!='portfolio'">
                {{  strategies[index.id][period + '_' + (widgetData[idx].field || 'return')] | round_4dp | unit( strategies[index.id]['um_' + (widgetData[idx].field || 'return')]) }}
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'desc'" class="fa fa-arrow-down"></i>
                <i v-show="getMonitorOrder('best', widgetData[idx].field) === 'asc'" class="fa fa-arrow-up"></i>
              </span>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</template>
<script>
const pipe = require('lodash/fp/pipe');
const take = require('lodash/fp/take');
const orderBy = require('lodash/fp/orderBy');
const { metrics } = require('../../util/config');

export default {
  name: 'monitor-table',
  props: ['dataLoaded', 'widgetData', 'idx', 'period', 'user'],
  data() {
    return {
      labels: metrics,
    };
  },
  computed: {
    portfolios() {
      return this.$store.state.portfolios;
    },
    strategies() {
      return this.$store.state.strategies;
    },
    bestItems() {
      const filed = this.widgetData[this.idx].field;
      return this.getMonitorItems('best', filed, this.datasets);
    },
    datasets() {
      return this.widgetData[this.idx]['properties']['datasets'];
    },
    worstItems() {
      const filed = this.widgetData[this.idx].field;
      return this.getMonitorItems('worst', filed, this.datasets);
    },
  },
  methods: {
    getPortfoliosThisItemIsIn(strategyId) {
      const portfolios = [];
      for (let x = 0; x < this.user.portfolios_list.length; x++) {
        const portfolio = this.user.portfolios_list[x];
        if (portfolio.strategyIds.length) {
          const ids = portfolio.strategyIds;
          if (ids.indexOf(strategyId) >= 0) {
            portfolios.push(portfolio);
          }
        }
      }
      return portfolios;
    },
    getMonitorOrder(monitorType, field = 'return') {
      let order = -1; // desc order by default
      if (monitorType === 'worst') {
        order *= -1; // inverse order
      }
      switch (field) {
        case 'volatility':
        case 'kurtosis':
        case 'var':
        case 'mvar':
        case 'cvar':
          order *= -1; // inverse order
          break;
      }
      return (order > 0) ? 'asc' : 'desc';
    },
    getMonitorItems(monitorType, field = 'return', fromArray = []) {
      let items = [];
      for (let x = 0; x < fromArray.length; x++) {
        const item = fromArray[x];
        let value;
        if (item.type === 'portfolio') {
          if (this.portfolios[item.id]) {
            value = parseFloat(this.portfolios[item.id][`${this.period}_${field}`]);
            item.title = this.portfolios[item.id].title;
          }
        } else {
          if (this.strategies[item.id]) {
            var value = parseFloat(this.strategies[item.id][`${this.period}_${field}`]);//.toFixed(2);//this turns it to a string making it unsortable
            item.title = this.strategies[item.id].shortName;
            item.showType = this.strategies[item.id].type;
          }
        }
        if (!_.isFinite(value)) continue;
        item.value = value;
        items.push(item);
      }

      const order = this.getMonitorOrder(monitorType, field);
      const round = (monitorType === 'worst') ? Math.floor : Math.ceil;
      const half = round(items.length / 2);
      return pipe(
        orderBy('value', order),
        take(half),
      )(items);
    },
  },
}
</script>

