<template>
  <div
    :style="lineHeightStyle"
    class="data-row-parent">
    <div
      :id="`row-${item.indexinfo_id}`"
      :style="`max-height:${itemtype !== 'strategy' ? '90' : '80'}px;height:${itemtype !== 'strategy' ? '90' : '80'}px`"
      class="data-row">
      <a
        v-if="suspended"
        class="suspend_overlay"
        @click="unsuspendStrategy(item)"/>
      <template v-if="item.graph && item.graph[dataTypeKey] && itemtype !== 'strategy' && !hiddenPeriods[period]">
        <div
          v-for="(value, field, index) in item.graph[dataTypeKey]"
          :key="field"
          :class="{'bg-gray':(index%2 === 0)}"
          :style="`${itemWidth}height:90px;`"
          class="text-center regression-data-item"
          @click="changeSortBy(field)">
          <div style="padding-bottom:5px;">{{ field.replace('pc', 'PC') }}</div>
          <div
            :style="checkValue(value)"
            class="regression-data-title">{{ `${value.toFixed(2)}%` }}</div>
          <div style="padding-top:5px;">
            <i
              v-if="sortby === field"
              :class="{'fa-sort-up':(sortorder>0),'fa-sort-down':(sortorder<0)}"
              class="fa fa-regression-bottom"/>
            <i
              v-else
              class="fa fa-sort fa-regression-bottom"/>
          </div>
        </div>
      </template>
      <template v-else-if="item.graph && item.graph[dataTypeKey] && itemtype === 'strategy' && !hiddenPeriods[period]">
        <div
          v-for="(value, field, index) in item.graph[dataTypeKey]"
          :key="field"
          :class="{'bg-gray':(index%2 === 0)}"
          :style="itemWidth"
          class="text-center">
          <span :style="checkValue(value)">{{ `${value.toFixed(2)}%` }}</span>
        </div>
      </template>
      <template v-else-if="!hiddenPeriods[period]">
        <div
          v-for="(field, index) in pcaArray"
          :key="field"
          :class="{'bg-gray':(index%2 === 0)}"
          :style="itemWidth"
          class="text-center">
          <span>&nbsp;</span>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
/*  global */
export default {
  name: 'DataBarItem',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    uiSuspend: {
      type: Object,
      default: () => {},
    },
    unsuspendStrategy: {
      type: Function,
      default: null,
    },
    itemtype: {
      type: String,
      default: 'strategy',
    },
    sortby: {
      type: String,
      default: '',
    },
    sortorder: {
      type: Number,
      default: -1,
    },
    changeSortBy: {
      type: Function,
      default: null,
    },
    pcaArray: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {

    };
  },
  computed: {
    suspended() {
      if (this.itemtype !== 'strategy') return false;
      return this.uiSuspend[this.item.indexinfo_id] === 1;
    },
    dataTypeKey() {
      const { dataType = 'Distribution' } = this.$store.state.lab.pca;
      if (dataType === 'Distribution') return 'varDecompose';
      return 'varAttr';
    },
    maxValue() {
      if (!this.item.graph || !this.item.graph[this.dataTypeKey]) return 0;
      return Math.max(...Object.values(this.item.graph[[this.dataTypeKey]]));
    },
    lineHeightStyle() {
      if (this.pcaArray.length > 0) {
        let totalLength = 16.6666 * this.pcaArray.length;
        if (totalLength < 100) totalLength = 100;
        return `width:${totalLength}%`;
      }
      return 'width:100%';
    },
    itemWidth() {
      if (this.pcaArray.length > 0) {
        const totalLength = this.pcaArray.length;
        if (totalLength <= 6) return 'width:16.6666%;';
        return `width:${100 / totalLength}%;`;
      }
      return null;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    checkValue(value) {
      if (value === this.maxValue) return 'font-weight:bold;';
      return '';
    },
  },
};
</script>
<style>
.regression-data-item{
  cursor:pointer;
  color:#87908F;
}
.regression-data-item .regression-data-title {
  font-size:16px;
  color:#4B4B4B;
}
</style>
