<template>
  <div
    v-show="view !== 'datatable' && showGraph"
    style="margin-top:20px;position: relative;"
    class="lowercharts col-xs-12">
    <div
      v-show="loading"
      class="loading-layer"/>
    <!-- <div
      v-show="Object.keys(pinned).length > 0"
      class="strategy-list strategy-list-pinned row text-center"
      style="padding-top:0;">
      <h4 class="upper">Pinned in regression
        <span class="text-gray">({{ leftPinned }} pins left)</span>
      </h4>
      <div class="clearfix">
        <div
          v-for="strategy in groupData"
          v-if="pinnedColorsAll[strategy.color]"
          :key="strategy.id"
          :style="{'background': pinnedColorsAll[strategy.color] }"
          class="pinned-btn btn btn-default">
          <a
            rel="noopener noreferrer">{{ custom(strategy.shortName) }}</a>
          <a @click="unpinIndex(strategy)">
            <i class="fa fa-remove"/>
          </a>
        </div>
      </div>
    </div> -->
    <div class="col-sm-6 col-xs-12">
      <chart-footer-bar
        :datasets="leftGraphData"
        :colors="pcaColors"
        :hidden="hiddenPeriods[period]"
        value-field="varProp"
        title="STRATEGIES PCA (VARIANCE %)"/>
    </div>
    <div class="col-sm-6 col-xs-12">
      <chart-correlation-circle
        :colors="pinnedColorsAll"
        :main="rightGraphData"
        :portfolio="rightGraphPortfolioData"
        :pinned="pinned"
        :button-colors="pcaColors"
        :hidden="hiddenPeriods[period]"
        title="CORRELATION CIRCLE"/>
    </div>
    <!-- <div class="col-xs-12">
      <div
        class="text-center"
        style="font-size:11px;">
        <span
          v-for="(color, title) in icons"
          :key="title">
          <i
            :style="`color:${color};`"
            class="fa fa-square"/>
          {{ title }}&nbsp;&nbsp;
        </span>
      </div>
    </div> -->
  </div>
</template>
<script>
/* global */
export default {
  name: 'FooterGraph',
  data() {
    return {
      showGraph: false,
      leftGraphData: [],
      rightGraphData: {},
      rightGraphPortfolioData: {},
    };
  },
  computed: {
    view() {
      return this.$store.state.lab.view || 'graph';
    },
    pcaMain() {
      return this.$store.state.pca.main;
    },
    pcaPortfolio() {
      return this.$store.state.pca.portfolio;
    },
    common() {
      return this.$store.state.lab.common;
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    options() {
      return this.$store.state.lab.pca.options || {};
    },
    pinned() {
      return this.$store.state.lab.pca.pinned || {};
    },
    title() {
      return this.$store.state.lab.pca.title || 'portfolio';
    },
    pinnedColorsAll() {
      return this.$store.state.colorsAll.benchmarks || {};
    },
    pcaColors() {
      return this.$store.state.colorsAll.pcas || {};
    },
    indices() {
      const draftId = this.$store.state.lab.pca.portfolio_id || 0;
      return this.$store.state.portfolioIndices[draftId] || [];
    },
    currentCode() {
      if (this.indices.length === 0) return '';
      let currentCode = '';
      for (const idx in this.indices) {
        if (this.indices[idx].suspended === 0) {
          currentCode = this.indices[idx].indexinfo.code;
          break;
        }
      }
      return currentCode;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  mounted() {
    window.eventBus.$on('pca_item_randar', this.handlerData);
  },
  beforeDestroy() {
    window.eventBus.$off('pca_item_randar');
    this.$off();
  },
  methods: {
    handlerData({ mode = 'changeData' }) {
      switch (mode) {
        case 'noData':
          this.showGraph = false;
          break;
        case 'changeData':
          this.showGraph = true;
          this.setLeftGraphData();
          this.setRightGraphData();
          break;
        case 'changePin':
          this.showGraph = true;
          this.setRightGraphData();
          break;
      }
    },
    setLeftGraphData() {
      if (this.indices.length === 0) return null;
      const code = this.currentCode;
      const pcaMainData = this.pcaMain[this.common.dataPeriod];
      const pcsKey = Object.keys(pcaMainData[code].cor);
      const data = [];
      pcsKey.forEach((key) => {
        data.push({
          varProp: pcaMainData[key].varProp,
          shortName: key.replace('pc', 'PC'),
          code: key,
          color: key,
          type: 'pca',
        });
      });
      this.leftGraphData = Object.freeze(data);
    },
    setRightGraphData() {
      if (this.indices.length === 0) return null;
      const code = this.currentCode;
      const pcaMainData = this.pcaMain[this.common.dataPeriod];
      const pcsKey = Object.keys(pcaMainData[code].cor);
      if (pcsKey.length === 0) return null;
      const data = {
        items: {},
      };
      this.indices.forEach((o) => {
        if (pcaMainData[o.indexinfo.code]) data.items[o.indexinfo.id] = { shortName: o.indexinfo.shortName, code: o.indexinfo.code };
      });
      pcsKey.forEach((key) => {
        const dataObject = {
          shortName: key.replace('pc', 'PC'),
          weight: pcaMainData[key].varProp,
          correlation: {},
        };
        for (const id in data.items) {
          dataObject.correlation[id] = pcaMainData[data.items[id].code].cor[key];
        }
        data[key] = dataObject;
      });
      const pcaPortfolioData = this.pcaPortfolio[this.common.dataPeriod];
      this.rightGraphPortfolioData = {
        shortName: this.title,
        correlation: _.cloneDeep(pcaPortfolioData.cor),
      };
      this.rightGraphData = Object.freeze(data);
    },
  },
};
</script>
