<template>
  <div
    class="row pca-panel"
    style="min-height:151px;">
    <div class="col-xs-4">
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div class="col-xs-12">
          <button
            :disabled="loading"
            class="btn btn-primary"
            style="height: 36px;width:100%;"
            @click="pcaSettings">
            PCA Model
            <i
              class="icon icon-cog-white"
              style="position: absolute; right: 65%;"/>
          </button>
        </div>
      </div>
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div class="col-xs-6 allocation-form">
          <selection
            :options="dataTypeOptions"
            :current-option="dataType"
            :text-center="true"
            key-field="dataType"
            @selectitem="setItems"/>
        </div>
        <div class="col-xs-6">
          <button
            :disabled="saveButton!==1"
            :class="{'btn-outline':saveButton===0,'btn-blue':saveButton===1,'btn-red':saveButton===2}"
            style="width:100%;"
            class="btn"
            @click="saveOptions">
            <span v-show="saveButton!==2">Save</span>
            <span v-show="saveButton===2">Saving...</span>
          </button>
        </div>
      </div>
      <div
        class="panel-heading row"
        style="padding-top: 13px;height:100px">
        <div
          class="col-xs-12"
          style="padding-left:37px">
          <br>
          <span style="font-weight:bold;">Portfolio</span>
          <br>
          <portfolio-composition
            :active-strategies="activeStrategies"
            :allocation-model="weighting"
            :allocation-labels="weightingOptions"
            :allocation-options="allocationOptions"
            pipe-class="pipe" />
        </div>
      </div>
    </div>
    <div
      class="col-xs-8"
      style="padding:0;">
      <div
        v-show="loading"
        class="loading-layer"/>
      <div
        class="panel-heading row"
        style="padding-top: 13px;">
        <div
          v-for="viewOption in views"
          :key="viewOption[0]"
          class="col-xs-3">
          <button
            :class="{ 'btn-primary': (viewBtn==viewOption[0]) }"
            class="btn btn-outline-blue hidden-xs"
            style="width:100%;height:36px;"
            @click="setView(viewOption[0])">{{ viewOption[1] }}
          </button>
        </div>
      </div>
      <h4
        class="upper"
        style="margin-top:19px;padding-left:15px;">
        {{ options.covType }} PCA {{ dataType }} | {{ datesNumber }} <span v-if="(options.listFilters && options.listFilters.length>0) || options.filter !== 'None'">| FILTERED </span>
      </h4>
      <div
        style="float:left;width:100%">
        <span class="pull-right">{{ asOf }}</span>
      </div>
      <chart-stacked-bar
        v-show="portfolioGraphData && view !== 'datatable' && !hiddenPeriods[period]"
        :main="portfolioGraphData"
        :hide-value-axis="false"
        :key-field="dataTypeKey"
        :max-length="maxLength"
        :height="90"
        idname="stack-portfolio"
        style="float:left;width:100%"/>
    </div>
  </div>
</template>
<script>
/* global analytics swal */
const { LAB_ACTION } = require('../../../store/module/lab');
const apiPortfolios = require('../../../api/portfolios');
const apiPca = require('../../../api/pca');
const { models } = require('../../../util/config');

import selection from '../../vue-select/selection.vue';

export default {
  name: 'PcaPanel',
  components: {
    selection,
  },
  data() {
    return {
      period: '5y',
      viewBtn: 'graph',
      views: [
        ['graph', 'Graph'],
        ['datatable', 'Table'],
      ],
      maxLength: 100,
      portfolioGraphData: null,
      dataTypeOptions: [
        'Attribution',
        'Distribution',
      ],
      weightingOptions: models,
    };
  },
  computed: {
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    view() {
      return this.$store.state.lab.view || 'graph';
    },
    common() {
      return this.$store.state.lab.common;
    },
    asOf() {
      if (this.common.maxDate) return `As of ${this.common.maxDate}`;
      return '';
    },
    draftId() {
      return this.$store.state.lab.pca.portfolio_id || 0;
    },
    pca() {
      return this.$store.state.pca;
    },
    sortItem() {
      return this.$store.state.lab.pca.sort || {};
    },
    options() {
      return this.$store.state.lab.pca.options || {};
    },
    dataType() {
      return this.$store.state.lab.pca.dataType || 'Distribution';
    },
    activeStrategies() {
      const portfolioIndices = this.$store.state.portfolioIndices[this.draftId] || [];
      const activeItems = portfolioIndices.filter(o => o.suspended === 0 && o.indexinfo.is_suspended === 0).length;
      return activeItems;
    },
    allocationOptions() {
      return this.$store.state.lab.pca.allocationOptions || {};
    },
    dataTypeKey() {
      const { dataType = 'Distribution' } = this.$store.state.lab.pca;
      if (dataType === 'Distribution') return 'varDecompose';
      return 'varAttr';
    },
    saveButton() {
      return this.$store.state.lab.pca.saveButton || 0;
    },
    datesNumber() {
      const { datesCount } = this.pca;
      if (datesCount[this.period] !== undefined) return `${datesCount[this.period]} ${this.options.returnInterval} Return`;
      return `${this.options.returnInterval} Return`;
    },
    weighting() {
      // const { weighting = 'equal' } = this.$store.state.lab.pca;
      // return this.weightingOptions[weighting];
      return this.$store.state.lab.pca.weighting || 'equal';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  watch: {
    common() {
      this.period = this.common.dataPeriod;
    },
  },
  created() {
    this.period = this.common.dataPeriod;
    this.$store.commit(LAB_ACTION.SET_VIEW, 'graph');
  },
  mounted() {
    window.eventBus.$on('pca_item_randar', this.pcaItemHandler);
  },
  beforeDestroy() {
    window.eventBus.$off('pca_item_randar');
    this.$off();
  },
  methods: {
    setView(view) {
      this.viewBtn = view;
      const that = this;
      if (this.viewDelay) {
        clearTimeout(this.viewDelay);
      }
      setTimeout(() => {
        that.$store.commit(LAB_ACTION.SET_VIEW, view);
      }, 50);
      try {
        analytics.track(`Viewed ${this.views.find(a => a[0] === view)[1]}`);
      } catch (e) {
        console.error(e);
      }
    },
    pcaItemHandler({ mode = 'changeData', max = 100 }) {
      this.maxLength = max;
      switch (mode) {
        case 'changeData':
        case 'changeDatatype':
          this.portfolioGraphData = _.cloneDeep(this.pca.portfolio[this.period]) || null;
          break;
        case 'noData':
          this.portfolioGraphData = null;
          break;
      }
    },
    pcaSettings() {
      window.eventBus.$emit('pcaOptions');
    },
    setItems({ option }) {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'dataType',
        choice: option,
      });
    },
    async saveOptions() {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 2,
      });
      const payload = _.cloneDeep(this.options);
      try {
        await apiPortfolios.putPortfolio(this.draftId, {
          mode: 'saveOriginal',
          title: null,
          indices: [],
        });
      } catch (error) {
        swal('Whoops!', 'Unable to save the portfolio.', 'error');
      }
      try {
        await apiPca.setPcaOptions(this.analyseItem.id, payload);
      } catch (error) {
        swal('Whoops!', 'Unable to save the PCA Model.', 'error');
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 0,
      });
    },
  },
};
</script>
<style>
.pca-panel .title-column {
  width:11.625%;
  float:left;
  min-height:78px;
  padding-top: 5px;
  position: relative;
}
.pca-panel .fa-regression-bottom {
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  width: 100%;
  display: block;
}
.pca-panel .panel-pull-right{
  position: absolute;
  right: 5px;
  top: 30px;
}
.pca-panel .pca-panel-row {
  margin-top:24px;
  float:left;
  width:100%;
}
</style>
