<template>
  <div
    id="pcaSettings"
    class="modal fade"
    tabindex="-1"
    role="dialog">
    <div
      style="width:725px;"
      class="modal-lg modal-dialog"
      role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <form
              role="form"
              class="allocation-form form-horizontal">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div
                      class="border-right col-sm-6">
                      <h4 class="text-center">Options</h4>
                      <hr>
                      <div
                        class="col-sm-12 col-sm-pull-1">
                        <div
                          class="form-group">
                          <label class="col-sm-6 control-label">Return Interval</label>
                          <div class="col-sm-6">
                            <div>
                              <selection
                                :options="returnIntervalOptions"
                                :current-option="returnInterval"
                                key-field="returnInterval"
                                @selectitem="setItems"/>
                            </div>
                          </div>
                        </div>
                        <div
                          class="form-group">
                          <label class="col-sm-6 control-label">Cov Type</label>
                          <div class="col-sm-6">
                            <div>
                              <selection
                                :options="covTypeOptions"
                                :current-option="covType"
                                key-field="covType"
                                @selectitem="setItems"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="border-right col-sm-6">
                      <h4 class="text-center">Filter Setting</h4>
                      <hr >

                      <div
                        class="col-sm-12 col-sm-pull-1">
                        <div
                          class="form-group">
                          <label class="col-sm-6 control-label">Market Beta</label>
                          <div class="col-sm-6">
                            <group-selection
                              :selection="marktetSelection"
                              :set-list-item="setListItem"
                              :groups="marketGroups"
                              :shown-selection="shownSelection"/>
                          </div>
                        </div>
                        <div
                          class="form-group">
                          <label class="col-sm-6 control-label">Threshold</label>
                          <div class="col-sm-6">
                            <div>
                              <selection
                                :options="thresholdOptions"
                                :current-option="threshold"
                                key-field="threshold"
                                @selectitem="setItems"/>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div
                      class="col-sm-12"
                      style="position:relative">
                      <div
                        v-show="loading"
                        class="abs-loader">
                        <div class="loader-inner ball-pulse">
                          <div/>
                          <div/>
                          <div/>
                        </div>
                      </div>
                      <chart-gantt-chart
                        :datasets="filteredDates.dates"
                        :time-type="returnInterval"
                        :max-date="maxDate"
                        :min-date="minDate"
                        :title="`Number of Obs: ${filteredDates.datesCount}`"
                        idname="settingsObs"
                      />
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default pull-left"
            data-dismiss="modal">Close</button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            @click="updateChoice">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ */
import selection from '../../vue-select/selection.vue';
import groupSelection from '../../vue-select/group-selection.vue';

const { LAB_ACTION } = require('../../../store/module/lab');
const { PERIOD } = require('../../../util/period');
const apiPca = require('../../../api/pca');

export default {
  name: 'PcaOptions',
  components: {
    selection,
    'group-selection': groupSelection,
  },
  data() {
    return {
      returnIntervalOptions: [
        'Monthly',
        'Weekly',
        'Daily',
      ],
      initModal: false,
      returnInterval: '',
      covTypeOptions: [
        'Covariance',
        'Correlation',
      ],
      covType: 'Covariance',
      thresholdOptions: [
        'None',
        'Positive Return',
        'Negative Return',
        '+ 1 Std.Dev',
        '+ 2 Std.Dev',
        '- 1 Std.Dev',
        '- 2 Std.Dev',
        '+- 1 Std.Dev',
        '+- 2 Std.Dev',
      ],
      threshold: '',
      loading: false,
      timeoutFunction: null,
      marketGroups: {},
      marktetSelection: [],
      marketMenu: -1,
      comeFromButton: false,
    };
  },
  computed: {
    benchmarkList() {
      const { strategies } = this.$store.state;
      const benchmarks = Object.values(strategies).filter(o => o.type === 'Benchmark' && o.returnType === 'Total Return');
      return benchmarks;
    },
    options() {
      return this.$store.state.lab.pca.options || {};
    },
    common() {
      return this.$store.state.lab.common;
    },
    pcaData() {
      return this.$store.state.pca;
    },
    draftId() {
      return this.$store.state.lab.pca.portfolio_id || 0;
    },
    maxDate() {
      return this.common.dataPeriod === PERIOD.CUST ? this.common.custMaxDate : this.common.maxDate;
    },
    minDate() {
      return this.common.periods[this.common.dataPeriod];
    },
    shownSelection() {
      return this.marktetSelection[0] || 'None';
    },
  },
  watch: {
    marktetSelection() {
      if (this.marktetSelection.length === 0) this.threshold = 'None';
      this.loadDatesTimeout();
    },
    returnInterval() {
      this.loadDatesTimeout();
    },
    threshold() {
      this.loadDatesTimeout();
    },
  },
  created() {
    this.previousRequest = null;
    this.filteredDates = {
      dates: [],
      datesCount: 0,
    };
  },
  mounted() {
    window.eventBus.$on('pcaOptions', this.showModal);
  },
  beforeDestroy() {
    this.$off();
    window.eventBus.$off('pcaOptions');
  },
  methods: {
    showModal() {
      this.getMarketSelection();
      const options = _.cloneDeep(this.options);
      this.returnInterval = options.returnInterval || 'Daily';
      this.covType = options.covType || 'Covariance';
      this.marktetSelection = options.listFilters || [];
      this.threshold = options.filter || '';
      $('#pcaSettings').modal('show');
    },
    loadDatesTimeout() {
      this.loading = true;
      if (this.timeoutFunction) {
        clearTimeout(this.timeoutFunction);
      }
      const that = this;
      this.timeoutFunction = setTimeout(() => {
        that.loadDates();
      }, 100);
    },
    async loadDates() {
      try {
        if (this.returnInterval === this.options.returnInterval
          && JSON.stringify(this.marktetSelection) === JSON.stringify(this.options.listFilters)
          && this.threshold === this.options.filter) {
          this.filteredDates = {
            dates: this.pcaData.dates[this.common.dataPeriod],
            datesCount: this.pcaData.datesCount[this.common.dataPeriod],
          };
        } else {
          const payload = this.getPayload();
          const id = this.draftId;
          const { data } = await apiPca.loadOneDate(id, payload, this);
          this.filteredDates = Object.freeze(data);
        }
        this.loading = false;
      } catch (e) {
        if (e && e.status === 0) {
          console.warn('Request aborted');
          return;
        }
        console.error(e);
        this.loading = false;
      }
    },
    getPayload() {
      const payload = {
        maxDate: this.common.maxDate,
        period: this.common.dataPeriod,
        periods: this.common.periods,
        returnInterval: this.returnInterval,
        covType: this.covType,
        listFilters: this.marktetSelection,
        filter: this.threshold,
      };
      if (this.common.dataPeriod === PERIOD.CUST) {
        payload.maxDate = this.common.custMaxDate;
        payload.periods = {
          [PERIOD.CUST]: this.common.periods[PERIOD.CUST],
          [PERIOD.MIN]: this.common.periods[PERIOD.MIN],
        };
      }
      return payload;
    },
    setItems({ option, key }) {
      this[key] = option;
    },
    setListItem(value) {
      if (this.marktetSelection.length > 0 && this.marktetSelection[0] === value) {
        this.marktetSelection = [];
      } else {
        this.marktetSelection = [value];
      }
    },
    getMarketSelection() {
      if (this.benchmarkList.length > 0) {
        const groups = {};
        this.benchmarkList.forEach((o) => {
          if (!groups[o.assetClass]) {
            groups[o.assetClass] = { [o.code]: o.shortName };
          } else {
            groups[o.assetClass][o.code] = o.shortName;
          }
        });
        this.marketGroups = groups;
      }
    },
    updateChoice() {
      this.uploadVuex();
      window.eventBus.$emit('updatePcaAnalysis', { mode: 'update' });
    },
    uploadVuex() {
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'options',
        choice: {
          returnInterval: this.returnInterval,
          covType: this.covType,
          listFilters: this.marktetSelection,
          filter: this.threshold,
        },
      });
    },
  },
};
</script>
