<template>
  <div>
    <div
      :style="templateWidth"
      class="sidebar-analyse table-view overlay-scroll">
      <div
        class="datatable analyse"
        style="position: relative;">
        <div
          v-show="loading"
          class="loading-layer">
          <div class="abs-loader">
            <div class="loader-inner ball-pulse">
              <div/>
              <div/>
              <div/>
            </div>
          </div>
        </div>
        <div
          style="width: 100%;height: 3px;background: url(/img/design/line-dot.png);margin-top:-3px;"/>
        <div
          :class="{'scrolling': view !== 'datatable' }"
          :style="scrollStyle"
          style="min-height:160px;"
          class="analyse-container">
          <slider-bar-item
            v-for="item in groupData"
            :key="item.indexinfo_id"
            :item="item"
            :show-strategy-menu="showStrategyMenu"
            :set-menu="setMenu"
            :ui-suspend="uiSuspend"
            :pin-index="pinIndex"
            :max-length="maxLength"
            :suspend-strategy="suspendStrategy"
            :unsuspend-strategy="unsuspendStrategy"/>
        </div>
      </div>
      <div
        v-show="view!=='datatable'"
        class="col-md-4"/>
      <div
        v-show="view!=='datatable'"
        class="col-md-8">
        <div class="col-xs-12">
          <div
            class="text-center">
            <span
              v-for="title in pcArray"
              :key="title">
              <i
                :style="`color:${setPcaColor(title)};`"
                class="fa fa-square"/>
              {{ title.replace('pc', 'PC') }}&nbsp;&nbsp;
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      v-show="view === 'datatable' && !allSuspend"
      style="width:66.6666%;float:left;"
      class="sidebar-analyse table-view">
      <div
        style="width: 100%;height: 3px;background: url(/img/design/line-dot.png);margin-top:-3px;"/>
      <div
        :style="datatableStyle"
        class="datatable analyse ms-hide-scroll"
        style="position: relative;margin-top:-90px;">
        <datatable-item
          v-if="Object.keys(portfolioItem).length > 0"
          :item="portfolioItem"
          :change-sort-by="changeSortBy"
          :sortorder="sortorder"
          :sortby="sortby"
          :pca-array="pcArray"
          itemtype="portfolio"/>
        <div
          v-show="loading"
          class="loading-layer"/>
        <datatable-item
          v-for="item in groupData"
          :key="item.indexinfo_id"
          :item="item"
          :ui-suspend="uiSuspend"
          :pca-array="pcArray"
          :unsuspend-strategy="unsuspendStrategy"/>
      </div>
    </div>
  </div>
</template>
<script>
/* global $ swal _*/
import sliderBarItem from './slider-bar-item.vue';
import datatableItem from './datatable-item.vue';

const { LAB_ACTION } = require('../../../store/module/lab');
const { PCA_ACTION } = require('../../../store/module/pca');
const { PERIOD } = require('../../../util/period');
const apiPortfolios = require('../../../api/portfolios');
const apiPca = require('../../../api/pca');
const ACTION = require('../../../store/mutation-type');
const curry = require('lodash/fp/curry');

const omitInfo = curry(x => _.isObject(x) ? _.omit(x, 'indexinfo') : x);
const createNoReactiveData = (prop) => {
  prop.compareDate = {
    maxDate: prop.common.maxDate,
    custMaxDate: prop.common.custMaxDate,
    customPeriod: prop.common.periods.custom,
    minPeriod: prop.common.periods.min,
  };
  prop.basePayload = _.cloneDeep(prop.common);
  prop.colors = [
    'color1',
    'color2',
    'color3',
    'color4',
    'color5',
    'color6',
  ];
  prop.pinMax = 6;
};
export default {
  name: 'PcaBar',
  components: {
    'slider-bar-item': sliderBarItem,
    'datatable-item': datatableItem,
  },
  props: {
    ieBrowser: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showStrategyMenu: 0,
      initData: false,
      uiSuspend: {},
      groupData: [],
      portfolioItem: {},
      sortby: '',
      sortorder: -1,
      maxLength: 100,
      allSuspend: false,
      pcArray: [],
      customStyle: 'overflow-y:overlay',
      datatableStyle: 'overflow-x:overlay',
    };
  },
  computed: {
    templateWidth() {
      if (this.view === 'datatable') return 'width: 33.33333333%;float:left;';
      return 'width:100%;';
    },
    scrollStyle() {
      if (this.view !== 'datatable') return `max-height:560px;${this.customStyle};`;
      return '';
    },
    pinned() {
      return this.$store.state.lab.pca.pinned || {};
    },
    strategyIds() {
      return this.$store.state.lab.pca.strategyIds || [];
    },
    options() {
      return this.$store.state.lab.pca.options || {};
    },
    dataType() {
      return this.$store.state.lab.pca.dataType || 'Distribution';
    },
    view() {
      return this.$store.state.lab.view || 'graph';
    },
    common() {
      return this.$store.state.lab.common;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    pcaMain() {
      return this.$store.state.pca.main[this.period] || {};
    },
    portfolioPca() {
      return this.$store.state.pca.portfolio[this.period] || {};
    },
    loading() {
      return this.$store.state.lab.loading;
    },
    strategies() {
      return this.$store.state.strategies;
    },
    analyseItem() {
      return this.$store.state.lab.analyseItem;
    },
    draftId() {
      return this.$store.state.lab.pca.portfolio_id || 0;
    },
    indices() {
      return this.$store.state.portfolioIndices[this.draftId] || [];
    },
    pcaColors() {
      return this.$store.state.colorsAll.pcas || {};
    },
  },
  watch: {
    common() {
      this.basePayload = _.cloneDeep(this.common);
      if (this.initData && !this.loading) {
        if (Object.keys(this.pcaMain).length === 0 || (this.period === PERIOD.CUST && (this.compareDate.custMaxDate !== this.common.custMaxDate ||
          this.compareDate.customPeriod !== this.common.periods.custom))) {
          this.loadData({ portfolioChange: false });
        } else {
          this.startAnalysis({});
        }
      }
      this.compareDate = {
        maxDate: this.common.maxDate,
        custMaxDate: this.common.custMaxDate,
        minPeriod: this.common.periods.min,
        customPeriod: this.common.periods.custom,
      };
    },
    analyseItem(newItem) {
      if (newItem.id && this.$store.state.lab.tool === 'pca') {
        this.initAllData();
      }
    },
    dataType() {
      if (Object.keys(this.portfolioPca).length > 0 && !this.loading) {
        this.startAnalysis({ changeDatatype: true });
      }
    },
  },
  async created() {
    createNoReactiveData(this);
    if (this.ieBrowser) {
      this.customStyle = 'overflow-y:scroll';
      this.datatableStyle = 'overflow-x:scroll';
    }
    await this.initAllData();
  },
  mounted() {
    const that = this;
    $('body').click(that.closeMenu);
    window.eventBus.$on('updatePcaAnalysis', this.updatePcaHandler);
  },
  beforeDestroy() {
    this.$off();
    const that = this;
    window.eventBus.$off('updatePcaAnalysis');
    $('body').off('click', that.closeMenu);
  },
  methods: {
    changeSortBy(field) {
      if (this.sortby === field) {
        this.sortorder *= -1;
      } else {
        this.sortby = field;
        this.sortorder = -1;
      }
      this.sortGroupData();
    },
    sortGroupData() {
      if (this.groupData.length === 0 || !this.sortby) return null;
      this.groupData.sort(this.sortIndices);
    },
    sortIndices(first, second) {
      if (!first.graph || !first.graph.varDecompose) return this.sortorder * -1;
      if (!second.graph || !second.graph.varDecompose) return this.sortorder;
      const firstValue = first.graph.varDecompose[this.sortby];
      const secondValue = second.graph.varDecompose[this.sortby];
      return this.sortorder * (firstValue - secondValue);
    },
    setPcaColor(title) {
      return this.pcaColors[title] || '#ccc';
    },
    pinIndex(id) {
      if (!this.pinned[id]) {
        if (Object.keys(this.pinned).length < 6) {
          const pin = {
            [id]: this.colors.shift(),
          };
          const pinned = Object.assign({}, this.pinned, pin);
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'pinned',
            choice: pinned,
          });
          window.eventBus.$emit('pca_item_randar', {
            mode: 'changePin',
          });
        } else {
          swal('Whoops!', 'Maximum pins reached.', 'error');
        }
      } else {
        this.unpinIndex(id);
      }
    },
    unpinIndex(id) {
      if (this.pinned[id]) {
        this.colors.push(this.pinned[id]);
        this.colors.sort();
        const pinned = Object.assign({}, this.pinned);
        delete pinned[id];
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'pinned',
          choice: pinned,
        });
        window.eventBus.$emit('pca_item_randar', {
          mode: 'changePin',
        });
      }
    },
    setMenu(id) {
      this.showStrategyMenu = id;
    },
    setSuspend(id, currentState) {
      this.$set(this.uiSuspend, id, currentState);
    },
    async updatePortfolio(id, payload) {
      const { data } = await apiPortfolios.putPortfolio(id, payload);
      this.setBasePayload(data);
      window.eventBus.$emit('updatePeriods', {
        periods: data.periods,
        maxDate: data.maxDate,
      });
    },
    async suspendStrategy(item) {
      let activeStrategyNumber = 0;
      for (const id in this.uiSuspend) {
        if (this.uiSuspend[id] === 0) activeStrategyNumber++;
      }
      if (activeStrategyNumber <= 1) {
        swal('Whoops!', 'PCA tool needs at least one strategy to analyse.', 'error');
      } else {
        this.$store.commit(LAB_ACTION.SET_LOADING, true);
        try {
          this.$set(this.uiSuspend, item.indexinfo_id, 1);
          await this.updatePortfolio(this.draftId, {
            indices: [omitInfo(item)],
            mode: 'batchSuspend',
            period: this.period,
          });
          this.$store.commit(LAB_ACTION.SET_CHOICE, {
            field: 'saveButton',
            choice: 1,
          });
          await this.loadData({});
        } catch (e) {
          console.error(e);
        }
        this.$store.commit(LAB_ACTION.SET_LOADING, false);
      }
    },
    async unsuspendStrategy(item) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      try {
        this.$set(this.uiSuspend, item.indexinfo_id, 0);
        await this.updatePortfolio(this.draftId, {
          indices: [omitInfo(item)],
          mode: 'batchUnsuspend',
          period: this.period,
        });
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          field: 'saveButton',
          choice: 1,
        });
        await this.loadData({});
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    setBasePayload(data) {
      this.basePayload = _.cloneDeep(this.common);
      this.basePayload.periods.min = data.periods.min;
      this.basePayload.periods.live = data.periods.live;
      if (this.common.periods[PERIOD.CUST]) {
        if (this.basePayload.periods[PERIOD.CUST] < data.periods.min) this.basePayload.periods[PERIOD.CUST] = data.periods.min;
        if (this.basePayload.custMaxDate > data.maxDate || this.basePayload.custMaxDate < data.periods.min) this.basePayload.custMaxDate = data.maxDate;
      }
    },
    async initAllData() {
      this.initData = false;
      this.colors = [
        'color1',
        'color2',
        'color3',
        'color4',
        'color5',
        'color6',
      ];
      this.uiSuspend = {};
      if (this.loading) { // need to loaddata
        const { slug, id } = this.analyseItem;
        const vuexActions = {
          data: apiPortfolios.loadOneDraft(slug).then(o => o.data),
          optionData: apiPca.getPcaOptions(id).then(o => o.data),
        };
        const { data, optionData } = await Promise.props(vuexActions);
        this.setBasePayload(data);
        this.$store.commit(LAB_ACTION.SET_CHOICE, {
          choice: {
            options: optionData.options || {},
            ...data.analysing,
          },
        });
      }
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'dataType',
        choice: 'Distribution',
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'pinned',
        choice: {},
      });
      this.$store.commit(LAB_ACTION.SET_CHOICE, {
        field: 'saveButton',
        choice: 0,
      });
      await this.loadData({ initPcas: true });
      this.initData = true;
    },
    async loadData({ portfolioChange = true, initPcas = false }) {
      this.$store.commit(LAB_ACTION.SET_LOADING, true);
      try {
        if (portfolioChange || initPcas) {
          this.setBasePayload(_.cloneDeep(this.basePayload));
          let changePeriod = null;
          const currentPeriod = this.basePayload.dataPeriod;
          if (currentPeriod && this.basePayload.periods[currentPeriod] < this.basePayload.periods.min) {
            for (const key in this.basePayload.periods) {
              if ((this.basePayload.periods[key] >= this.basePayload.periods.min) && key !== 'min') {
                if (!changePeriod || this.basePayload.periods[key] < this.basePayload.periods[changePeriod]) {
                  changePeriod = key;
                  this.basePayload.dataPeriod = key;
                }
              }
            }
            if (!changePeriod) {
              changePeriod = PERIOD.CUST;
              this.basePayload.periods[PERIOD.CUST] = this.basePayload.periods.min;
              this.basePayload.custMaxDate = this.basePayload.maxDate;
            }
          }
          window.eventBus.$emit('updatePeriods', _.cloneDeep({
            period: changePeriod || null,
            periods: this.basePayload.periods,
            maxDate: this.basePayload.maxDate,
          }));
        }
        const vuexActions = [];
        if (portfolioChange) {
          this.$store.commit(PCA_ACTION.CLEAR);
          if (!initPcas) {
            this.$store.commit(LAB_ACTION.SET_CHOICE, {
              field: 'saveButton',
              choice: 1,
            });
          }
          vuexActions.push(this.$store.dispatch(ACTION.API_FETCH_PORTFOLIO_INDICES, {
            id: this.draftId,
            freeze: true,
          }));
        }
        if (this.strategyIds.length > 0) {
          vuexActions.push(this.$store.dispatch(PCA_ACTION.LOAD_PCAS, {
            id: this.draftId,
            payload: { ...this.getPayload(), metricsOnly: true },
          }));
        }
        if (vuexActions.length > 0) {
          await Promise.settleAll(vuexActions);
        }
        this.startAnalysis({});
      } catch (e) {
        console.error(e);
      }
      this.$store.commit(LAB_ACTION.SET_LOADING, false);
    },
    startAnalysis({ changeDatatype = false }) {
      if (this.strategyIds.length === 0) {
        window.eventBus.$emit('pca_item_randar', {
          mode: 'noData',
        });
        this.pcArray = [];
      } else {
        this.allSuspend = true;
        this.uiSuspend = {};
        this.indices.forEach((o) => {
          this.$set(this.uiSuspend, o.indexinfo_id, o.suspended);
          if (o.suspended === 0) this.allSuspend = false;
        });
        if (!this.allSuspend) {
          const data = [];
          let max = 0;
          this.indices.forEach((o) => {
            const graphData = this.pcaMain[o.indexinfo.code] || {};
            const graph = {};
            if (this.dataType === 'Distribution') {
              graph.varDecompose = graphData.varDecompose;
            } else {
              if (graphData.varAttr) {
                let total = 0;
                for (const pc in graphData.varAttr) {
                  total += graphData.varAttr[pc];
                }
                if (total > max) max = total;
              }
              graph.varAttr = graphData.varAttr;
            }
            const findalData = Object.freeze(Object.assign({}, o, {
              graph,
            }));
            data.push(findalData);
          });
          const { undetermined, ...pcData } = _.cloneDeep(this.portfolioPca.varDecompose);
          const varAttr = {};
          let total = 0;
          for (const pc in pcData) {
            varAttr[pc] = this.portfolioPca.varAttr[pc];
            total += this.portfolioPca.varAttr[pc];
          }
          if (total > max) max = total;
          this.portfolioItem = {
            indexinfo_id: 0,
            graph: {
              varDecompose: { ...pcData },
              varAttr,
            },
          };

          this.maxLength = this.dataType === 'Distribution' ? 100 : max;
          this.pcArray = Object.keys(pcData);
          this.groupData = data;
          this.sortby = '';
          this.sortGroupData();
          window.eventBus.$emit('pca_item_randar', {
            mode: changeDatatype ? 'changeDatatype' : 'changeData',
            max: this.maxLength,
          });
        } else {
          this.pcArray = [];
          const data = [];
          this.indices.forEach((o) => {
            const graphData = this.pcaMain[o.indexinfo.code] || {};
            const findalData = Object.freeze(Object.assign({}, o, {
              graph: graphData,
            }));
            data.push(findalData);
          });
          window.eventBus.$emit('pca_item_randar', {
            mode: 'noData',
          });
        }
      }
    },
    async updatePcaHandler() {
      this.loadData({});
    },
    getPayload() {
      const payload = {
        maxDate: this.basePayload.maxDate,
        period: this.basePayload.dataPeriod,
        periods: this.basePayload.periods,
        ...this.options,
      };
      if (this.basePayload.dataPeriod === PERIOD.CUST) {
        payload.maxDate = this.basePayload.custMaxDate;
        payload.periods = {
          [PERIOD.CUST]: this.basePayload.periods[PERIOD.CUST],
          [PERIOD.MIN]: this.basePayload.periods[PERIOD.MIN],
        };
      }
      return payload;
    },
    closeMenu() {
      if (this.showStrategyMenu !== 0) {
        this.showStrategyMenu = 0;
      }
    },
  },
};
</script>
