<template>
  <div
    class="data-row-parent">
    <div
      :id="`row-${item.indexinfo_id}`"
      class="data-row">
      <a
        v-if="suspended"
        class="suspend_overlay"
        @click="unsuspendStrategy(item)"/>
      <div :style="customWidth">
        <div
          class="pinColumn col-xs-1"
          style="padding:0;">
          <!-- <button
            :class="{'pinned': !!color}"
            class="btn"
            @click="pinIndex(item.indexinfo_id)">
            <img
              v-if="!color"
              src="img/pin.svg" >
            <svg
              v-else
              id="Layer_1"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 42.4 42.4"
              style="enable-background:new 0 0 42.4 42.4;"
              xml:space="preserve">
              <path
                :fill="color"
                d="M42.3,17c-0.1-0.3-0.2-0.5-0.5-0.6c-2.2-0.9-4.5-1.3-6.9-1.3c-3.7,0-6.6,1.1-7.7,1.6L15.3,6.6
              c0.4-3.7-1.6-6.2-1.6-6.3C13.5,0.1,13.3,0,13,0c-0.2,0-0.4,0.1-0.6,0.2L0.2,12.4C0.1,12.6,0,12.8,0,13.1c0,0.2,0.1,0.4,0.3,0.6
              C2,15,4.2,15.3,5.7,15.3c0.3,0,0.6,0,0.8,0l10.2,12c-0.7,1.8-2.8,8.2-0.2,14.7c0.1,0.2,0.3,0.4,0.6,0.5c0.1,0,0.1,0,0.2,0
              c0.2,0,0.4-0.1,0.6-0.2l11.7-11.7l10.9,10.9c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.1L30.5,29.4
              l11.6-11.6C42.3,17.6,42.4,17.3,42.3,17L42.3,17z M42.3,17" />
            </svg>
          </button> -->
        </div>
        <div
          class="col-xs-10">
          <a
            :href="`/strategy/${item.indexinfo.code}`"
            target="_blank"
            rel="noopener noreferrer"
            class="list-group-item-heading">{{ item.indexinfo.shortName }}</a>
          <p class="list-group-item-text">
            {{ item.indexinfo.assetClass }} | {{ item.indexinfo.currency }} {{ item.indexinfo.returnCategory }}{{ item.indexinfo.returnType }} {{ item.indexinfo.volTarget }}
            <span v-if="item.indexinfo.type !== 'Strategy'">| <span :class="`highlight-${getStrategyTypeForCss(item.indexinfo).toLowerCase()}`">{{ getStrategyType(item.indexinfo) }}</span></span>
          </p>
        </div>
        <div
          class="menu-button-column col-xs-1"
          style="padding-left:0;">
          <div
            :class="{'opened':showStrategyMenu===item.indexinfo_id}"
            class="tableoption pull-right">
            <button
              class="btn text-blue"
              @click.stop="toggleStrategyMenu()">
              <i class="fa fa-list"/>
            </button>
            <div
              v-show="showStrategyMenu==item.indexinfo_id"
              class="menu"
              @click.stop="toggleStrategyMenu()">
              <!-- <hr
                v-if="stat!=='unActive'"
                class="dotted white"> -->
              <a @click="suspendStrategy(item)">
                <img
                  src="/img/design/icon-pause-white.png"
                  alt> Suspend
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        v-show="view !== 'datatable' && !hiddenPeriods[period]"
        style="width: 66.666666%;padding:0;">
        <chart-stacked-bar
          :main="item.graph"
          :max-length="maxLength"
          :key-field="dataTypeKey"
          :idname="`stack-${item.indexinfo_id}`"/>
      </div>
    </div>
  </div>
</template>
<script>
/*  global $ */
export default {
  name: 'SliderBarItem',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    showStrategyMenu: {
      type: Number,
      default: 0,
    },
    setMenu: {
      type: Function,
      default: null,
    },
    pinIndex: {
      type: Function,
      default: null,
    },
    uiSuspend: {
      type: Object,
      default: () => {},
    },
    suspendStrategy: {
      type: Function,
      default: null,
    },
    unsuspendStrategy: {
      type: Function,
      default: null,
    },
    maxLength: {
      type: Number,
      default: 100,
    },
  },
  data() {
    return {

    };
  },
  computed: {
    customWidth() {
      if (this.view !== 'datatable') return 'width: 33.33333333%;';
      return 'width:100%;';
    },
    pinned() {
      return this.$store.state.lab.pca.pinned || {};
    },
    color() {
      const colors = this.$store.state.colorsAll.benchmarks || {};
      const colorOrder = this.pinned[this.item.indexinfo_id];
      if (!colorOrder) return null;
      return colors[colorOrder];
    },
    view() {
      return this.$store.state.lab.view || 'graph';
    },
    dataTypeKey() {
      const { dataType = 'Distribution' } = this.$store.state.lab.pca;
      if (dataType === 'Distribution') return 'varDecompose';
      return 'varAttr';
    },
    suspended() {
      return this.uiSuspend[this.item.indexinfo_id] === 1;
    },
    period() {
      return this.$store.state.lab.common.dataPeriod || '5y';
    },
    hiddenPeriods() {
      return this.$store.state.hiddenPeriods;
    },
  },
  beforeDestroy() {
    this.$off();
  },
  methods: {
    toggleStrategyMenu() {
      this.setMenu(this.showStrategyMenu === this.item.indexinfo_id ? 0 : this.item.indexinfo_id);
    },
    getStrategyTypeForCss(index) {
      let type = this.getStrategyType(index);
      type = type.replace(' ', '_');
      return type;
    },
    getStrategyType(index) {
      if (index.type === 'Private Strategy') return 'Private Track';
      return $.trim(index.type) || 'Strategy';
    },
  },
};
</script>
